<template>
  <section>
    <br />
    <div class="box">
      <div class="notification is-warning notification-position" :style="alert.style">
        <button class="delete" @click="closealert"></button>
        <strong>{{ msg }}</strong>
      </div>
      <div :hidden="div.txtsearch !== true">
        <div class="field has-addons">
          <p class="control is-expanded">
            <input :class="input.customer" type="text" placeholder="ค้นหาชื่อหรือรหัสลูกค้า" v-model="forms.customer">
          </p>
          <p class="control">
            <a :class="button.customer" @click="seach()">
              Search
            </a>
          </p>
        </div>
      </div>
      <list-address
      :hidden = "div.txtsearch"
      :customer = "forms.customer"
      :salesdistrictid = "forms.salesdistrictid"
      :creditmax = "forms.creditmax"
      :tricredit = "forms.tricredit"
      :balance = "forms.balance"
      :address="forms.address"
      :listbackorder="list.backorder"
      @setnewcust="setnewcust()"
      @setaddress="setaddress($event)"
      >
      </list-address>
      <customer-box
      :hidden="div.customer"
      :divcust="div.customer"
      :txtcust="forms.customer"
      @setcommit="setcommit($event)"
      @sethidden="sethidden($event)"
      ></customer-box>
      <br />
      <div :hidden = "div.txtsearch">
        <items-box
        :sectiondata="div.txtsearch"
        :customer = "forms.customer"
        :creditmax = "forms.creditmax"
        :tricredit = "forms.tricredit"
        :balance = "forms.balance"
        :groupcust="forms.group"
        :listcart="orders.list.length"
        @setlistcart="setlistcart($event)"
        ></items-box>
      </div>
      <br />
      <div>
          <div class="field">
              <label class="label">Remark:</label>
              <div class="control">
                  <textarea class="textarea is-medium" placeholder="Remark" v-model="forms.remark"></textarea>
              </div>
          </div>
      </div>
      <br />
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a class="button is-success is-large" @click="saveorder()">
            Save
          </a>
        </p>
        <p class="control">
          <a class="button is-danger is-large" @click="setnewcust()">
            Cancel
          </a>
        </p>
      </div>
    </div>
    <br />
    <br />
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal icon="success" ref="modal">
      บันทึกข้อมูลเสร็จแล้ว / Successfully
    </sweet-modal>
    <sweet-modal icon="error" title="OOPS…" ref="modalerr">
      {{ info.msg }}
    </sweet-modal>
  </section>
</template>
<script>
import axios from 'axios'
import CustomerBox from '@/components/Orders/CustomerList'
import ListAddress from '@/components/Orders/ListAddress'
import ItemsBox from '@/components/Orders/ItemsEth'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import mocker from '@/assets/js/mock'
const fnGreeter = require('@/assets/js/greeter')
const msOrder = parseInt(fnGreeter.ReMasterOrderConst())
// const token = localStorage.getItem('token')
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - HOME'
    }
  },
  components: {
    CustomerBox,
    ListAddress,
    ItemsBox,
    PulseLoader,
    SweetModal,
    SweetModalTab
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      msg: 'ไม่พบข้อมูลลูกค้า / Not Found',
      info: {
        msg: null
      },
      alert: {
        style: 'display: none;'
      },
      div: {
        customer: true,
        txtsearch: true
      },
      orders: {
        type: 0,
        list: [],
        button: 'button is-primary is-large'
      },
      list: {
        backorder: []
      },
      button: {
        customer: 'button is-success is-medium'
      },
      input: {
        customer: 'input is-medium'
      },
      forms: {
        customer: null,
        addressid: null,
        salesdistrictid: null,
        creditmax: 0,
        tricredit: 0,
        group: null,
        balance: 0,
        address: [],
        remark: null
      },
      mock: mocker
    }
  },
  mounted () {
    this.orders.type = this.$route.params.id
  },
  methods: {
    submitorder (b) {
      return new Promise(resolve => {
        resolve()
        // firebase.auth()
        //   .signInWithEmailAndPassword(localStorage.getItem('email'), this.mock.auth)
        //   .then(user => {
        //     console.dir(user)
        //     resolve(this.$firebaseRefs.salestoggle.push(b))
        //   })
      })
    },
    recurrency (e) {
      if (e) {
        return e.toLocaleString()
      } else {
        return 0
      }
    },
    loaddata () {
      const obj = this
      return new Promise(resolve => {
        setTimeout(() => {
          resolve(obj.forms.customer)
        }, 1000)
      })
    },
    closealert () {
      this.alert.style = 'display: none;'
    },
    sethidden (e) {
      var obj = this
      if (e === true) {
        this.forms.customer = null
        // this.alert.style = 'display: block;'
        obj.info.msg = 'ไม่พบข้อมูลลูกค้า / Not Found'
        obj.$refs.modalerr.open()
        // obj.setnewcust()
        setTimeout(() => {
          obj.closealert()
        }, 2300)
      }
    },
    setaddress (e) {
      this.forms.addressid = e
    },
    setlistcart (e) {
      this.orders.list = e
    },
    seach () {
      const obj = this
      obj.div.customer = true
      obj.div.txtsearch = true
      obj.forms.salesdistrictid = null
      obj.forms.creditmax = 0
      obj.forms.tricredit = 0
      obj.forms.balance = 0
      obj.orders.list.length = 0
      obj.input.customer = 'input is-medium'
      obj.button.customer = 'button is-warning is-medium is-loading'
      obj.loaddata()
        .then(r => {
          obj.button.customer = 'button is-success is-medium'
          obj.div.customer = false
        })
    },
    setcommit (e) {
      let obj = this
      this.div.customer = true
      this.div.txtsearch = false
      obj.forms.customer = e.filtername
      obj.forms.salesdistrictid = e.salesdistrictid
      obj.forms.creditmax = e.creditmax
      obj.forms.balance = e.creditbalance
      obj.forms.address = e.address
      obj.forms.group = e.custgroup
      if (e.backorder.length < 1) {
        obj.list.backorder.length = 0
      } else {
        obj.list.backorder = e.backorder
      }
      if (e.creditdisc.length > 0) {
        obj.forms.tricredit = e.creditdisc[0].amount
      } else {
        obj.forms.tricredit = 0
      }
    },
    setnewcust () {
      let obj = this
      this.div.customer = true
      this.div.txtsearch = true
      obj.forms.customer = null
      obj.forms.salesdistrictid = null
      obj.forms.addressid = null
      obj.forms.creditmax = 0
      obj.forms.tricredit = 0
      obj.forms.remark = null
      // obj.orders.list.length = 0
      obj.forms.group = null
      obj.forms.balance = 0
      obj.forms.address.length = 0
      location.reload()
    },
    reqty (e) {
      // return e.length
      var x = 0
      for (let i in e) {
        x = x + ((e[i].price - ((e[i].price * parseFloat(e[i].perc)) / 100)) * e[i].qty)
      }
      return x
    },
    saveorder () {
      this.orders.button = 'button is-warning is-large is-loading'
      let obj = this
      if (obj.forms.addressid === null) {
        obj.info.msg = 'กรุณาระบุข้อมูลที่อยู่ลูกค้าด้วย / Please enter customer information.'
        obj.$refs.modalerr.open()
        obj.orders.button = 'button is-success is-large'
      } else if (obj.orders.list.length < 1) {
        obj.info.msg = 'กรุณาระบุข้อมูลสินค้าที่ต้องการด้วย / Please enter product.'
        obj.$refs.modalerr.open()
        obj.orders.button = 'button is-success is-large'
      } else {
        obj.$refs.modalloading.open()
        const gCode = fnGreeter.GenCode()
        const orConts = this.reqty(obj.orders.list)
        if (parseInt(obj.$route.params.id) === 1) {
          if (parseInt(orConts) < msOrder) {
            obj.info.msg = 'Order less than ' + fnGreeter.ReMasterOrderConst().toLocaleString()
            obj.$refs.modalerr.open()
            obj.$refs.modalloading.close()
            obj.orders.button = 'button is-success is-large'
            return
          }
        }
        var a = {
          customer: obj.forms.customer,
          salesdistrictid: localStorage.getItem('territory'),
          addressid: obj.forms.addressid,
          ordertype: parseInt(obj.$route.params.id),
          remark: obj.forms.remark,
          approve: 0,
          approveby: localStorage.getItem('empcode'),
          createby: localStorage.getItem('empcode'),
          updateby: localStorage.getItem('empcode'),
          createat: new Date(),
          updateat: new Date(),
          orderline: obj.orders.list,
          ordersync: 0,
          ordernumber: gCode,
          syncstatus: 0,
          delivery: [],
          salesstatus: 0
        }
        var b = [a]
        obj.submitorder(a)
          .then(rg => {
            obj.insertData(b)
              .then(r => {
                obj.$refs.modal.open()
                obj.orders.button = 'button is-success is-large'
                obj.orders.list.length = 0
                var txt = 'บันทึกเปิดใบสั่งขาย ' + parseInt(obj.$route.params.id) + ' ร้าน ' + obj.forms.customer + ' เขตการขาย ' + localStorage.getItem('territory') + ' เรียบร้อยแล้ว'
                axios.post('/api/line', {
                  message: txt
                })
                  .then(res => {
                    obj.$refs.modalloading.close()
                    obj.setnewcust()
                  })
              })
          })
      }
    },
    insertData (e) {
      const token = localStorage.getItem('token')
      return new Promise(resolve => {
        axios.post('/api/orders', {
          order: e
        }, {
          headers: {
            'x-access-token': token
          }
        })
          .then(res => {
            resolve(res)
          })
      })
    }
  },
  watch: {
    'forms.customer' () {
      const obj = this
      if (obj.forms.customer === null) {
        obj.input.customer = 'input is-medium is-danger'
      } else {
        obj.input.customer = 'input is-medium is-warning'
      }
    }
  }
}
</script>
