<template>
  <div class="container">
    <div class="field has-addons has-addons-centered">
        <p class="control">
        <span class="select is-medium">
          <select v-model="forms.territory">
            <option v-for="(n,i) in territory" :key="i" :value="n.id">{{ n.title }}</option>
          </select>
        </span>
      </p>
      <p class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสลูกค้า" v-model="txtfilter">
      </p>
      <p class="control">
        <a class="button is-primary is-medium">
          Search
        </a>
      </p>
    </div>
    <div>
      <div class="columns">
        <div class="column">
          <CustCount
          :reverseItemsList="reverseItemsList.length"
          :setstatecount="0"
          :territory="filter.territory"
          ></CustCount>
        </div>
        <div class="column">
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <a class="button is-primary is-medium" @click="setmanger()">
                Manage
              </a>
            </p>
          </div>
        </div>
      </div>
      <br />
    </div>
    <div class="box" v-for="(n,i) in filterBy(reverseItemsList, txtfilter)" :key="i" @click="approve(n)">
        <article class="media">
          <figure class="media-left">
            <p class="image is-96x96">
              <img src="../../assets/img/calendar.svg">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ n.filtername }}&nbsp;{{ n.territory }}</strong>&nbsp;<small>@</small>&nbsp;<strong class="text-danger">{{ n.schedule }}</strong>
                <br>
                <strong>To do:&nbsp;
                  <span v-if="n.activities.length > 0">
                    <b class="text-danger" v-for="(e, b) in n.activities" :key="b" v-if="e.status === true">{{ e.title }}&nbsp;&nbsp;</b>
                  </span>
                  <span v-else><b class="text-danger">Not Found</b></span>
                </strong>
                <br />
                <strong>Status:&nbsp;<b :class="returnclassstatus(n.status)">{{ returnstatus(n.status) }}</b></strong>
              </p>
            </div>
          </div>
        </article>
      </div>
      <br />
      <sweet-modal blocking ref="modalapproveall" title="จัดการข้อมูลทั้งหมด">
        <div class="text-left">
          <label class="label">Remark</label>
          <textarea class="textarea" placeholder="ระบุข้อมูลเพิ่มเติม" rows="10" v-model="txtcomment"></textarea>
        </div>
        <template slot="button">
          <a class="button is-danger is-medium" @click="approvestatusall(3)">Reject</a>
          &nbsp;
          <a class="button is-success is-medium" @click="approvestatusall(2)">Approve</a>
        </template>
      </sweet-modal>
      <sweet-modal blocking ref="modalapprove" title="จัดการข้อมูล">
        <div class="text-left">
          <label class="label">Remark</label>
          <textarea class="textarea" placeholder="ระบุข้อมูลเพิ่มเติม" rows="10" v-model="txtcomment"></textarea>
        </div>
        <template slot="button">
          <a class="button is-danger is-medium" @click="approvestatus(3)">Reject</a>
          &nbsp;
          <a class="button is-success is-medium" @click="approvestatus(2)">Approve</a>
        </template>
      </sweet-modal>

      <sweet-modal blocking ref="modalconfirm" icon="info">
        คุณต้องการที่จะ ?
        <br />
        You want to ?
        <template slot="button">
          <a class="button is-danger is-medium" @click="coppyappointment()">Copy</a>
          &nbsp;
          <a class="button is-success is-medium" @click="continumapprove()">Manage</a>
        </template>
      </sweet-modal>

      <sweet-modal blocking hide-close-button ref="modalloading">
        <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
        <p>
          Please waiting:&nbsp;{{ this.appointmentcoderunning }}
        </p>
      </sweet-modal>
      <sweet-modal blocking icon="error" ref="modalerr">
        กรุณาระบุข้อมูลเบื้องต้นก่อน / Please enter basic information.
      </sweet-modal>
      <sweet-modal blocking icon="success" ref="modalsuccess">
        Successfully
      </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import chkToken from '@/assets/js/check.token'
// import CustAdd from '@/components/Appointments/NewData'
import CustCount from '@/components/Appointments/AppvCountAppointments'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
let _ = require('lodash')
export default {
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      selectorlist: [
        {id: 0, title: 'ตัวเลือก', status: false},
        {id: 1, title: 'เพิ่มข้อมูลใหม่', status: false},
        {id: 2, title: 'คัดลอกแผนเดิม', status: true},
        {id: 3, title: 'วางแผนใหม่', status: true},
        {id: 4, title: 'เข้าพบลูกค้าค้าดหวัง', status: true}
      ],
      territory: [{id: 0, title: 'เขตการขายทั้งหมด'}],
      txtfilter: null,
      addsection: false,
      listcustomer: [],
      txtcomment: null,
      appointmentcoderunning: null,
      appointmentcode: null,
      filter: {
        territory: null
      },
      forms: {
        territory: 0,
        selectop: 0
      }
    }
  },
  computed: {
    reverseItemsList () {
      return _.orderBy(this.listcustomer, ['schedule', 'status'], ['desc', 'asc'])
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader,
    CustCount
  },
  mounted () {
    var obj = this
    obj.appointmentcoderunning = null
    this.loadterritory()
      .then(r => {
        var b = []
        r.data.forEach((e, i) => {
          this.territory.push({
            id: i + 1,
            title: e.salesdistrict[0].signature
          })
          b.push(e.salesdistrict[0].signature)
        })
        obj.loadappointments(b).then(rd => {
          console.dir(rd.data)
          obj.listcustomer = rd.data
          obj.filter.territory = obj.territory[0].title
        })
      })
  },
  methods: {
    setmanger () {
      this.$refs.modalapproveall.open()
    },
    approvestatusall (Ojs) {
      var obj = this
      obj.$refs.modalapproveall.close()
      obj.$refs.modalloading.open()
      this.appointmentsapproveall(Ojs, this.txtcomment)
        .then(r => {
          obj.$refs.modalloading.close()
          obj.$refs.modalsuccess.open()
          obj.txtcomment = null
        })
      var x = 0
      var data = this.listcustomer
      console.dir(data)
      var loopArr = (i, callback) => {
        if (data[i].status === 1) {
          data[i].status = 2
        }
        callback()
      }

      var arr = (Arr) => {
        loopArr(x, () => {
          x++
          if (x < Arr.length) {
            arr(Arr)
          }
        })
      }
      arr(data)
    },
    approve (n) {
      console.dir(n)
      this.appointmentcode = n.appointmentcode
      this.$refs.modalconfirm.open()
    },
    approvestatus (v) {
      var obj = this
      obj.$refs.modalloading.open()
      this.appointmentsapprove(this.appointmentcode, v, this.txtcomment)
        .then(rg => {
          var index = obj.listcustomer.map(e => e.appointmentcode).indexOf(obj.appointmentcode)
          obj.listcustomer[index].status = 2
          obj.appointmentcode = null
          obj.txtcomment = null
          obj.$refs.modalapprove.close()
          obj.$refs.modalconfirm.close()
          obj.$refs.modalloading.close()
          obj.$refs.modalsuccess.open()
        })
    },
    continumapprove () {
      this.$refs.modalconfirm.close()
      this.$refs.modalapprove.open()
    },
    coppyappointment () {
      this.$refs.modalloading.open()
      var obj = this
      console.dir(obj.appointmentcode)
      obj.coppyappointmentstolocal(obj.appointmentcode)
        .then(res => {
          console.dir(res.data)
          obj.$refs.modalloading.close()
          obj.$refs.modalsuccess.open()
        })
    },
    returncount (e) {
      var c = 0
      e.forEach(e => {
        c++
      })
      return c
    },
    returntotalbill (e) {
      return new Promise(resolve => {
        var a = 0
        e.forEach(n => {
          a = n.amount
        })
        resolve(a)
      })
    },
    returnstatus (e) {
      var b = ['none', 'wait approve', 'approved', 'reject']
      return b[e]
    },
    returnclassstatus (e) {
      var b = ['text-info', 'text-warning', 'text-success', 'text-danger']
      return b[e]
    },
    returnclass (e) {
      var b = ['text-success', 'text-danger']
      return b[e]
    },
    returnstatusbilling (e) {
      var b = ['ไNot Found', 'Collection']
      return b[e]
    },
    recurrency (e) {
      return e.toLocaleString()
    },
    appointmentsapprove (appointcode, status, remark) {
      return new Promise(resolve => {
        axios.post('/api/appointment/status', {
          appointcode: appointcode,
          status: status,
          remark: remark
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r)
          })
      })
    },
    appointmentsapproveall (status, remark) {
      return new Promise(resolve => {
        axios.post('/api/appointment/status/territory', {
          territory: this.filter.territory,
          status: status,
          remark: remark
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r)
          })
      })
    },
    coppyappointmentstolocal (b) {
      return new Promise(resolve => {
        axios.post('/api/appointment/copy', {
          appointmentcode: b,
          territory: localStorage.getItem('territory'),
          empcode: localStorage.getItem('empcode')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r)
          })
      })
    },
    loadappointments (b) {
      return new Promise(resolve => {
        axios.post('/api/appointment/approve', {
          empcode: localStorage.getItem('empcode'),
          territory: b,
          ownerthor: localStorage.getItem('teritory')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r)
          })
      })
    },
    loadterritory () {
      return new Promise(resolve => {
        chkToken.checkTerritorylist(parseInt(localStorage.getItem('territoryid')), localStorage.getItem('token'))
          .then(r => {
            resolve(r.data)
          })
      })
    }
  },
  watch: {
    'forms.territory' () {
      var ind = this.territory.map(e => e.id).indexOf(this.forms.territory)
      // console.dir(this.territory[ind].title)
      var obj = this
      obj.filter.territory = this.territory[ind].title
      var b = [this.territory[ind].title]
      obj.loadappointments(b).then(rd => {
        console.dir(rd.data)
        obj.listcustomer = rd.data
      })
      // console.log(this.forms.territory)
    }
  }
}
</script>

