<template>
  <div :hidden="reverseItemsList.length === 0">
    <strong>Summary</strong>&nbsp;
    <span class="icon has-text-danger">
      <i class="fa fa-address-card"></i>
    </span>&nbsp;
    <strong>{{ total }}</strong>&nbsp;
    <strong></strong>&nbsp;&nbsp;
    <span class="icon has-text-danger">
      <i class="fa fa-calendar-check-o"></i>
    </span>&nbsp;
    <strong>{{ count }}</strong>&nbsp;
    <strong>Day</strong>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  props: {
    reverseItemsList: Number,
    setstatecount: Number
  },
  data () {
    return {
      count: 0,
      total: 0
    }
  },
  methods: {
    loadcount () {
      return new Promise(resolve => {
        axios.post('/api/appointment/count', {
          territory: localStorage.getItem('territory')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    }
  },
  watch: {
    reverseItemsList () {
      console.log('count: ' + this.reverseItemsList)
      this.loadcount().then(r => {
        this.count = r.count.length
        this.total = r.total.length
        console.dir(r)
      })
    },
    statechange () {
      console.log('count again: ' + this.reverseItemsList)
      this.loadcount().then(r => {
        this.count = r.count.length
        this.total = r.total.length
        console.dir(r)
      })
    }
  }
}
</script>

