<template>
  <div>
    <br />
    <div class="container">
      <cust-count
      :reverseItemsList="listappointmentlist"
      :setstatecount="statechange"
      ></cust-count>
      <hr />
      <div class="box" v-for="(n,i) in filterBy(reverseItemsList, txtfilter)" :key="i" @click="setvalue(n)">
        <article class="media">
          <figure class="media-left">
            <p class="image is-96x96">
              <img src="../../assets/img/calendar.svg">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ n.filtername }}</strong>&nbsp;<small>@</small>&nbsp;<strong class="text-danger">{{ n.schedule }}</strong>
                <br>
                <strong>To do:&nbsp;
                  <span v-if="n.activities.length > 0">
                    <b class="text-danger" v-for="(e, b) in n.activities" :key="b">{{ e.text }}&nbsp;&nbsp;</b>
                  </span>
                  <span v-else><b class="text-danger">Not Found</b></span>
                </strong>
                <br />
                <strong>Additional:&nbsp;<b :class="returnclass(n.billing)">{{ returnstatusbilling(n.billing) }}</b></strong>&nbsp;&nbsp;
                <strong v-if="n.billing === 1">Total:&nbsp;<b class="text-danger">{{ recurrency(n.billingamount) }}</b>&nbsp;Bath</strong>
                <br />
                <strong>Status:&nbsp;<b :class="returnclassstatus(n.status)">{{ returnstatus(n.status) }}</b></strong>
                &nbsp;
                <strong>Cust. Status:&nbsp;<b :class="returnclassstatusstop(n.closedaccount)">{{ returnstatusstop(n.closedaccount) }}</b></strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <cust-edit
    :appointmentcode="editor.appointmentcode"
    :schedate="editor.schedule"
    :openedit="editor.openedit"
    :activitieslist="editor.activities"
    @closemodaleditor="closemodaleditor($event)"
    ></cust-edit>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import CustEdit from '@/components/Appointments/EditData'
import CustCount from '@/components/Appointments/CountAppoint'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
let _ = require('lodash')
let guid = require('@/assets/js/greeter')
export default {
  props: {
    listcust: Array,
    txtfilter: String,
    territory: String,
    checkcountlist: Number
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      listappointment: [],
      listactivities: [
        {id: 0, title: 'test'},
        {id: 1, title: 'test ddd'}
      ],
      statechange: 0,
      listappointmentlist: 0,
      editor: {
        activities: [],
        appointmentcode: null,
        schedule: null,
        openedit: false
      }
    }
  },
  components: {
    CustEdit,
    CustCount,
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  computed: {
    reverseItemsList () {
      return _.orderBy(this.listappointment, ['schedule'], ['desc'])
    }
  },
  mounted () {
    console.log(this.territory)
    console.dir(this.listcust)
    this.listappointmentlist = 0
    var obj = this
    if (this.listcust.length > 0) {
      this.loopappointment()
    } else {
      this.listappointment.length = 0
      obj.loadappointmentlist(localStorage.getItem('territory'))
        .then(rg => {
          console.dir(rg)
          obj.listappointmentlist = rg.length
          rg.forEach((e, i) => {
            obj.listappointment.push({
              appointid: e.appointid,
              appointmentcode: e.appointmentcode,
              accountnum: e.accountnum,
              name: e.name,
              billing: e.billing,
              billingamount: e.billingamount,
              schedule: e.schedule,
              filtername: e.filtername,
              activities: e.activities,
              territory: e.territory,
              empcode: e.empcode,
              status: e.status,
              closedaccount: e.closedaccount
            })
          })
        })
    }
  },
  methods: {
    returncount (e) {
      var c = 0
      e.forEach(e => {
        c++
      })
      return c
    },
    returntotalbill (e) {
      return new Promise(resolve => {
        var a = 0
        e.forEach(n => {
          a = n.amount
        })
        resolve(a)
      })
    },
    returnstatus (e) {
      var b = ['Wait Enter', 'Wait Approve', 'Approved', 'Reject']
      return b[e]
    },
    returnstatusstop (e) {
      var b = ['Actived', 'Stoped']
      return b[e]
    },
    returnclassstatusstop (e) {
      var b = ['text-success', 'text-danger']
      return b[e]
    },
    returnclassstatus (e) {
      var b = ['text-info', 'text-warning', 'text-success', 'text-danger']
      return b[e]
    },
    returnclass (e) {
      var b = ['text-success', 'text-danger']
      return b[e]
    },
    returnstatusbilling (e) {
      var b = ['Not Found', 'Collection']
      return b[e]
    },
    recurrency (e) {
      if (e) {
        return e.toLocaleString()
      } else {
        return 0
      }
    },
    closemodaleditor (n) {
      console.dir(n)
      let x = 0
      this.listappointmentlist = x
      this.editor.openedit = false
      if (n.editor === true) {
        console.log('editor')
        this.$refs.modalloading.open()
        var index = this.listappointment.map(e => e.appointmentcode).indexOf(n.appointcode)
        var obj = this
        // this.listappointment[index].appointmentcode = this.appointmentcode,
        obj.listappointment[index].schedule = n.schedule
        obj.listappointment[index].activities = n.activities
        obj.listappointment[index].remark = n.remark
        obj.listappointment[index].status = 1
        obj.editappointment(index)
          .then(rs => {
            obj.$refs.modalloading.close()
            obj.listappointment[index].status = 1
            obj.statechange = 1
            obj.listappointmentlist = obj.listappointment.length + 1
            console.dir(rs)
            obj.$emit('reloaddata')
          })
      }
    },
    editappointment (e) {
      return new Promise(resolve => {
        axios.post('/api/appointment/add', {
          empcode: localStorage.getItem('empcode'),
          territory: localStorage.getItem('teritory'),
          data: this.listappointment[e]
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    loopappointment () {
      this.$refs.modalloading.open()
      var obj = this
      var ed = this.listcust
      console.dir(ed)
      var n = new Date()
      var ter = localStorage.getItem('territory')
      let x = 0
      var checkAppointments = (numcode) => {
        return new Promise(resolve => {
          axios.post('/api/appointment/check', {
            appointmentcode: numcode
          }, {
            headers: {
              'x-access-token': localStorage.getItem('token')
            }
          })
            .then(r => {
              console.dir(r.data)
              resolve(r.data)
            })
        })
      }
      var loopArr = (c, callback) => {
        var genid = guid.GenCode()
        let xm = n.getMonth() + 2
        let xy = n.getFullYear()
        if (xm > 12) {
          xm = 1
          xy = n.getFullYear() + 1
        }
        let schedate = ('0' + n.getDate()).slice(-2) + '-' + ('0' + (xm)).slice(-2) + '-' + xy
        let emp = localStorage.getItem('empcode')
        console.dir(ed[c])
        var acode = 'APP' + ed[c].accountnum.substring(1, ed[c].accountnum.length) + ter.substring(1, ter.length) + xm + xy + emp.substring(3, emp.length)
        // var billing = 0
        // if (ed[c].total > 0) {
        //   billing = 1
        // }
        checkAppointments(acode)
          .then(reb => {
            if (reb.length > 0) {
              obj.listappointmentlist = obj.listappointmentlist + 1
              var index = this.listappointment.map(re => re.appointmentcode).indexOf(acode)
              if (index < 0) {
                this.listappointment.push({
                  appointid: genid,
                  appointmentcode: acode,
                  accountnum: ed[c].accountnum,
                  name: ed[c].name,
                  billing: reb[0].billing,
                  billingamount: ed[c].total,
                  schedule: reb[0].schedule,
                  filtername: ed[c].accountnum + '-' + ed[c].name,
                  activities: reb[0].activities,
                  territory: localStorage.getItem('territory'),
                  empcode: localStorage.getItem('empcode'),
                  status: reb[0].status,
                  closedaccount: ed[c].closedaccount
                })
              }
            } else {
              this.listappointment.push({
                appointid: genid,
                appointmentcode: acode,
                accountnum: ed[c].accountnum,
                name: ed[c].name,
                billing: 0,
                billingamount: 0,
                schedule: schedate,
                filtername: ed[c].accountnum + '-' + ed[c].name,
                activities: [],
                territory: localStorage.getItem('territory'),
                empcode: localStorage.getItem('empcode'),
                status: 0,
                closedaccount: ed[c].closedaccount
              })
            }
            callback(c)
          })
      }
      var arr = (Arr) => {
        this.listappointmentlist = 0
        loopArr(x, g => {
          x++
          if (x < Arr.length) {
            arr(Arr)
          } else {
            this.$refs.modalloading.close()
            console.log('loop complete add')
            this.statechange = 2
          }
        })
      }
      arr(ed)
    },
    setvalue (n) {
      this.editor.appointmentcode = n.appointmentcode
      this.editor.schedule = n.schedule
      this.editor.openedit = true
      this.editor.activities = n.activities
    },
    loadappointmentlist (txt) {
      return new Promise(resolve => {
        axios.post('/api/appointment/load/new', {
          territory: txt
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    }
  },
  watch: {
    checkcountlist () {
      // this.loopappointment()
      var obj = this
      // obj.statechange = obj.statechange + 3
      // obj.listappointmentlist = obj.listappointmentlist + 1
      this.listappointment.length = 0
      obj.loadappointmentlist(this.territory)
        .then(rg => {
          console.dir(rg)
          obj.listappointmentlist = rg.length
          rg.forEach((e, i) => {
            obj.listappointment.push({
              appointid: e.appointid,
              appointmentcode: e.appointmentcode,
              accountnum: e.accountnum,
              name: e.name,
              billing: e.billing,
              billingamount: e.billingamount,
              schedule: e.schedule,
              filtername: e.filtername,
              activities: e.activities,
              territory: e.territory,
              empcode: e.empcode,
              status: e.status
            })
          })
        })
    },
    territory () {
      var obj = this
      if (this.territory.length > 15) {
        obj.listappointmen = []
        obj.loadappointmentlist(this.territory)
          .then(rg => {
            console.dir(rg)
            obj.statechange = 3
            obj.listappointmentlist = rg.length
            rg.forEach((e, i) => {
              obj.listappointment.push({
                appointid: e.appointid,
                appointmentcode: e.appointmentcode,
                accountnum: e.accountnum,
                name: e.name,
                billing: e.billing,
                billingamount: e.billingamount,
                schedule: e.schedule,
                filtername: e.filtername,
                activities: e.activities,
                territory: e.territory,
                empcode: e.empcode,
                status: e.status
              })
            })
          })
      }
      if (this.listcust.length > 0) {
        this.loopappointment()
      } else {
        this.listappointment.length = 0
      }
    },
    listcust () {
      this.statechange = 4
      if (this.listcust.length > 0) {
        this.loopappointment()
      } else {
        this.listappointment.length = 0
      }
    }
  }
}
</script>

