<template>
  <div>
    <sweet-modal blocking hide-close-button ref="modaleditor" title="แก้ไขข้อมูล">
      <template>
        <div class="field">
          <label class="label">วันที่เข้าพบ / Date</label>
          <div class="control has-icons-left has-icons-right">
            <Cleave
              class="input is-medium"
              type="text"
              placeholder="ระบุวันที่เข้าพบ"
              id="txtschedue"
              v-model="appointment.schedate"
              :options='cleaveOptions'
              ></Cleave>
            <span class="icon is-small is-left">
              <i class="fa fa-address-card"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fa fa-calendar-check-o"></i>
            </span>
          </div>
          <p class="help is-danger">ระบุวันที่เข้าพบเท่านั้น / Enter dates only.</p>
        </div>
        <div class="text-left">
          <ul class="unstyled">
            <li v-for="(n,i) in mock.activitieslist" :key="i" @click="setactivitiesclieck(i, $event, n)">
              <input type="checkbox" :value="n.id" :checked="n.status">
              <label>{{ n.title }}</label>
              <br />
              <br />
            </li>
          </ul>
        </div>
        <div class="field">
          <label class="label">ข้อมูลเพิ่มเติม / Remark</label>
          <div class="control">
            <textarea class="textarea" placeholder="ระบุข้อมูลเพิ่มเติมหรือกิจกรรมที่ทำ" v-model="appointment.remark"></textarea>
          </div>
        </div>
      </template>
      <template slot="button">
        <a class="button is-danger is-medium" @click="closeeditor()">Close</a>
        &nbsp;
        <a class="button is-success is-medium" @click="setappointment(appointment.appointmentcode)">Save</a>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking icon="error" ref="modalerr">
      กรุณาระบุข้อมูลเบื้องต้นก่อน / Please enter basic information.
    </sweet-modal>
    <sweet-modal blocking icon="success" ref="modalsuccess">
      บันทึกข้อมูลแล้ว / Successfully
    </sweet-modal>
  </div>
</template>
<script>
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Cleave from '@/node_modules/vue-cleave'
import mocker from '@/assets/js/mock'
export default {
  props: {
    appointmentcode: String,
    schedate: String,
    openedit: Boolean
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      cleaveOptions: {
        blocks: [2]
      },
      appointment: {
        schedate: null,
        activities: [],
        remark: null
      },
      mock: mocker
    }
  },
  components: {
    Cleave,
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  mounted () {
    // this.mock.activitieslist.forEach(e => {
    //   if (e.status === true) {
    //     this.appointment.activities.push({
    //       id: this.appointment.activities.length,
    //       value: i,
    //       text: this.mock.activitieslist[i].title
    //     })
    //   }
    // })
  },
  methods: {
    closeeditor () {
      this.$refs.modaleditor.close()
      this.$emit('closemodaleditor', {
        editor: false,
        appointcode: null,
        schedule: null,
        activities: null,
        remark: null
      })
    },
    setappointment (appointmentcode) {
      var n = new Date()
      let xm = n.getMonth() + 2
      let xy = n.getFullYear()
      if (xm > 12) {
        xm = 1
        xy = n.getFullYear() + 1
      }
      var schedule = ('0' + document.getElementById('txtschedue').value).slice(-2) + '-' + ('0' + xm).slice(-2) + '-' + xy
      console.dir(schedule)
      this.$refs.modaleditor.close()
      this.$emit('closemodaleditor', {
        editor: true,
        appointcode: this.appointmentcode,
        schedule: schedule,
        activities: this.appointment.activities,
        remark: this.appointment.remark
      })
    },
    setactivitiesclieck (i, e, n) {
      var status = !this.mock.activitieslist[i].status
      this.mock.activitieslist[i].status = status
      var index = this.appointment.activities.map(e => e.value).indexOf(i)
      if (index >= 0) {
        if (status === false) {
          this.appointment.activities.splice(index, 1)
        } else {
          this.appointment.activities[index].text = this.mock.activitieslist[i].title
          this.appointment.activities[index].id = n.id
        }
      } else {
        this.appointment.activities.push({
          id: this.mock.activitieslist[i].id,
          text: this.mock.activitieslist[i].title
        })
      }
      console.dir(this.appointment.activities)
    }
  },
  watch: {
    openedit () {
      this.mock.activitieslist[0].status = true
      this.mock.activitieslist[1].status = false
      this.mock.activitieslist[2].status = true
      this.mock.activitieslist[3].status = false
      this.appointment.activities = []
      if (this.openedit === true) {
        this.mock.activitieslist.forEach((e, i) => {
          if (e.status === true) {
            this.appointment.activities.push({
              id: e.id,
              text: e.title
            })
          }
        })
        let sc = this.schedate
        console.log(this.schedate)
        this.appointment.schedate = this.schedate
        document.getElementById('txtschedue').value = sc.substr(0, 2)
        this.$refs.modaleditor.open()
      } else {
        this.$refs.modaleditor.close()
      }
    }
  }
}
</script>
<style lang="scss">
  .flatpickr-calendar.open {
      z-index: 89898986 !important;
  }
  .sweet-modal.sweet-alert .sweet-content {
      text-align: left !important;
  }
  input[type=checkbox], input[type=radio] {
    vertical-align: baseline !important;
    width: 30px !important;
    /* -webkit-appearance: none; */
  }
</style>

