<template>
  <div class="container">
        <div class="field has-addons has-addons-centered">
          <p class="control">
            <span class="select is-medium">
              <select v-model="forms.territory">
                <option>เขตการขาย</option>
                <option v-for="(n,i) in territory" :key="i" :value="n.id">{{ n.title }}</option>
              </select>
            </span>
          </p>
          <p class="control is-expanded">
            <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสลูกค้า" v-model="txtfilter">
          </p>
          <p class="control">
            <a class="button is-primary is-medium" @click="setsearch()">
              Search
            </a>
          </p>
        </div>
    <cust-add
    :openeadd="addsection"
    :custlist="listcustomer"
    @closemodal="closemodal($event)"
    ></cust-add>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking icon="success" ref="modalsuccess" title="Opps!..">
      Successfully
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import chkToken from '@/assets/js/check.token'
import CustAdd from '@/components/Appointments/NewData'
export default {
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      selectorlist: [
        {id: 0, title: 'ตัวเลือก', status: false},
        {id: 1, title: 'เพิ่มข้อมูลใหม่', status: false},
        {id: 2, title: 'คัดลอกแผนเดิม', status: true},
        {id: 3, title: 'วางแผนใหม่', status: true},
        {id: 4, title: 'เข้าพบลูกค้าค้าดหวัง', status: true}
      ],
      territory: [{id: 0, title: 'All Territory'}],
      txtfilter: null,
      addsection: false,
      listcustomer: [],
      forms: {
        territory: 0,
        selectop: 0
      }
    }
  },
  components: {
    CustAdd,
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  mounted () {
    this.loadterritory()
      .then(r => {
        r.data.forEach((e, i) => {
          this.territory.push({
            id: i + 1,
            title: e.salesdistrict[0].signature
          })
        })
      })
  },
  methods: {
    loadterritory () {
      return new Promise(resolve => {
        chkToken.checkTerritorylist(parseInt(localStorage.getItem('territoryid')), localStorage.getItem('token'))
          .then(r => {
            resolve(r.data)
          })
      })
    },
    setsearch () {
      console.log('click')
      var obj = this
      // obj.$refs.modalloading.open()
      obj.listcustomer = []
      this.loadcustomer(this.txtfilter)
        .then(r => {
          obj.$refs.modalloading.close()
          obj.addsection = true
          obj.listcustomer = r
          console.dir(r)
        })
    },
    closemodal (n) {
      console.dir(n)
      this.forms.selectop = 0
      this.addsection = false
      var obj = this
      if (n.add === true) {
        obj.$refs.modalloading.open()
        console.log('add new')
        this.addappointment(n.data)
          .then(r => {
            obj.$refs.modalloading.close()
            obj.$refs.modalsuccess.open()
            obj.$emit('checkcount')
            console.log('complete')
          })
      }
    },
    addappointment (e) {
      return new Promise(resolve => {
        axios.post('/api/appointment/add', {
          empcode: localStorage.getItem('empcode'),
          territory: localStorage.getItem('teritory'),
          data: e
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    loaddata () {
      var obj = this
      obj.listcustomer = []
      this.loadcustomer(null)
        .then(r => {
          obj.$refs.modalloading.close()
          obj.addsection = true
          obj.listcustomer = r
          console.dir(r)
        })
    },
    loadcustomer (txt) {
      return new Promise(resolve => {
        axios.post('/api/custtable/find', {
          custnum: txt
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            console.dir(r)
            resolve(r.data)
          })
      })
    }
  },
  watch: {
    'forms.territory' () {
      console.log('terr:' + this.forms.territory)
      this.$emit('setterritory', this.territory[this.forms.territory].title)
      // if (this.forms.territory > 0) {
      //   this.$emit('setterritory', this.territory[this.forms.territory].title)
      // } else {
      //   this.$emit('setterritory', this.territory[0].title)
      // }
    },
    txtfilter () {
      this.$emit('settxtfilter', this.txtfilter)
    },
    'forms.selectop' () {
      console.log(this.forms.selectop)
      if (this.forms.selectop === 1) {
        this.$refs.modalloading.open()
        this.loaddata()
        console.log('forms open')
      } else {
        this.addsection = false
        console.log('forms close')
      }
    }
  }
}
</script>

