<template>
  <div>
    <sweet-modal blocking hide-close-button ref="modaladd" title="เพิ่มข้อมูล / Add">
      <template class="text-left">
        <label class="label">ลูกค้าหรือลูกค้าคาดหวัง / Customer or Expect customers</label>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input
              class="input is-medium"
              type="text"
              placeholder="ระบุชื่อหรือรหัสลูกค้า"
              v-model="appointment.filtername"
              />
          </div>
          <div class="control">
            <a class="button is-primary is-medium" @click="setsearch()">
              Search
            </a>
          </div>
        </div>
        <div :hidden="divname === false">
          <aside class="menu">
            <ul class="menu-list">
              <li>
                <a class="is-active">เลือกลูกค้าหรือลูกค้าค้าดหวัง / Select Customer or Expect customers</a>
                <ul>
                  <li v-for="(n,i) in filterBy(custlist, appointment.filtername)" :key="i" @click="setselect(n)">
                    <a>
                      <p>
                         {{ n.filtername }}
                      </p>
                    </a>
                  </li>
                  </ul>
              </li>
            </ul>
          </aside>
        </div>
        <div class="field">
          <label class="label">วันที่เข้าพบ / Date Appointment</label>
          <div class="control has-icons-left has-icons-right">
            <Cleave
              class="input is-medium"
              type="text"
              placeholder="ระบุวันที่เข้าพบ"
              id="txtschedule"
              v-model="appointment.schedule"
              :options='cleaveOptions'
              ></Cleave>
            <span class="icon is-small is-left">
              <i class="fa fa-address-card"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fa fa-calendar-check-o"></i>
            </span>
          </div>
          <p class="help is-danger">ระบุแค่วันที่เข้าพบเท่านั้น / Enter dates only.</p>
        </div>
        <div class="text-left">
          <ul class="unstyled">
            <li v-for="(n,i) in mock.activitieslist" :key="i" @click="setactivitiesclieck(i, $event, n)">
              <input type="checkbox" :value="n.id" :checked="n.status">
              <label>{{ n.title }}</label>
              <br />
              <br />
            </li>
          </ul>
        </div>
        <div class="field">
          <label class="label">ข้อมูลเพิ่มเติม / Remark</label>
          <div class="control">
            <textarea class="textarea" placeholder="ระบุข้อมูลเพิ่มเติมหรือกิจกรรมที่ทำ" v-model="appointment.remark"></textarea>
          </div>
        </div>
      </template>
      <template slot="button">
        <a class="button is-danger is-medium" @click="closeadd()">Close</a>
        &nbsp;
        <a class="button is-success is-medium" @click="saveadd()">Save</a>
      </template>
    </sweet-modal>
     <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking icon="error" ref="modalerr">
      กรุณาระบุข้อมูลเบื้องต้นก่อน / Please enter basic information.
    </sweet-modal>
    <sweet-modal blocking icon="success" ref="modalsuccess">
      บันทึกข้อมูลแล้ว / Successfully
    </sweet-modal>
  </div>
</template>
<script>
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Cleave from '@/node_modules/vue-cleave'
import mocker from '@/assets/js/mock'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
let guid = require('@/assets/js/greeter')
export default {
  props: {
    openeadd: Boolean,
    custlist: Array
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      cleaveOptions: {
        blocks: [2]
      },
      divname: false,
      appointment: {
        appointid: null,
        appointmentcode: null,
        custnumber: null,
        custname: null,
        accountnum: null,
        name: null,
        billing: 0,
        billingamount: 0,
        schedule: null,
        filtername: '',
        activities: [],
        territory: null,
        empcode: null,
        remark: null,
        status: 0
      },
      mock: mocker
    }
  },
  components: {
    Cleave,
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  methods: {
    setsearch () {
      if (this.appointment.filtername !== null) {
        if (this.appointment.filtername.length > 3) {
          this.divname = true
        }
      }
    },
    setselect (e) {
      console.dir(e)
      this.divname = false
      var n = new Date()
      let xm = n.getMonth() + 2
      let xy = n.getFullYear()
      if (xm > 12) {
        xm = 1
        xy = n.getFullYear() + 1
      }
      var genid = guid.GenCode()
      var ter = localStorage.getItem('territory')
      var emp = localStorage.getItem('empcode')
      let schedate = document.getElementById('txtschedule').value
      var acode = 'NPP' + e.accountnum.substring(1, e.accountnum.length) + ter.substring(1, ter.length) + xm + xy + schedate.substring(0, 2) + emp.substring(3, emp.length)
      this.appointment.appointid = genid
      this.appointment.appointmentcode = acode
      this.appointment.custnumber = e.accountnum
      this.appointment.custname = e.name
      this.appointment.accountnum = e.accountnum
      this.appointment.name = e.name
      this.appointment.billing = 0
      this.appointment.billingamount = 0
      this.appointment.schedule = ('0' + schedate).slice(-2) + '-' + xm + '-' + xy
      this.appointment.filtername = e.filtername
      // this.appointment.activities = []
      this.appointment.territory = ter
      this.appointment.empcode = emp
      this.appointment.status = 1
    },
    saveadd () {
      this.$refs.modaladd.close()
      console.dir(this.appointment)
      var n = new Date()
      let xm = n.getMonth() + 2
      let xy = n.getFullYear()
      if (xm > 12) {
        xm = 1
        xy = n.getFullYear() + 1
      }
      let schedate = document.getElementById('txtschedule').value
      this.appointment.schedule = ('0' + schedate).slice(-2) + '-' + ('0' + xm).slice(-2) + '-' + xy
      this.$emit('closemodal', {
        add: true,
        data: this.appointment
      })
    },
    closeadd () {
      this.$refs.modaladd.close()
      this.$emit('closemodal', {
        add: false,
        data: []
      })
    },
    setactivitiesclieck (i, e, n) {
      var status = !this.mock.activitieslist[i].status
      this.mock.activitieslist[i].status = status
      var index = this.appointment.activities.map(e => e.value).indexOf(i)
      if (index >= 0) {
        if (status === false) {
          this.appointment.activities.splice(index, 1)
        } else {
          this.appointment.activities[index].text = this.mock.activitieslist[i].title
          this.appointment.activities[index].id = this.mock.activitieslist[i].id
        }
      } else {
        this.appointment.activities.push({
          id: this.mock.activitieslist[i].id,
          text: this.mock.activitieslist[i].title
        })
      }
      console.dir(this.appointment.activities)
    }
  },
  watch: {
    openeadd () {
      this.mock.activitieslist[0].status = true
      this.mock.activitieslist[1].status = false
      this.mock.activitieslist[2].status = true
      this.mock.activitieslist[3].status = false
      var n = new Date()
      // let xm = n.getMonth() + 2
      // let xy = n.getFullYear()
      //   if (xm > 12) {
      //     xm = 1
      //     xy = n.getFullYear() + 1
      //   }
      // let schedate = ('0' + n.getDate()).slice(-2) + '-' + ('0' + (xm)).slice(-2) + '-' + xy
      if (this.openeadd === true) {
        this.$refs.modaladd.open()
        this.appointment.activities = []
        this.mock.activitieslist.forEach((e, i) => {
          if (e.status === true) {
            this.appointment.activities.push({
              id: e.id,
              text: e.title
            })
          }
        })
        this.setselect(this.custlist[0])
        // this.appointment.appointid = null
        // this.appointment.appointmentcode = null
        // this.appointment.custnumber = this.custlist[0].accountnum
        // this.appointment.custname = this.custlist[0].name
        // this.appointment.billing = 0
        // this.appointment.billingamount = 0
        // // this.appointment.filtername = null
        // this.appointment.filtername = this.custlist[0].filtername
        // this.appointment.remark = null
        // this.appointment.status = 0
        document.getElementById('txtschedule').value = ('0' + n.getDate()).slice(-2)
      } else {
        this.$refs.modaladd.close()
      }
    }
  }
}
</script>
<style lang="scss">
  .flatpickr-calendar.open {
      z-index: 89898986 !important;
  }
  .sweet-modal.sweet-alert .sweet-content {
      text-align: left !important;
  }
  input[type=checkbox], input[type=radio] {
    vertical-align: baseline !important;
    width: 30px !important;
    /* -webkit-appearance: none; */
  }
</style>


