<template>
  <div>
    <br />
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th><abbr title="Back Order Number">BO</abbr></th>
          <th><abbr title="Item number">Item</abbr></th>
          <th><abbr title="Quantity">Qty</abbr></th>
          <th><abbr title="Unit price">Price / Unit</abbr></th>
          <th><abbr title="Net amount">Total</abbr></th>
          <th><abbr title="On Hand">Status</abbr></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><abbr title="Total">Total</abbr></th>
            <th><abbr title="Invoice amount">{{ returncurrency(looptatol()) }}</abbr></th>
        </tr>
      </tfoot>
      <tbody>
        <tr v-for="(n,i) in listbackorder" :key="i" v-if="n.status === 1">
            <td>{{ n.soid }}</td>
            <td>
              {{ n.itemid }}
              <br />
              {{ n.itemname }}
            </td>
            <td>{{ returncurrency(n.qty) }}</td>
            <td>{{ returncurrency(n.price) }}</td>
            <td>{{ returncurrency(parseInt(n.amount)) }}</td>
            <td><strong :class="n.stockclass">{{ n.stockstatus }}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
  export default {
    props: {
      listbackorder: Array
    },
    methods: {
      returncurrency (e) {
        if (e != null) {
          return e.toLocaleString()
        } else {
          return 0
        }
      },
      looptatol () {
        var x = 0
        console.dir(this.listbackorder)
        for (let i in this.listbackorder) {
          if (this.listbackorder[i].status === 1) {
            x = x + parseFloat(this.listbackorder[i].amount)
          }
        }
        return x
      }
    }
  }
</script>
