<template>
  <div>
    <div :hidden="listcart.length < 1">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>#</th>
            <th>Item</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Disc.</th>
            <th>Tatol</th>
            <th></th>
          </tr>
        </thead>
          <tfoot>
            <tr>
              <th>Summary</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>{{returncurrency(looptatol())}}</th>
              <th>Bath</th>
            </tr>
            <tr>
              <th colspan="4">Credit</th>
              <th></th>
              <th>{{returncurrency(balance)}}</th>
              <th>Bath</th>
            </tr>
            <tr>
              <th colspan="4">Credit Balance</th>
              <th></th>
              <th>{{returncurrency(balance - looptatol())}}</th>
              <th>Bath</th>
            </tr>
          </tfoot>
          <tbody>
            <tr v-for="(n,i) in listcart" :key="n.id">
              <td class="is-icon">{{i + 1}}</td>
              <td class="is-icon">{{ n.itemid }} <br />{{ n.itemname }}</td>
              <td class="is-icon">{{returncurrency(n.price)}}</td>
              <td class="is-icon">
                <a class="text-danger" @click="editqty(i)">{{ returnfloat(n.qty) }}</a>
              </td>
              <td class="is-icon">
                <span class="text-danger">{{ n.perc + '%' }}</span>
              </td>
              <td class="is-icon">{{returncurrency((n.price - ((n.price * n.perc) / 100)) * n.qty)}}</td>
              <td class="is-icon">
                <a class="fa fa-trash" @click="removeitems(i)"></a>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
    <sweet-modal blocking ref="modal" title="ระบุจำนวนที่ต้องการ / Enter quality">
      <input class="input is-medium" v-model="forms.qty"/>
      <a class="button is-success is-medium" slot="button" color="red" @click="closeExample()">Confirm</a>
    </sweet-modal>
  </div>
</template>
<script>
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
export default {
  props: {
    listcart: Array,
    creditbal: Number,
    balance: Number,
    groupcust: String,
    customer: String
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  data () {
    return {
      forms: {
        qty: null,
        itemid: null
      }
    }
  },
  methods: {
    returncurrency (e) {
      if (e) {
        return e.toLocaleString()
      } else {
        return 0
      }
    },
    looptatol () {
      var n = this.listcart
      let x = 0
      for (let i in n) {
        x = x + (n[i].price - ((n[i].price * n[i].perc) / 100)) * n[i].qty
      }
      return x
    },
    returnfloat (e) {
      return parseFloat(e)
    },
    returnbalace (e) {
      if (e.length > 0) {
        return this.returncurrency(e[0].sumcredittranstable)
      } else {
        return 0
      }
    },
    removeitems (i) {
      this.$emit('removeitems', i)
    },
    editqty (e) {
      console.dir(e)
      console.log(this.listcart[e].qty)
      this.forms.qty = this.listcart[e].qty
      this.forms.itemid = this.listcart[e].itemid
      this.$refs.modal.open()
    },
    closeExample () {
      var b
      if (this.forms.qty !== null) {
        b = [this.forms.qty, this.forms.itemid]
        this.$refs.modal.close()
        this.$emit('setqty', b)
      } else {
        b = [0, this.forms.itemid]
        this.$refs.modal.close()
        this.$emit('setqty', b)
      }
    }
  }
}
</script>

