<template>
  <div>
    <div>
      <div class="box icuser" v-for="(n,i) in filterBy(reverseItemsList, txtfilter)" @click="showdetail(n)" :key="i">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="../../assets/img/cart.svg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ n.salesid }}</strong> <small>&nbsp;@&nbsp;<b class="text-success">{{ redate(n.createddatetime) }}</b></small>
                <br>
                  <b>
                    {{ n.salesdistrictid + ' ' + n.accountnum + '-' + n.salesname }}
                    &nbsp;&nbsp;
                    Tatol:&nbsp;<span class="text-danger">{{ recurrency(reamount(n.orderline))}}</span>
                    &nbsp;Bath</b>
                  &nbsp;
                  <br />
                  <b>
                    Status:&nbsp;<span :class="returnorderclass(n.salesstatus)">{{ returnorderstatus(n.salesstatus) }}</span>
                    &nbsp;
                    Remark:&nbsp;<span class="text-danger">{{ n.remark }}</span>
                  </b>
              </p>
            </div>
          </div>
        </article>
      </div>
      <!-- <infinite-loading @infinite="infiniteHandler"></infinite-loading> -->
    </div>
    <sweet-modal blocking ref="modaldetail">
      <template>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Item</th>
                <th class="text-center">Price</th>
                <th class="text-center">Qty</th>
                <th class="text-center">Tatol</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Summary</th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="2"><span class="text-danger">{{ recurrency(retotal())}}</span>&nbsp;Bath</th>
              </tr>
            </tfoot>
            <tbody>
              <tr v-for="(n,i) in orderline" :key="i">
                <td class="text-center">{{ i + 1 }}</td>
                <td>
                  {{ n.items }}
                  <br />
                  {{ n.itemname }}
                </td>
                <td class="text-center">
                  <span class="text-danger">{{ recurrency(n.priceperitem)}}</span>
                </td>
                <td class="text-center">
                  {{ n.quantity }}
                </td>
                <td class="text-center">
                  <span class="text-danger">{{ recurrency(n.amount) }}</span>
                </td>
                <td class="text-center">
                  <b class="text-danger">{{ returnorderstatus(n.salesstatus) }}</b>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <article class="message text-left">
            <div class="message-header">
              <p><strong>Transport Information</strong></p>
            </div>
            <div class="message-body">
              Status:&nbsp;<strong :class="returnorderclass(deliv.deliverystatus)">{{ returndeliverystatus(deliv.deliverystatus) }}</strong>
              &nbsp;
              Delivery Date:&nbsp;<strong :class="returnorderclass(deliv.deliverystatus)">{{ resub(deliv.dodate) }}</strong>
              <br />
              DO Number:&nbsp;<strong :class="returnorderclass(deliv.deliverystatus)">{{ returndel(deliv.documentnumber) }}</strong>
              &nbsp;
              Transport:&nbsp;<strong :class="returnorderclass(deliv.deliverystatus)">{{ returndel(deliv.dlvmod) }}</strong>
              <br />
              Receive date:&nbsp;<strong :class="returnorderclass(deliv.deliverystatus)">{{ resub(deliv.deliverydate) }}</strong>
            </div>
          </article>
        </div>
      </template>
    </sweet-modal>
  </div>
</template>
<script>
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import InfiniteLoading from 'vue-infinite-loading'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
var _ = require('lodash')
export default {
  props: {
    txtfilter: String,
    reverseItems: Array,
    orderline: Array,
    delivery: Array
  },
  data () {
    return {
      deliverystatus: 0,
      deliverydate: null,
      documentnumber: null,
      dlvmod: null,
      dodate: null,
      list: [],
      deliv: []
    }
  },
  computed: {
    reverseItemsList () {
      return _.orderBy(this.reverseItems, ['createddatetime', 'salesstatus'], ['desc', 'asc'])
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    InfiniteLoading
  },
  methods: {
    redate (e) {
      if (e) {
        // var n = new Date(e)
        return e.substring(0, 10) // n.getFullYear() + '-' + ('0' + (n.getMonth() + 1)).slice(-2) + '-' + ('0' + (n.getDate() + 1)).slice(-2)
      } else {
        return 'ไม่พบข้อมูล / Not found'
      }
    },
    infiniteHandler ($state) {
      setTimeout(() => {
        const temp = []
        for (let i = this.list.length + 1; i <= this.list.length + 20; i++) {
          temp.push(i)
        }
        this.list = this.list.concat(temp)
        $state.loaded()
      }, 1000)
    },
    recurrency (e) {
      if (e) {
        return e.toLocaleString()
      } else {
        return 0
      }
    },
    retotal () {
      var x = 0
      Object.entries(this.orderline).forEach(
        ([key, value]) => {
          x = x + (value.priceperitem * value.quantity)
        }
      )
      return x
    },
    resub (e) {
      if (e) {
        console.log(e.substring(0, 4))
        if (parseInt(e.substring(0, 4)) <= 1900) {
          return 'ไม่พบข้อมูล / Not found'
        } else {
          return e.substring(0, 11)
        }
      } else {
        return 'ไม่พบข้อมูล / Not found'
      }
    },
    showdetail (e) {
      console.dir(e)
      if (e.delivery.length > 0) {
        this.deliv = e.delivery[0]
      } else {
        this.deliv.deliverystatus = 0
        this.deliv.dodate = null
        this.deliv.documentnumber = null
        this.deliv.dlvmod = null
        this.deliv.deliverydate = null
      }
      this.$emit('setdetail', [e.orderline, e.delivery])
      this.$refs.modaldetail.open()
    },
    returndeliverystatus (i) {
      // var b = ['กำลังจัดส่ง', 'ลูกค้าได้รับของแล้ว', 'สินค้ารับคืน', 'เอกสารบัญชี', 'ยกเลิกบิล']
      var b = ['Delivery', 'Received', 'Return', 'Accounting Document', 'Cancel']
      return b[i]
    },
    returnorderstatus (i) {
      // var b = ['กำลังจัดส่ง', 'ลูกค้าได้รับของแล้ว', 'Itemรับคืน', 'เอกสารบัญชี', 'ยกเลิกบิล']
      var b = ['None', 'Open', 'Delivery', 'Invoice', 'Cancel']
      return b[i]
    },
    returnorderclass (i) {
      var b = ['text-warning', 'text-primary', 'text-success', 'text-info', 'text-danger']
      return b[i]
    },
    reamount (b) {
      var x = 0
      Object.entries(b).forEach(
        ([key, value]) => {
          x = x + (value.priceperitem * value.quantity)
        }
      )
      return x
    },
    returndel (e) {
      if (e) {
        return e
      } else {
        return 'ไม่พบข้อมูล / Not found'
      }
    }
  },
  watch: {
    delivery () {
      if (this.delivery.length > 0) {
        this.deliverystatus = this.delivery[0].deliverystatus
        this.deliverydate = this.delivery[0].deliverydate
        this.documentnumber = this.delivery[0].documentnumber
        this.dlvmod = this.delivery[0].dlvmod
        this.dodate = this.delivery[0].dodate
      } else {
        this.deliverystatus = 0
        this.deliverydate = null
        this.documentnumber = null
        this.dlvmod = null
        this.dodate = null
      }
    }
  }
}
</script>

