<template>
  <section>
    <div>
      <div class="field has-addons">
        <p class="control is-expanded">
          <input :class="input.items" type="text" placeholder="ค้นหาชื่อหรือรหัสสินค้า" v-model="forms.items">
        </p>
        <p class="control">
          <a class="button is-success is-medium" @click="seach()">
            Search
          </a>
        </p>
      </div>
    </div>
    <div>
      <br />
      <div>
        <b class="">Cart:&nbsp;<strong class="tag is-success">{{ cart.list.length }}</strong></b>
      </div>
    </div>
    <cart
    :listcart="cart.list"
    :creditbal="creditmax"
    :balance="balance"
    :groupcust="groupcust"
    :customer="customer"
    @removeitems="removeitems($event)"
    @setqty="setqty($event)"
    ></cart>
    <div :hidden="data.list.length < 1">
      <hr />
      <list-item
      :txtfilter="forms.items"
      :listitems="data.list"
      :groupcust="groupcust"
      :customer="customer"
      @setcommititems="setcommititems($event)"
      @setnewsearch="setnewsearch()"
      ></list-item>
    </div>
  </section>
</template>
<script>
import axios from 'axios'
import ListItem from './ListItem'
import Cart from './Cart'
export default {
  props: {
    balance: Number,
    customer: String,
    creditmax: Number,
    tricredit: Number,
    groupcust: String,
    sectiondata: Boolean,
    listcart: Number
  },
  data () {
    return {
      input: {
        items: 'input is-medium'
      },
      forms: {
        items: null
      },
      button: {
        items: 'button is-success is-medium'
      },
      cart: {
        total: 0,
        list: []
      },
      data: {
        list: []
      }
    }
  },
  components: {
    ListItem,
    Cart
  },
  methods: {
    loaditem () {
      var obj = this
      console.log(parseInt(obj.$route.params.id))
      return new Promise(resolve => {
        axios.post('/api/inventtable', {
          item: obj.forms.items,
          custnum: obj.customer,
          groupid: obj.groupcust
        })
          .then(res => {
            console.dir(res.data)
            resolve(res)
          })
      })
    },
    setnewsearch () {
      console.log('close list items')
      this.data.list.length = 0
      this.forms.items = null
    },
    seach () {
      this.button.items = 'button is-warning is-medium is-loading'
      var obj = this
      obj.data.list = []
      obj.loaditem()
        .then(r => {
          obj.data.list = r.data
          obj.button.items = 'button is-success is-medium'
        })
    },
    setcommititems (e) {
      // console.log('push line')
      // console.dir(e)
      var index = this.cart.list.map(r => r.itemid).indexOf(e.itemid)
      console.log(index)
      if (index >= 0) {
        this.cart.list[index].qty = parseInt(this.cart.list[index].qty) + parseInt(e.qty)
      } else {
        this.cart.list.push(e)
      }
    },
    removeitems (i) {
      this.cart.list.splice(i, 1)
    },
    setqty (e) {
      console.log(e)
      var ind = this.cart.list.map(e => e.itemid).indexOf(e[1])
      if (parseInt(e[0]) < 1) {
        this.removeitems(ind)
      } else {
        this.cart.list[ind].qty = parseInt(e[0])
      }
    }
  },
  watch: {
    sectiondata () {
      if (this.sectiondata === true) {
        this.forms.input = null
        this.data.list.length = 0
      }
    },
    'cart.list' () {
      console.dir('watch list cart')
      this.$emit('setlistcart', this.cart.list)
    },
    listcart () {
      if (this.listcart < 1) {
        this.cart.list.length = 0
      }
    }
  }
}
</script>

