<template>
  <section>
    <div>
      <div class="field has-addons">
        <p class="control is-expanded">
          <input :class="input.items" type="text" placeholder="ค้นหาชื่อหรือรหัสสินค้า" v-model="forms.items">
        </p>
        <p class="control">
          <a class="button is-success is-medium" @click="seach()">
            Search
          </a>
        </p>
      </div>
    </div>
    <div>
      <br />
      <div>
        <b class="">Cart:&nbsp;<strong class="tag is-success">{{ cart.list.length }}</strong></b>
      </div>
    </div>
    <cart
    :listcart="cart.list"
    :creditbal="creditmax"
    :balance="balance"
    :groupcust="groupcust"
    :customer="customer"
    @removeitems="removeitemslist($event)"
    @setqty="setqty($event)"
    ></cart>
    <div :hidden="data.list.length < 1">
      <hr />
      <list-item
      :listcart="cart.list"
      :txtfilter="forms.items"
      :listitems="data.list"
      :groupcust="groupcust"
      :customer="customer"
      @setcommititems="setcommititems($event)"
      @setnewsearch="setnewsearch()"
      ></list-item>
    </div>
  </section>
</template>
<script>
import axios from 'axios'
import ListItem from './ListItemSpc'
import Cart from './CartSpc'
export default {
  props: {
    balance: Number,
    customer: String,
    creditmax: Number,
    tricredit: Number,
    groupcust: String,
    sectiondata: Boolean,
    listcart: Number
  },
  data () {
    return {
      orderstype: 0,
      input: {
        items: 'input is-medium'
      },
      forms: {
        items: null
      },
      button: {
        items: 'button is-success is-medium'
      },
      cart: {
        total: 0,
        list: []
      },
      data: {
        list: []
      }
    }
  },
  components: {
    ListItem,
    Cart
  },
  mounted () {
    this.orderstype = this.$route.params.id // order 11
    console.log(this.orderstype)
  },
  methods: {
    loaditem () {
      var obj = this
      return new Promise(resolve => {
        console.dir(obj.orderstype)
        if (this.$route.params.id >= 11) {
          axios.post('/api/inventtable/spc', {
            item: obj.forms.items,
            typeitem: obj.orderstype
          })
            .then(res => {
              console.dir(res)
              resolve(res)
            })
        } else if (obj.orderstype >= 5) {
          axios.post('/api/inventtable/etc', {
            item: obj.forms.items,
            ordertype: parseInt(obj.$route.params.id)
          })
            .then(res => {
              console.dir(res)
              resolve(res)
            })
        } else {
          axios.post('/api/inventtable/spc', {
            item: obj.forms.items,
            typeitem: obj.orderstype
          })
            .then(res => {
              console.dir(res)
              resolve(res)
            })
        }
      })
    },
    setnewsearch () {
      console.log('close list items')
      this.data.list = []
      this.forms.items = null
    },
    seach () {
      this.button.items = 'button is-warning is-medium is-loading'
      var obj = this
      obj.data.list = []
      obj.loaditem()
        .then(r => {
          console.dir(r.data)
          obj.data.list = r.data
          obj.button.items = 'button is-success is-medium'
        })
    },
    setcommititems (e) {
      console.log('push line')
      console.dir(e)
      var index = this.cart.list.map(r => r.itemid).indexOf(e[0].itemid)
      console.log(index)
      if (index >= 0) {
        this.cart.list[index].qty = parseInt(this.cart.list[index].qty) + parseInt(e[0].qty)
      } else {
        this.cart.list.push(e[0])
      }
      var index2 = this.cart.list.map(r => r.itemid).indexOf(e[1].itemid)
      console.log(index2)
      if (index2 >= 0) {
        this.cart.list[index2].qty = parseInt(this.cart.list[index2].qty) + parseInt(e[1].qty)
      } else {
        this.cart.list.push(e[1])
      }
    },
    removeitemslist (e) {
      var ind = this.cart.list.map(e => e.itemid).indexOf(e[0])
      this.removeitems(ind)
      var ind2 = this.cart.list.map(e => e.matchchk).indexOf(e[1])
      this.removeitems(ind2)
    },
    removeitems (i) {
      this.cart.list.splice(i, 1)
    },
    setqty (e) {
      console.log(e)
      var ind = this.cart.list.map(e => e.itemid).indexOf(e[1])
      if (parseInt(e[0]) < 1) {
        this.removeitems(ind)
      } else {
        this.cart.list[ind].qty = parseInt(e[0])
      }
      var ind2 = this.cart.list.map(e => e.itemid).indexOf(e[2])
      if (parseInt(e[0]) < 1) {
        this.removeitems(ind2)
      } else {
        this.cart.list[ind2].qty = parseInt(e[0])
      }
    }
  },
  watch: {
    sectiondata () {
      if (this.sectiondata === true) {
        this.forms.input = null
        this.data.list.length = 0
      }
    },
    'cart.list' () {
      console.dir('watch list cart')
      this.$emit('setlistcart', this.cart.list)
    },
    listcart () {
      if (this.listcart < 1) {
        this.cart.list.length = 0
      }
    }
  }
}
</script>

