<template>
  <section>
    <div>
      <div class="field has-addons">
        <p class="control is-expanded">
          <input :class="input.items" type="text" placeholder="ค้นหาชื่อหรือรหัสสินค้า" v-model="forms.items">
        </p>
        <p class="control">
          <a class="button is-success is-medium" @click="seach()">
            Search
          </a>
        </p>
      </div>
    </div>
    <div>
      <br />
      <div>
        <b class="">Cart:&nbsp;<strong class="tag is-success">{{ cart.list.length }}</strong></b>
      </div>
    </div>
    <cart
    :listcart="cart.list"
    :creditbal="creditmax"
    :balance="balance"
    :groupcust="groupcust"
    :customer="customer"
    @removeitems="removeitems($event)"
    @setqty="setqty($event)"
    ></cart>
    <div :hidden="data.list.length < 1">
      <hr />
      <list-item
      :listcart="cart.list"
      :txtfilter="forms.items"
      :listitems="data.list"
      :groupcust="groupcust"
      :customer="customer"
      @setcommititems="setcommititems($event)"
      @setnewsearch="setnewsearch()"
      ></list-item>
    </div>
  </section>
</template>
<script>
import axios from 'axios'
import ListItem from './ListItemEth'
import Cart from './CartOth'
export default {
  props: {
    balance: Number,
    customer: String,
    creditmax: Number,
    tricredit: Number,
    groupcust: String,
    sectiondata: Boolean,
    listcart: Number
  },
  data () {
    return {
      input: {
        items: 'input is-medium'
      },
      forms: {
        items: null
      },
      button: {
        items: 'button is-success is-medium'
      },
      cart: {
        total: 0,
        list: []
      },
      data: {
        list: []
      }
    }
  },
  components: {
    ListItem,
    Cart
  },
  methods: {
    loaditem () {
      var obj = this
      console.log('ordertype :=> ' + parseInt(obj.$route.params.id))
      return new Promise(resolve => {
        axios.post('/api/inventtable/etc', {
          item: obj.forms.items,
          ordertype: parseInt(obj.$route.params.id)
        })
          .then(res => {
            console.dir(res.data)
            resolve(res)
          })
      })
    },
    setnewsearch () {
      console.log('close list items')
      this.data.list = []
      this.forms.items = null
    },
    seach () {
      this.button.items = 'button is-warning is-medium is-loading'
      var obj = this
      obj.data.list = []
      obj.loaditem()
        .then(r => {
          obj.data.list = r.data
          obj.button.items = 'button is-success is-medium'
        })
    },
    setcommititems (e) {
      console.log('push line')
      for (let c = 0; c <= (e.length - 1); c++) {
        var index = this.cart.list.map(r => r.itemidcheck).indexOf(e[c].itemidcheck)
        console.log(index)
        if (index >= 0) {
          console.log('up data :+> ' + c)
          this.cart.list[index].qty = parseInt(this.cart.list[index].qty) + parseInt(e[c].qty)
        } else {
          console.log('push data :+> ' + c)
          this.cart.list.push(e[c])
        }
      }
    },
    removeitemsmatch (i) {
      this.cart.list.splice(i, 1)
    },
    removelist (data, mch, l) {
      return new Promise(resolve => {
        var x = 0
        var Arr = (a) => {
          loopA(x, () => {
            // console.log('data length:=>' + a.length)
            x++
            if (x >= l) {
              console.error('del. completed.')
              resolve(data)
            } else {
              Arr(a)
            }
          })
        }
        var loopA = (i, callback) => {
          console.log('loop at :=>' + i)
          var go = this.cart.list[i]
          var ind = go.map(e => e.matchchk).indexOf(mch)
          if (ind >= 0) {
            console.info('match at:=>' + this.cart.list[x].matchchk + ' => ' + mch)
            // this.removeitemsmatch(ind)
          }
          callback()
        }
        Arr(data)
      })
    },
    removeitems (e) {
      var xx = 0
      if (parseInt(this.$route.params.id) >= 7) {
        xx = 2
      } else {
        xx = 3
      }
      for (let i = 0; i <= xx; i++) {
        var ind = this.cart.list.map(e => e.itemidcheck).indexOf(e[1])
        this.removeitemsmatch(ind)
      }
    },
    setqty (e) {
      console.dir(this.cart.list)
      let c = this.cart.list
      for (let g = 0; g <= (c.length - 1); g++) {
        let data = c[g]
        if (parseInt(e[0]) < 1) {
          console.log('Remove :=> ' + g)
          c.splice(g, 1)
        } else {
          console.log('update :=> ' + g)
          console.dir(data.matchchk)
          if (data.matchchk === e[2]) {
            this.cart.list[g].qty = parseInt(e[0])
          }
        }
      }
    }
  },
  watch: {
    sectiondata () {
      if (this.sectiondata === true) {
        this.forms.input = null
        this.data.list.length = 0
      }
    },
    'cart.list' () {
      console.dir('watch list cart')
      this.$emit('setlistcart', this.cart.list)
    },
    listcart () {
      if (this.listcart < 1) {
        this.cart.list.length = 0
      }
    }
  }
}
</script>

