<template>
  <section>
    <div :hidden="listitems.length < 1">
      <article class="message is-warning">
        <div class="message-header">
          <p>List Product</p>
          <button class="delete" @click="setnewsearch()"></button>
        </div>
        <div class="message-body">
          <div class="box icuser" v-for="(n,i) in filterBy(reverseItems, txtfilter, 'filtername', 'itemid', 'itemname')" :key="i" @click="setcommititems(n)" v-if="n.stop === 0">
            <div>
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img :src="returnlink(n.img)" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ n.itemid }}</strong>&nbsp;Stock:<span :class="n.stockstatusclass">&nbsp;{{ n.stockstatus }}</span>
                      <br>
                        <b><span class="">{{ n.itemname }}</span>&nbsp;</b>
                        <br />
                        <b>Price / Item:&nbsp;
                          <span class="text-danger">
                            {{ recurrency(n.itemidprice )}}
                          </span>
                          &nbsp;Bath&nbsp;&nbsp;
                        </b>
                        <b>Disc.:&nbsp;
                          <span class="text-danger">
                            {{ n.percent1 }}&nbsp;%
                          </span>
                          &nbsp;Bath
                        </b>
                    </p>
                  </div>
                </div>
              </article>
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img :src="returnlink(n.img)" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ n.itemid1 }}</strong>&nbsp;Stock:<span :class="n.stockstatusclass">&nbsp;{{ n.stockstatus }}</span>
                      <br>
                        <b><span class="">{{ n.itemname }}</span>&nbsp;</b>
                        <br />
                        <b>Price / Item:&nbsp;
                          <span class="text-danger">
                            {{ recurrency(n.itemid1price )}}
                          </span>
                          &nbsp;Bath&nbsp;&nbsp;
                        </b>
                        <b>Disc.:&nbsp;
                          <span class="text-danger">
                            {{ n.percent1 }}&nbsp;%
                          </span>
                          &nbsp;Bath
                        </b>
                    </p>
                  </div>
                </div>
              </article>
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img :src="returnlink(n.img)" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ n.itemid2 }}</strong>&nbsp;Stock:<span :class="n.stockstatusclass">&nbsp;{{ n.stockstatus }}</span>
                      <br>
                        <b><span class="">{{ n.itemname }}</span>&nbsp;</b>
                        <br />
                        <b>Price / Item:&nbsp;
                          <span class="text-danger">
                            {{ recurrency(n.itemid2price )}}
                          </span>
                          &nbsp;Bath&nbsp;&nbsp;
                        </b>
                        <b>Disc.:&nbsp;
                          <span class="text-danger">
                            {{ n.percent1 }}&nbsp;%
                          </span>
                          &nbsp;Bath
                        </b>
                    </p>
                  </div>
                </div>
              </article>
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img :src="returnlink(n.img)" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ n.itemid3 }}</strong>&nbsp;Stock:<span :class="n.stockstatusclass">&nbsp;{{ n.stockstatus }}</span>
                      <br>
                        <b><span class="">{{ n.itemname }}</span>&nbsp;</b>
                        <br />
                        <b>Price / Item:&nbsp;
                          <span class="text-danger">
                            {{ recurrency(n.itemid3price )}}
                          </span>
                          &nbsp;Bath&nbsp;&nbsp;
                        </b>
                        <b>Disc.:&nbsp;
                          <span class="text-danger">
                            {{ n.percent1 }}&nbsp;%
                          </span>
                          &nbsp;Bath
                        </b>
                    </p>
                  </div>
                </div>
              </article>
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img :src="returnlink(n.img)" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ n.itemid4 }}</strong>&nbsp;Stock:<span :class="n.stockstatusclass">&nbsp;{{ n.stockstatus }}</span>
                      <br>
                        <b><span class="">{{ n.itemname }}</span>&nbsp;</b>
                        <br />
                        <b>Price / Item:&nbsp;
                          <span class="text-danger">
                            {{ recurrency(n.itemid4price )}}
                          </span>
                          &nbsp;Bath&nbsp;&nbsp;
                        </b>
                        <b>Disc.:&nbsp;
                          <span class="text-danger">
                            {{ n.percent1 }}&nbsp;%
                          </span>
                          &nbsp;Bath
                        </b>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </article>
    </div>
    <sweet-modal blocking ref="modal" title="ระบุจำนวนที่ต้องการ / Enter Quality">
      <template>
        <figure class="image image-ava">
          <img :src="images">
        </figure>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input is-medium" v-model="forms.qty"/>
          </div>
          <div class="control">
            <a class="button is-success is-medium" slot="button" color="red" @click="closeExample()">Confirm</a>
          </div>
      </div>
      </template>
    </sweet-modal>
  </section>
</template>
<script>
import axios from 'axios'
import Vue from 'vue'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
var _ = require('lodash')
export default {
  props: {
    listcart: Array,
    txtfilter: String,
    listitems: Array,
    groupcust: String,
    customer: String
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  data () {
    return {
      ordertype: 0,
      forms: {
        qty: 0
      },
      images: 'https://bulma.io/images/placeholders/256x256.png',
      data: {
        list: []
      }
    }
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.listitems, ['filtername'], ['asc'])
    }
  },
  mounted () {
    console.dir(this.listitems)
    this.ordertype = parseInt(this.$route.params.id)
  },
  methods: {
    returnchkclass (i) {
      var b = ['box icuser', '']
      return b[i]
    },
    returnchk (n) {
      if (n.length > 0) {
        return n[0].stop
      } else {
        return 1
      }
    },
    returnlink (e) {
      if (e !== null) {
        return e
      } else {
        return 'https://bulma.io/images/placeholders/128x128.png'
      }
    },
    recurrency (e) {
      if (e) {
        return e.toLocaleString()
      } else {
        return 0
      }
    },
    loadpercent (item, custnum, custgroup) {
      console.log(item, custnum.substring(0, custnum.indexOf('-')), custgroup)
      return new Promise(resolve => {
        axios.post('/api/inventtable/percent', {
          item: item,
          group: custgroup,
          customer: custnum.substring(0, custnum.indexOf('-'))
        })
          .then(r => {
            resolve(r.data)
          })
          .catch(e => {
            resolve(e)
          })
      })
    },
    setcommititems (e) {
      this.images = e.img
      this.data.list = e
      this.forms.qty = null
      this.$refs.modal.open()
    },
    closeExample () {
      this.$refs.modal.close()
      this.images = 'https://bulma.io/images/placeholders/256x256.png'
      var bclass = ['text-primary', 'text-success', 'text-warning', 'text-success']
      var bl = 0
      let obj = this
      var b = []
      if (parseInt(this.$route.params.id) === 9) {
        if (this.listcart.length > 3) {
          bl = 0
        } else {
          bl = this.listcart.length
        }
      }
      if (this.forms.qty !== null && this.forms.qty.length > 0) {
        for (let i = 0; i <= 4; i++) {
          if (i === 0) {
            b.push({
              itemid: obj.data.list.itemid,
              itemname: obj.data.list.itemname,
              price: obj.data.list.itemidprice,
              unitid: obj.data.list.itemidunitid,
              qty: parseInt(obj.forms.qty),
              perc: parseInt(obj.data.list.percent1),
              rear: false,
              itemidcheck: obj.data.list.recid + obj.data.list.itemid,
              matchchk: obj.data.list.recid,
              txtclass: bclass[bl]
            })
          } else if (i === 1) {
            b.push({
              itemid: obj.data.list.itemid1,
              itemname: obj.data.list.item1name,
              price: obj.data.list.itemid1price,
              unitid: obj.data.list.itemi1unitid,
              qty: parseInt(obj.forms.qty),
              perc: parseInt(obj.data.list.percent1),
              rear: true,
              itemidcheck: obj.data.list.recid + obj.data.list.itemid1,
              matchchk: obj.data.list.recid,
              txtclass: bclass[bl]
            })
          } else if (i === 2) {
            b.push({
              itemid: obj.data.list.itemid2,
              itemname: obj.data.list.item2name,
              price: obj.data.list.itemid2price,
              unitid: obj.data.list.itemid2unitid,
              qty: parseInt(obj.forms.qty),
              perc: parseInt(obj.data.list.percent1),
              rear: true,
              itemidcheck: obj.data.list.recid + obj.data.list.itemid2,
              matchchk: obj.data.list.recid,
              txtclass: bclass[bl]
            })
          } else if (i === 3) {
            b.push({
              itemid: obj.data.list.itemid3,
              itemname: obj.data.list.item3name,
              price: obj.data.list.itemid3price,
              unitid: obj.data.list.itemid3unitid,
              qty: parseInt(obj.forms.qty),
              perc: parseInt(obj.data.list.percent1),
              rear: true,
              itemidcheck: obj.data.list.recid + obj.data.list.itemid3,
              matchchk: obj.data.list.recid,
              txtclass: bclass[bl]
            })
          } else {
            b.push({
              itemid: obj.data.list.itemid4,
              itemname: obj.data.list.item4name,
              price: obj.data.list.itemid4price,
              unitid: obj.data.list.itemid4unitid,
              qty: parseInt(obj.forms.qty),
              perc: parseInt(obj.data.list.percent1),
              rear: true,
              itemidcheck: obj.data.list.recid + obj.data.list.itemid4,
              matchchk: obj.data.list.recid,
              txtclass: bclass[bl]
            })
          }
        }
      } else {
        for (let i = 0; i <= 4; i++) {
          if (i === 0) {
            b.push({
              itemid: obj.data.list.itemid,
              itemname: obj.data.list.itemname,
              price: obj.data.list.itemidprice,
              unitid: obj.data.list.itemidunitid,
              qty: parseInt(0),
              perc: parseInt(obj.data.list.percent1),
              rear: false,
              itemidcheck: obj.data.list.recid + obj.data.list.itemid,
              matchchk: obj.data.list.recid,
              txtclass: bclass[bl]
            })
          } else if (i === 1) {
            b.push({
              itemid: obj.data.list.itemid1,
              itemname: obj.data.list.item1name,
              price: obj.data.list.itemid1price,
              unitid: obj.data.list.itemi1unitid,
              qty: parseInt(0),
              perc: parseInt(obj.data.list.percent1),
              rear: true,
              itemidcheck: obj.data.list.recid + obj.data.list.itemid1,
              matchchk: obj.data.list.recid,
              txtclass: bclass[bl]
            })
          } else if (i === 2) {
            b.push({
              itemid: obj.data.list.itemid2,
              itemname: obj.data.list.item2name,
              price: obj.data.list.itemid2price,
              unitid: obj.data.list.itemid2unitid,
              qty: parseInt(0),
              perc: parseInt(obj.data.list.percent1),
              rear: true,
              itemidcheck: obj.data.list.recid + obj.data.list.itemid2,
              matchchk: obj.data.list.recid,
              txtclass: bclass[bl]
            })
          } else if (i === 3) {
            b.push({
              itemid: obj.data.list.itemid3,
              itemname: obj.data.list.item3name,
              price: obj.data.list.itemid3price,
              unitid: obj.data.list.itemid3unitid,
              qty: parseInt(0),
              perc: parseInt(obj.data.list.percent1),
              rear: true,
              itemidcheck: obj.data.list.recid + obj.data.list.itemid3,
              matchchk: obj.data.list.recid,
              txtclass: bclass[bl]
            })
          } else {
            b.push({
              itemid: obj.data.list.itemid4,
              itemname: obj.data.list.item4name,
              price: obj.data.list.itemid4price,
              unitid: obj.data.list.itemid4unitid,
              qty: parseInt(0),
              perc: parseInt(obj.data.list.percent1),
              rear: true,
              itemidcheck: obj.data.list.recid + obj.data.list.itemid4,
              matchchk: obj.data.list.recid,
              txtclass: bclass[bl]
            })
          }
        }
      }
      console.dir(b)
      this.$emit('setcommititems', b)
    },
    setnewsearch () {
      this.$emit('setnewsearch')
    }
  }
}
</script>

