<template>
  <div>
    <article class="message is-info">
      <div class="message-header">
        ข้อมูลลูกค้า / Customer
        <button class="delete" @click="setnewcust()"></button>
      </div>
      <div class="message-body">
        <div class="icuser">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="../../assets/img/avatar.svg" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{ customer }}</strong> <small>&nbsp;@&nbsp;<b class="text-success">{{ salesdistrictid }}</b></small>
                  <br>
                    <b>Credit:&nbsp;&nbsp;<span class="text-danger">{{ recurrency(creditmax)}}</span>&nbsp;Bath</b>
                    &nbsp;
                    <b>Credit Balance:&nbsp;&nbsp;
                      <span class="text-danger">
                        {{ recurrency(balance)}}
                      </span>
                      &nbsp;Bath
                    </b>
                    <br />
                    <b>ส่วนลดไตรมาส / Discount:&nbsp;&nbsp;
                      <span class="text-danger">
                        {{ recurrency(tricredit) }}
                      </span>
                      &nbsp;Bath
                    </b>
                </p>
              </div>
            </div>
          </article>
        </div>
        <back-order
        :hidden="listbackorder.length < 1"
        :listbackorder="listbackorder"></back-order>
        <hr />
        <div>
          <article class="message is-success">
            <div class="message-header">
              <p>รายละเอียด</p>
            </div>
            <div class="message-body">
              <div class="field">
                <label class="label">กรุณาเลือกที่อยู่ / Please select delivery address for this order ?</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select v-model="data.slId">
                      <option v-for="(n,i) in address" :key="i" :value="n.recid" v-if="n.addresstype === 2">{{ n.name + ' status:' + returntxt(n.addresstype)}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <br />
              <div class="field">
                <label class="label">Address:&nbsp;{{ data.detail }}</label>
              </div>
              <div class="field">
                <label class="label">Transport:&nbsp;{{ data.transport }}</label>
              </div>
            </div>
          </article>
      </div>

      </div>
    </article>
  </div>
</template>
<script>
import axios from 'axios'
import BackOrder from './BackOrder'
import mock from '@/assets/js/mock'
export default {
  props: {
    customer: String,
    salesdistrictid: String,
    creditmax: Number,
    balance: Number,
    tricredit: Number,
    address: Array,
    listbackorder: Array
  },
  components: {
    BackOrder
  },
  data () {
    return {
      data: {
        slId: 0,
        detail: null,
        transport: null
      }
      // ,
      // listbackorder: []
    }
  },
  methods: {
    recurrency (e) {
      if (e) {
        return e.toLocaleString()
      } else {
        return 0
      }
    },
    setnewcust () {
      this.$emit('setnewcust')
    },
    loadbackorder (e) {
      console.log(e)
      let obj = this
      axios.post('/api/custtable/backorder', {
        custnum: e
      }, {
        headers: {
          'x-access-token': localStorage.getItem('token')
        }
      })
        .then(r => {
          console.log('backorder')
          console.dir(r.data.data)
          obj.listbackorder.length = 0
          obj.listbackorder = r.data.data
        })
        .catch(err => {
          console.dir(err)
        })
    },
    returnnull (e) {
      if (e) {
        return e
      } else {
        return ''
      }
    },
    returntxt (e) {
      // var b = ['Unknow', 'Invoice', 'Delivery', 'Documents']
      // return b[e]
      var i = mock.addresslist.map(r => r.value).indexOf(e)
      return mock.addresslist[i].title
    }
  },
  watch: {
    address () {
      if (this.address.length > 0) {
        this.data.slId = this.address[this.address.map(o => o.addresstype).indexOf(2)].recid
        this.data.detail = this.address[this.address.map(o => o.addresstype).indexOf(2)].address
      } else {
        this.data.slId = this.address[this.address.map(o => o.addresstype).indexOf(2)].recid
        this.data.detail = null
      }
    },
    'data.slId' () {
      console.log('addressid:', this.data.slId)
      if (this.data.slId !== 0) {
        var n = this.address[this.address.map(o => o.recid).indexOf(this.data.slId)]
        this.data.detail = n.address
        this.data.transport = this.returnnull(n.transport) + ' ' + this.returnnull(n.telnotransport) + ' ' + this.returnnull(n.remarktransport)
      } else {
        this.data.detail = null
        this.data.transport = null
      }
      this.$emit('setaddress', this.data.slId)
    }
    // ,
    // customer () {
    //   if (this.customer !== null) {
    //     console.log(this.customer.substring(0, this.customer.indexOf('-')))
    //     this.loadbackorder(this.customer.substring(0, this.customer.indexOf('-')))
    //   }
    // }
  }
}
</script>

