<template>
  <section>
    <div :hidden="listitems.length < 1">
      <article class="message is-warning">
        <div class="message-header">
          <p>List Product</p>
          <button class="delete" @click="setnewsearch()"></button>
        </div>
        <div class="message-body">
          <!-- <div class="box icuser" v-for="(n,i) in filterBy(reverseItems, txtfilter, 'filtername', 'itemid', 'itemname')" :key="i" @click="setcommititems(n)" v-if="n.inventtable[0].stop === 0"> -->
            <div v-for="(n,i) in filterBy(reverseItems, txtfilter, 'filtername', 'itemid', 'itemname')" :key="i" @click="setcommititems(n)" v-if="returnchk(n.inventtable) === 0" :class="returnchkclass(returnchk(n.inventtable))">
              <article class="media" v-for="(x, u) in n.inventtable" :key="u" v-if="x.stop === 0">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img :src="returnlink(x.img)" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>{{ n.itemid }}</strong>&nbsp;Stock:<strong :class="x.stockstatusclass">&nbsp;{{ x.stockstatus }}</strong>
                        <br>
                          <b><span class="">{{ n.itemname }}</span>&nbsp;</b>
                          <br />
                          <b>Price / Item:&nbsp;
                            <span class="text-danger">
                              {{ recurrency(x.price)}}
                            </span>
                            &nbsp;Bath&nbsp;&nbsp;
                          </b>
                          <b>Disc.:&nbsp;
                            <span class="text-danger">
                              {{ n.percent1 }}&nbsp;%
                            </span>
                            &nbsp;Bath
                          </b>
                          <span v-if='n.itemspecial.length > 0'>
                            <br />
                            <!-- <strong class='text-danger'>{{ renamenitemspecial(n.itemspecial) }}</strong>
                            &nbsp; -->
                            <strong>เฉพาะ&nbsp;<span class='text-danger'>{{ renamenitemspecialcustname(n.itemspecial) }}</span>&nbsp;เท่านั้น</strong>
                          </span>
                      </p>
                    </div>
                  </div>
              </article>
            </div>
        </div>
      </article>
    </div>
    <sweet-modal blocking ref="modal" title="ระบุจำนวนที่ต้องการ / Enter Quality">
      <template>
        <!-- <figure class="image image-ava">
          <img :src="images">
        </figure> -->
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input is-medium" v-model="forms.qty"/>
          </div>
          <div class="control">
            <a class="button is-success is-medium" slot="button" color="red" @click="closeExample()">Confirm</a>
          </div>
      </div>
      </template>
    </sweet-modal>
    <sweet-modal icon="warning" blocking ref="modalwarning">
      <div>
        <!-- <strong class="text-danger">{{ info.customer  }}</strong>
        <br /> -->
        <strong class="text-primary">{{ info.msg }}</strong>
      </div>
    </sweet-modal>
  </section>
</template>
<script>
import axios from 'axios'
import Vue from 'vue'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
var _ = require('lodash')
export default {
  props: {
    txtfilter: String,
    listitems: Array,
    groupcust: String,
    customer: String
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  data () {
    return {
      forms: {
        qty: 0
      },
      images: 'https://bulma.io/images/placeholders/256x256.png',
      data: {
        list: []
      },
      info: {
        customer: null,
        msg: null
      }
    }
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.listitems, ['filtername'], ['asc'])
    }
  },
  mounted () {
    console.dir(this.listitems)
  },
  methods: {
    renamenitemspecial (e) {
      let x = this.customer.substring(0, this.customer.indexOf('-'))
      var ind = e.map(g => g.custaccount).indexOf(x)
      if (ind >= 0) {
        return e[ind].notesline
      } else {
        return e[0].notesline
      }
    },
    renamenitemspecialcustname (e) {
      // let x = this.customer.substring(0, this.customer.indexOf('-'))
      // var ind = e.map(g => g.custaccount).indexOf(x)
      var b = []
      e.forEach(r => {
        b.push(r.custname)
      })
      return b.toString()
    },
    returnchkclass (i) {
      var b = ['box icuser', '']
      return b[i]
    },
    returnchk (n) {
      if (n.length > 0) {
        return n[0].stop
      } else {
        return 1
      }
    },
    returnlink (e) {
      if (e !== null) {
        return e
      } else {
        return 'https://bulma.io/images/placeholders/128x128.png'
      }
    },
    recurrency (e) {
      if (e) {
        return e.toLocaleString()
      } else {
        return 0
      }
    },
    loadpercent (item, custnum, custgroup) {
      console.log(item, custnum.substring(0, custnum.indexOf('-')), custgroup)
      return new Promise(resolve => {
        axios.post('/api/inventtable/percent', {
          item: item,
          group: custgroup,
          customer: custnum.substring(0, custnum.indexOf('-'))
        })
          .then(r => {
            resolve(r.data)
          })
          .catch(e => {
            resolve(e)
          })
      })
    },
    reitemspecialtxt (e) {
      var b = []
      e.forEach(x => {
        if (x.notesline) {
          b.push(x.notesline)
        }
      })
      return b.toString()
    },
    setcommititems (e) {
      if (e.itemspecial.length < 1) {
        this.images = e.inventtable[0].img
        this.data.list = e
        this.forms.qty = null
        this.$refs.modal.open()
      } else {
        this.info.customer = 'เฉพาะ ' + this.renamenitemspecialcustname(e.itemspecial) + ' เท่านั้น'
        this.info.msg = this.reitemspecialtxt(e.itemspecial)
        let x = this.customer.substring(0, this.customer.indexOf('-'))
        var ind = e.itemspecial.map(g => g.custaccount).indexOf(x)
        if (ind >= 0) {
          this.images = e.inventtable[0].img
          this.data.list = e
          this.forms.qty = null
          this.$refs.modal.open()
        } else {
          this.$refs.modalwarning.open()
        }
      }
    },
    checkspe (item) {
      return new Promise(resolve => {
        axios.post('/api/inventtable/spclist', {
          item: item
        })
          .then(r => {
            resolve(r.data)
          })
          .catch(e => {
            resolve(e)
          })
      })
    },
    closeExample () {
      this.$refs.modal.close()
      this.images = 'https://bulma.io/images/placeholders/256x256.png'
      console.log(this.forms.qty)
      console.dir(this.data.list)
      let obj = this
      var b
      if (this.forms.qty !== null) {
        var x = obj.data.list.inventtable
        console.log(x.length)
        b = [{
          itemid: obj.data.list.itemid,
          itemname: obj.data.list.itemname,
          price: obj.data.list.inventtable[0].price,
          unitid: obj.data.list.inventtable[0].unitid,
          qty: parseInt(obj.forms.qty),
          perc: parseInt(obj.data.list.percent1)
        }]
      } else {
        b = [{
          itemid: obj.data.list.itemid,
          itemname: obj.data.list.itemname,
          price: obj.data.list.inventtable[0].price,
          unitid: obj.data.list.inventtable[0].unitid,
          qty: parseInt(0),
          perc: parseInt(obj.data.list.percent1)
        }]
      }
      this.$emit('setcommititems', b[0])
    },
    setnewsearch () {
      this.$emit('setnewsearch')
    }
  }
}
</script>

