<template>
  <div>
    <div class="container">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสลูกค้า" v-model="txtfilter">
          </div>
          <div class="control">
            <a class="button is-info is-medium">
              Search
            </a>
          </div>
        </div>
        <div>
          <div class="box" v-for="(n,i) in filterBy(reverseItems, txtfilter)" :key="i"  @click="showdetail(n)">
            <article class="media">
              <figure class="media-left">
                <p class="image is-96x96">
                  <img src="../../../assets/img/cart.svg">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{ n.customer }}</strong>&nbsp;<small>@</small>&nbsp;<strong>{{ n.salesdistrictid }}</strong>
                    <br>
                    <strong>Total:&nbsp;<b class="text-danger">{{ reqty(n.orderline) }}</b></strong>
                    &nbsp;&nbsp;
                    <strong>Order Date:&nbsp;<b class="text-danger">{{ redate(n.updateat) }}</b></strong>
                    <br />
                    <strong>Type:&nbsp;<b :class="returnclass(n.ordertype)">{{ 'order '+ n.ordertype }}</b></strong>&nbsp;&nbsp;
                    <strong>Status:&nbsp;<b :class="returnclass(n.approve)">{{ returnapprove(n.approve) }}</b></strong>
                    <br />
                    <strong>Sync Status:&nbsp;<b :class="returnclass(n.syncstatus)">{{ reorder(n.syncstatus) }}</b></strong>&nbsp;&nbsp;
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
    </div>
  </div>
</template>
