<template>
  <div>
    <br />
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสลูกค้า" v-model="txtfilter">
      </div>
      <div class="control">
        <a class="button is-info is-medium" @click="searchorder()">
          Search
        </a>
      </div>
    </div>
    <div>
      <div class="box" v-for="(n,i) in filterBy(reverseItems, txtfilter)" :key="i"  @click="showdetail(n.claimline)">
        <article class="media">
          <figure class="media-left">
            <p class="image is-96x96">
              <img src="../../../assets/img/cart.svg">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ n.claimnumber }}</strong>
                <br />
                <strong>{{ n.title }}</strong>&nbsp;<small>@</small>&nbsp;<strong>{{ n.territory }}</strong>
                <br>
                <strong>Claim Date:&nbsp;<b class="text-danger">{{ redate(n.created_at) }}</b></strong>
                <br />
                <strong>Remark:&nbsp;<b class="text-success">{{ n.remark }}</b></strong>
                <br />
                <strong>Status:&nbsp;<b :class="returnorderclassapp(n.approvestatus)">{{ reapprovestatus(n.approvestatus) }}</b></strong>&nbsp;&nbsp;
                <strong>Sync Status:&nbsp;<b :class="returnorderclassapp(n.sysncstatus)">{{ reapprovestatussync(n.sysncstatus) }}</b></strong>
              </p>
            </div>
          </div>
        </article>
      </div>
      <br />
    </div>
    <sweet-modal title="Claim Detail" ref="modalorder">
      <br />
      <div class="box" v-for="(n,i) in data.line" :key="i" >
        <article class="media">
          <figure class="media-left">
            <p class="image is-96x96">
              <img src="../../../assets/img/cart.svg">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ n.items }}</strong><strong>@&nbsp;<b class="text-danger">{{ redate(n.created_at) }}</b></strong>
                <br />
                <strong>{{ n.itemsname }}</strong>
                <br />
                <strong>Couse:&nbsp;<b class="text-success">{{ n.cousestatus }}</b></strong>&nbsp;&nbsp;
                <strong class="text-success">{{ n.couseissue }}</strong>
                <br />
                <strong>Remark:&nbsp;<b class="text-success">{{ n.remarkcouse }}</b></strong>&nbsp;&nbsp;
                <strong>Comments:&nbsp;<b class="text-success">{{ n.comment }}</b></strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </sweet-modal>
    <sweet-modal icon="success" ref="modal">
      Successfully
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
const fn = require('@/assets/js/greeter')
let _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'แจ้งผลงานเคลม'
    }
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      project: [],
      fn: fn,
      txtfilter: null,
      listclaim: [],
      data: {
        line: []
      }
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.listclaim, ['approvestatus', 'updated_at'], ['asc', 'desc'])
    }
  },
  mounted () {
    this.$refs.modalloading.open()
    this.loadclaim()
      .then(r => {
        console.dir(r)
        this.$refs.modalloading.close()
        this.listclaim = r
      })
  },
  methods: {
    closemodal () {
      this.$refs.modalorder.close()
    },
    showdetail (i) {
      console.dir(i)
      this.$refs.modalorder.open()
      this.data.line = i
    },
    searchorder () {
      var obj = this
      obj.$refs.modalloading.open()
      obj.listclaim = []
      this.loadclaim()
        .then(r => {
          console.dir(r)
          obj.$refs.modalloading.close()
          this.listclaim = r
        })
    },
    redate (i) {
      var n = new Date(i)
      return ('0' + n.getDate()).slice(-2) + '-' + ('0' + (n.getMonth() + 1)).slice(-2) + '-' + n.getFullYear()
    },
    returnorderclass (i) {
      var b = ['text-danger', 'text-warning', 'text-primary', 'text-success', 'text-info', 'text-danger']
      return b[i]
    },
    returnorderclassapp (i) {
      var b = ['text-danger', 'text-success', 'text-info', 'text-danger']
      return b[i]
    },
    reapprovestatussync (i) {
      var b = ['Wait Sync', 'Sync Completed']
      return b[i]
    },
    reapprovestatus (i) {
      var b = ['Wait Approve', 'Approved']
      return b[i]
    },
    loadclaim () {
      return new Promise(resolve => {
        axios.post('/api/claim', {
          empcode: localStorage.getItem('empcode'),
          customer: this.txtfilter,
          territory: localStorage.getItem('territory')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    }
  }
}
</script>
<style>
.sweet-modal.is-alert .sweet-content {
    display: block;
    text-align: center;
    font-size: 16px;
    padding-top: 64px !important;
    padding-bottom: 64px;
}
</style>

