<template>
  <div>
    <br />
    <div>
      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสลูกค้า" id="txtcustomer" v-model="forms.txtcustomer">
        </div>
        <div class="control">
          <a  :class="classcustomer" @click="searchcust()">Search</a>
        </div>
      </div>
      <div :hidden="listaccount === false">
        <hr />
          <cust-adjustment
          :divlistaccount = "listaccount"
          :txtfilter="forms.txtcustomer"
          @commitdata="commitdata($event)"></cust-adjustment>
        <hr />
      </div>
      <div class="field">
        <label class="label">วงเงินเดิมคงเหลือ / Remaining balance</label>
        <div class="control has-icons-right is-disabled is-expanded">
          <input class="input" type="text" :value="returncurrency(forms.creditmax)" disabled>
          <span class="icon is-small is-right">
            <i class="fa fa-usd"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">วงเงินเครดิตเดิม / Credit</label>
        <div class="control has-icons-right is-disabled is-expanded">
          <input class="input" type="text" :value="returncurrency(forms.credit)" disabled>
          <span class="icon is-small is-right">
            <i class="fa fa-usd"></i>
          </span>
        </div>
      </div>
      <div :hidden="forms.overdue < 1">
        <h6 class="text-danger">
        overdue at&nbsp;<b class="text-danger">{{returnmonth(forms.monthoverdue)}}</b>
        &nbsp;
        overdue:&nbsp;<b class="text-danger">{{returncurrency(forms.balanceoverdue)}}</b></h6>
      </div>
      <div class="field" :hidden="forms.overdue < 1">
        <br />
        <div class="control">
          <textarea class="textarea is-primary" type="text" placeholder="ระบุเหตุผลที่ร้องขอ" v-model="forms.remark"></textarea>
        </div>
        <br />
      </div>
      <div class="field">
        <label class="label">วงเงินเครดิตใหม่ / New Credit</label>
        <div class="control has-icons-right is-disabled is-expanded">
          <cleave class="input is-success is-expanded" placeholder="ระบุวงเงิน" v-model="forms.newcredit" :options="{numeral: true,numeralThousandsGroupStyle: 'thousand'}"></cleave>
          <span class="icon is-small is-right">
            <i class="fa fa-usd"></i>
          </span>
        </div>
      </div>

    </div>
    <br />
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <a :class="btnclasssubmit" @click="savecredit()">Save</a>
      </p>
      <p class="control">
        <a :class="btnclassclear" @click="cleardata()">Cancel</a>
      </p>
    </div>
    <sweet-modal icon="error" title="OOPS…" ref="modalerr">
      {{ info.msg }}
    </sweet-modal>
    <sweet-modal icon="success" title="SUCCESS…" ref="modelsuccess">
      {{ info.msg }}
    </sweet-modal>
  </div>
</template>
<script>
  import axios from 'axios'
  import Cleave from '@/node_modules/vue-cleave'
  import CustAdjustment from '@/components/CustomerList/CustAdjustment'
  import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
  export default {
    layout: 'main',
    head () {
      return {
        title: 'CRM CLOUD SERVICE - ADJUSTMENTS CREDIT'
      }
    },
    components: {
      Cleave,
      CustAdjustment,
      SweetModal,
      SweetModalTab
    },
    data () {
      return {
        forms: {
          adjustmentcode: null,
          msg: 'เลือกลูกค้า / Select Customer',
          txtcustomer: null,
          txtname: null,
          txtnumber: null,
          credittype: 0,
          credit: 0,
          creditmax: 0,
          newcredit: '0',
          overdue: 0,
          monthoverdue: 0,
          balanceoverdue: 0,
          remark: null,
          territory: null
        },
        classcustomer: 'button is-success is-medium',
        btnclasssubmit: 'button is-success is-large',
        btnclassclear: 'button is-danger is-large',
        typeautocomplete: true,
        title: 'รายชื่อลูกค้า / List customer',
        listaccount: false,
        info: {
          msg: null
        },
        mail: {
          title: null,
          body: null,
          name: null
        }
      }
    },
    methods: {
      returnmonth (e) {
        var b = ['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
        return b[e]
      },
      reclass (i) {
        var b = ['text-success', 'text-danger']
        return b[i]
      },
      returncurrency (txt) {
        if (txt === null) {
          return 0
        } else {
          return txt.toLocaleString()
        }
      },
      checkcredit (txt) {
        var b = ['Active', 'Close']
        return b[txt]
      },
      indextxtinside (e) {
        var obj = this
        obj.classcustomer = 'button is-warning is-loading'
        obj.typeautocomplete = true
        console.dir(e.target.value)
        if (e.target.value.length > 2) {
          obj.typeautocomplete = false
        } else {
          obj.typeautocomplete = true
        }
      },
      searchcust () {
        this.classcustomer = 'button is-warning is-loading is-medium'
        // this.forms.txtcustomer = e.filtername
        this.forms.txtname = null
        this.forms.txtnumber = null
        this.forms.credittype = 0
        this.forms.credit = 0
        this.forms.creditmax = 0
        this.forms.newcredit = '0'
        this.forms.overdue = 0
        this.forms.monthoverdue = 0
        this.forms.balanceoverdue = 0
        this.forms.remark = null
        this.listaccount = false
        this.listaccount = true
        this.classcustomer = 'button is-success is-medium'
        // if (this.forms.txtcustomer != null) {
        //   this.listaccount = true
        //   this.classcustomer = 'button is-success'
        // } else {
        //   this.listaccount = true
        //   this.$refs.modalerr.open()
        //   this.info.msg = 'ไม่พบข้อมูล'
        //   this.classcustomer = 'button is-success'
        // }
      },
      commitdata (e) {
        // this.forms.msg = 'เลือกลูกค้า'
        this.forms.txtcustomer = e.filtername
        this.forms.txtname = e.name
        this.forms.txtnumber = e.accountnum
        this.forms.adjustmentcode = null
        this.forms.territory = e.salesdistrictid
        this.forms.credit = e.creditmax
        this.forms.creditmax = e.creditbalance
        this.forms.newcredit = '0'
        this.forms.overdue = e.overdue
        this.forms.monthoverdue = e.monthoverdue
        this.forms.balanceoverdue = e.balanceoverdue
        // this.forms.remark = null
        this.forms.remark = e.remark
        this.listaccount = false
      },
      insertdata () {
        // var str = this.forms.newcredit
        // str = str.replace(/,/g, '')
        // this.forms.newcredit = parseFloat(str)
        return new Promise(resolve => {
          axios.post('/api/adjustments/credit', {
            data: this.forms
          }, {
            headers: {
              'x-access-token': localStorage.getItem('token')
            }
          })
            .then(r => {
              resolve(r)
            })
        })
      },
      savecredit () {
        // console.dir(this.forms)
        this.btnclasssubmit = 'button is-warning is-loading'
        this.insertdata()
          .then(r => {
            console.dir(r.data.adjust.key)
            this.btnclasssubmit = 'button is-success is-large'
            // send line and email

            this.mail.title = 'รบกวน Sup./Sales อนุมัติร้องขอ ' + this.forms.msg + ' วงเงินเครดิตร้าน ' + this.forms.txtcustomer
            this.mail.body = 'รบกวน Sup./Sales อนุมัติร้องขอ ' + this.forms.msg + ' วงเงินเครดิต วงเงินเครดิตร้าน ' + this.forms.txtcustomer + 'ของเขตการขาย ' + this.forms.territory + ' ด้วยครับ'
            this.mail.name = 'บันทึกร้องขอ ' + this.forms.msg + ' วงเงินเครดิต วงเงินเครดิตร้าน ' + this.forms.txtcustomer + 'ของเขตการขาย ' + this.forms.territory + ' เรียบร้อยแล้ว'
            console.dir(this.mail)
            var obj = this
            axios.post('/api/line', {
              message: obj.mail.name
            })
              .then(res => {
                this.info.msg = 'Successfully'
                this.$refs.modelsuccess.open()
                setTimeout(() => {
                  location.reload()
                }, 1000)
              })
            // axios.post('/api/mailer', {
            //   data: this.mail
            // }, {
            //   headers: {
            //     'x-access-token': localStorage.getItem('token')
            //   }
            // })
            //   .then(r => {
            //     axios.post('/api/line', {
            //       message: obj.mail.name
            //     })
            //       .then(res => {
            //         this.info.msg = 'บันทึกข้อมูลเสร็จแล้ว'
            //         this.$refs.modelsuccess.open()
            //         setTimeout(() => {
            //           location.reload()
            //         }, 3000)
            //       })
            //   })
          })
      }
    },
    watch: {
      'forms.newcredit' () {
        var str = this.forms.newcredit
        str = str.replace(/,/g, '')
        if (parseInt(str) > this.forms.creditmax) {
          this.forms.credittype = 1
          this.forms.msg = 'เพิ่ม'
        } else {
          this.forms.credittype = 0
          this.forms.msg = 'ลด'
        }
      }
    }
  }
</script>
