<template>
  <div>
    <div class="">
      <div class="text-rigth">
        <button class="button is-danger" @click="getAnoteDialog()">แนบเอกสาร</button>
      </div>
      <br />
      <div :hidden='imgdoc.length > 0'>
          <figure class="image is-128x128">
            <img src="http://bulma.io/images/placeholders/128x128.png">
          </figure>
        </div>
        <div class="columns">
          <div class="column"  v-for='(n,i) in imgdoc' :key='i' @click="showimg(n)">
            <strong>{{ n.title }}</strong>
            <figure class="image is-128x128">
              <img :src="n.img" />
            </figure>
          </div>
      </div>
      <div :hidden="true">
        <div class="file has-name is-primary">
        <label class="file-label">
          <input
          class="file-input"
          type="file"
          accept="image/*"
          name="resume"
          id="txtfile"
          @change='getAnote($event)'
          >
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              แนบเอกสาร
              <!-- ภพ.20/หนังสือรับรอง/เอกสารจดทะเบียนพานิช (Certificate / Commercial Registration) -->
            </span>
          </span>
        </label>
      </div>
      </div>
      <!---->
    </div>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking ref="modaldialog">
      <div class="text-left">
        <p class="menu-label">
          เลือกรายการที่ต้องการแนบ
        </p>
        <ul class="menu-list">
          <li v-for="(n, i) in mock.documentsnewaccount" :key="i" @click="gettxtfile(n.id)"><a class="is-danger">{{ n.title }}</a></li>
        </ul>
      </div>
    </sweet-modal>
    <sweet-modal ref="modalimages" hide-close-button>
      <figure class="image is-square">
        <img :src="imgslc" />
      </figure>
      <br />
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a class="button is-danger is-medium" @click="delmodel()">
            Del.
          </a>
        </p>
        <p class="control">
          <a class="button is-light is-medium" @click="closemodel()">
            Cancel
          </a>
        </p>
      </div>
    </sweet-modal>
    <sweet-modal blocking icon="error" ref="modalerr">
      กรุณาระบุข้อมูลเบื้องต้นก่อน
      <br />
      Please provide basic information.
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Cleave from '@/node_modules/vue-cleave'
import assets from '@/assets/js/imgtoblob'
import guuid from '@/assets/js/greeter'
import mocker from '@/assets/js/mock'
import $ from 'jquery'
export default {
  props: {
    txtid: String,
    images: Array
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      list: [],
      annote: {
        doc1: [],
        doc2: [],
        doc3: [],
        doc4: []
      },
      img: {
        doc: []
      },
      imgdoc: [],
      imgslc: null,
      imgpath: null,
      imgcode: null,
      mock: mocker,
      doctype: 0
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader,
    Cleave
  },
  methods: {
    showimg (n) {
      this.$refs.modalimages.open()
      this.imgslc = n.img
      this.imgcode = n.code
      this.imgpath = n.pathname
    },
    annotedata (type, annote) {
      return new Promise(resolve => {
        var obj = this
        const guid = guuid.GenCode()
        axios.post('/api/annote/new/account', {
          txtid: obj.txtid,
          data: annote,
          typedoc: type
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            obj.$refs.modalloading.close()
            resolve(guid)
          })
      })
    },
    annotedel (guid) {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/annote/del', {
          recid: guid
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            setTimeout(() => {
              obj.$refs.modalloading.close()
              resolve(guid)
            }, 3000)
          })
      })
    },
    doUpload (event, txt, type) {
      return new Promise(resolve => {
        let ptname = '/SALES-CRM/' + localStorage.getItem('territory') + '-CRM/NEW_CUSTOMER/' + this.txtid + '/'
        var ind = this.mock.documentsnewaccount.map(e => e.id).indexOf(this.doctype)
        var name = this.mock.documentsnewaccount[ind].title
        console.dir(name)
        assets.doUpload(event, name, ptname)
          .then(r => {
            resolve(r)
          })
      })
    },
    getAnoteDialog () {
      if (!this.txtid) {
        this.$refs.modalerr.open()
      } else {
        this.doctype = 0
        this.$refs.modaldialog.open()
      }
    },
    gettxtfile (id) {
      this.doctype = id
      this.$refs.modaldialog.close()
      $('#txtfile').trigger('click')
    },
    getAnote (e) {
      const guid = guuid.GenCode()
      if (!this.txtid) {
        this.$refs.modalerr.open()
      } else {
        var obj = this
        // obj.$refs.modaldialog.open()
        obj.$refs.modalloading.open()
        assets.getFile(e.target.files[0]).then(r => {
          obj.doUpload(e, guid)
            .then(rd => {
              var ind = obj.mock.documentsnewaccount.map(ee => ee.id).indexOf(obj.doctype)
              obj.imgdoc.push({
                code: guid,
                img: r,
                pathname: rd.pathname,
                title: obj.mock.documentsnewaccount[ind].title
              })
              obj.img.doc.push({
                code: guid,
                title: obj.mock.documentsnewaccount[ind].title,
                pathname: rd.pathname,
                type: obj.doctype
              })
              obj.annotedata(obj.doctype, obj.img.doc)
                .then(rdoc => {
                  obj.$refs.modalloading.close()
                })
            })
        })
      }
    },
    removeimg (i, obj) {
      var o = this
      o.$refs.modalloading.open()
      this.annotedel(obj[i].recid)
        .then(r => {
          obj.splice(i, 1)
          o.$refs.modalloading.close()
        })
    },
    delmodel () {
      // var o = this
      // o.$refs.modalloading.open()
      var ind = this.imgdoc.map(e => e.code).indexOf(this.imgcode)
      this.deleteimageslink(this.imgpath)
        .then(r => {
          this.imgdoc.splice(ind, 1)
          this.$refs.modalimages.close()
        })
      // this.imgcode = n.code
      // this.imgpath = n.pathname
    },
    closemodel () {
      this.$refs.modalimages.close()
    },
    deleteimageslink (txt, i) {
      return new Promise(resolve => {
        console.dir(txt)
        let token = 'EzaPxEj8x2AAAAAAAAA2kyELVweAKCBfQvfY0cxCGx3mb_cTmtr4ktM7W3M3TAtt'
        var settings = {
          async: true,
          crossDomain: true,
          url: 'https://api.dropboxapi.com/2/files/delete_v2',
          method: 'POST',
          headers: {
            'authorization': 'Bearer ' + token,
            'content-type': 'application/json'
          },
          data: JSON.stringify({path: txt})
        }
        $.ajax(settings).done(data => {
          resolve()
        })
      })
    },
    getimageslink (txt, i) {
      return new Promise(resolve => {
        console.dir(txt.path_display)
        let token = 'EzaPxEj8x2AAAAAAAAA2kyELVweAKCBfQvfY0cxCGx3mb_cTmtr4ktM7W3M3TAtt'
        var settings = {
          async: true,
          crossDomain: true,
          url: 'https://api.dropboxapi.com/2/sharing/create_shared_link',
          method: 'POST',
          headers: {
            'authorization': 'Bearer ' + token,
            'content-type': 'application/json'
          },
          data: JSON.stringify({path: txt.path_display, short_url: false})
        }
        $.ajax(settings).done(data => {
          console.dir(data)
          var u = data.url
          console.log(u)
          var link = 'https://dl.dropboxusercontent.com/' + u.substr(24, u.length)
          const guid = guuid.GenCode()
          this.imgdoc.push({
            code: guid,
            pathname: txt.path_display,
            title: 'เอกสารประกอบ',
            img: link
          })
          resolve(i)
        })
      })
    },
    loaddata () {
      return new Promise(resolve => {
        let token = 'EzaPxEj8x2AAAAAAAAA2kyELVweAKCBfQvfY0cxCGx3mb_cTmtr4ktM7W3M3TAtt'
        require('isomorphic-fetch')
        var Dropbox = require('dropbox').Dropbox
        var dbx = new Dropbox({ accessToken: token })
        var xpath = '/SALES-CRM/D01-CRM/NEW_CUSTOMER/' + this.txtid + '/'
        console.log(xpath)
        dbx.filesListFolder({path: xpath})
          .then(response => {
            // https://www.dropbox.com/home/
            var gdata = response.entries
            var x = 0
            var Arr = () => {
              this.getimageslink(gdata[x], x)
                .then(rd => {
                  x++
                  if (x >= (gdata.length - 1)) {
                    resolve()
                  } else {
                    Arr()
                  }
                })
            }
            Arr()
          })
      })
    }
  },
  watch: {
    images () {
      if (this.images) {
        if (this.images.length > 0) {
          this.img.doc = this.images
        } else {
          this.img.doc = []
        }
      } else {
        this.img.doc = []
      }
      console.dir(this.img.doc)
      console.log('imagespath')
    },
    txtid () {
      // this.$refs.modalloading.open()
      var obj = this
      if (this.txtid !== null) {
        if (this.txtid.length > 16) {
          setTimeout(() => {
            obj.loaddata().then(r => {
              obj.img.doc = obj.images
              obj.$refs.modalloading.close()
            })
          }, 3000)
        }
      } else {
        this.$refs.modalloading.close()
      }
    }
  }
}
</script>

