<template>
  <div>
    <div class="column">
      <div class="field is-grouped is-grouped-right">
        <div class="control">
            <div class="select">
              <select v-model="forms.territory">
                <option>Select Territory.</option>
                <option v-for="(n,i) in listterritory" :key="i" :value="n">{{ n }}</option>
              </select>
            </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="tile is-ancestor">
          <div class="tile is-parent is-6">
            <article class="tile is-child">
              <div class="block">
                    <label class="label">ระบุเลขที่ผู้เสียภาษี / Taxpayer identification number.</label>
                    <div class="field has-addons">
                      <div class="control is-expanded">
                        <Cleave
                        class="input is-medium"
                        placeholder="Taxpayer identification number."
                        v-model="forms.txtid"
                        :disabled="forms.classtxtid"
                        :options='cleaveOptionstztxtid'
                        id='txtxid'
                        @keydown="setkeyup()"
                        ></Cleave>
                      </div>
                      <div class="control">
                        <a class="button is-warning is-medium" @click="resettxtid()">
                          Edit
                        </a>
                      </div>
                    </div>
                    <br />
                    <label class="label">ชื่อร้านค้า / Name</label>
                    <div class="control has-icon has-icon-right">
                      <input
                      class="input is-medium"
                      type="text"
                      placeholder="ระบุชื่อร้านค้า"
                      v-model="forms.txtname"
                      @blur="updatecusttable()"
                      >
                      <span class="icon is-small">
                        <i class="fa fa-check"></i>
                      </span>
                    </div>
                    <br />
                    <label class="label">ชื่อ-สกุลเจ้าของร้าน / Firstname - Lastname</label>
                    <div class="control has-icon has-icon-right">
                      <input class="input is-medium"
                      type="text" placeholder="ระบุชื่อ-สกุลเจ้าของร้าน"
                      v-model="forms.txtcustname"
                       @blur="updatecusttable()">
                      <span class="icon is-small">
                        <i class="fa fa-user"></i>
                      </span>
                    </div>
                    <br />
                    <label class="label">วันเกิดเจ้าของร้าน / Birthday</label>
                    <div class="control has-icon has-icon-right">
                      <Cleave
                      class="input is-medium"
                      type="text"
                      placeholder="ระบุวันเกิดเจ้าของร้าน"
                      id="txtdatebirth"
                      :options='cleaveOptions'
                      v-model="forms.txtdatebirth"
                       @blur="updatecusttable()"
                      ></Cleave>
                      <!-- <input class="input is-medium" type="text" placeholder="ระบุวันเกิดเจ้าของร้าน" v-model="forms.txtdatebirth"> -->
                      <span class="icon is-small">
                        <i class="fa fa-user"></i>
                      </span>
                    </div>
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child">
              <div class="block">
                    <label class="label">เบอร์โทรติดต่อ / Phone Number.</label>
                    <div class="control has-icon has-icon-right">
                      <input
                      class="input is-medium"
                      type="text"
                      placeholder="เบอร์โทรติดต่อ"
                       @blur="updatecusttable()"
                       v-model='forms.txttelno'
                      >
                      <span class="icon is-small">
                        <i class="fa fa-phone"></i>
                      </span>
                    </div>
                    <br />
                    <label class="label">Fax</label>
                    <div class="control has-icon has-icon-right">
                      <input
                      class="input is-medium"
                      type="text"
                      placeholder="Fax"
                      @blur="updatecusttable()"
                      v-model='forms.txtfax'
                      >
                      <span class="icon is-small">
                        <i class="fa fa-fax"></i>
                      </span>
                    </div>
                    <br />
                    <label class="label">Email</label>
                    <div class="control has-icon has-icon-right">
                      <input
                      class="input is-medium"
                      type="email"
                      placeholder="Email input"
                      v-model='forms.txtemail'
                      @blur="updatecusttable()"
                      >
                      <span class="icon is-small">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                    <br />
                    <div class="">
                      <label class="label">ประเภทสำนักงาน / Business Type.</label>
                      <div class="select is-fullwidth is-medium">
                        <select v-model='forms.txtbussinesstype'>
                          <option v-for="(n,i) in mock.listcustomertype" :key="i" :value='n.value'>{{n.title}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="">
                      <label class="label">ประเภทบุคคล / Individuals</label>
                      <div class="select is-fullwidth is-medium">
                        <select v-model='forms.txtcustomertype'>
                          <option v-for="(n,i) in mock.customertype" :key="i" :value='n.value'>{{n.title}}</option>
                        </select>
                      </div>
                    </div>
                    <div :hidden="forms.txtbussinesstype === 1">
                      <br />
                      <div class="control has-icon has-icon-right">
                        <input
                        class="input is-medium"
                        type="text"
                        placeholder="สำนักงานย่อย"
                        v-model='forms.txtbussiness'
                        @blur="updatecusttable()">
                        <span class="icon is-small">
                          <i class="fa fa-warning"></i>
                        </span>
                      </div>
                    </div>
                  </div>
            </article>
          </div>
        </div>
      </div>
    </div>

    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking icon="success" ref="modalsuccess">
      {{ info.msg }}
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Cleave from '@/node_modules/vue-cleave'
import mocker from '@/assets/js/mock'
// import $ from 'jquery'
let n = new Date()
let m = ('0' + n.getDate()).slice(-2) + '-' + ('0' + (n.getMonth() + 1)).slice(-2) + '-' + n.getFullYear()
export default {
  props: {
    txtid: String,
    checkednull: Number
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      listterritory: [],
      forms: {
        classtxtid: false,
        txtid: null,
        txtname: null,
        txtcustname: null,
        txtdatebirth: m,
        territory: 0,
        txtterritory: null,
        txttelno: '',
        txtfax: '',
        txtemail: '',
        txtbussinesstype: 1,
        strbussinesstype: null,
        txtcustomertype: 1,
        strcustomertype: null,
        txtbussiness: '',
        social: [],
        images: []
      },
      cleaveOptionstztxtid: {
        delimiter: '-',
        blocks: [1, 4, 5, 2, 1],
        uppercase: true
      },
      cleaveOptions: {
        date: true,
        datePattern: ['d', 'm', 'Y']
      },
      info: {
        msg: 'Successfully.'
      },
      mock: mocker
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader,
    Cleave
  },
  mounted () {
    var obj = this
    var n = new Date()
    document.getElementById('txtdatebirth').value = ('0' + n.getDate()).slice(-2) + '/' + ('0' + (n.getMonth() + 1)).slice(-2) + '/' + n.getFullYear()
    this.forms.strbussinesstype = this.mock.listcustomertype[0].title
    this.forms.strcustomertype = this.mock.customertype[0].title
    this.loadterritory().then(r => {
      // console.dir(r)
      obj.listterritory = r
      obj.forms.territory = localStorage.getItem('territory')
      obj.forms.txtterritory = r[0]
    })
  },
  methods: {
    setkeyup () {
      // // console.log(this.forms.txtid)
    },
    setemit () {
      this.$emit('setemit', [this.forms.txtid, this.forms.txtname, this.forms.social, this.forms.images])
    },
    resettxtid () {
      this.forms.territory = 0
      this.forms.txtid = ''
      this.forms.classtxtid = false
      this.forms.txtname = null
      this.forms.txtcustname = null
      this.forms.txtdatebirth = m
      this.forms.txttelno = ''
      this.forms.txtfax = ''
      this.forms.txtemail = ''
      this.forms.txtbussinesstype = 1
      this.forms.txtcustomertype = 1
      this.forms.txtbussiness = ''
      this.forms.social = []
      this.forms.images = []
    },
    loadcheckdata () {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/txtid', {
          txtid: obj.forms.txtid,
          territory: localStorage.getItem('territory')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            setTimeout(() => {
              resolve(r)
            }, 3000)
          })
      })
    },
    updatetimes () {
      var obj = this
      return new Promise(resolve => {
        axios.post('/api/custtable/update', {
          txtid: obj.forms.txtid,
          data: obj.forms
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r)
          })
      })
    },
    updatecusttable () {
      this.updatetimes()
        .then(r => {
          if (this.checkednull > 0) {
            this.$emit('checknull', 0)
          }
          // // console.dir(r)
        })
    },
    loadterritory () {
      return new Promise(resolve => {
        axios.get('/api/custtable/data/territory', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    }
  },
  watch: {
    checkednull () {
      // this.$emit('checknulldata', this.forms)
      // console.dir($('#txtxid').val())
      // console.dir(this.forms.txtcustname)
      // console.dir(this.forms.txtname)
      console.log(this.checkednull)
    },
    txtid () {
      if (this.txtid !== null) {
        if (this.txtid.length > 16) {
          this.$refs.modalloading.open()
          document.getElementById('txtxid').value = this.txtid
          this.forms.txtid = this.txtid
        }
      }
    },
    'forms.txtname' () {
      this.setemit()
    },
    'forms.address' () {
      this.setemit()
    },
    'forms.txtid' () {
      this.setemit()
      if (this.forms.txtid !== null) {
        if (this.forms.txtid.length >= 17) {
          this.forms.classtxtid = true
          // console.log('load txtid')
          this.$refs.modalloading.open()
          this.loadcheckdata()
            .then(r => {
              console.log('info mation')
              // console.dir(r.data)
              this.$refs.modalloading.close()
              this.info.msg = 'Successfully.'
              this.$refs.modalsuccess.open()
              document.getElementById('txtdatebirth').value = r.data[0].txtdatebirth
              this.forms.txtid = r.data[0].txtid
              this.forms.txtname = r.data[0].txtname
              this.forms.txtcustname = r.data[0].txtcustname
              this.forms.txtdatebirth = r.data[0].txtdatebirth
              this.forms.txttelno = r.data[0].txttelno
              this.forms.txtfax = r.data[0].txtfax
              this.forms.txtemail = r.data[0].txtemail
              this.forms.txtbussinesstype = r.data[0].txtbussinesstype
              this.forms.txtcustomertype = r.data[0].txtcustomertype
              this.forms.txtbussiness = r.data[0].txtbussiness
              var inx = this.listterritory.indexOf(r.data[0].sales)
              this.forms.territory = this.listterritory[inx]
              this.forms.txtterritory = this.listterritory[inx]
              this.forms.social = r.data[0].social
              this.forms.images = r.data[0].images
              var obj = this
              setTimeout(() => {
                obj.$refs.modalsuccess.close()
                obj.setemit()
              }, 2000)
            })
        }
      } else {
        this.forms.classtxtid = false
      }
    },
    'forms.txtcustomertype' () {
      this.forms.strcustomertype = this.mock.customertype[(this.forms.txtcustomertype - 1)].title
      console.log(this.mock.customertype[(this.forms.txtcustomertype - 1)].title)
      this.$emit('setbussiness', this.forms.txtcustomertype)
    },
    'forms.txtbussinesstype' () {
      console.log(this.mock.listcustomertype[(this.forms.txtbussinesstype - 1)].title)
      this.forms.strbussinesstype = this.mock.listcustomertype[(this.forms.txtbussinesstype - 1)].title
    },
    'forms.territory' () {
      // var ind = this.listterritory.indexOf(this.forms.territory)
      // console.dir(ind)
      // this.forms.txtterritory =
      // if (this.forms.txtid !== null) {
      //   if (this.forms.txtid.length >= 17) {
      //     this.updatetimes()
      //   }
      // }
    }
  }
}
</script>

