<template>
  <div class="">
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <a class="button is-danger" @click="addnew()">
          <i class="fa fa-plus"></i>
          &nbsp;
          เพิ่มข้อมูลการค้า / Trade information
        </a>
      </p>
    </div>
    <div>
      <div class="box icuser" v-for="(n,i) in list" :key="i" @click="edit(n)">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="../../assets/img/avatar.svg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ n.txtbussiness }}</strong>
                <br>
                <strong>
                  Name:&nbsp;<b class="text-danger">{{ n.txtcontact }}</b>
                  &nbsp;
                  Phone.:&nbsp;<b class="text-danger">{{ n.txttelno }}</b>
                </strong>
                <br />
                <strong>
                  Total:&nbsp;<b class="text-danger">{{ n.txtqty }}</b>
                  &nbsp;
                  Product Type:&nbsp;<b class="text-danger">{{ n.txttypebussiness }}</b>
                </strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <sweet-modal blocking title="เพิ่มข้อมูล" ref="modalsuccess" hide-close-button>
      <template slot="box-action">
        <a class="button is-success is-medium" @click="save()">Save</a>
        &nbsp;
        <a class="button is-danger is-medium" @click="closemodal()">Close</a>
      </template>
      <template>
        <section>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">ชื่อบริษัท / Company</label>
                <div class="control">
                  <input class="input is-medium" type="text" placeholder="ระบุชื่อบริษัท" v-model="forms.txtbussiness">
                </div>
              </div>
              <div class="field">
                <label class="label">ชื่อผู้ติดต่อ / Contact</label>
                <div class="control">
                  <input class="input is-medium" type="text" placeholder="ระบุชื่อผู้ติดต่อ" v-model="forms.txtcontact">
                </div>
              </div>
              <div class="field">
                <label class="label">เบอร์โทรติดต่อ / Phone number.</label>
                <div class="control">
                  <input class="input is-medium" type="text" placeholder="ระบุเบอร์โทรติดต่อ" v-model="forms.txttelno">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">ยอดสั่งซื้อ / Tatol</label>
                <div class="control">
                  <input class="input is-medium" type="text" placeholder="ระบุยอดสั่งซื้อ" v-model="forms.txtqty">
                </div>
              </div>
              <div class="field">
                <label class="label">ประเภทสินค้า / Product Type</label>
                <div class="control">
                  <input class="input is-medium" type="text" placeholder="ระบุประเภทสินค้า" v-model="forms.txttypebussiness">
                </div>
              </div>
            </div>
          </div>
        </section>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal icon="error" ref="modalerr" title="Opps!....">
      {{ info.msg }}
    </sweet-modal>
    <sweet-modal icon="success" ref="modalalert" title="Opps!....">
      {{ info.msg }}
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Cleave from '@/node_modules/vue-cleave'
import guuid from '@/assets/js/greeter'
export default {
  props: {
    txtid: String
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader,
    Cleave
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      info: {
        icon: 'error',
        title: 'เพิ่มข้อมูล / Add',
        msg: 'Error Msg!'
      },
      code: null,
      list: [],
      forms: {
        txtbussiness: null,
        txtcontact: null,
        txttelno: null,
        txtqty: 0,
        txttypebussiness: null
      }
    }
  },
  methods: {
    addnew () {
      this.code = null
      this.forms.txtbussiness = null
      this.forms.txtcontact = null
      this.forms.txttelno = null
      this.forms.txtqty = 0
      this.forms.txttypebussiness = null
      this.$refs.modalsuccess.open()
    },
    edit (n) {
      this.info.icon = 'success'
      this.info.title = 'แก้ไขข้อมูล / Edit'
      this.info.msg = 'Edit Msg!'
      this.code = n.mcode
      this.forms.txtbussiness = n.txtbussiness
      this.forms.txtcontact = n.txtcontact
      this.forms.txttelno = n.txttelno
      this.forms.txtqty = n.txtqty
      this.forms.txttypebussiness = n.txttypebussiness
      this.$refs.modalsuccess.open()
    },
    save () {
      this.$refs.modalsuccess.close()
      this.$refs.modalloading.open()
      var gcode = guuid.GenCode()
      if (this.code !== null) {
        gcode = this.code
      }
      console.log(gcode)
      var obj = this
      obj.insertdata(gcode).then(r => {
        obj.loaddata().then(rd => {
          // console.dir(rd)
          obj.list = rd
          obj.$refs.modalloading.close()
          obj.info.msg = 'บันทึกข้อมูลสร็จแล้ว / Successfully'
          obj.closemodal()
          setTimeout(() => {
            obj.$refs.modalalert.open()
          }, 1000)
        })
      })
    },
    closemodal () {
      this.$refs.modalsuccess.close()
      this.code = null
      this.forms.txtbussiness = null
      this.forms.txtcontact = null
      this.forms.txttelno = null
      this.forms.txtqty = 0
      this.forms.txttypebussiness = null
    },
    insertdata (gcode) {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/marketshr/add', {
          txtid: obj.txtid,
          data: obj.forms,
          code: gcode
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    loaddata () {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/marketshr/load', {
          txtid: obj.txtid
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    }
  },
  watch: {
    txtid () {
      // this.$refs.modalloading.open()
      var obj = this
      if (this.txtid !== null) {
        if (this.txtid.length > 16) {
          setTimeout(() => {
            obj.loaddata().then(r => {
              // console.dir(r)
              obj.list = r
              obj.$refs.modalloading.close()
            })
          }, 5000)
        }
      } else {
        this.$refs.modalloading.close()
      }
    }
  }
}
</script>

