<template>
  <div>
    <div>
      <div class='box icuser' @click='edit(null)'>
        <article class='media'>
          <div class='media-left'>
            <figure class='image is-64x64'>
              <img src='../../assets/img/calendar.svg' alt='Image'>
            </figure>
          </div>
          <div class='media-content'>
            <div class='content'>
              <p>
                <strong>Appointment Information.</strong>
                <br />
                <strong>วันที่เข้าพบ / App. Date:&nbsp;<b class='text-success'>{{ rerunday(forms.datelength) }}</b>&nbsp;เวลาเปิด/ปิด (Open / Close):&nbsp;<b class='text-success'>{{ forms.txtdate }}</b></strong>
                <br />
                <strong>วันที่เก็บเงิน / Collection Date:&nbsp;<b class='text-success'>{{ rerunday(forms.specdatelength) }}</b>&nbsp;เวลาเข้าพบ(App):&nbsp;<b class='text-success'>{{ forms.specaildate }}</b></strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <sweet-modal blocking ref='modalcont' hide-close-button id='swSave'>
      <template slot="box-action">
        <a class="button is-success is-medium" @click="save()">Save</a>
        &nbsp;
        <a class="button is-danger is-medium" @click="closemodal()">Close</a>
      </template>
      <template>
        <sweet-modal-tab title='วันที่และเวลาเปิดร้าน / Working' id='tab1' class='text-left'>
          <section class='sw-content'>
            <div class='field'>
              <label class='label'>วันที่เข้าพบ / Appointment date</label>
              <div class='control'>
                <div v-for='(n,i) in date.date' :key='i'>
                  <label class='checkbox'>
                    <input type='checkbox' :value='n.id' :checked='n.checked' @click='setmeetdate($event)'>&nbsp;{{ n.title }}
                  </label>
                </div>
              </div>
            </div>
            <div class='field'>
              <label class='label'>Time open/close(08.00-18.00)</label>
              <div class='control'>
                <Cleave
                    class="input is-medium"
                    type="text"
                    placeholder='ระบุเวลาเปิด/ปิด(08.00-18.00)'
                    :options='cleaveOptions'
                    id='txtdate'
                    v-model="forms.txtdate"
                  ></Cleave>
              </div>
            </div>
          </section>
        </sweet-modal-tab>
        <sweet-modal-tab title='ข้อจำกัดการเข้าพบ / limitation' id='tab2' class='text-left sw-content'>
          <div class='field'>
            <label class='label'>วันที่เข้าพบ / Appointment date</label>
            <div class='control'>
              <div v-for='(n,i) in date.date' :key='i'>
                <label class='checkbox'>
                  <input type='checkbox' :value='n.id' :checked='n.checked' @click='setspecmeetdate($event)'>&nbsp;{{ n.title }}
                </label>
              </div>
            </div>
          </div>
          <div class='field'>
            <label class='label'>Time(08.00-18.00)</label>
            <div class='control'>
              <Cleave
                  class="input is-medium"
                  type="text"
                  placeholder='ระบุเวลาเปิด/ปิด(08.00-18.00)'
                  :options='cleaveOptions'
                  id='txtdate'
                  v-model="forms.specaildate"
                ></Cleave>
            </div>
          </div>
        </sweet-modal-tab>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking title='Opps!' icon='error' ref='modalerror'>
      <div class='text-center'>
        {{ info.msg }}
      </div>
    </sweet-modal>
    <sweet-modal blocking :title='info.title' ref='modalsuccess'>
      {{ info.msg }}
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Cleave from '@/node_modules/vue-cleave'
import mock from '@/assets/js/mock'
import Vue from 'vue'
import Vuesax from 'vuesax'
Vue.use(Vuesax)
export default {
  props: {
    txtid: String
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader,
    Cleave
  },
  data () {
    return {
      info: {
        icon: 'error',
        title: 'เพิ่มข้อมูล / Add',
        msg: 'Error Msg!'
      },
      date: mock,
      forms: {
        txtid: this.txtid,
        txtdate: '08.00-18.00',
        specaildate: '08.00-18.00',
        datelength: ['0', '1', '2', '3', '4', '5', '6'],
        specdatelength: ['0', '1', '2', '3', '4', '5', '6']
      },
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      cleaveOptions: {
        delimiter: '-',
        blocks: [5, 5],
        uppercase: true
      },
      value: false,
      text: '',
      switch1: false,
      switch2: false,
      switch3: false,
      switch4: false,
      switch5: false,
      switch6: false
    }
  },
  methods: {
    change (val) {
      this.text = val
    },
    rerunday (obj) {
      var b = []
      // console.log(obj)
      if (obj.length === 7) {
        return 'ทุกวัน / All Time'
      } else {
        for (let i in obj) {
          b.push(mock.datespec[obj[i]])
        }
        return b.toString()
      }
    },
    closemodal () {
      this.$refs.modalcont.close()
    },
    addnew () {
      if (this.forms.txtid) {
        this.$refs.modalcont.open()
      } else {
        this.info.msg = 'กรุณาระบุข้อมูลเบื้องต้นให้ครบด้วย / Please provide basic information.'
        this.$refs.modalerror.open()
      }
    },
    edit (n) {
      this.info.icon = 'success'
      this.info.title = 'แก้ไขข้อมูล / Edit'
      this.info.msg = 'Edit Msg!'
      this.$refs.modalcont.open()
    },
    setmeetdate (e) {
      if (e.target.checked === true) {
        this.forms.datelength.push(e.target.value)
      } else {
        var index = this.forms.datelength.indexOf(e.target.value)
        if (index >= 0) {
          this.forms.datelength.splice(index, 1)
        }
      }
    },
    setspecmeetdate (e) {
      if (e.target.checked === true) {
        this.forms.specdatelength.push(e.target.value)
      } else {
        var index = this.forms.specdatelength.indexOf(e.target.value)
        if (index >= 0) {
          this.forms.specdatelength.splice(index, 1)
        }
      }
    },
    insertDb () {
      return new Promise(resolve => {
        var obj = this
        var b = {
          mdate: this.forms.datelength,
          mtimesstart: this.forms.txtdate.substr(0, 5),
          mtimesend: this.forms.txtdate.substr(6, 10),
          spedate: this.forms.specdatelength,
          spetimesstart: this.forms.specaildate.substr(0, 5),
          spetimesend: this.forms.specaildate.substr(6, 10)
        }
        // // console.dir(b)
        axios.post('/api/custtable/meeting/update', {
          txtid: obj.txtid,
          data: b
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            // // console.dir(r.data)
            setTimeout(() => {
              obj.$refs.modalloading.close()
              resolve(r.data)
            }, 2000)
          })
      })
    },
    save () {
      this.$refs.modalcont.close()
      this.$refs.modalloading.open()
      var obj = this
      this.insertDb()
        .then(r => {
          // // console.dir(r)
          obj.$refs.modalloading.close()
        })
    },
    loaddata () {
      var obj = this
      axios.post('/api/custtable/meeting', {
        txtid: obj.forms.txtid
      }, {
        headers: {
          'x-access-token': localStorage.getItem('token')
        }
      })
        .then(r => {
          // console.dir(r.data)
          obj.forms.txtdate = r.data[0].mtimesstart + '-' + r.data[0].mtimesend
          obj.forms.specaildate = r.data[0].spetimesstart + '-' + r.data[0].spetimesend
          obj.forms.datelength = r.data[0].mdate
          obj.forms.specdatelength = r.data[0].spedate
          obj.$refs.modalloading.close()
        })
    }
  },
  watch: {
    txtid () {
      if (this.txtid !== null) {
        if (this.txtid.length >= 17) {
          var obj = this
          setTimeout(() => {
            obj.forms.txtid = obj.txtid
            // obj.$refs.modalloading.open()
            obj.loaddata()
          }, 6000)
        }
      }
    }
  }
}
</script>
<style lang="scss">
.sweet-modal.is-alert .sweet-content .sweet-content-content {
    padding-top: 6px !important;
}
</style>



