<template>
  <div class="">
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <a class="button is-danger" @click="addnew()">
          <i class="fa fa-plus"></i>
          &nbsp;
          เพิ่มข้อมูลที่อยู่ / Add
        </a>
      </p>
    </div>
    <div>
      <div>
        <div class="box icuser" v-for="(n,i) in forms.listaddress" :key="i" @click="edit(n)">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="../../assets/img/fireplace.svg" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{ n.txtcust }}</strong>
                  <br>
                  <strong>{{ n.txtaddress + ' ' + n.txtamphor + ' ' + n.txtprovince + ' ' + n.txtzipcode}}</strong>
                  <br />
                  <strong>Address Type:&nbsp;<b class="text-danger">{{ retype(n.addresstype) }}</b></strong>
                  <strong v-if="n.addresstype === 2">&nbsp;Transport:&nbsp;
                    <b class="text-danger">{{ returnnull(n.transport.name) + ' ' + returnnull(n.transport.telno) + ' ' + returnnull(n.transport.remark) }}</b>
                  </strong>
                </p>
              </div>
            </div>
          </article>
        </div>
        <br />
      </div>
      <hr />

    </div>
    <sweet-modal blocking title="เพิ่มข้อมูล / Add" ref="modalsuccess" hide-close-button>
      <template slot="box-action">
        <a class="button is-success is-medium" @click="save()">Save</a>
        &nbsp;
        <a class="button is-danger is-medium" @click="closemodal()">Close</a>
      </template>
      <template>
        <div>
          <div class="field">
            <label class="label">เลือกที่อยู่ / Select Type</label>
            <div class="control">
              <div class="select is-fullwidth is-medium">
                <select v-model="forms.addresstype">
                  <option v-for="(n, i) in mock.addresslist" :key="i" :value="n.value">{{ n.title }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">ชื่อ-สกุล / Firstname-Lastname</label>
            <div class="control">
              <input class="input is-medium" type="text" placeholder="ระบุชื่อ" v-model="forms.txtcust">
            </div>
          </div>
          <div class="field">
            <label class="label">ที่อยู่ / Address</label>
            <div class="control">
              <textarea class="textarea" placeholder="ระบุที่อยู่" v-model="forms.txtaddress"></textarea>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">อำเภอ / District</label>
                <!-- <div class="control">
                  <input class="input is-medium" type="text" placeholder="ระบุเภอ" v-model="forms.txtamphor" :disabled="disabled">
                </div> -->
                <div class="select is-fullwidth is-medium">
                  <select v-model="forms.txtamphor">
                    <option v-for="(n,i) in listcityaddress" :key="i" :value="n">{{ n }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">จังหวัด / Province</label>
                <div class="control">
                  <input class="input is-medium" type="text" placeholder="ระบุจังหวัด" v-model="forms.txtprovince" disabled="true">
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">รหัสไปรษณีย์ / Zip code</label>
            <div class="control">
              <Cleave
                class="input is-medium"
                type="text"
                placeholder="ระบุรหัสไปรษณีย์"
                :options='cleaveOptions'
                id='txtzipcode'
                v-model="forms.txtzipcode"
                 @blur="updatecusttable()"
              ></Cleave>
            </div>
          </div>
          <!-- begin transport -->
          <div :hidden="forms.addresstype !== 2">
            <article class="message is-info">
              <div class="message-header">
                Transport
                <button class="delete"></button>
              </div>
              <div class="message-body">
                <div class="field">
                  <label class="label">ชื่อขนส่ง / Transport Name</label>
                  <div class="control">
                    <input class="input is-medium" type="text" placeholder="ระบุชื่อ" v-model="forms.transport.name">
                  </div>
                </div>
                <div class="field">
                  <label class="label">เบอร์โทร / Transport Telno.</label>
                  <div class="control">
                    <input class="input is-medium" type="text" placeholder="ระบุชื่อ" v-model="forms.transport.telno">
                  </div>
                </div>
                <div class="field">
                  <label class="label">ข้อมูลเพิ่มเติม / Remark</label>
                  <div class="control">
                    <textarea class="textarea" placeholder="ระบุที่อยู่" v-model="forms.transport.remark"></textarea>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <!-- end transport -->
          <hr />
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" :checked='forms.addall' @click='setval($event)'>
                ใช้ที่อยู่นี้สำหรับ Invoice ส่งของและที่อยู่ส่งเอกสาร / Use this address for Invoice submissions and mailing addresses.
              </label>
            </div>
          </div>
        </div>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal icon="error" ref="modalerr" title="Opps!....">
      {{ info.msg }}
    </sweet-modal>
    <sweet-modal ref="modalerror" hide-close-button icon="info">
      <h1>คุณต้องการที่จะ... ?</h1>
      <br />
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a class="button is-danger is-medium" @click="delmodel()">
            Del.
          </a>
        </p>
        <p class="control">
          <a class="button is-light is-medium" @click="closemodel()">
            Edit
          </a>
        </p>
      </div>
    </sweet-modal>
  </div>
</template>
<script>
import * as $ from 'jquery'
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Cleave from '@/node_modules/vue-cleave'
import mock from '@/assets/js/mock'
export default {
  props: {
    txtid: String,
    txtcust: String,
    listaddress: Array,
    adinvoice: Object,
    addelivery: Object,
    addocument: Object,
    adinvoicehive: Boolean,
    addeliveryhive: Boolean,
    addocumenthive: Boolean
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader,
    Cleave
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      cleaveOptions: {
        blocks: [5],
        uppercase: true
      },
      disabled: true,
      listcityaddress: [],
      listzipcodeaddress: [],
      listaddresse: [],
      forms: {
        addresscode: null,
        addresstype: 2,
        txtcust: null,
        txtaddress: null,
        txtamphor: null,
        txtprovince: null,
        txtzipcode: null,
        listaddress: [],
        addall: true,
        transport: {
          name: null,
          telno: null,
          remark: null
        }
      },
      info: {
        title: 'เพิ่มข้อมูลที่อยู่ / Add',
        msg: 'กรุณาระบุข้อมูลเบื้องต้นก่อน / Please provide basic information.'
      },
      mock: mock,
      datasl: []
    }
  },
  mounted () {
    // this.loadzipcode()
  },
  methods: {
    returnnull (e) {
      if (e) {
        return e
      } else {
        return ''
      }
    },
    retype (e) {
      var i = mock.addresslist.map(r => r.value).indexOf(e)
      return mock.addresslist[i].title
    },
    setval (e) {
      this.forms.addall = e.target.checked
    },
    save () {
      if (this.forms.txtcust === null) {
        this.info.msg = 'กรุณาระบุข้อมูลเบื้องต้นก่อน / Please provide basic information.'
        this.$refs.modalerr.open()
      } else if (this.forms.txtzipcode === null) {
        this.info.msg = 'กรุณาระบุข้อมูลรหัสไปรษณีย์ก่อน / Please enter your postal code information.'
        this.$refs.modalerr.open()
      } else if (this.forms.txtaddress === null) {
        this.info.msg = 'กรุณาระบุข้อมูลที่อยู่ก่อน / Please provide the address before.'
        this.$refs.modalerr.open()
      } else if (this.forms.txtamphor === null) {
        this.info.msg = 'กรุณาระบุข้อมูลที่อยู่อำเภอก่อน / Please provide the district address.'
        this.$refs.modalerr.open()
      } else if (this.forms.txtprovince === null) {
        this.info.msg = 'กรุณาระบุข้อมูลที่อยู่จังหวัดก่อน / Please enter a province first.'
        this.$refs.modalerr.open()
      } else {
        var obj = this
        obj.$refs.modalloading.open()
        obj.$refs.modalsuccess.close()
        if (this.forms.addresscode === null) {
          // console.dir(obj.forms)
          axios.post('/api/custtable/address', {
            txtid: obj.txtid,
            addresstype: obj.forms.addresstype,
            data: obj.forms
          }, {
            headers: {
              'x-access-token': localStorage.getItem('token')
            }
          })
            .then(r => {
              // // // console.dir(r.data)
              obj.forms.listaddress = r.data
              setTimeout(() => obj.$refs.modalloading.close(), 2000)
            })
        } else {
          // // console.log('update: ' + obj.txtid + ' ::: ' + obj.forms.addresscode)
          axios.post('/api/custtable/address/update', {
            txtid: obj.txtid,
            addresscode: obj.forms.addresscode,
            data: obj.forms
          }, {
            headers: {
              'x-access-token': localStorage.getItem('token')
            }
          })
            .then(r => {
              // // // console.dir(r.data)
              obj.forms.listaddress = r.data
              setTimeout(() => obj.$refs.modalloading.close(), 2000)
            })
        }
      }
    },
    addnew () {
      // // console.dir('txtid address:' + this.txtid)
      this.forms.txtcust = this.txtcust
      this.forms.addresscode = null
      this.forms.addresstype = 2
      this.forms.txtaddress = null
      this.forms.txtamphor = null
      this.forms.txtprovince = null
      this.forms.txtzipcode = null
      this.forms.addall = true
      this.forms.transport.name = 'รถ Yss'
      this.forms.transport.telno = '027063700'
      this.forms.transport.remark = null
      if (this.txtid !== null) {
        this.$refs.modalsuccess.open()
        this.loadzipcode()
      } else {
        this.info.msg = 'กรุณาระบุข้อมูลเบื้องต้นก่อน / Please provide basic information.'
        this.$refs.modalerr.open()
      }
    },
    closemodal () {
      this.forms.txtcust = this.txtcust
      this.forms.addresscode = null
      this.forms.addresstype = 2
      this.forms.txtaddress = null
      this.forms.txtamphor = null
      this.forms.txtprovince = null
      this.forms.txtzipcode = null
      this.forms.addall = true
      this.forms.transport.name = 'รถ Yss'
      this.forms.transport.telno = '027063700'
      this.forms.transport.remark = null
      //  this.forms.listaddress.length = 0
      this.$refs.modalsuccess.close()
    },
    delmodel () {
      var n = this.datasl
      var obj = this
      obj.$refs.modalerror.close()
      obj.$refs.modalloading.open()
      axios.post('/api/custtable/address/delete', {
        addresscode: n.addresscode
      }, {
        headers: {
          'x-access-token': localStorage.getItem('token')
        }
      })
        .then(r => {
          var ind = obj.forms.listaddress.map(e => e.addresscode).indexOf(n.addresscode)
          obj.forms.listaddress.splice(ind, 1)
          obj.$refs.modalloading.close()
        })
    },
    closemodel () {
      var n = this.datasl
      var obj = this
      obj.$refs.modalloading.open()
      obj.$refs.modalerror.close()
      obj.loadzipcode()
      setTimeout(() => {
        obj.info.icon = 'success'
        obj.info.title = 'แก้ไขข้อมูลที่อยู่ / Edit'
        obj.info.msg = 'Edit Msg!'
        obj.forms.addresscode = n.addresscode
        obj.forms.txtcust = n.txtcust
        obj.forms.addresstype = n.addresstype
        obj.forms.txtaddress = n.txtaddress
        obj.forms.txtamphor = n.txtamphor
        obj.forms.txtprovince = n.txtprovince
        // this.forms.txtzipcode = n.txtzipcode
        obj.forms.transport.name = n.transport.name
        obj.forms.transport.telno = n.transport.telno
        obj.forms.transport.remark = n.transport.remark
        // console.log('zip:' + n.txtzipcode)
        $('#txtzipcode').val(n.txtzipcode)
        setTimeout(() => {
          obj.$refs.modalloading.close()
          obj.$refs.modalsuccess.open()
          console.log($('#txtzipcode').val())
          obj.forms.txtzipcode = $('#txtzipcode').val()
        }, 1000)
        obj.forms.addall = false
      }, 2000)
    },
    edit (n) {
      this.datasl = n
      var obj = this
      obj.$refs.modalerror.open()
      // obj.loadzipcode()
      // setTimeout(() => {
      //   obj.info.icon = 'success'
      //   obj.info.title = 'แก้ไขข้อมูลที่อยู่ / Edit'
      //   obj.info.msg = 'Edit Msg!'
      //   obj.forms.addresscode = n.addresscode
      //   obj.forms.txtcust = n.txtcust
      //   obj.forms.addresstype = n.addresstype
      //   obj.forms.txtaddress = n.txtaddress
      //   obj.forms.txtamphor = n.txtamphor
      //   obj.forms.txtprovince = n.txtprovince
      //   // this.forms.txtzipcode = n.txtzipcode
      //   obj.forms.transport.name = n.transport.name
      //   obj.forms.transport.telno = n.transport.telno
      //   obj.forms.transport.remark = n.transport.remark
      //   // console.log('zip:' + n.txtzipcode)
      //   $('#txtzipcode').val(n.txtzipcode)
      //   setTimeout(() => {
      //     obj.$refs.modalloading.close()
      //     obj.$refs.modalsuccess.open()
      //     console.log($('#txtzipcode').val())
      //     obj.forms.txtzipcode = $('#txtzipcode').val()
      //   }, 1000)
      //   obj.forms.addall = false
      // }, 2000)
    },
    loadzipcode () {
      var obj = this
      obj.listzipcodeaddress = []
      obj.$refs.modalloading.open()
      axios.post('/api/master/zipcode/all', {
        headers: {
          'x-access-token': localStorage.getItem('token')
        }
      })
        .then(r => {
          // console.dir(r.data)
          // obj.forms.listaddress = r.data
          obj.listzipcodeaddress = r.data
          setTimeout(() => obj.$refs.modalloading.close(), 3000)
        })
    },
    loadaddress () {
      var obj = this
      // obj.$refs.modalloading.open()
      axios.post('/api/custtable/address/load', {
        txtid: obj.txtid
      }, {
        headers: {
          'x-access-token': localStorage.getItem('token')
        }
      })
        .then(r => {
          // // console.dir(r.data)
          obj.forms.listaddress = r.data
          setTimeout(() => obj.$refs.modalloading.close(), 2000)
        })
    }
  },
  watch: {
    'forms.addresstype' () {
      if (this.forms.addresstype !== 2) {
        this.forms.transport.name = ''
        this.forms.transport.telno = ''
        this.forms.transport.remark = ''
      } else {
        this.forms.transport.name = 'รถ Yss'
        this.forms.transport.telno = '027063700'
        this.forms.transport.remark = null
      }
    },
    txtid () {
      // console.log('txtid change: ' + this.txtid)
      if (this.txtid.length > 16) {
        var obj = this
        setTimeout(() => {
          obj.loadaddress()
        }, 5000)
      }
    },
    txtcust () {
      this.forms.txtcust = this.txtcust
      this.forms.addresscode = null
      this.forms.addresstype = 2
      this.forms.txtaddress = null
      this.forms.txtamphor = null
      this.forms.txtprovince = null
      this.forms.txtzipcode = null
      this.forms.transport.name = 'รถ Yss'
      this.forms.transport.telno = '027063700'
      this.forms.transport.remark = null
      // this.forms.listaddress = this.listaddress[0]
      this.forms.addall = true
    },
    'forms.txtzipcode' () {
      var obj = this
      if (this.forms.txtzipcode !== null) {
        if (this.forms.txtzipcode.length === 5) {
          var b = []
          obj.listcityaddress = []
          var data = obj.listzipcodeaddress
          data.forEach(e => {
            if (e.zipcode === obj.forms.txtzipcode) {
              b.push(e)
              obj.listcityaddress.push(e.city)
            }
          })
          if (b.length > 0) {
            if (b.length > 1) {
              obj.disabled = false
            } else {
              obj.disabled = true
            }
            // obj.listcityaddress = b
            obj.forms.txtamphor = b[0].city
            obj.forms.txtprovince = b[0].addressstate[0].name
          } else {
            obj.listcityaddress = []
            obj.forms.txtamphor = null
            obj.forms.txtprovince = null
            obj.forms.txtzipcode = null
            $('#txtzipcode').val('')
            obj.info.msg = 'ไม่พบข้อมูล / Not Found'
            obj.$refs.modalerr.open()
          }
        }
      }
    }
  }
}
</script>
