<template>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      ข้อมูลเอกสารประกอบการเปิดบัญชีลูกค้าใหม่
    </p>
    <a class="card-header-icon" aria-label="more options" @click="eventcallanote()">
      <button class="button is-danger">
        แนบเอกสาร
      </button>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <input
        :hidden="true"
        type="file"
        accept="image/*"
        name="resume"
        id="txtfile"
        @change="setchange($event)"/>
      <div class="columns">
        <div class="column" v-for="(n, i) in documents" :key="i" @click="showdetail(n)">
          <div class="box icuser">
            <figure class="image is-96x96">
              <img :src="n.link" alt="Image">
            </figure>
            <br />
            <strong>{{ n.title }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <SweetModal ref="modaldialogshow">
    <div>
      <br />
      <br />
       <ul class="menu-list">
        <li>
          <button class="button is-danger" @click="removeimg()">ลบรูปนี้</button>
          <ul>
            <li>
              <figure class="image">
                <img :src="img" alt="Image">
              </figure>
            </li>
          </ul>
        </li>
       </ul>
    </div>
  </SweetModal>
  <SweetModal ref="modaldialog" blocking>
    <div>
      <br />
      <br />
       <ul class="menu-list">
        <li>
          <a class="is-active text-left">ประเภทเอกสาร</a>
          <ul>
            <li class="text-left" v-for="(n, i) in mock.documentsnewaccount" :key="i" @click="selectevent(n.id)">
              <a>{{ n.title }}</a>
            </li>
          </ul>
        </li>
       </ul>
    </div>
  </SweetModal>
</div>
</template>
<script>
import mocker from '@/assets/js/mock'
import { SweetModal, SweetModalTab } from 'sweet-modal-vue'
import assets from '@/assets/js/imgtoblob'
import guuid from '@/assets/js/greeter'
import $ from 'jquery'
export default {
  props: {
    dataforms: Object
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  data () {
    return {
      mock: mocker,
      url1: null,
      doctype: 0,
      txtid: 0,
      imgpath: null,
      img: null,
      guid: null,
      documents: []
    }
  },
  methods: {
    showalert (txt, type, icons) {
      this.$vs.notify({title: 'Opps...........', text: txt, color: type, icon: icons, position: 'top-right'})
    },
    eventcallanote () {
      console.dir(this.dataforms)
      if (this.dataforms) {
        this.$refs.modaldialog.open()
      } else {
        this.showalert('กรุณาระบุข้อมูลเบื้องต้นก่อน', 'danger', 'warning')
      }
    },
    selectevent (i) {
      this.$refs.modaldialog.close()
      this.doctype = i
      $('#txtfile').trigger('click')
    },
    removeimg () {
      var obj = this
      this.$refs.modaldialogshow.close()
      this.$vs.loading({color: 'primary'})
      assets.imgDropboxImagesDelete(obj.imgpath)
        .then(r => {
          var ind = obj.documents.map(e => e.gcode).indexOf(obj.guid)
          obj.documents.splice(ind, 1)
          obj.$emit('updateannote', [obj.dataforms.txtid, 'pathname', obj.documents])
          setTimeout(() => {
            obj.$vs.loading.close()
            obj.guid = null
            obj.img = null
            obj.imgpath = null
          }, 300)
        })
    },
    showdetail (n) {
      this.imgpath = n.pathname
      this.guid = n.gcode
      this.img = n.link
      this.$refs.modaldialogshow.open()
    },
    doUpload (event, txt, type) {
      return new Promise(resolve => {
        let ptname = '/SALES-CRM/' + localStorage.getItem('territory') + '-CRM/NEW_CUSTOMER/' + this.dataforms.txtid + '/'
        var ind = this.mock.documentsnewaccount.map(e => e.id).indexOf(this.doctype)
        var name = this.mock.documentsnewaccount[ind].title
        assets.doUpload(event, name, ptname)
          .then(r => {
            resolve(r)
          })
      })
    },
    setchange (e) {
      this.$vs.loading({color: 'primary'})
      const guid = guuid.GenCode()
      // console.dir(guid)
      // console.dir(e)
      var obj = this
      assets.getFile(e.target.files[0]).then(r => {
        obj.doUpload(e, guid)
          .then(rd => {
            console.dir(rd)
            rd.gcode = guid
            rd.txtid = obj.dataforms.txtid
            obj.documents.push(rd)
            obj.$emit('updateannote', [obj.dataforms.txtid, 'pathname', obj.documents])
            obj.$vs.loading.close()
          })
      })
    }
  },
  watch: {
    dataforms () {
      if (this.dataforms) {
        if (this.dataforms.pathname) {
          this.documents = this.dataforms.pathname
        }
      }
    }
  }
}
</script>
