<template>
  <div>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          ข้อมูลการเข้าพบ
        </p>
        <a  class="card-header-icon" aria-label="more options" @click="setappoint()">
          <button class="button is-danger">{{ txtbtn }}</button>
        </a>
      </header>
      <div class="card-content">
        <div class="columns">
          <div class="column">
            <h2>วันที่เข้าพบ</h2>
            <p>
              <nav class="level">
                <div class="level-left">
                  <vs-checkbox v-model="customerappointment.appoint.checkBoxSun" @click="checkevent()">อาทิตย์</vs-checkbox>
                  <vs-checkbox vs-color="success" v-model="customerappointment.appoint.checkBoxMon" @click="checkevent()">จันทร์</vs-checkbox>
                  <vs-checkbox vs-color="danger" v-model="customerappointment.appoint.checkBoxTue" @click="checkevent()">อังคาร</vs-checkbox>
                  <vs-checkbox vs-color="warning" v-model="customerappointment.appoint.checkBoxWeb" @click="checkevent()">พุธ</vs-checkbox>
                  <vs-checkbox vs-color="dark" v-model="customerappointment.appoint.checkBoxThu" @click="checkevent()">พฤหัสบดี</vs-checkbox>
                  <vs-checkbox vs-color="rgb(38, 187, 174)" v-model="customerappointment.appoint.checkBoxFri" @click="checkevent()">ศุกร์</vs-checkbox>
                  <vs-checkbox vs-color="#720ea8" v-model="customerappointment.appoint.checkBoxSat" @click="checkevent()">เสาร์</vs-checkbox>
                </div>
              </nav>
              <strong>
                เวลาเปิด/ปิด (Open / Close):&nbsp;
                <span class="text-danger">
                  <input class="input" type="text" placeholder="08.00-18.00" v-model="customerappointment.appoint.time" @blur="checkevent()">
                </span>
              </strong>
            </p>
          </div>
        </div>
        <hr />
        <div class="columns">
          <div class="column">
            <h2>ข้อจำกัดการเข้าพบ</h2>
            <p>
              <nav class="level">
                <div class="level-left">
                  <div class="columns is-gapless">
                    <div class="column">
                      <vs-checkbox v-model="customerappointment.billing.checkBoxSun" @click="checkevent()">อาทิตย์</vs-checkbox>
                    </div>
                    <div class="column">
                      <vs-checkbox vs-color="success" v-model="customerappointment.billing.checkBoxMon" @click="checkevent()">จันทร์</vs-checkbox>
                    </div>
                    <div class="column">
                      <vs-checkbox vs-color="danger" v-model="customerappointment.billing.checkBoxTue" @click="checkevent()">อังคาร</vs-checkbox>
                    </div>
                    <div class="column">
                      <vs-checkbox vs-color="warning" v-model="customerappointment.billing.checkBoxWeb" @click="checkevent()">พุธ</vs-checkbox>
                    </div>
                    <div class="column">
                      <vs-checkbox vs-color="dark" v-model="customerappointment.billing.checkBoxThu" @click="checkevent()">พฤหัสบดี</vs-checkbox>
                    </div>
                    <div class="column">
                      <vs-checkbox vs-color="rgb(38, 187, 174)" v-model="customerappointment.billing.checkBoxFri" @click="checkevent()">ศุกร์</vs-checkbox>
                    </div>
                    <div class="column">
                      <vs-checkbox vs-color="#720ea8" v-model="customerappointment.billing.checkBoxSat" @click="checkevent()">เสาร์</vs-checkbox>
                    </div>
                  </div>
                </div>
              </nav>
              <strong>
                เวลาเปิด/ปิด (Open / Close):&nbsp;
                <span class="text-danger">
                  <input class="input" type="text" placeholder="08.00-18.00" v-model="customerappointment.billing.time" @blur="checkevent()">
                </span>
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    dataforms: Object
  },
  computed: {
    reappoint () {
      return this.appoint
    }
  },
  data () {
    return {
      txtbtn: 'อัพเดทข้อมูล',
      customerappointment: {
        appoint: {
          checkBoxSun: true,
          checkBoxMon: true,
          checkBoxTue: true,
          checkBoxWeb: true,
          checkBoxThu: true,
          checkBoxFri: true,
          checkBoxSat: true,
          time: '08.00-18.00'
        },
        billing: {
          checkBoxSun: true,
          checkBoxMon: true,
          checkBoxTue: true,
          checkBoxWeb: true,
          checkBoxThu: true,
          checkBoxFri: true,
          checkBoxSat: true,
          time: '08.00-18.00'
        }
      }
    }
  },
  methods: {
    checkevent () {
      this.txtbtn = 'อัพเดทข้อมูล'
      // this.setappoint()
      console.dir(this.customerappointment)
      this.updatedata()
    },
    setappoint () {
      this.txtbtn = 'อัพเดทข้อมูล'
      console.dir(this.customerappointment)
      this.updatedata()
    },
    updatedata () {
      var obj = this
      if (this.dataforms) {
        obj.$emit('updateappointment', [obj.dataforms.txtid, 'appointment', this.customerappointment])
      } else {
        this.$vs.notify({title: 'Opps...........', text: 'ไม่พบข้อมูลเบื้องต้น', color: 'danger', icon: 'warning', position: 'top-right'})
      }
    }
  },
  watch: {
    dataforms () {
      console.dir(this.dataforms)
      if (this.dataforms) {
        if (this.dataforms.appointment) {
          this.customerappointment = this.dataforms.appointment
        }
      }
    }
  }
}
</script>

