<template>
  <div>
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">
          <strong>ข้อมูลที่อยู่</strong>
        </div>
        <a class="card-header-icon" aria-label="more options" @click="addaddress()">
          <button class="button is-danger">{{ forms.txttitlebtn }}</button>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="text" placeholder="ระบุรหัสไปรษณีย์ประเทศไทย" v-model="txtzipcode">
            </div>
            <div class="control">
              <a class="button is-info" @click="searchzipcode()">
                ค้นหา
              </a>
            </div>
          </div>
        </div>
        <!-- -->
          <div :hidden="forms.address.length < 1">
              <div class="control">
                <div class="select is-fullwidth">
                  <select v-model="forms.strsladdress" disabled="edittype">
                    <option v-for="(n, i) in mock.addresslist" :key="i" :value="n.value">{{ n.title }}</option>
                  </select>
                </div>
              </div>
              <div class="field">
                <label class="label">ชื่อ-สกุล</label>
                <div class="control">
                  <input :class="forms.txtnameclass" type="text" placeholder="ระบุชื่อ-สกุล" v-model="forms.txtname">
                </div>
              </div>
              <div class="control">
                <div class="select is-fullwidth">
                  <select v-model="forms.strsladdresssl">
                    <option v-for="(n, i) in forms.address" :key="i" :value="n.id">{{ n.district + ' ' + n.province + ' ' + n.zip }}</option>
                  </select>
                </div>
              </div>
              <div class="field">
                <label class="label">ที่อยู่</label>
                <div class="control">
                  <textarea :class="forms.txtaddressclass" placeholder="ระบุที่อยู่" v-model="forms.txtaddress"></textarea>
                </div>
              </div>
              <div :hidden="forms.sectiontransport === true">
                <hr />
                <h2>ข้อมูลขนส่ง</h2>
                <div class="field">
                  <label class="label">ชื่อขนส่ง</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="ระบุชื่อขนส่ง" v-model="forms.txttransport">
                  </div>
                </div>
                <div class="field">
                  <label class="label">เบอร์โทรขนส่ง</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="ระบุเบอร์โทรขนส่ง" v-model="forms.txttransportno">
                  </div>
                </div>
                <div class="field">
                  <label class="label">ข้อมูลขนส่งเพิ่มเติม</label>
                  <div class="control">
                    <textarea class="textarea" placeholder="ระบุข้อมูลขนส่งเพิ่มเติม" v-model="forms.txttrasportremark"></textarea>
                  </div>
                </div>
              </div>
          </div>
        <!-- -->
        <div :hidden="custaddress.length === 0">
          <hr class="devider"/>
          <div v-for="(n, i) in custaddress" :key="i">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <article class="message is-info">
                    <div class="message-header">
                      <p>{{ n.addresstitle }}</p>
                      <div>
                        <button class="button is-primary" aria-label="delete" @click="edit(n)">Edit</button>
                        <button class="button is-danger" aria-label="delete" @click="removeitem(i)">Delete</button>
                      </div>
                    </div>
                    <div class="message-body">
                      <strong>
                        ชื่อ-สกุล:&nbsp;<span class="text-danger">{{ n.txtname }}</span>
                        &nbsp;
                        ที่อยู่:&nbsp;<span class="text-danger">{{ n.txtaddress + ' ' + n.txtdistrict + ' ' + n.txtprovince + ' ' + n.txtzipcode }}</span>
                        <strong v-if="n.addresstype === 2">ข้อมูลขนส่ง:&nbsp;<span class="text-danger">{{ n.txttransport + ' ' + n.txttransportno + ' ' + renull(n.txttrasportremark) }}</span></strong>
                      </strong>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>
</template>
<script>
import zipcode from '@/assets/js/data'
import mocker from '@/assets/js/mock'
export default {
  props: {
    dataforms: Object
  },
  data () {
    return {
      mock: mocker,
      txtzipcode: '',
      edittype: false,
      forms: {
        txttitlebtn: 'เพิ่มข้อมูล',
        txtaddressclass: 'textarea',
        txtnameclass: 'input',
        txtname: '',
        txtaddress: '',
        sectiontransport: true,
        txttransport: 'รถ YSS',
        txttransportno: '02-706-3700, 02-706-3600',
        txttrasportremark: '',
        strsladdresssl: 0,
        strsladdress: 0,
        address: []
      },
      custaddress: []
    }
  },
  mounted () {
    console.dir(zipcode)
  },
  methods: {
    edit (n) {
      console.dir(n)
      var obj = this
      this.edittype = true
      obj.forms.txttitlebtn = 'บันทึก'
      obj.txtzipcode = n.txtzipcode
      obj.forms.strsladdress = n.addresstype
      obj.forms.txtname = n.txtname
      obj.forms.strsladdresssl = n.txtaddressid
      obj.forms.txtaddress = n.txtaddress
      obj.forms.txttransport = n.txttransport
      obj.forms.txttransportno = n.txttransportno
      obj.forms.txttrasportremark = n.txttrasportremark
      setTimeout(() => {
        obj.searchzipcode()
      }, 500)
    },
    removeitem (i) {
      var obj = this
      obj.forms.txttitlebtn = 'เพิ่มที่อยู่ใหม่'
      obj.edittype = false
      this.custaddress.splice(i, 1)
      this.$vs.loading({color: 'primary'})
      setTimeout(() => {
        obj.$vs.loading.close()
        obj.forms.address = []
        obj.txtzipcode = ''
        obj.forms.strsladdress = 0
        obj.forms.txtname = ''
        obj.forms.strsladdresssl = 0
        obj.forms.txtaddress = ''
        obj.forms.txttransport = 'รถ YSS'
        obj.forms.txttransportno = '02-706-3700, 02-706-3600'
        obj.forms.txttrasportremark = ''
        obj.$emit('updateaddress', [obj.dataforms.txtid, 'custaddress', obj.custaddress])
      }, 500)
    },
    renull (txt) {
      if (txt) {
        return txt
      } else {
        return ''
      }
    },
    showalert (txt) {
      this.$vs.notify({title: 'Opps...........', text: txt, color: 'danger', icon: 'warning', position: 'top-right'})
    },
    addaddress () {
      var obj = this
      if (this.dataforms.txtid) {
        if (this.forms.address.length < 1) {
          obj.showalert('กรุณาระบุข้อมูลที่อยู่ก่อน')
        } else {
          if (this.forms.txtname === '') {
            obj.showalert('กรุณาระบุชื่อ-สกุลด้วย')
            obj.forms.txtnameclass = 'input is-danger'
          } else if (this.forms.txtaddress === '') {
            obj.showalert('กรุณาระบุที่อยู่ด้วย')
            obj.forms.txtaddressclass = 'textarea is-danger'
          } else {
            this.$vs.loading({color: 'primary'})
            var ind = zipcode.map(e => e.id).indexOf(this.forms.strsladdresssl)
            var txted = this.custaddress.map(e => e.addresstype).indexOf(this.forms.strsladdress)
            let iad = this.mock.addresslist.map(u => u.value).indexOf(this.forms.strsladdress)
            if (txted >= 0) {
              this.custaddress[txted].addresstitle = this.mock.addresslist[iad].title
              this.custaddress[txted].addresstype = this.forms.strsladdress
              this.custaddress[txted].txtname = this.forms.txtname
              this.custaddress[txted].txtaddressid = this.forms.strsladdresssl
              this.custaddress[txted].txtaddress = this.forms.txtaddress
              this.custaddress[txted].txtdistrict = zipcode[ind].district
              this.custaddress[txted].txtprovince = zipcode[ind].province
              this.custaddress[txted].txtzipcode = zipcode[ind].zip
              this.custaddress[txted].txttransport = this.forms.txttransport
              this.custaddress[txted].txttransportno = this.forms.txttransportno
              this.custaddress[txted].txttrasportremark = this.forms.txttrasportremark
            } else if (this.forms.strsladdress === 0) {
              if (ind >= 0) {
                for (let i in this.mock.addresslist) {
                  if (i > 0) {
                    this.custaddress.push({
                      txtid: this.dataforms.txtid,
                      addresstitle: this.mock.addresslist[i].title,
                      addresstype: this.mock.addresslist[i].value,
                      txtname: this.forms.txtname,
                      txtaddressid: this.forms.strsladdresssl,
                      txtaddress: this.forms.txtaddress,
                      txtdistrict: zipcode[ind].district,
                      txtprovince: zipcode[ind].province,
                      txtzipcode: zipcode[ind].zip,
                      txttransport: this.forms.txttransport,
                      txttransportno: this.forms.txttransportno,
                      txttrasportremark: this.forms.txttrasportremark
                    })
                  }
                }
              }
            } else {
              if (ind >= 0) {
                let iad = this.mock.addresslist.map(u => u.value).indexOf(this.forms.strsladdress)
                console.dir(ind)
                this.custaddress.push({
                  txtid: this.dataforms.txtid,
                  addresstitle: this.mock.addresslist[iad].title,
                  addresstype: this.forms.strsladdress,
                  txtname: this.forms.txtname,
                  txtaddressid: this.forms.strsladdresssl,
                  txtaddress: this.forms.txtaddress,
                  txtdistrict: zipcode[ind].district,
                  txtprovince: zipcode[ind].province,
                  txtzipcode: zipcode[ind].zip,
                  txttransport: this.forms.txttransport,
                  txttransportno: this.forms.txttransportno,
                  txttrasportremark: this.forms.txttrasportremark
                })
                if (obj.custaddress.length > 0) {
                  obj.$emit('updateaddress', [obj.dataforms.txtid, 'custaddress', obj.custaddress])
                }
              }
            }
            obj.forms.txttitlebtn = 'เพิ่มที่อยู่ใหม่'
            obj.edittype = false
            setTimeout(() => {
              obj.$vs.loading.close()
              obj.forms.address = []
              obj.txtzipcode = ''
              obj.forms.strsladdress = 0
              obj.forms.txtname = ''
              obj.forms.strsladdresssl = 0
              obj.forms.txtaddress = ''
              obj.forms.txttransport = 'รถ YSS'
              obj.forms.txttransportno = '02-706-3700, 02-706-3600'
              obj.forms.txttrasportremark = ''
              if (obj.custaddress.length > 0) {
                obj.$emit('updateaddress', [obj.dataforms.txtid, 'custaddress', obj.custaddress])
              }
            }, 500)
          }
        }
      } else {
        this.showalert('กรุณาระบุข้อมูลเบื้องต้นด้วย')
      }
    },
    searchzipcode () {
      // var b = []
      // this.forms.txtname = this.dataforms.txtname
      this.forms.address = []
      if (this.txtzipcode) {
        if (this.txtzipcode.length === 5) {
          // var index = zipcode.find(e => e.zip === this.txtzipcode)
          zipcode.forEach(e => {
            if (e.zip === this.txtzipcode) {
              this.forms.address.push(e)
            }
          })
          if (this.forms.address.length > 0) {
            this.forms.strsladdresssl = this.forms.address[0].id
          } else {
            this.showalert('ไม่พบข้อมูลที่ค้นหา')
          }
          // this.forms.strsladdresssl = this.forms.address[0].id
          // this.forms.address = zipcode.find(e => e.zip === this.txtzipcode)
        } else {
          this.forms.address = []
          this.forms.strsladdresssl = 0
          this.txtzipcode = ''
          this.showalert('ไม่พบข้อมูลที่ค้นหา')
          console.dir('not select')
        }
      }
    }
  },
  watch: {
    dataforms () {
      this.custaddress = []
      if (this.dataforms) {
        if (this.dataforms.custaddress) {
          this.custaddress = this.dataforms.custaddress
        }
      } else {
        this.custaddress = []
      }
    },
    'forms.strsladdress' () {
      console.dir(this.forms.strsladdress)
      if (this.forms.strsladdress === 2) {
        this.forms.sectiontransport = false
      } else {
        this.forms.sectiontransport = true
      }
    },
    'forms.txtname' () {
      if (this.forms.txtname) {
        if (this.forms.txtname.length > 0) {
          this.forms.txtnameclass = 'input'
        } else {
          this.forms.txtnameclass = 'input is-danger'
        }
      } else {
        this.forms.txtnameclass = 'input is-danger'
      }
    },
    'forms.txtaddress' () {
      if (this.forms.txtaddress) {
        if (this.forms.txtaddress.length > 0) {
          this.forms.txtaddressclass = 'textarea'
        } else {
          this.forms.txtaddressclass = 'textarea is-danger'
        }
      } else {
        this.forms.txtaddressclass = 'textarea is-danger'
      }
    }
  }
}
</script>

