<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        ข้อมูลกิจการ
      </p>
      <a class="card-header-icon" aria-label="more options" @click="checkevent()">
        <button class="button is-danger">อัพเดทข้อมูล</button>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        <strong>ประเภทกิจการ</strong>
        <nav class="level">
          <div class="level-left">
            <vs-checkbox v-model="customerbusstiness.bussiness.checkBoxInstall" @click="checkevent()">ติดตั้ง</vs-checkbox>
            <vs-checkbox vs-color="success" v-model="customerbusstiness.bussiness.checkBoxOrg" @click="checkevent()">ขายอุปกรณ์เดิม</vs-checkbox>
            <vs-checkbox vs-color="danger" v-model="customerbusstiness.bussiness.checkBoxModify" @click="checkevent()">ขายอุปกรณ์แต่ง</vs-checkbox>
          </div>
        </nav>
        <hr />
        <strong>ประเภทการขาย</strong>
        <nav class="level">
          <div class="level-left">
            <vs-checkbox v-model="customerbusstiness.sales.checkBoxMoto" @click="checkevent()">Moto</vs-checkbox>
            <vs-checkbox vs-color="success" v-model="customerbusstiness.sales.checkBoxAuto" @click="checkevent()">Auto</vs-checkbox>
            <vs-checkbox vs-color="danger" v-model="customerbusstiness.sales.checkBoxBigBike" @click="checkevent()">Big Bike</vs-checkbox>
          </div>
        </nav>
        <hr />
        <strong>สถานที่ตั้ง</strong>
        <nav class="level">
          <div class="level-left">
            <vs-radio v-model="customerbusstiness.locationrent" vs-value="0" @click="checkevent()">เซ้ง</vs-radio>
            <vs-radio vs-color="success" v-model="customerbusstiness.locationrent" vs-value="1" @click="checkevent()">ซื้อ</vs-radio>
          </div>
        </nav>
        <hr />
        <div class="field">
          <div class="control">
            <label><strong>จำนวนคูหา&nbsp;<span class="text-danger">{{ customerbusstiness.cambioplace }}</span></strong></label>
            <input class="input" type="number" placeholder="ระบุจำนวนคูหา" v-model="customerbusstiness.cambioplace" @blur="cambioplaceevent()">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label><strong>จำนวนพนักงาน&nbsp;<span class="text-danger">{{ customerbusstiness.cambioemployee }}</span>&nbsp;คน</strong></label>
            <input class="input" type="number" placeholder="ระบุจำนวนพนักงาน" v-model="customerbusstiness.cambioemployee" @blur="cambioemployeeevent()">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    dataforms: Object
  },
  data () {
    return {
      customerbusstiness: {
        bussiness: {
          checkBoxInstall: true,
          checkBoxOrg: true,
          checkBoxModify: true
        },
        sales: {
          checkBoxMoto: true,
          checkBoxAuto: true,
          checkBoxBigBike: true
        },
        locationrent: 0,
        cambioplace: 0,
        cambioemployee: 0
      }
    }
  },
  methods: {
    checkevent () {
      var obj = this
      if (this.dataforms) {
        obj.$emit('updatebussiness', [obj.dataforms.txtid, 'bussiness', this.customerbusstiness])
      } else {
        this.$vs.notify({title: 'Opps...........', text: 'ไม่พบข้อมูลเบื้องต้น', color: 'danger', icon: 'warning', position: 'top-right'})
      }
    },
    cambioplaceevent () {
      this.checkevent()
    },
    cambioemployeeevent () {
      this.checkevent()
    }
  },
  watch: {
    dataforms () {
      console.dir(this.dataforms)
      if (this.dataforms) {
        if (this.dataforms.bussiness) {
          this.customerbusstiness = this.dataforms.bussiness
        }
      }
    }
  }
}
</script>

