<template>
  <div class="card">
  <header class="card-header">
    <p class="card-header-title">
      ข้อมูลติดต่อร้านค้า/คนส่งของ
    </p>
    <a class="card-header-icon" aria-label="more options" @click="showmodal()">
      <button class="button is-danger">
        เพิ่มข้อมูล
      </button>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <div>
        <strong class="text-danger">กดเพื่อลบข้อมูล</strong>
        <div class="box icuser" v-for="(n,i) in contact" :key="i" @click="del(n.gcode)">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="../../assets/img/avatar.svg" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{ n.contactname }}</strong>
                  <br>
                  <strong>หมายเลขโทรศัพท์:&nbsp;<b class="text-danger">{{ n.contacttelno }}</b></strong>
                  <br />
                  <strong>สถานะ:&nbsp;<b class="text-danger">{{ n.contacttitle }}</b></strong>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <sweet-modal ref="modaldialog" title="แบบฟอร์ม" blocking hide-close-button>
    <template slot="box-action">
        <a class="button is-success" @click="save()">บันทึก</a>
        &nbsp;
        <a class="button is-danger" @click="closemodal()">ปิด</a>
      </template>
      <template>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">ชื่อ-สกุล</label>
              <div class="control">
                <input class="input" type="text" placeholder="ชื่อ-สกุล" v-model="forms.txtname">
              </div>
            </div>
            <div class="field">
              <label class="label">เบอร์โทรศัพท์</label>
              <div class="control">
                <input class="input" type="text" placeholder="เบอร์โทรศัพท์" v-model="forms.txttelno">
              </div>
            </div>
            <div class="field">
              <label class="label">สถานะ</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select v-model="forms.txtemptype">
                    <option v-for="(n,i) in mock.employeestype" :key="i" :value="n.id">{{ n.title }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </sweet-modal>
</div>
</template>
<script>
import mocker from '@/assets/js/mock'
import { SweetModal, SweetModalTab } from 'sweet-modal-vue'
import social from '@/assets/js/social'
import guuid from '@/assets/js/greeter'
export default {
  props: {
    dataforms: Object
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  data () {
    return {
      sociallist: social,
      mock: mocker,
      forms: {
        txtname: null,
        txttelno: null,
        txtemptype: 0
      },
      contact: []
    }
  },
  methods: {
    showalert (txt) {
      this.$vs.notify({title: 'Opps...........', text: txt, color: 'danger', icon: 'warning', position: 'top-right'})
    },
    closemodal () {
      this.$refs.modaldialog.close()
      this.forms.txtname = null
      this.forms.txttelno = null
      this.forms.txtemptype = 0
    },
    del (n) {
      var ind = this.contact.map(e => e.gcode).indexOf(n)
      this.contact.splice(ind, 1)
      var obj = this
      obj.$emit('updatecontact', [obj.dataforms.txtid, 'custcontact', this.contact])
    },
    save () {
      if (this.forms.txtname === null) {
        this.showalert('กรุณาระบุชื่อ-สกุลด้วย')
      } else if (this.forms.txtname.length < 1) {
        this.showalert('กรุณาระบุชื่อ-สกุลด้วย')
      } else if (this.forms.txttelno === null) {
        this.showalert('กรุณาระบุหมายเลขโทรศัพท์ด้วย')
      } else if (this.forms.txttelno.length < 1) {
        this.showalert('กรุณาระบุหมายเลขโทรศัพท์ด้วย')
      } else if (this.forms.txtemptype === 0) {
        this.showalert('กรุณาระบุเลือกประเภทผู้ติดต่อด้วย')
      } else {
        this.$vs.loading({color: 'primary'})
        this.$refs.modaldialog.close()
        var ind = this.mock.employeestype.map(e => e.id).indexOf(this.forms.txtemptype)
        this.contact.push({
          gcode: guuid.GenCode(),
          contactname: this.forms.txtname,
          contacttelno: this.forms.txttelno,
          contacttype: this.forms.txtemptype,
          contacttitle: this.mock.employeestype[ind].title
        })
        var obj = this
        obj.$emit('updatecontact', [obj.dataforms.txtid, 'custcontact', this.contact])
        setTimeout(() => {
          obj.$vs.loading.close()
          obj.forms.txtname = null
          obj.forms.txttelno = null
          obj.forms.txtemptype = 0
        }, 300)
      }
    },
    showmodal () {
      this.$refs.modaldialog.open()
    }
  },
  watch: {
    dataforms () {
      console.dir(this.dataforms)
      if (this.dataforms) {
        if (this.dataforms.custcontact) {
          this.contact = this.dataforms.custcontact
        }
      }
    }
  }
}
</script>

