<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        ข้อมูลเครดิต
      </p>
      <a class="card-header-icon" aria-label="more options">
        <button class="button is-danger" @click="addevent()">
          อัพเดทข้อมูล
        </button>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">เงื่อนไขการชำระเงิน</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select v-model="forms.creditid" :disabled="dev.custcredit" @change="addevent()">
                    <option v-for="(n, i) in mock.mastercredit"
                    :key="i" :value="n.id">
                      {{ n.title + '-' + n.description }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">จำนวนเงิน / Tatol</label>
              <div class="control">
                <input :class="dev.txttotalcashclass" type="text" placeholder="ระบุจำนวนเงิน" v-model="forms.txttotalcash" :disabled="dev.credit" @change="addevent()">
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">วิธีการชำระเงิน</label>
          <div class="control">
            <div :class="dev.slclasstypecash">
              <select v-model="forms.typecash" @change="addevent()">
                <option v-for="(n, i) in mock.mastertypecash" :key="i" :value="n.id">{{ n.title }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">ธนาคารของลูกค้า</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select v-model="forms.bankid" @change="addevent()">
                <option v-for="(n, i) in mock.masterbank" :key="i" :value="i">{{ n.title + '-' + n.description }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">เลขที่บัญชี</label>
          <div class="control">
            <input class="input" type="text" placeholder="ระบุเลขที่บัญชี" v-model="forms.banknumber" @change="addevent()">
          </div>
        </div>
        <div class="field">
          <label class="label">ข้อมุลเพิ่มเติม</label>
          <div class="control">
            <textarea class="textarea" placeholder="ระบุข้อมุลเพิ่มเติม" v-model="forms.comment" @change="addevent()"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import mocker from '@/assets/js/mock'
export default {
  props: {
    dataforms: Object
  },
  data () {
    return {
      mock: mocker,
      dev: {
        slclasstypecash: 'select is-fullwidth',
        txttotalcashclass: 'input',
        custcredit: false,
        credit: false
      },
      forms: {
        creditid: 0,
        txttotalcash: 0,
        typecash: 0,
        bankid: 0,
        banknumber: '',
        comment: ''
      }
    }
  },
  methods: {
    addevent () {
      var obj = this
      // console.log('click event')
      // console.dir(this.forms.typecash)
      if (this.forms.typecash === 0) {
        this.dev.slclasstypecash = 'select is-fullwidth is-danger'
      } else if (this.forms.typecash === 2) {
        this.dev.txttotalcashclass = 'input is-danger'
      } else {
        console.dir(this.forms)
        if (this.dataforms) {
          this.forms.bankname = this.mock.masterbank[this.forms.bankid].description
          obj.$emit('updatecredit', [obj.dataforms.txtid, 'credit', this.forms])
        } else {
          this.$vs.notify({title: 'Opps...........', text: 'ไม่พบข้อมูลเบื้องต้น', color: 'danger', icon: 'warning', position: 'top-right'})
        }
      }
      obj.$emit('updatecredit', [obj.dataforms.txtid, 'credit', this.forms])
    }
  },
  watch: {
    'forms.creditid' () {
      if (this.forms.creditid === 1) {
        this.dev.credit = true
        this.forms.txttotalcash = 0
        this.addevent()
      } else {
        this.dev.credit = false
        this.addevent()
      }
    },
    'forms.typecash' () {
      if (this.forms.typecash === 0) {
        this.dev.slclasstypecash = 'select is-fullwidth is-danger'
      } else {
        this.dev.slclasstypecash = 'select is-fullwidth'
        this.addevent()
      }
    },
    dataforms () {
      console.dir(this.dataforms)
      if (this.dataforms) {
        if (this.dataforms.credit) {
          this.forms = this.dataforms.credit
        }
      }
    }
  }
}
</script>

