<template>
  <div class="">
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <a class="button is-danger" @click="addnew()">
          <i class="fa fa-plus"></i>
          &nbsp;
          เพิ่มข้อมูลผู้ติดต่อร้านค้า/คนสั่งของ (Add contact information )
        </a>
      </p>
    </div>
    <div>
      <div class="box icuser" v-for="(n,i) in list" :key="i" @click="edit(n)">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="../../assets/img/avatar.svg" alt="Image">
              <!-- <img :src="n.annote[0].img" alt="Image" class="img-avator-pic"> -->
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ n.txtname }}</strong>
                <br>
                <strong>Phone Number.:&nbsp;<b class="text-danger">{{ n.txttelno }}</b></strong>
                <br />
                <strong>Status:&nbsp;<b class="text-danger">{{ mock.employeestype[n.txtemptype].title }}</b></strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <sweet-modal blocking title="เพิ่มข้อมูล / Add" ref="modalsuccess" hide-close-button>
      <template slot="box-action">
        <a class="button is-success is-medium" @click="save()">Save</a>
        &nbsp;
        <a class="button is-danger is-medium" @click="closemodal()">Close</a>
      </template>
      <template>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">ชื่อ-สกุล / Firstname-Lastname</label>
              <div class="control">
                <input class="input is-medium" type="text" placeholder="ชื่อ-สกุล" v-model="forms.txtname">
              </div>
            </div>
            <div class="field">
              <label class="label">เบอรโทรศัพย์ / Phone Number.</label>
              <div class="control">
                <input class="input is-medium" type="text" placeholder="เบอรโทรศัพย์" v-model="forms.txttelno">
              </div>
            </div>
            <div class="field">
              <label class="label">สถานะ / Status</label>
              <div class="control">
                <div class="select is-fullwidth is-medium">
                  <select v-model="forms.txtemptype">
                    <option v-for="(n,i) in mock.employeestype" :key="i" :value="n.id">{{ n.title }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="column">
            <input class="file-input"
              type="file"
              name="resume"
              id="contactfile"
              accept="image/*"
              @change="annotechange($event)"/>
              <div class="field is-grouped is-grouped-centered" @click="selectfile()">
                <figure class="image">
                  <img :src="img.avator" class="img-avator-pic-detail">
                </figure>
              </div>
          </div> -->
        </div>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal icon="success" ref="modalcomplete" title="Opps!....">
      บันทึกข้อมูลเสร็จแล้ว / Successfully
    </sweet-modal>
    <sweet-modal blocking title="Opps!" ref="modalalert" icon="error">
      {{ info.msg }}
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Cleave from '@/node_modules/vue-cleave'
import mocker from '@/assets/js/mock'
import assets from '@/assets/js/imgtoblob'
import guuid from '@/assets/js/greeter'
export default {
  props: {
    txtid: String
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader,
    Cleave
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      info: {
        icon: 'error',
        title: 'เพิ่มข้อมูล',
        msg: 'Error Msg!'
      },
      code: null,
      list: [],
      forms: {
        txtname: null,
        txttelno: null,
        txtemptype: 0
      },
      pathname: null,
      img: {
        avator: 'https://bulma.io/images/placeholders/128x128.png'
      },
      mock: mocker
    }
  },
  methods: {
    addnew () {
      this.code = null
      this.forms.txtname = null
      this.forms.txttelno = null
      this.forms.txtemptype = 0
      this.img.avator = 'https://bulma.io/images/placeholders/128x128.png'
      this.$refs.modalsuccess.open()
    },
    edit (n) {
      this.info.icon = 'success'
      this.info.title = 'แก้ไขข้อมูล / Edit'
      this.info.msg = 'Edit Msg!'
      this.$refs.modalsuccess.open()
      this.code = n.ccode
      this.forms.txtname = n.txtname
      this.forms.txttelno = n.txttelno
      this.forms.txtemptype = n.txtemptype
      this.img.avator = n.annote[0].img
    },
    doUpload (event, txt) {
      return new Promise(resolve => {
        let ptname = '/SALES-CRM/' + localStorage.getItem('territory') + '-CRM/NEW_CONTACT/' + txt + '/'
        assets.doUpload(event, guuid.GenCode(), ptname)
          .then(r => {
            resolve(r)
          })
      })
    },
    annotechange (e) {
      var obj = this
      this.$refs.modalloading.open()
      var gcode = guuid.GenCode()
      assets.getFile(e.target.files[0]).then(r => {
        obj.doUpload(e, gcode)
          .then(rd => {
            obj.pathname = rd.pathname
            obj.img.avator = r
            obj.$refs.modalloading.close()
          })
      })
    },
    save () {
      var obj = this
      if (this.forms.txtname === null) {
        this.info.msg = 'กรุณาระบุชื่อผู้ติดต่อด้วย / Please enter the contacts'
        this.$refs.modalalert.open()
        setTimeout(() => {
          obj.$refs.modalalert.close()
        }, 3000)
      } else if (this.forms.txttelno === null || this.forms.txttelno.length < 10) {
        this.info.msg = 'กรุณาระบุเบอรโทรศัพย์ด้วย / Please enter the phone number.'
        this.$refs.modalalert.open()
        setTimeout(() => {
          obj.$refs.modalalert.close()
        }, 3000)
      } else {
        this.$refs.modalsuccess.close()
        this.$refs.modalloading.open()
        var gcode = guuid.GenCode()
        if (this.code !== null) {
          gcode = this.code
        }
        obj.insertnew(gcode).then(r => {
          obj.loadcheckdata().then(r => {
            obj.list = r
            obj.$refs.modalloading.close()
            obj.$refs.modalcomplete.open()
          })
        })
      }
    },
    closemodal () {
      this.$refs.modalsuccess.close()
      this.code = null
      // this.list = []
      this.forms.txtname = null
      this.forms.txttelno = null
      this.forms.txtemptype = 0
      this.img.avator = 'https://bulma.io/images/placeholders/128x128.png'
    },
    selectfile () {
      document.getElementById('contactfile').click()
    },
    savedata (code) {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/contact/edit', {
          txtid: obj.txtid,
          data: obj.forms,
          gcode: code,
          img: obj.img.avator
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            obj.closemodal()
            setTimeout(() => {
              resolve(r)
            }, 3000)
          })
      })
    },
    insertnew (gcode) {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/contact/add', {
          txtid: obj.txtid,
          data: obj.forms,
          gcode: gcode,
          pathname: obj.pathname,
          img: obj.img.avator
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            setTimeout(() => {
              resolve(r)
            }, 3000)
          })
      })
    },
    loadcheckdata () {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/contact/load', {
          txtid: obj.txtid
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    }
  },
  watch: {
    txtid () {
      // this.$refs.modalloading.open()
      var obj = this
      if (this.txtid !== null) {
        if (this.txtid.length > 16) {
          setTimeout(() => {
            obj.loadcheckdata().then(r => {
              // console.dir(r)
              obj.list = r
              obj.$refs.modalloading.close()
            })
          }, 3000)
        }
      } else {
        this.$refs.modalloading.close()
      }
    }
  }
}
</script>

