<template>
  <div class="">
    <div>
      <div class="box icuser" @click="edit(null)">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="../../assets/img/credit-cards.svg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Credit info</strong>
                <br>
                <strong>
                Condition:&nbsp;<b class="text-danger">{{ mock.mastercredit[forms.creditid].description }}</b>&nbsp;
                Payment Method:&nbsp;<b class="text-danger">{{ returntypecash(forms.typecash)  }}</b></strong>
                <br />
                <strong>Tatol:&nbsp;<b class="text-danger">{{ recurrency(forms.txttotalcash) }}</b>&nbsp;Bath</strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <sweet-modal blocking title="เพิ่มข้อมูล / Add" ref="modalsuccess" hide-close-button>
      <template slot="box-action">
        <a class="button is-success is-medium" @click="save()">Save</a>
        &nbsp;
        <a class="button is-danger is-medium" @click="closemodal()">Close</a>
      </template>
      <template>
        <section class="">
          <div class="">
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">เงื่อนไขการชำระเงิน / term of payment</label>
                  <div class="control">
                    <div class="select is-medium is-fullwidth">
                      <select v-model="forms.creditid" :disabled="dev.credit">
                        <option v-for="(n, i) in mock.mastercredit"
                        :key="i" :value="n.id">
                          {{ n.title + '-' + n.description }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">จำนวนเงิน / Tatol</label>
                  <div class="control">
                    <input class="input is-medium" type="text" placeholder="ระบุจำนวนเงิน" v-model="forms.txttotalcash" :disabled="dev.credit">
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">วิธีการชำระเงิน / Method of Payment</label>
              <div class="control">
                <div class="select is-medium is-fullwidth">
                    <select v-model="forms.typecash">
                      <option v-for="(n, i) in mock.mastertypecash" :key="i" :value="n.id">{{ n.title }}</option>
                    </select>
                  </div>
              </div>
            </div>
            <div class="field">
              <label class="label">ธนาคารของลูกค้า / Select bank</label>
              <div class="control">
                <div class="select is-medium is-fullwidth">
                  <select v-model="forms.bankid">
                    <option v-for="(n, i) in mock.masterbank" :key="i" :value="i">{{ n.title + '-' + n.description }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">เลขที่บัญชี / Account number</label>
              <div class="control">
                <input class="input is-medium" type="text" placeholder="ระบุเลขที่บัญชี" v-model="forms.banknumber">
              </div>
            </div>
            <div class="field">
              <label class="label">ข้อมุลเพิ่มเติม / Remark</label>
              <div class="control">
                <textarea class="textarea" placeholder="ระบุข้อมุลเพิ่มเติม" v-model="forms.comment"></textarea>
              </div>
            </div>
          </div>
        </section>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal icon="success" ref="modalcomplete" title="Opps!....">
      บันทึกข้อมูลเสร็จแล้ว / Successfully
    </sweet-modal>
    <sweet-modal blocking :title="info.title" ref="modalalert">
      {{ info.msg }}
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Cleave from '@/node_modules/vue-cleave'
import mocker from '@/assets/js/mock'
// import assets from '@/assets/js/imgtoblob'
// import guuid from '@/assets/js/greeter'
export default {
  props: {
    txtid: String,
    typebussiness: Number
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader,
    Cleave
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      info: {
        icon: 'error',
        title: 'เพิ่มข้อมูล / Add',
        msg: 'Error Msg!'
      },
      dev: {
        credit: false
      },
      forms: {
        creditid: 0,
        txtcredit: null,
        txttotalcash: 0,
        typecash: 0,
        txttypecash: null,
        bankid: 0,
        bankname: null,
        banknumber: null,
        comment: null
      },
      mock: mocker
    }
  },
  mounted () {
    // console.dir('credit load')
    // var obj = this
    if (this.txtid !== null) {
      if (this.txtid.length >= 17) {
        if (this.typebussiness === 2) {
          this.dev.credit = true
          this.forms.txtcredit = 1
        } else {
          this.dev.credit = false
          this.forms.txtcredit = 4
        }
        var obj = this
        setTimeout(() => {
          obj.firstdata().then(r => {
            // console.dir(r)
          })
        }, 5000)
      }
    }
    this.forms.txttypecash = this.mock.mastertypecash[0].title
    this.forms.txtcredit = this.mock.mastercredit[0].title
    this.forms.bankname = this.mock.masterbank[0].title
  },
  methods: {
    returntypecash (e) {
      var index = this.mock.mastertypecash.map(o => o.id).indexOf(e)
      return this.mock.mastertypecash[index].title
    },
    returncredit (e) {
      // var index = this.mock.mastercredit.map(o => o.id).indexOf(e)
      return e // this.mock.mastercredit[index].description
    },
    recurrency (e) {
      return (parseInt(e)).toLocaleString()
    },
    addnew () {
      this.$refs.modalsuccess.open()
    },
    edit (n) {
      this.info.icon = 'success'
      this.info.title = 'แก้ไขข้อมูล / Edit'
      this.info.msg = 'Edit Msg!'
      this.$refs.modalsuccess.open()
    },
    save () {
      this.$refs.modalloading.open()
      this.loaddata().then(r => {
        this.$refs.modalloading.close()
        this.$refs.modalsuccess.close()
      })
    },
    closemodal () {
      this.$refs.modalsuccess.close()
    },
    firstdata () {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/credit/load', {
          txtid: obj.txtid
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            // console.dir(r.data)
            obj.forms.creditid = r.data[0].creditid
            obj.forms.txtcredit = r.data[0].txtcredit
            obj.forms.txttotalcash = r.data[0].txttotalcash
            obj.forms.typecash = r.data[0].typecash
            obj.forms.bankname = r.data[0].bankname
            obj.forms.banknumber = r.data[0].banknumber
            obj.forms.comment = r.data[0].comment
            setTimeout(() => {
              resolve(r)
            }, 3000)
          })
      })
    },
    loaddata () {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/credit', {
          txtid: obj.txtid,
          data: obj.forms
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            // console.dir(r.data)
            obj.forms.creditid = r.data[0].creditid
            obj.forms.txtcredit = r.data[0].txtcredit
            obj.forms.txttotalcash = r.data[0].txttotalcash
            obj.forms.typecash = r.data[0].typecash
            obj.forms.bankname = r.data[0].bankname
            obj.forms.banknumber = r.data[0].banknumber
            obj.forms.comment = r.data[0].comment
            obj.firstdata().then(r => resolve(r))
          })
      })
    }
  },
  watch: {
    txtid () {
      var obj = this
      if (this.txtid !== null) {
        if (this.txtid.length >= 17) {
          this.$refs.modalloading.open()
          if (this.typebussiness === 2) {
            this.dev.credit = true
            this.forms.txtcredit = 1
          } else {
            this.dev.credit = false
            this.forms.txtcredit = 4
          }
          setTimeout(() => {
            obj.firstdata().then(r => obj.$refs.modalloading.close())
          }, 5000)
        }
      }
    },
    typebussiness () {
      var obj = this
      // this.$refs.modalloading.open()
      if (this.typebussiness === 2) {
        this.dev.credit = true
        this.forms.txttotalcash = 0
        this.forms.txtcredit = 1
      } else {
        // this.forms.txttotalcash
        this.forms.txttotalcash = 1
        this.dev.credit = false
        this.forms.txtcredit = 4
      }
      setTimeout(() => {
        obj.loaddata().then(r => obj.$refs.modalloading.close())
      }, 3000)
    },
    'forms.bankid' () {
      this.forms.bankname = this.mock.masterbank[this.forms.bankid].title
    },
    'forms.creditid' () {
      this.forms.txtcredit = this.mock.mastercredit[this.forms.creditid].title
    },
    'forms.typecash' () {
      this.forms.txttypecash = this.mock.mastertypecash[this.forms.typecash].title
    }
  }
}
</script>

