<template>
  <div>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <strong>ข้อมูลทั่วไป</strong>
        </p>
        <div>
          <a class="card-header-icon" aria-label="more options" @click="setconfirm()">
            <button class="button is-success">
              {{ dev.txtconfirm }}
            </button>
          </a>
        </div>
      </header>
      <div class="card-content">
        <div class="field">
          <div class="control">
            <div class="select is-fullwidth">
              <select v-model="forms.terrritory" @change="sevent()">
                <option v-for="(n, i) in territorylist" :key="i" :value="n">{{ n }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="content">
          <label>ระบุเลขที่ผู้เสียภาษี / Taxpayer identification number.</label>
          <div class="field has-addons">
            <div class="control is-expanded">
              <input :class="txtidclass" type="text" placeholder="ระบุเลขที่ผู้เสียภาษี / Taxpayer identification number." v-model="forms.txtid">
            </div>
            <div class="control">
              <a class="button is-info" @click="checktxtid()">
                ตรวจสอบ
              </a>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label>ชื่อร้านค้า / Name</label>
              <input :class="txtnameclass" type="text" placeholder="ระบุชื่อร้านค้า / Name" v-model="forms.txtname" @blur="checkeventblur()">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label>ชื่อ-สกุลเจ้าของร้าน / Firstname - Lastname</label>
              <input :class="txtcustnameclass" type="text" placeholder="ระบุชื่อ-สกุลเจ้าของร้าน / Firstname - Lastname" v-model="forms.txtcustname" @blur="checkeventblur()">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label>วันเกิดเจ้าของร้าน / Birthday <b class="text-danger">ตัวอย่าง:&nbsp;{{ txtdate }}</b></label>
              <input :class="txtdatebirthclass" type="text" placeholder="ระบุวันเกิดเจ้าของร้าน / Birthday" v-model="forms.txtdatebirth" @blur="checkeventblur()">
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="devider"/>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <strong>ข้อมูลติดต่อ</strong>
        </p>
        <a class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i :class="cardinfo" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
            <div class="field">
              <div class="control">
                <label>เบอร์โทรติดต่อ / Phone Number.</label>
                <input :class="txttelnoclass" type="telno" placeholder="ระบุเบอร์โทรติดต่อ / Phone Number." v-model="forms.txttelno" @blur="checkeventblur()">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label>Fax</label>
                <input :class="txtfaxclass" type="telno" placeholder="ระบุ Fax" v-model="forms.txtfax" @blur="checkeventblur()">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label>Email</label>
                <input :class="txtemailclass" type="text" placeholder="ระบุ Email" v-model="forms.txtemail" @blur="checkeventblur()">
              </div>
            </div>
            <div class="field">
              <div class="select is-fullwidth">
                <select v-model="forms.strbussinesstype" @change="checkeventblur()">
                  <option v-for="(n, i) in mock.listcustomertype" :key="i" :value="n.value">{{ n.title }}</option>
                </select>
              </div>
            </div>
            <div class="field" :hidden="forms.strbussinesstype !== 2">
              <div class="control">
                <label>สำนักงานย่อย</label>
                <textarea class="textarea" placeholder="ระบุสำนักงานย่อย" v-model="forms.txtbussiness" @blur="checkeventblur()"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="select is-fullwidth">
                <select v-model="forms.strcustomertype" @change="checkeventblur()">
                  <option v-for="(n, i) in mock.masterbusiness" :key="i" :value="n.id">{{ n.title }}</option>
                </select>
              </div>
            </div>
        </div>
      </div>
    </div>
    <br />
    <sweet-modal title="Opps....." ref="modaldialogconfirm" hide-close-button blocking>
      <template>
        <div class="field">
          <label class="label">ข้อมูลเพิ่มเติม</label>
          <div class="control">
            <textarea class="textarea" v-model="forms.txtcomment"></textarea>
          </div>
        </div>
      </template>
      <template slot="box-action">
        <a class="button is-success" @click="setapprove(1)">อนุมัติ</a>
        &nbsp;
        <a class="button is-danger" @click="setapprove(2)">ไม่อนุมัติ</a>
      </template>
    </sweet-modal>
  </div>
</template>
<script>
import Vue from 'vue'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import guuid from '@/assets/js/greeter'
import mocker from '@/assets/js/mock'
import firebase from 'firebase'
import VueFire from 'vuefire'
import { firebaseConfig } from '@/assets/js/config'
if (!firebase.apps.length) {
  firebase.initializeApp(firebaseConfig)
} else {
  firebase.app()
}
Vue.use(VueFire)
const db = firebase.database()
export default {
  props: {
    keyvalue: String,
    dataforms: Object,
    territorylist: Array
  },
  firebase: {
    customer: db.ref(`newcustomer`)
  },
  data () {
    return {
      txtdate: null,
      txtidclass: 'input',
      txtnameclass: 'input',
      txtcustnameclass: 'input',
      txtdatebirthclass: 'input',
      txttelnoclass: 'input',
      txtfaxclass: 'input',
      txtemailclass: 'input',
      mock: mocker,
      cardinfo: 'fa fa-angle-down',
      dev: {
        approvestatus: false,
        txtconfirm: 'ยืนยันเปิดบัญชีลูกค้า'
      },
      forms: {
        terrritory: null,
        txtcode: null,
        txtcusttype: false,
        txtid: null,
        txtname: null,
        txtcustname: null,
        txtdatebirth: null,
        txttelno: null,
        txtfax: null,
        txtemail: null,
        strbussinesstype: 0,
        strcustomertype: 0,
        txtbussinesstype: null,
        txtcustomertype: null,
        txtbussiness: null,
        remark: null,
        txtcomment: null
      }
    }
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  mounted () {
    var n = new Date()
    this.txtdate = n.getFullYear() + '-' + ('0' + (n.getMonth() + 1)).slice(-2) + '-' + ('0' + n.getDate()).slice(-2)
    this.forms.txtdatebirth = this.txtdate
    // console.dir(this.keyvalue)
    this.forms.txtid = this.keyvalue
    if (this.$route.params.id) {
      console.dir('get parms: ' + this.$route.params.id)
      if (this.$route.params.id.length > 12) {
        console.dir(this.dataforms.territory)
        this.forms.terrritory = this.dataforms.territory
      }
    } else {
      this.forms.terrritory = localStorage.getItem('territory')
    }
  },
  methods: {
    setapprove (s) {
      this.$refs.modaldialogconfirm.close()
      console.dir(this.forms.txtcomment)
      console.dir(this.forms.txtid)
      this.$emit('setapprove', [this.forms.txtid, s, this.forms.txtcomment])
    },
    setconfirm () {
      if (this.dev.approvestatus === true) {
        console.dir('confirm')
        if (localStorage.getItem('position') >= 9) {
          this.dev.approvestatus = false
        } else {
          this.forms.txtcomment = null
          this.$refs.modaldialogconfirm.open()
        }
        // this.$emit('setconfirm', this.forms.txtid)
      } else {
        if (this.dataforms.approvestatus === 0) {
          this.$vs.notify({title: 'Opps...........', text: 'รายการนี้ยังรอการอนุมัติอยู่', color: 'danger', icon: 'warning', position: 'top-right'})
        } else {
          this.$emit('setconfirm', this.forms.txtid)
        }
      }
    },
    showalert (txt, type, icons) {
      this.$vs.notify({title: 'Opps...........', text: txt, color: type, icon: icons, position: 'top-right', fixed: true})
    },
    checkID (id) {
      if (id.length !== 13) {
        return false
      } else {
        let sum = 0
        for (let i = 0; i < 12; i++) {
          sum += parseFloat(id.charAt(i)) * (13 - i)
        }
        if ((11 - sum % 11) % 10 !== parseFloat(id.charAt(12))) {
          return false
        } else {
          return true
        }
      }
    },
    sevent () {
      console.dir(this.forms.terrritory)
      if (this.forms.txtid.length >= 13) {
        this.$firebaseRefs.customer.child(localStorage.getItem('territory')).child(this.forms.txtid).update({
          territory: this.forms.terrritory
        })
      }
    },
    checkeventblur () {
      var ind = this.mock.listcustomertype.map(e => e.value).indexOf(this.forms.strbussinesstype)
      var indx = this.mock.masterbusiness.map(e => e.id).indexOf(this.forms.strcustomertype)
      this.forms.txtbussinesstype = this.mock.listcustomertype[ind].title
      this.forms.txtcustomertype = this.mock.masterbusiness[indx].title
      this.$emit('setvalue', this.forms)
    },
    checktxtid () {
      this.forms.txtcusttype = false
      this.forms.txtcode = guuid.GenCode()
      if (this.forms.txtid) {
        if (this.forms.txtid.length === 13) {
          var x = this.checkID(this.forms.txtid)
          this.forms.txtcusttype = x
          if (x !== true) {
            this.showalert('คุณระบุหมายเลขผู้เสียภาษีหรือเลขประจำตัวประชาชนไม่ถูกต้อง', 'danger', 'warning')
            this.txtidclass = 'input is-danger'
          } else {
            this.txtidclass = 'input is-success'
            this.$emit('settxtid', this.forms)
          }
        } else if (this.forms.txtid.length > 13) {
          this.showalert('คุณระบุหมายเลขผู้เสียภาษีหรือเลขประจำตัวประชาชนไม่ถูกต้อง', 'danger', 'warning')
          var obj = this
          setTimeout(() => {
            obj.forms.txtid = null
            obj.txtidclass = 'input is-danger'
          }, 1000)
        } else {
          this.txtidclass = 'input is-danger'
        }
      }
    },
    setdata () {
      if (this.dataforms) {
        if (this.forms.txtid === null) {
          this.forms.txtid = this.dataforms.txtid
        }
        this.forms.txtname = this.dataforms.txtname
        this.forms.txtcustname = this.dataforms.txtcustname
        this.forms.txtdatebirth = this.dataforms.txtdatebirth
        this.forms.txttelno = this.dataforms.txttelno
        this.forms.txtfax = this.dataforms.txtfax
        this.forms.txtemail = this.dataforms.txtemail
        this.forms.strbussinesstype = this.dataforms.strbussinesstype
        this.forms.strcustomertype = this.dataforms.strcustomertype
        this.forms.txtbussiness = this.dataforms.txtbussiness
        this.forms.territory = this.dataforms.territory
        console.dir(this.dataforms)
        if (this.dataforms) {
          if (parseInt(this.dataforms.approvestatus) === 0) {
            if (localStorage.getItem('position') >= 9) {
              this.dev.approvestatus = false
              this.dev.txtconfirm = 'รออนุมัติ'
            } else {
              this.dev.approvestatus = true
              this.dev.txtconfirm = 'จัดการ'
            }
          } else {
            this.dev.approvestatus = false
            this.dev.txtconfirm = 'ยืนยันเปิดบัญชีลูกค้าใหม่'
          }
        } else {
          this.dev.approvestatus = false
          this.dev.txtconfirm = 'ยืนยันเปิดบัญชีลูกค้าใหม่'
        }
      }
    }
  },
  watch: {
    dataforms () {
      console.dir(this.dataforms)
      // this.forms.txtcusttype = this.dataforms.txtcusttype
      // this.forms.txtid = this.dataforms.txtid
      this.setdata()
    },
    keyvalue () {
      this.forms.txtid = this.keyvalue
    },
    'forms.txtid' () {
      this.forms.txtcusttype = false
      this.forms.txtcode = guuid.GenCode()
      if (this.forms.txtid) {
        if (this.forms.txtid.length === 13) {
          var x = this.checkID(this.forms.txtid)
          this.forms.txtcusttype = x
          if (x !== true) {
            this.showalert('คุณระบุหมายเลขผู้เสียภาษีหรือเลขประจำตัวประชาชนไม่ถูกต้อง', 'danger', 'warning')
            this.txtidclass = 'input is-danger'
          } else {
            this.txtidclass = 'input is-success'
            this.$emit('settxtid', this.forms)
          }
        } else if (this.forms.txtid.length > 13) {
          this.showalert('คุณระบุหมายเลขผู้เสียภาษีหรือเลขประจำตัวประชาชนไม่ถูกต้อง', 'danger', 'warning')
          var obj = this
          setTimeout(() => {
            obj.forms.txtid = null
            obj.txtidclass = 'input is-danger'
          }, 1000)
        } else {
          this.txtidclass = 'input is-danger'
        }
      }
    },
    'forms.txtname' () {
      if (this.forms.txtname) {
        if (this.forms.txtname.length > 3) {
          this.txtnameclass = 'input is-success'
        } else {
          this.txtnameclass = 'input is-danger'
        }
      }
    },
    'forms.txtcustname' () {
      if (this.forms.txtcustname) {
        if (this.forms.txtcustname.length > 3) {
          this.txtcustnameclass = 'input is-success'
        } else {
          this.txtcustnameclass = 'input is-danger'
        }
      }
    },
    'forms.txtdatebirth' () {
      if (this.forms.txtdatebirth) {
        var n = new Date(this.forms.txtdatebirth)
        var d = n.toString()
        if (d === 'Invalid Date') {
          this.txtdatebirthclass = 'input is-danger'
        } else {
          this.txtdatebirthclass = 'input is-success'
        }
      }
    },
    'forms.txttelno' () {
      if (this.forms.txttelno) {
        if (this.forms.txttelno.length > 9) {
          this.txttelnoclass = 'input is-success'
        } else {
          this.txttelnoclass = 'input is-danger'
        }
      }
    },
    'forms.txtfax' () {
      if (this.forms.txtfax) {
        if (this.forms.txtfax.length > 9) {
          this.txtfaxclass = 'input is-success'
        } else {
          this.txtfaxclass = 'input is-danger'
        }
      }
    },
    'forms.txtemail' () {
      // var e = (email) => {
      //   var re = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/
      //   return re.test(email)
      // }
      if (this.forms.txtemail) {
        if (this.forms.txtemail.length > 3) {
          this.txtemailclass = 'input is-success'
        } else {
          this.txtemailclass = 'input is-danger'
        }
      }
    },
    'forms.strbussinesstype' () {
      this.forms.txtbussiness = null
      if (this.forms.strbussinesstype === 2) {
        this.forms.txtbussiness = null
      }
    }
  }
}
</script>

