<template>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      ข้อมูลการค้า
    </p>
    <a class="card-header-icon" aria-label="more options" @click="showmodal()">
      <button class="button is-danger">
        เพิ่มข้อมูล
      </button>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <strong class="text-danger">กดเพื่อลบข้อมูล</strong>
      <div class="box icuser" v-for="(n,i) in marketshare" :key="i" @click="del(n.gcode)">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="../../assets/img/avatar.svg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ n.txtbussiness }}</strong>
                <br>
                <strong>
                  ชื่อผู้ติดต่อ:&nbsp;<b class="text-danger">{{ n.txtcontact }}</b>
                  &nbsp;
                  เบอร์โทร.:&nbsp;<b class="text-danger">{{ n.txttelno }}</b>
                </strong>
                <br />
                <strong>
                  ยอดรวม:&nbsp;<b class="text-danger">{{ n.txtqty }}</b>
                  &nbsp;
                  ประเภทสินค้า:&nbsp;<b class="text-danger">{{ n.txttypebussiness }}</b>
                </strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
 <sweet-modal blocking title="เพิ่มข้อมูล" ref="modaldialog" hide-close-button>
      <template slot="box-action">
        <a class="button is-success" @click="save()">Save</a>
        &nbsp;
        <a class="button is-danger" @click="closemodal()">Close</a>
      </template>
      <template>
        <section>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">ชื่อบริษัท</label>
                <div class="control">
                  <input class="input" type="text" placeholder="ระบุชื่อบริษัท" v-model="forms.txtbussiness">
                </div>
              </div>
              <div class="field">
                <label class="label">ชื่อผู้ติดต่อ</label>
                <div class="control">
                  <input class="input" type="text" placeholder="ระบุชื่อผู้ติดต่อ" v-model="forms.txtcontact">
                </div>
              </div>
              <div class="field">
                <label class="label">เบอร์โทรติดต่อ</label>
                <div class="control">
                  <input class="input" type="text" placeholder="ระบุเบอร์โทรติดต่อ" v-model="forms.txttelno">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">ยอดสั่งซื้อ</label>
                <div class="control">
                  <input class="input" type="text" placeholder="ระบุยอดสั่งซื้อ" v-model="forms.txtqty">
                </div>
              </div>
              <div class="field">
                <label class="label">ประเภทสินค้า</label>
                <div class="control">
                  <input class="input" type="text" placeholder="ระบุประเภทสินค้า" v-model="forms.txttypebussiness">
                </div>
              </div>
            </div>
          </div>
        </section>
      </template>
</sweet-modal>
</div>
</template>
<script>
import mocker from '@/assets/js/mock'
import { SweetModal, SweetModalTab } from 'sweet-modal-vue'
import social from '@/assets/js/social'
import guuid from '@/assets/js/greeter'
export default {
  props: {
    dataforms: Object
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  data () {
    return {
      sociallist: social,
      mock: mocker,
      forms: {
        txtbussiness: null,
        txtcontact: null,
        txttelno: null,
        txtqty: 0,
        txttypebussiness: null
      },
      marketshare: []
    }
  },
  methods: {
    showalert (txt) {
      this.$vs.notify({title: 'Opps...........', text: txt, color: 'danger', icon: 'warning', position: 'top-right'})
    },
    closemodal () {
      this.$refs.modaldialog.close()
    },
    save () {
      if (this.forms.txtbussiness === null) {
        this.showalert('กรุณาระบุชื่อบริษัทด้วย')
      } else if (this.forms.txtbussiness.length < 1) {
        this.showalert('กรุณาระบุชื่อบริษัทด้วย')
      } else if (this.forms.txtcontact === null) {
        this.showalert('กรุณาระบุชื่อผู้ติดต่อด้วย')
      } else if (this.forms.txtcontact.length < 1) {
        this.showalert('กรุณาระบุชื่อผู้ติดต่อด้วย')
      } else if (this.forms.txttelno === null) {
        this.showalert('กรุณาระบุเบอร์โทรติดต่อด้วย')
      } else if (this.forms.txttelno.length < 1) {
        this.showalert('กรุณาระบุเบอร์โทรติดต่อด้วย')
      } else if (this.forms.txtqty === null) {
        this.showalert('กรุณาระบุยอดสั่งซื้อด้วย')
      } else if (this.forms.txtqty.length < 1) {
        this.showalert('กรุณาระบุยอดสั่งซื้อด้วย')
      } else if (this.forms.txttypebussiness === null) {
        this.showalert('กรุณาประเภทสินค้าด้วย')
      } else if (this.forms.txttypebussiness.length < 1) {
        this.showalert('กรุณาประเภทสินค้าด้วย')
      } else {
        this.$vs.loading({color: 'primary'})
        this.marketshare.push({
          gcode: guuid.GenCode(),
          txtbussiness: this.forms.txtbussiness,
          txtcontact: this.forms.txtcontact,
          txttelno: this.forms.txttelno,
          txtqty: this.forms.txtqty,
          txttypebussiness: this.forms.txttypebussiness
        })
        var obj = this
        obj.$emit('updatemartket', [obj.dataforms.txtid, 'custmartket', this.marketshare])
        setTimeout(() => {
          obj.$vs.loading.close()
          obj.$refs.modaldialog.close()
          obj.forms.txtbussiness = null
          obj.forms.txtcontact = null
          obj.forms.txttelno = null
          obj.forms.txtqty = 0
          obj.forms.txttypebussiness = null
        }, 300)
      }
    },
    del (n) {
      var ind = this.marketshare.map(e => e.gcode).indexOf(n)
      this.marketshare.splice(ind, 1)
      var obj = this
      obj.$emit('updatemartket', [obj.dataforms.txtid, 'custmartket', this.marketshare])
    },
    showmodal () {
      this.$refs.modaldialog.open()
      var obj = this
      obj.forms.txtbussiness = null
      obj.forms.txtcontact = null
      obj.forms.txttelno = null
      obj.forms.txtqty = 0
      obj.forms.txttypebussiness = null
    }
  },
  watch: {
    dataforms () {
      console.dir(this.dataforms)
      if (this.dataforms) {
        if (this.dataforms.custmartket) {
          this.marketshare = this.dataforms.custmartket
        }
      }
    }
  }
}
</script>
