<template>
  <div class="">
    <div>
      <div class="box icuser" @click="edit(null)">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="../../assets/img/grocery.svg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>
                  Business Type: <b class="text-success">{{ rebussiness(forms.bussiness) }}</b>&nbsp;
                  Sales Type: <b class="text-success">{{ resales(forms.salestype) }}</b>
                </strong>
                <br>
                <strong>
                  Location:&nbsp;<b class="text-danger">{{ resplace(forms.txtstatusplace) }}</b>
                </strong>
                <br />
                <strong>
                  Number of booths:&nbsp;<b class="text-danger">{{ forms.txttotalap }}</b>&nbsp;
                  Employees:&nbsp;<b class="text-danger">{{ forms.txttotalemp }}</b>
                </strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <sweet-modal blocking title="เพิ่มข้อมูล / Add" ref="modalsuccess" hide-close-button>
      <template slot="box-action">
        <a class="button is-success is-medium" @click="save()">Save</a>
        &nbsp;
        <a class="button is-danger is-medium" @click="closemodal()">Close</a>
      </template>
      <template>
        <div>
          <div class="columns">
            <div class="column">
              <label class="label">ประเภทกิจการ / Business Type</label>
              <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input type="checkbox" :checked="forms.bussiness.install" @click="setval($event, 1)">
                      ติดตั้ง / Install
                    </label>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input type="checkbox" :checked="forms.bussiness.org" @click="setval($event, 2)">
                      ขายอุปกรณ์เดิม / Original
                    </label>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input type="checkbox" :checked="forms.bussiness.mod" @click="setval($event, 3)">
                      ขายอุปกรณ์แต่ง / Modify
                    </label>
                  </div>
                </div>
              </div>
              <div class="column">
                <label class="label">ประเภทการขาย / Sales Type</label>
                <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input type="checkbox" :checked="forms.salestype.moto" @click="setval($event, 4)">
                        Moto
                      </label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input type="checkbox" :checked="forms.salestype.auto" @click="setval($event, 5)">
                        Auto
                      </label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input type="checkbox" :checked="forms.salestype.bigbike" @click="setval($event, 6)">
                        BigBike
                      </label>
                    </div>
                  </div>
              </div>
          </div>
          <hr class="divider"/>
          <div>
            <label class="label">สถานที่ตั้ง / Location</label>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio" value='1' v-model="forms.txtstatusplace">&nbsp;เซ้ง / Rent
                </label>
                <label class="radio">
                  <input type="radio" value='2' v-model="forms.txtstatusplace">&nbsp;ซื้อ / Buy
                </label>
              </div>
            </div>
            <br />
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label>จำนวนคูหา / Number of booths</label>
                <div class="control">
                  <input type="text" class="input is-medium" v-model="forms.txttotalap"/>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label>จำนวนพนักงาน / Employees</label>
                <div class="control">
                  <input type="text" class="input is-medium" v-model="forms.txttotalemp"/>
                </div>
              </div>
            </div>
          </div>
          <!-- <hr class="divider"/>
          <div class="field">
            <div class="file is-warning is-boxed">
              <label class="file-label">
                <input
                class="file-input"
                type="file"
                accept="image/*"
                name="resume"
                @change='getAnote($event)'>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-cloud-upload"></i>
                  </span>
                  <span class="file-label">
                    แนบรูปหน้าร้าน / Attachment
                  </span>
                </span>
              </label>
            </div>
          </div> -->
          <div :hidden="annote === null">
            <hr class="divider"/>
            <div class="columns">
              <div class="column" v-for="(n, i) in annote" :key="i">
                <figure class="image is-128x128" @click='removeimg(i, n)'>
                  <img :src="n.docs">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal icon="success" ref="modalcomplete" title="Opps!....">
      บันทึกข้อมูลเสร็จแล้ว / Successfully
    </sweet-modal>
    <sweet-modal icon="error" ref="modalerr" title="Opps!....">
      {{ info.msg }}
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Cleave from '@/node_modules/vue-cleave'
// import mock from '@/assets/js/mock'
import assets from '@/assets/js/imgtoblob'
import guuid from '@/assets/js/greeter'
export default {
  props: {
    txtid: String
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader,
    Cleave
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      cleaveOptions: {
        blocks: [5],
        uppercase: true
      },
      info: {
        icon: 'error',
        title: 'เพิ่มข้อมูล / Add',
        msg: 'Error Msg!'
      },
      guuid: null,
      forms: {
        txtstatusplace: 1,
        txttotalap: 0,
        txttotalemp: 0,
        bussiness: {
          install: false,
          org: false,
          mod: false
        },
        salestype: {
          moto: false,
          auto: false,
          bigbike: false
        }
      },
      annote: []
    }
  },
  methods: {
    annotedata (annote, title, guid) {
      return new Promise(resolve => {
        var obj = this
        const gu = guuid.GenCode()
        axios.post('/api/annote/market', {
          txtid: obj.txtid,
          recid: gu,
          refid: guid,
          img: annote,
          title: 'เอกสารประเภทกิจการ',
          type: 0,
          doctype: 1
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            obj.$refs.modalloading.close()
            resolve(gu)
          })
      })
    },
    annotedel (guid) {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/annote/del', {
          recid: guid
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            setTimeout(() => {
              obj.$refs.modalloading.close()
              resolve(guid)
            }, 3000)
          })
      })
    },
    getAnote (e) {
      // console.log(this.txtid)
      if (!this.txtid) {
        this.$refs.modalerr.open()
      } else {
        var obj = this
        obj.$refs.modalloading.open()
        // // console.dir(e.target.files[0])
        assets.getFile(e.target.files[0]).then(r => {
          // console.log(this.txtid + 'ch note!')
          obj.loaddata().then(rsd => {
            // // // console.dir(rsd[0].mkcode)
            obj.annotedata(r, 'เอกสารประเภทกิจการ', rsd[0].mkcode)
              .then(rd => {
                obj.annote.push({
                  id: obj.annote.length + 1,
                  docs: r,
                  title: 'เอกสารประเภทกิจการ',
                  guid: rd
                })
              })
          })
        })
      }
    },
    removeimg (i, n) {
      var obj = this
      obj.$refs.modalloading.open()
      this.annotedel(n.guid).then(r => {
        obj.$refs.modalloading.close()
        obj.annote.splice(i, 1)
      })
    },
    setval (e, obj) {
      console.log(e.target.checked)
      if (obj === 1) {
        this.forms.bussiness.install = e.target.checked
      } else if (obj === 2) {
        this.forms.bussiness.org = e.target.checked
      } else if (obj === 3) {
        this.forms.bussiness.mod = e.target.checked
      } else if (obj === 4) {
        this.forms.salestype.moto = e.target.checked
      } else if (obj === 5) {
        this.forms.salestype.auto = e.target.checked
      } else if (obj === 6) {
        this.forms.salestype.bigbike = e.target.checked
      }
    },
    resplace (e) {
      var b = ['ไม่ระบุ', 'เซ้ง / Rent', 'ซื้อ / Buy']
      return b[e]
    },
    reinstall (e) {
      if (e === true) {
        return 'อุปกรณ์ติดตั้ง / Install'
      } else {
        return ''
      }
    },
    remod (e) {
      if (e === true) {
        return ' ขายอุปกรณ์แต่ง / Modify'
      } else {
        return ''
      }
    },
    reorg (e) {
      if (e === true) {
        return ' ขายอุปกรณ์เดิม / Original'
      } else {
        return ''
      }
    },
    rebussiness (e) {
      return this.reinstall(e.install) + this.remod(e.mod) + this.reorg(e.org)
    },
    remoto (e) {
      if (e === true) {
        return 'Moto '
      } else {
        return ''
      }
    },
    reauto (e) {
      if (e === true) {
        return ' Auto'
      } else {
        return ''
      }
    },
    rebigbike (e) {
      if (e === true) {
        return ' BigBike'
      } else {
        return ''
      }
    },
    resales (e) {
      // console.log(e.moto, e.auto, e.bigbike)
      return this.remoto(e.moto) + this.reauto(e.auto) + this.rebigbike(e.bigbike)
    },
    addnew () {
      this.$refs.modalsuccess.open()
    },
    edit (n) {
      this.info.icon = 'success'
      this.info.title = 'แก้ไขข้อมูล / Edit'
      this.info.msg = 'Edit Msg!'
      this.$refs.modalloading.open()
      this.loaddata().then(rd => {
        // // console.dir(rd[0].mkcode)
        this.loadimg(rd[0].mkcode).then(rr => {
          // // // console.dir(rr)
          for (let i in rr) {
            this.annote.push({
              id: this.annote.length + 1,
              docs: rr[i].img,
              title: rr[i].title,
              guid: rr[i].recid
            })
          }
          this.$refs.modalloading.close()
          this.$refs.modalsuccess.open()
        })
      })
    },
    save () {
      var obj = this
      this.$refs.modalloading.open()
      this.loaddata().then(r => {
        // // console.dir(r)
        obj.$refs.modalloading.close()
        obj.$refs.modalsuccess.close()
        obj.$refs.modalcomplete.open()
        setTimeout(() => {
          obj.$refs.modalcomplete.close()
        }, 3000)
      })
    },
    closemodal () {
      this.forms.bussiness.install = false
      this.forms.bussiness.org = false
      this.forms.bussiness.mod = false
      this.forms.salestype.moto = false
      this.forms.salestype.auto = false
      this.forms.salestype.bigbike = false
      this.forms.txtstatusplace = 1
      this.forms.txttotalap = 0
      this.forms.txttotalemp = 0
      this.$refs.modalsuccess.close()
    },
    loadimg (mkcode) {
      // console.log(mkcode)
      return new Promise(resolve => {
        // var obj = this
        axios.post('/api/annote/img', {
          refid: mkcode,
          type: 0
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            setTimeout(() => {
              resolve(r.data)
            }, 3000)
          })
      })
    },
    loaddatamore () {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/market/load', {
          txtid: obj.txtid,
          data: obj.forms
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            setTimeout(() => {
              // console.dir(r.data)
              if (r.data.length > 0) {
                obj.forms.bussiness.install = r.data[0].bussiness.install
                obj.forms.bussiness.org = r.data[0].bussiness.org
                obj.forms.bussiness.mod = r.data[0].bussiness.mod
                obj.forms.salestype.moto = r.data[0].salestype.moto
                obj.forms.salestype.auto = r.data[0].salestype.auto
                obj.forms.salestype.bigbike = r.data[0].salestype.bigbike
                obj.forms.txtstatusplace = r.data[0].statusplace
                obj.forms.txttotalap = r.data[0].totalap
                obj.forms.txttotalemp = r.data[0].totalemp
                resolve(r.data)
              } else {
                obj.loaddata().then(rs => resolve(r.data))
              }
              // obj.$refs.modalloading.close()
            }, 3000)
          })
      })
    },
    loaddata () {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/market', {
          txtid: obj.txtid,
          data: obj.forms
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            setTimeout(() => {
              // // // console.dir(r.data)
              // obj.$refs.modalloading.close()
              resolve(r.data)
            }, 3000)
          })
      })
    }
  },
  watch: {
    txtid () {
      var obj = this
      if (this.txtid !== null) {
        if (this.txtid.length > 16) {
          // this.$refs.modalloading.open()
          setTimeout(() => {
            obj.loaddatamore().then(r => {
              // console.dir(r)
              obj.$refs.modalloading.close()
            })
          }, 3000)
        }
      }
    }
  }
}
</script>

