<template>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      ข้อมูล Social Network
    </p>
    <a class="card-header-icon" aria-label="more options" @click="addnewsocial()">
      <button class="button is-danger">
        เพิ่มข้อมูล
      </button>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <strong class="text-danger">กดเพื่อลบข้อมูล</strong>
      <div class="box" v-for="(n, i) in social" :key="i" @click="remove(n.guid)">
        <article class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img :src="n.socialicons" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ n.title }}</strong>
                <br />
                <strong>ไอดี&nbsp;<span class="text-danger">{{ n.txtsocialid}}</span></strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <sweet-modal ref="modaldialog" title="แบบฟอร์ม" blocking >
    <div class="field">
      <label class="label">เลือกข้อมูล</label>
      <div class="control">
        <div class="select is-fullwidth">
          <select v-model="forms.txttype">
            <option v-for="(n, i) in sociallist"
              :key="i" :value="n.id">
              {{ n.title }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">ไอดี</label>
      <div class="control">
        <input :class="txttclass" type="text" placeholder="ระบุไอดี" v-model="forms.txtid">
      </div>
    </div>
    <div slot="button">
	    <button class="button is-success" @click="savesocial()">บันทึก</button>
    </div>
  </sweet-modal>
</div>
</template>
<script>
import mocker from '@/assets/js/mock'
import { SweetModal, SweetModalTab } from 'sweet-modal-vue'
import social from '@/assets/js/social'
import guuid from '@/assets/js/greeter'
export default {
  props: {
    dataforms: Object
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  data () {
    return {
      sociallist: social,
      mock: mocker,
      txttclass: 'input',
      forms: {
        txtid: null,
        txttype: 0,
        txttitle: null
      },
      social: []
    }
  },
  methods: {
    showalert (txt) {
      this.$vs.notify({title: 'Opps...........', text: txt, color: 'danger', icon: 'warning', position: 'top-right'})
    },
    remove (code) {
      var ind = this.social.map(e => e.guid).indexOf(code)
      this.social.splice(ind, 1)
      var obj = this
      obj.$emit('updatesocial', [obj.dataforms.txtid, 'socialmedia', this.social])
    },
    savesocial () {
      if (this.forms.txttype === 0) {
        this.showalert('กรุณาเลือกประเภทของ Social Media ก่อน')
      } else {
        if (this.forms.txtid) {
          if (this.forms.txtid.length > 0) {
            this.$refs.modaldialog.close()
            this.$vs.loading({color: 'primary'})
            var i = this.sociallist.map(e => e.id).indexOf(this.forms.txttype)
            this.social.push({
              guid: guuid.GenCode(),
              type: this.forms.txttype,
              title: this.sociallist[i].title,
              socialicons: this.sociallist[i].icon,
              txtsocialid: this.forms.txtid
            })
            var obj = this
            obj.$emit('updatesocial', [obj.dataforms.txtid, 'socialmedia', this.social])
            setTimeout(() => {
              obj.$vs.loading.close()
              obj.forms.txttype = 0
              obj.forms.txtid = null
            }, 500)
          } else {
            this.showalert('กรุณาระบุข้อมูล Social Media ด้วย')
          }
        } else {
          this.showalert('กรุณาระบุข้อมูล Social Media ด้วย')
        }
      }
    },
    addnewsocial () {
      this.$refs.modaldialog.open()
      console.dir(this.forms)
    }
  },
  watch: {
    dataforms () {
      console.dir(this.dataforms)
      this.forms.txtid = null
      this.forms.txttype = 0
      this.forms.txttitle = null
      if (this.dataforms) {
        if (this.dataforms.socialmedia) {
          this.social = this.dataforms.socialmedia
        }
      } else {
        this.social = []
      }
    }
  }
}
</script>

