<template>
  <div class="">
    <div>
      <div class="box icuser" @click="edit(null)">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="../../assets/img/trucking.svg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ forms.txtname }}</strong>
                <br>
                <strong>Phone Number:&nbsp;<b class='text-danger'>{{ forms.txttelno }}</b></strong>
                <br />
                <strong>Remark:&nbsp;<b class='text-danger'>{{ forms.txtcomment }}</b></strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <sweet-modal blocking title="เพิ่มข้อมูล / Add" ref="modalsuccess" hide-close-button>
      <template slot="box-action">
        <a class="button is-success is-medium" @click="save()">Save</a>
        &nbsp;
        <a class="button is-danger is-medium" @click="closemodal()">Close</a>
      </template>
      <template>
        <div>
          <div class="field">
            <label>ชื่อขนส่ง / Transport</label>
            <div class="control">
              <input type="text" class="input is-medium"  v-model="forms.txtname"/>
            </div>
          </div>
          <div class="field">
            <label>เบอร์โทรศัพท์ / Phone Number</label>
            <div class="control">
              <input type="text" class="input is-medium" v-model="forms.txttelno" />
              <!-- <Cleave
                class="input is-medium"
                type="text"
                :options='cleaveOptions'
                id='txtphone'
                v-model="forms.txttelno"
              ></Cleave> -->
            </div>
          </div>
          <div class="field">
            <label class="label">ข้อมูลเพิ่มเติม / Remark</label>
            <div class="control">
              <textarea class="textarea is-medium" v-model="forms.txtcomment"></textarea>
            </div>
          </div>
        </div>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal icon="error" ref="modalerr" title="Opps!....">
      {{ info.msg }}
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Cleave from '@/node_modules/vue-cleave'
// import mock from '@/assets/js/mock'
export default {
  props: {
    txtid: String
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader,
    Cleave
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      cleaveOptions: {
        delimiter: ',',
        blocks: [10, 10, 10, 10, 10, 10],
        uppercase: true
      },
      info: {
        icon: 'error',
        title: 'เพิ่มข้อมูล / Add',
        msg: 'Error Msg!'
      },
      forms: {
        txtname: 'รถ YSS',
        txttelno: '027063700',
        txtcomment: null
      }
    }
  },
  methods: {
    addnew () {
      this.$refs.modalsuccess.open()
    },
    closemodal () {
      this.forms.txtname = 'รถ YSS'
      this.forms.txttelno = '027063700'
      this.forms.txtcomment = null
      this.$refs.modalsuccess.close()
    },
    edit (n) {
      this.info.icon = 'success'
      this.info.title = 'แก้ไขข้อมูล / Edit'
      this.info.msg = 'Edit Msg!'
      this.$refs.modalsuccess.open()
    },
    save () {
      this.loaddatainsert().then(r => this.$refs.modalsuccess.close())
    },
    loaddatainsert () {
      var obj = this
      return new Promise(resolve => {
        var b = {
          name: this.forms.txtname,
          telno: this.forms.txttelno,
          comment: this.forms.txtcomment
        }
        obj.$refs.modalloading.open()
        axios.post('/api/custtable/transport/add', {
          txtid: obj.txtid,
          data: b
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            // console.dir(r.data)
            this.forms.txtname = r.data[0].name
            this.forms.txttelno = r.data[0].telno
            this.forms.txtcomment = r.data[0].comment
            resolve(r.data)
            setTimeout(() => obj.$refs.modalloading.close(), 2000)
          })
      })
    },
    loaddata () {
      var obj = this
      return new Promise(resolve => {
        var b = {
          name: this.forms.txtname,
          telno: this.forms.txttelno,
          comment: this.forms.txtcomment
        }
        // obj.$refs.modalloading.open()
        axios.post('/api/custtable/transport', {
          txtid: obj.txtid,
          data: b
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            // console.dir(r.data)
            this.forms.txtname = r.data[0].name
            this.forms.txttelno = r.data[0].telno
            this.forms.txtcomment = r.data[0].comment
            resolve(r.data)
            // setTimeout(() => obj.$refs.modalloading.close(), 2000)
          })
      })
    }
  },
  watch: {
    txtid () {
      if (this.txtid !== null) {
        if (this.txtid.length >= 17) {
          // // console.dir(this.txtid)
          var obj = this
          setTimeout(() => {
            obj.loaddata().then(r => console.log(r))
          }, 3000)
        }
      }
    }
  }
}
</script>

