<template>
  <div>
    <section class="section">
      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <button class="button is-danger" @click="showmodal()"><i class="fa fa-plus"></i>&nbsp;เพิ่มข้อมูล Social / Add Social</button>
        </div>
      </div>
      <div class="container" :hidden="form.sociallist.length < 1">
        <table class="table is-striped is-narrow is-fullwidth">
          <thead>
            <tr>
              <th>#</th>
              <th>ID Name</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(n, i) in form.sociallist" :key="i" :value="i">
              <td>{{ i + 1 }}</td>
              <td>{{ n.txtsocialid }}</td>
              <td>{{ n.title }}</td>
              <td class="text-left">
                <a class="button is-warning is-medium" @click="removeitem(n.id)">Del.</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <sweet-modal blocking ref="modaldialogadd">
      <br />
      <br />
      <template>
        <div class="columns">
          <div class="column">
            <div class="field">
              <div class="control">
                <div class="select is-medium is-fullwidth">
                  <select v-model="form.select">
                    <option v-for="i in list.social" :value="i.id" :key="i.id">{{ i.title }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือไอดี" v-model="form.txtsocialid">
                <span class="icon is-small is-left">
                  <i :class="info.iclass"></i>
                </span>
              </p>
            </div>
            <div class="field is-grouped is-grouped-centered">
              <div class="control">
                <button class="button is-link is-medium" @click="addnew()">Save</button>
              </div>
            </div>
          </div>
        </div>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking icon="success" ref="modalsuccess">
      บันทึกข้อมูลเสร็จแล้ว / Successfully
    </sweet-modal>
    <sweet-modal blocking icon="error" ref="modalerror">
      {{ info.msg }}
    </sweet-modal>

  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
export default {
  props: {
    txtid: String,
    listcust: Array
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      div: {
        txtid: true
      },
      info: {
        iclass: 'fa fa-facebook',
        msg: null
      },
      list: {
        social: []
      },
      form: {
        select: 0,
        txtsocialid: null,
        data: [],
        sociallist: []
      }
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  mounted () {
    var obj = this
    this.loadmaster()
      .then(rd => {
        obj.list.social = rd
        obj.info.iclass = this.list.social[0].icon
      })
  },
  methods: {
    loadcustsocial () {
      return new Promise(resolve => {
        axios.post('/api/custtable/social/load', {
          txtid: this.txtid
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            // console.dir(r.data)
            resolve(r.data)
          })
      })
    },
    loadmaster () {
      return new Promise(resolve => {
        axios.get('/api/master/social', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            // console.dir(r.data)
            resolve(r.data)
          })
      })
    },
    showmodal () {
      this.form.select = 0
      this.info.iclass = this.list.social[0].icon
      this.form.txtsocialid = null
      this.$refs.modaldialogadd.open()
    },
    addnew () {
      var obj = this
      this.$refs.modaldialogadd.close()
      this.$refs.modalloading.open()
      var ind = -1
      if (obj.form.sociallist.length > 0) {
        ind = obj.form.sociallist.map(e => e.type).indexOf(this.form.select)
      }
      if (ind < 0) {
        obj.form.sociallist.push({
          id: obj.form.sociallist.length,
          type: obj.form.select,
          title: obj.list.social[this.form.select].title,
          txtsocialid: obj.form.txtsocialid
        })
      } else {
        obj.form.sociallist[ind].id = obj.form.sociallist.length
        obj.form.sociallist[ind].type = this.form.select
        obj.form.sociallist[ind].title = this.list.social[this.form.select].title
        obj.form.sociallist[ind].txtsocialid = this.form.txtsocialid
      }
      setTimeout(() => {
        obj.insertdata(obj.txtid, obj.form.sociallist)
          .then(rr => {
            // console.dir(obj.form.sociallist)
            obj.$emit('setsocial', obj.form.sociallist)
            obj.$refs.modalloading.close()
            obj.$refs.modalsuccess.open()
          })
      }, 2000)
    },
    removeitem (e) {
      var obj = this
      obj.$refs.modalloading.open()
      var index = obj.form.sociallist.map(i => i.id).indexOf(e)
      obj.form.sociallist.splice(index, 1)
      setTimeout(() => {
        obj.insertdata(obj.txtid, obj.form.sociallist)
          .then(rr => {
            obj.$emit('setsocial', obj.form.sociallist)
            obj.$refs.modalloading.close()
            obj.$refs.modalsuccess.open()
          })
      }, 2000)
    },
    insertdata (txtid, obj) {
      return new Promise(resolve => {
        axios.post('/api/custtable/social/add', {
          txtid: txtid,
          obj: obj
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            // console.dir(r.data)
            resolve(r.data)
          })
      })
    }
  },
  watch: {
    'form.select' () {
      this.info.iclass = this.list.social[this.form.select].icon
    },
    listcust () {
      console.log('change add')
      var obj = this
      if (this.listcust) {
        obj.form.sociallist = this.listcust
      } else {
        obj.form.sociallist.length = 0
      }
      // console.dir(obj.form.sociallist)
    }
  }
}
</script>

