.img-avator.login > img {
  height: 150px;
  display: initial;
  border: 0.5px solid hsla(0,0%,48%,.3);
  border-radius: 100px;
  box-shadow: 1px 2px 4px 0 rgba(1,1,1,0.5);
}
.img-avator-pic {
    height: 64px !important;
    width: 64px !important;
    border-radius: 50% !important;
}
.img-avator-pic-detail {
  height: 250px !important;
  width: 300px !important;
}
