
@import 'color';
.text-default {
  color: $color-default !important;
}
.text-primary {
  color: $color-primary !important;
}
.text-success {
  color: $color-success !important;
}
.text-warning {
  color: $color-warning !important;
}
.text-danger {
  color: $color-danger !important;
}
.text-info {
  color: $color-info !important;
}

.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
