@import 'icons';
@import 'text';
@import 'curser';
@import 'notifies';
@import 'form';
@import 'alert';
@import 'images';

.hero.is-auth.is-primary {
  height: 100vh !important;
}
@media print, screen and (min-width: 769px) {
  .hero.is-large .hero-body {
      padding-bottom: 18rem !important;
      padding-top: 10rem !important;
  }
}
@media print, screen and (min-width: 1023px) {
  .hero.is-large .hero-body {
      padding-bottom: 18rem !important;
      padding-top: 10rem !important;
  }
}

.v-spinner {
  display: block !important;
  padding-top: 70px !important;
  padding-bottom: 30px !important;
}
.sweet-modal.is-alert .sweet-content {
  display: block;
  text-align: center;
  font-size: 16px;
  padding-top: 6px !important;
  padding-bottom: 64px;
}
