<template>
  <div>
    <br />
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสสินค้า" v-model="txtfilter">
      </div>
      <div class="control">
        <a class="button is-info is-medium" @click="search()">
          Search
        </a>
      </div>
    </div>
    <div>
      <div class="box" v-for="(n, i) in filterBy(reverseItems, txtfilter)" :key="i" @click="showdetail(n)">
        <article class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img :src="n.img" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
              <strong>{{ n.itemid }}</strong>
              &nbsp;
              <strong>Status:&nbsp;
                <span :class="reclass(n.stop)">
                  {{ restop(n.stop) }}
                </span>
              </strong>
              <br>
              <b>
                <span>{{ renamenull(n.itemname) }}</span>&nbsp;
              </b>
              <br />
              <b>Price/Item:&nbsp;
                <span class="text-danger">
                  {{ recurrency(n.price) }}
                </span>
                &nbsp;Bath&nbsp;&nbsp;
              </b>
              <strong>
                Stock:<span :class="n.stockstatusclass">&nbsp;{{ n.stockstatus }}</span>
              </strong>
              <br />
              <strong>
                Date Stock:<span :class="n.stockstatusclass">&nbsp;{{ redate(n.date_stock_in) }}</span>
              </strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <br />
    <sweet-modal blocking ref="modalpic" title="Detail">
      <template>
        <figure class="image image-ava">
          <img :src="images">
        </figure>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
const _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'รายการสินค้า / List Items'
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      txtfilter: null,
      listdata: [],
      images: 'https://bulma.io/images/placeholders/256x256.png'
    }
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.listdata, ['filtername'], ['asc'])
    }
  },
  mounted () {
    var obj = this
    obj.listdata = []
    obj.$refs.modalloading.open()
    this.loaddataitem()
      .then(rd => {
        obj.listdata = rd
        obj.$refs.modalloading.close()
      })
  },
  methods: {
    showdetail (e) {
      this.images = e.img
      this.$refs.modalpic.open()
    },
    redate (e) {
      var n = new Date()
      if (e.substr(0, 4) >= n.getFullYear()) {
        return e.substr(0, 11)
      } else {
        return 'ไม่พบข้อมูล / Not Found'
      }
    },
    renamenull (e) {
      if (e) {
        return e
      } else {
        return 'ไม่พบข้อมูล / Not Found'
      }
    },
    recurrency (e) {
      return e.toLocaleString()
    },
    reclass (e) {
      var b = ['text-success', 'text-danger']
      return b[e]
    },
    restop (e) {
      var b = ['Actived', 'Stop']
      return b[e]
    },
    search () {
      var obj = this
      obj.listdata = []
      obj.$refs.modalloading.open()
      this.loadfilter()
        .then(rd => {
          obj.listdata = rd
          obj.$refs.modalloading.close()
        })
    },
    loadfilter () {
      var obj = this
      return new Promise(resolve => {
        axios.post('/api/inventtable/list', {
          item: obj.txtfilter
        })
          .then(res => {
            // console.dir(res)
            resolve(res.data)
          })
      })
    },
    loaddataitem () {
      return new Promise(resolve => {
        axios.get('/api/inventtable', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            // console.dir(r)
            resolve(r.data)
          })
      })
    }
  }
}
</script>

