<template>
  <div>
    <br />
    <div class="field has-addons has-addons-centered">
      <p class="control">
        <span class="select is-medium">
          <select v-model="filtertxt">
            <option value="0">รูปแบบการ filter</option>
            <option v-for="(n, i) in filtermock" :key="i" :value="n.value">{{ n.title }}</option>
          </select>
        </span>
      </p>
      <p class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสลูกค้า" v-model="txtfilter">
      </p>
      <p class="control">
        <a class="button is-info is-medium" @click="searchorder()">
          Search
        </a>
      </p>
    </div>
    <!-- <div>
      <b class="text-danger">รายการข้างล่างนี้แสดงเฉพาะรายการออเดอร์ 15 รายการล่าสุดถ้าต้องการข้อมูลเพิ่มเติมให้ระบุชื่อหรือรหัสลูกค้าแล้วกดค้นหา</b>
    </div> -->
    <div>
      <div class="box" v-for="(n,i) in filterBy(reverseItemsList, txtfilter)" :key="i"  @click="showdetail(n)">
        <article class="media">
          <figure class="media-left">
            <p class="image is-96x96">
              <img src="../../../assets/img/cart.svg">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ n.salesid }}</strong>
                <br />
                <strong>{{ n.customer }}</strong>&nbsp;<small>@</small>&nbsp;<strong>{{ n.salesdistrictid }}</strong>
                <br>
                <strong>Summary:&nbsp;<b class="text-danger">{{ reqty(n.orderline) }}</b></strong>
                &nbsp;&nbsp;
                <strong>Order Date:&nbsp;<b class="text-danger">{{ redate(n.updateat) }}</b></strong>
                <br />
                <strong>Type:&nbsp;<b :class="returnorderclassorder(n.ordertype)">{{ 'order '+ n.ordertype }}</b></strong>&nbsp;&nbsp;
                <strong>Remark:&nbsp;<b class="text-danger">{{ n.remark }}</b></strong>
                <br />
                <strong>Status:&nbsp;<b :class="returnclass(n.approve)">{{ returnapprove(n.approve) }}</b></strong>&nbsp;&nbsp;
                <strong>Order Status:&nbsp;<b :class="returnorderclass(n.salesstatus)">{{ returnorderstatus(n.salesstatus) }}</b></strong>
              </p>
            </div>
          </div>
        </article>
      </div>
      <br />
    </div>
    <sweet-modal title="" ref="modalorder" hide-close-button>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>#</th>
            <th>item</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Disc.</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th colspan="4">Summary</th>
            <th><b class="text-danger">{{reqty(data.line)}}</b></th>
            <th>Bath</th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          <tr v-for="(n,i) in data.line" :key="i">
            <td>{{ i + 1 }}</td>
            <td>
              {{ n.itemid }}
              <br />
              {{ n.itemname }}
            </td>
            <td>{{ recurrency(n.price) }}</td>
            <td>{{ n.qty }}</td>
            <td>{{ n.perc + '%' }}</td>
            <td>{{((n.price * n.qty) -  (((n.price *  n.perc) / 100) * n.qty)).toLocaleString()}}</td>
            <td><span :class="returnorderclass(n.salesstatus)">{{ returnorderstatus(n.salesstatus) }}</span></td>
          </tr>
        </tbody>
      </table>
      <hr />
      <div :hidden="data.remark === null">
        <article class="message text-left">
          <div class="message-header">
            <p><strong>Remark</strong></p>
          </div>
          <div class="message-body">
            <strong class="text-danger">{{ data.remark }}</strong>
          </div>
        </article>
      </div>
      <br />
      <div :hidden="data.devhide">
        <article class="message text-left">
          <div class="message-header">
            <p><strong>Transport Information</strong></p>
          </div>
          <div class="message-body">
            Status:&nbsp;<strong :class="returnorderclass(data.delivery.deliverystatus)">{{ returndeliverystatus(data.delivery.deliverystatus) }}</strong>
            &nbsp;
            Delivery Date:&nbsp;<strong :class="returnorderclass(data.delivery.deliverystatus)">{{ resub(data.delivery.deliverydate) }}</strong>
            <br />
            DO Number:&nbsp;<strong :class="returnorderclass(data.delivery.deliverystatus)">{{ returndel(data.delivery.documentnumber) }}</strong>
            &nbsp;
            Transport:&nbsp;<strong :class="returnorderclass(data.delivery.deliverystatus)">{{ returndel(data.delivery.dlvmod) }}</strong>
            <br />
            Receive date:&nbsp;<strong :class="returnorderclass(data.delivery.deliverystatus)">{{ resub(data.delivery.dodate) }}</strong>
          </div>
        </article>
      </div>
      <template slot="box-action">
        <div :hidden="data.approve > 0">
          <a class="button is-success is-medium" @click="orderconfirm(data.orderid, 1)" :disabled="reconfirm(data.approve)">Confirm</a> &nbsp;
          <a class="button is-danger is-medium" @click="orderconfirm(data.orderid, 2)" :disabled="reconfirm(data.approve)">Cancel</a>
        </div>
        <div :hidden="data.approve < 1">
          <a class="button is-danger is-medium" @click="closemodal()">Close</a>
        </div>
      </template>
    </sweet-modal>
    <sweet-modal icon="success" ref="modal">
      Successfully
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
  </div>
</template>
<script>
import mock from '@/assets/js/mock'
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
const fn = require('@/assets/js/greeter')
let _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - REPORTS ORDER CRM'
    }
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      project: [],
      fn: fn,
      txtfilter: null,
      data: {
        devhide: true,
        delivery: {
          deliverystatus: 0,
          dodate: null,
          documentnumber: null,
          dlvmod: null,
          deliverydate: null
        },
        line: [],
        total: 0,
        orderid: null,
        approve: 0,
        remark: null
      },
      filtermock: mock.filterorder,
      filtertxt: 0,
      reverseItemsList: []
    }
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.project, ['approve', 'updateat', 'created'], ['asc', 'desc', 'desc'])
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  mounted () {
    var obj = this
    obj.reverseItemsList = []
    this.loadorder()
      .then(r => {
        console.dir(r)
        obj.project = r
        obj.reverseItemsList = obj.reverseItems
      })
  },
  methods: {
    redate (i) {
      var n = new Date(i)
      return ('0' + n.getDate()).slice(-2) + '-' + ('0' + (n.getMonth() + 1)).slice(-2) + '-' + n.getFullYear()
    },
    recurrency (e) {
      if (e) {
        return e.toLocaleString()
      } else {
        return 0
      }
    },
    searchorder () {
      var obj = this
      obj.$refs.modalloading.open()
      obj.loadordersearch()
        .then(r => {
          console.dir(r)
          obj.$refs.modalloading.close()
          obj.project = r
        })
    },
    loadordersearch () {
      return new Promise(resolve => {
        axios.post('/api/orders/search', {
          empid: localStorage.getItem('empcode'),
          custname: this.txtfilter,
          position: localStorage.getItem('position')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    loadorder () {
      return new Promise(resolve => {
        axios.post('/api/orders/get', {
          territory: localStorage.getItem('territory'),
          position: localStorage.getItem('position'),
          empcode: localStorage.getItem('empcode')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    reqty (e) {
      // return e.length
      var x = 0
      for (let i in e) {
        x = x + ((e[i].price - ((e[i].price * parseFloat(e[i].perc))) / 100) * e[i].qty)
      }
      return x.toLocaleString()
    },
    returndeliverystatus (i) {
      var b = ['None', 'Delivery', 'Received', 'Return', 'Accounting Document', 'Cancel']
      return b[i]
    },
    resub (e) {
      if (e) {
        if (parseInt(e.substring(0, 4)) <= 1900) {
          return 'Not Found'
        } else {
          return e.substring(0, 10)
        }
      } else {
        return 'Not Found'
      }
    },
    returndel (e) {
      if (e) {
        return e
      } else {
        return 'Not Found'
      }
    },
    returnorderstatus (i) {
      var b = ['None', 'Open', 'Delivery', 'Invoice', 'Cancel']
      return b[i]
    },
    returnorderclassorder (i) {
      var b = ['text-danger', 'text-warning', 'text-primary', 'text-success', 'text-info', 'text-warning', 'text-primary', 'text-success', 'text-info', 'text-danger']
      return b[i]
    },
    returnorderclass (i) {
      var b = ['text-danger', 'text-warning', 'text-primary', 'text-success', 'text-info', 'text-danger', 'text-warning', 'text-primary', 'text-success', 'text-info', 'text-danger']
      return b[i]
    },
    returnapprove (i) {
      var b = ['None', 'Confirmed', 'Canceled', 'ORD. AX']
      return b[i]
    },
    returnclass (e) {
      var b = ['text-danger', 'text-success', 'text-success', 'text-info']
      return b[parseInt(e)]
    },
    reorder (r) {
      var b = ['N', 'Y', 'C']
      return b[parseInt(r)]
    },
    showdetail (e) {
      console.dir(e)
      var obj = this
      obj.$refs.modalloading.open()
      obj.data.line = []
      setTimeout(() => {
        obj.data.remark = e.remark
        obj.data.orderid = e.ordernumber
        obj.data.approve = e.approve
        obj.data.line = e.orderline
        if (e.delivery.length > 0) {
          obj.data.devhide = false
          obj.data.delivery.deliverystatus = e.delivery[0].deliverystatus
          obj.data.delivery.dodate = e.delivery[0].dodate
          obj.data.delivery.documentnumber = e.delivery[0].documentnumber
          obj.data.delivery.dlvmod = e.delivery[0].dlvmod
          obj.data.delivery.deliverydate = e.delivery[0].deliverydate
        } else {
          obj.data.devhide = true
          obj.data.delivery.deliverystatus = 0
          obj.data.delivery.dodate = null
          obj.data.delivery.documentnumber = null
          obj.data.delivery.dlvmod = null
          obj.data.delivery.deliverydate = null
        }
        obj.$refs.modalloading.close()
        obj.$refs.modalorder.open()
      }, 3000)
    },
    reupdatestatus (orderid, status, approveby) {
      return new Promise(resolve => {
        var b = {
          orderid: orderid,
          status: status,
          approveby: localStorage.getItem('empcode')
        }
        axios.post('/api/orders/update', b, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            console.dir(r)
            resolve(r.data)
          })
          .catch(err => {
            console.log(err)
          })
      })
    },
    reconfirm (approve) {
      if (approve > 0) {
        return true
      } else {
        return false
      }
    },
    closemodal () {
      var obj = this
      obj.$refs.modalorder.close()
      obj.data.line = []
      obj.data.total = 0
      obj.data.orderid = null
      obj.data.approve = 0
    },
    orderconfirm (id, status) {
      var obj = this
      obj.$refs.modalorder.close()
      obj.reupdatestatus(id, status, 'Admin')
        .then(re => {
          console.dir(re)
          var ind = obj.project.map(i => i.ordernumber).indexOf(id)
          obj.project[ind].approve = status
          obj.project[ind].ordersync = 1
          obj.$refs.modal.open()
          setTimeout(() => {
            obj.data.line.length = 0
            obj.data.total = 0
            obj.data.orderid = null
            obj.data.approve = 0
          }, 1000)
        })
        .catch(err => {
          console.log(err)
        })
      console.info(id, status)
    },
    reverseItemsFilter (a, b) {
      console.log('call filter :' + a + ' and ' + b)
      return _.orderBy(this.project, [a], [b])
    }
  },
  watch: {
    filtertxt () {
      this.reverseItemsList = []
      if (this.filtertxt > 0) {
        var ind = this.filtermock.map(e => e.value).indexOf(this.filtertxt)
        console.dir(this.filtermock[ind])
        var a = this.filtermock[ind].name
        var b = this.filtermock[ind].filter
        this.reverseItemsList = this.reverseItemsFilter(a, b)
      } else {
        this.reverseItemsList = this.reverseItems
      }
    }
  }
}
</script>
<style>
.sweet-modal.is-alert .sweet-content {
  display: block;
  padding-top: 64px !important;
  padding-bottom: 64px;
  font-size: 16px;
  text-align: center;
}
</style>

