<template>
  <div>
    <br />
    <!-- <button @click="setrest()" class="button is-danger">Click&nbsp;{{ loading }}</button> -->
    <InfoMation
    :txtfilter="data.txtfilter"
    @setfiltername="setfiltername($event)"
    ></InfoMation>
    <div>
      <hr />
      <ListResult
      :listappoint="listresult"
      @setcommit="setcommit($event)"
      ></ListResult>
      <NewAppointment
      :txtfilter="data.txtfilter"
      :resultadd="data.resultadd"
      :billinglist="data.billinglist"
      :txtcustomer="txtcustomer"
      :txtactivities="txtactivities"
      @setresultadd="setresultadd($event)"
      ></NewAppointment>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import InfoMation from '@/components/Result/InfoMation'
import NewAppointment from '@/components/Result/NewAppointment'
import ListResult from '@/components/CustomerList/ResultList'
import assets from '@/assets/js/imgtoblob'
import guuid from '@/assets/js/greeter'
import mocker from '@/assets/js/mock'
import Vue from 'vue'
import firebase from 'firebase'
// import VueFire from 'vuefire'
import Vue2Filters from '@/node_modules/vue2-filters'
import { firebaseConfig } from '@/assets/js/config'
// Vue.use(VueFire)
Vue.use(Vue2Filters)
if (!firebase.apps.length) {
  firebase.initializeApp(firebaseConfig)
} else {
  firebase.app()
}
Vue.config.productionTip = false
const db = firebase.database()
let x = 'D05'
// if (localStorage) {
//   // localStorage can be used
//   console.log('used localStorage')
// } else {
//   // can't be used
//   console.log('can not be used localStorage')
// }
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - RESULT APPOINTMENT'
    }
  },
  components: {
    InfoMation,
    ListResult,
    NewAppointment
  },
  firebase: {
    salestoggle: db.ref('resultappointments'),
    getresult: db.ref('resultappointments').child(x)
  },
  data () {
    return {
      listresult: [],
      data: {
        resultadd: false,
        addresult: false,
        txtfilter: null,
        billinglist: []
      },
      mock: mocker,
      forms: {
        txtfilter: null,
        txtremark: null,
        visittype: 0
      },
      latitude: null,
      longitude: null,
      localtionmsg: null,
      txtcustomer: null,
      txtactivities: null,
      user: null,
      loading: false
    }
  },
  mounted () {
    // var obj = this
    this.data.txtfilter = null
    this.data.addresult = false
    var obj = this
    firebase.auth()
      .signInWithEmailAndPassword(localStorage.getItem('email'), this.mock.auth)
      .then(user => {
        this.user = user
        obj.$firebaseRefs.salestoggle.child(localStorage.getItem('territory')).on('value', snap => {
          // console.dir(snap.val())
          obj.listresult = snap.val()
        })
      })
  },
  methods: {
    setrest () {
      console.dir('set clear')
      assets.testIns()
        .then(r => {
          console.dir(r)
        })
    },
    setresultadd (e) {
      // console.dir('setresultadd')
      var bil = []
      if (e[6]) {
        var bb = e[6]
        for (let j in bb) {
          if (bb[j].status === 0) {
            bil.push(bb[j].billlingnumber)
          }
        }
      }
      var obj = this
      var txtcustomer = e[1]
      this.data.resultadd = e[0]
      this.txtcustomer = txtcustomer.substr(0, txtcustomer.indexOf('-'))
      this.txtactivities = e[5].visittile
      var listac = e[9]
      var listact = []
      listac.forEach(el => {
        if (el.status === true) {
          console.log(el.status)
          listact.push(el.title)
        }
      })
      if (e[4] === true) {
        var ap = 1
        if (e[3] === 2) {
          ap = 0
        }
        var n = new Date()
        var b = {
          resultcode: guuid.GenCode(),
          empcode: localStorage.getItem('empcode'),
          empname: localStorage.getItem('name'),
          territory: localStorage.getItem('territory'),
          custtomer: txtcustomer,
          custnumber: txtcustomer.substr(0, txtcustomer.indexOf('-')),
          custname: txtcustomer.substr((txtcustomer.indexOf('-') + 1), (txtcustomer.length - txtcustomer.indexOf('-'))),
          moneyamount: e[5].coin,
          moneydate: n.getFullYear() + '-' + ('0' + (n.getMonth() + 1)).slice(-2) + '-' + ('0' + n.getDate()).slice(-2) + ' ' + ('0' + n.getHours()).slice(-2) + ':' + ('0' + n.getMinutes()).slice(-2) + ':00',
          moneystatus: 0,
          typecash: e[5].typecash,
          typecashtitle: obj.mock.mastertypecash[e[5].typecash].title,
          visittype: e[3],
          visittitle: e[5].visittile,
          visitdate: n.getFullYear() + '-' + ('0' + (n.getMonth() + 1)).slice(-2) + '-' + ('0' + n.getDate()).slice(-2),
          visittime: ('0' + n.getHours()).slice(-2) + ':' + ('0' + n.getMinutes()).slice(-2),
          remark: e[2],
          doc: e[5].docid,
          collectiondetail: null,
          activities: listact.toString(),
          latitude: obj.latitude,
          longitude: obj.longitude,
          localtionmsg: obj.localtionmsg,
          billinglist: bil.toString(),
          collectiontype: e[7],
          pathname: e[8],
          syncstatus: 0,
          approved: ap,
          createby: localStorage.getItem('empcode'),
          updateby: localStorage.getItem('empcode'),
          created: firebase.database.ServerValue.TIMESTAMP,
          updated: firebase.database.ServerValue.TIMESTAMP
        }
        obj.submitresultappointment(b)
          .then(result => {
            axios.post('/api/line', {
              message: localStorage.getItem('empcode') + ' บันทึกผล' + b.visittitle + 'ของร้าน ' + b.custtomer + ' เขตการขาย ' + localStorage.getItem('territory') + ' แล้ว'
            }, {
              headers: {
                'x-access-token': localStorage.getItem('token')
              }
            })
              .then(rd => {
                // console.dir(rd)
                // obj.signOut()
                // obj.listresult = salestoggle
                obj.$firebaseRefs.salestoggle.child(localStorage.getItem('territory')).on('value', snap => {
                  // console.dir(snap.val())
                  obj.listresult = snap.val()
                })
              })
          })
      }
    },
    submitresultappointment (b) {
      return new Promise(resolve => {
        firebase.auth()
          .signInWithEmailAndPassword(localStorage.getItem('email'), this.mock.auth)
          .then(user => {
            console.dir(user)
            var n = new Date()
            var d = n.getTime() + '-' + b.custnumber + '-' + n.getFullYear() + '-' + ('0' + (n.getMonth() + 1)).slice(-2) + '-' + ('0' + n.getDate()).slice(-2) + '-' + ('0' + n.getHours()).slice(-2) + ':' + ('0' + n.getMinutes()).slice(-2)
            console.log(d)
            b.gencode = d
            resolve(this.$firebaseRefs.salestoggle.child(localStorage.getItem('territory')).child(d).set(b))
          })
      })
    },
    setcommit (e) {
      if (e.custtablebilling) {
        this.data.billinglist = e.custtablebilling
      } else {
        this.data.billinglist = []
      }
      this.data.txtfilter = e.custtomer
      this.data.addresult = true
      this.data.resultadd = true
    },
    adddata (b) {
      return new Promise(resolve => {
        axios.post('/api/resultappointment/result/update', {
          data: b
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => resolve(r.data))
      })
    },
    loadresult () {
      return new Promise(resolve => {
        axios.post('/api/resultappointment', {
          empcode: localStorage.getItem('empcode')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => resolve(r.data))
      })
    },
    setfiltername (n) {
      // console.dir(n)
      this.data.txtfilter = n[0]
      this.data.billinglist = n[1]
      this.data.addresult = true
      this.data.resultadd = true
    }
  }
}
</script>
