<template>
  <div>
    <br />
    <div class="field">
      <p class="control">
        <input class="input" type="text" placeholder="Email" v-model="forms.txtname">
      </p>
    </div>
    <div class="field">
      <p class="control">
        <input class="input" type="text" placeholder="Password" v-model="forms.txtpwd">
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success" @click="insert()">Enter</button>
      </p>
    </div>
    <br />
    <div v-for="(n, i) in datauserstest" :key="i">
      <div class="notification">
        <button class="delete"></button>
        <strong>{{ n }}</strong>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import mocker from '@/assets/js/mock'
import firebase from 'firebase'
import { InitFireBase } from '@/assets/js/initializeApp'
Vue.config.productionTip = false
Vue.use(InitFireBase)
const db = firebase.database()
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - RESULT APPOINTMENT'
    }
  },
  data () {
    return {
      forms: {
        txtname: null,
        txtpwd: null
      },
      mock: mocker,
      user: null
    }
  },
  firebase: {
    datauserstest: {
      source: db.ref('testcontent')
    },
    user: {
      source: db.ref('users')
    }
  },
  methods: {
    setdata (b) {
      return new Promise(resolve => {
        // console.dir(b)
        firebase.auth()
          .signInWithEmailAndPassword(localStorage.getItem('email'), this.mock.auth)
          .then(user => {
            console.dir('check user')
            console.dir(user.uid)
            resolve(db.ref('testcontent').child(user.uid).push(b))
          })
      })
    },
    insert () {
      this.setdata({
        txtname: this.forms.txtname,
        txtpwd: this.forms.txtpwd
      })
        .then(r => {
          // console.dir(r)
          this.forms.txtname = null
          this.forms.txtpwd = null
        })
    }
  }
}
</script>

