<template>
  <div>
    <br />
    <div class="field has-addons">
      <div class="control">
        <div class="select is-fullwidth">
          <select v-model="slfilter">
            <option v-for='(n, i) in filterdata' :key='i' :value="n.value">{{ n.title }}</option>
          </select>
        </div>
      </div>
      <div class="control is-expanded">
        <input class="input" type="text" placeholder="Find a Customner" v-model='txtfilter'>
      </div>
      <div class="control">
        <a class="button is-info" @click="searchitem()">
          Search
        </a>
      </div>
    </div>
    <div class="field has-addons">
      <strong>Total:&nbsp;<span class="text-danger">{{ listcount.length }}</span></strong>
      &nbsp;&nbsp;
      <strong>Day:&nbsp;<span class="text-danger">{{ totalcount.length }}</span></strong>
    </div>
    <table class="table is-narrow is-striped is-fullwidth">
      <thead>
        <tr>
          <th>#</th>
          <th colspan="2">Custtomer</th>
          <th>City</th>
          <th>State</th>
          <th>Territory</th>
          <th class="text-center">Date</th>
          <th class="text-center">Activities</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for='(n, i) in filterBy(reverseItems, txtfilter)' :key='i' :value='i' :class="returnclassapp(n.status)">
          <td><strong>{{ i + 1 }}</strong></td>
          <td>{{ n.custnum }}</td>
          <td>{{ n.custname }}</td>
          <td>{{ n.city }}</td>
          <td>{{ n.state }}</td>
          <td>{{ n.territory }}</td>
          <td class="text-center">
            <a @click="setdate(n)">{{ n.scheduedate }}</a>
          </td>
          <td class="text-center"><a class="button is-danger" @click="setactivities(n)">Activities</a></td>
          <td class="text-center"><button class="button is-warning" :disabled='returnstatusnew(n.status)' @click="addnewappoint(n)">New</button></td>
        </tr>
      </tbody>
    </table>

    <sweet-modal  ref="modalactivities" hide-close-button blocking>
      <div class='modal-spv'>
        <table class="table is-narrow is-striped is-fullwidth">
          <thead>
            <tr>
              <th>#</th>
              <th colspan="2">Title</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for='(n, i) in lstactivities' :key='i' :value='i'>
              <td><strong>{{ i + 1 }}</strong></td>
              <td colspan="2">{{ n.title }}</td>
              <td class="text-left">
                <a @click="setact(n)"><strong>{{ returnstr(n.status)}}</strong></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <template slot="box-action">
        <a class="button is-success" @click="setactivitiestodo()">Save</a>
      </template>
    </sweet-modal>

    <sweet-modal  ref="modaldate" blocking>
      <div class='modal-spv'>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="text" placeholder="Enter date" v-model='txtdate'>
          </div>
          <div class="control">
            <a class="button is-info" @click='saveshedue()'>
              Save
            </a>
          </div>
        </div>
      </div>
    </sweet-modal>
    <sweet-modal icon="success" ref="modal">
      Successfully
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
  </div>
</template>
<script>
import _ from 'lodash'
import axios from 'axios'
import Vue from 'vue'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Mock from '@/assets/js/mock'
import Greeter from '@/assets/js/greeter'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - APPOINTMENT'
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.listcustomer, ['status'], ['asc'])
    }
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      listcustomer: [],
      filterdata: Mock.filterappointment,
      txtfilter: null,
      txtdate: null,
      txtappointcode: null,
      position: 0,
      lstactivities: [],
      custnumber: null,
      custname: null,
      territory: null,
      city: null,
      state: null,
      scheduedate: null,
      scheduemonth: null,
      activities: null,
      apprstatus: null,
      billing: null,
      billingamount: null,
      schedule: null,
      filtername: null,
      remark: null,
      slfilter: 0,
      totalcount: 0,
      listcount: 0
    }
  },
  mounted () {
    var obj = this
    obj.$refs.modalloading.open()
    obj.position = localStorage.getItem('position')
    var n = new Date()
    this.loaddata()
      .then(r => {
        console.dir(r)
        var x = 0
        var Arr = arr => {
          LoopA(x, g => {
            x++
            if (x < arr.length) {
              Arr(arr)
            } else {
              console.log('commpleted')
              obj.listcustomer = obj.reverseItemsFilter()
              obj.loadcountdata()
                .then(fg => {
                  console.dir(fg)
                  obj.totalcount = fg.count
                  obj.listcount = fg.total
                  obj.$refs.modalloading.close()
                })
            }
          })
        }
        var LoopA = (i, callback) => {
          var dcode = obj.checkappoint(r[i].appointment, Greeter.GenCodeAppointment(r[i].accountnum, localStorage.getItem('empcode')))
          var ds = r[i].appointment
          var cs = 0
          if (ds.length > 0) {
            cs = 1
          }
          obj.listcustomer.push({
            id: obj.listcustomer.length,
            appointmentcode: dcode,
            custnumber: r[i].accountnum,
            custname: r[i].name,
            accountnum: r[i].accountnum,
            name: r[i].name,
            territory: r[i].salesdistrictid,
            city: r[i].address[0].city,
            state: r[i].address[0].state,
            scheduedate: obj.checkappointredate(r[i].appointment),
            scheduemonth: ('0' + (n.getMonth() + 1)).slice(-2),
            activities: Mock.activitieslist,
            approve: 0,
            billing: 0,
            billingamount: 0,
            schedule: obj.checkappointredate(r[i].appointment) + '-' + this.mYear((n.getMonth() + 2), n.getFullYear()),
            filtername: r[i].filtername,
            remark: null,
            empteritory: localStorage.getItem('territory'),
            empcode: localStorage.getItem('empcode'),
            empposition: localStorage.getItem('position'),
            status: cs
          })
          callback(i)
        }
        Arr(r)
      })
  },
  methods: {
    searchitem () {
      var obj = this
      obj.$refs.modalloading.open()
      obj.listcustomer = []
      obj.position = localStorage.getItem('position')
      var n = new Date()
      this.loaddata()
        .then(r => {
          console.dir(r)
          var x = 0
          var Arr = arr => {
            LoopA(x, g => {
              x++
              if (x < arr.length) {
                Arr(arr)
              } else {
                console.log('commpleted')
                obj.listcustomer = obj.reverseItemsFilter()
                obj.loadcountdata()
                  .then(fg => {
                    console.dir(fg)
                    obj.totalcount = fg.count
                    obj.listcount = fg.total
                    obj.$refs.modalloading.close()
                  })
              }
            })
          }
          var LoopA = (i, callback) => {
            var dcode = obj.checkappoint(r[i].appointment, Greeter.GenCodeAppointment(r[i].accountnum, localStorage.getItem('empcode')))
            var ds = r[i].appointment
            var cs = 0
            if (ds.length > 0) {
              cs = 1
            }
            obj.listcustomer.push({
              id: obj.listcustomer.length,
              appointmentcode: dcode,
              custnumber: r[i].accountnum,
              custname: r[i].name,
              accountnum: r[i].accountnum,
              name: r[i].name,
              territory: r[i].salesdistrictid,
              city: r[i].address[0].city,
              state: r[i].address[0].state,
              scheduedate: obj.checkappointredate(r[i].appointment),
              scheduemonth: ('0' + (n.getMonth() + 1)).slice(-2),
              activities: Mock.activitieslist,
              approve: 0,
              billing: 0,
              billingamount: 0,
              schedule: obj.checkappointredate(r[i].appointment) + '-' + this.mYear((n.getMonth() + 2), n.getFullYear()),
              filtername: r[i].filtername,
              remark: null,
              empteritory: localStorage.getItem('territory'),
              empcode: localStorage.getItem('empcode'),
              empposition: localStorage.getItem('position'),
              status: cs
            })
            callback(i)
          }
          Arr(r)
        })
    },
    returnstr (e) {
      var b = ['No', 'Yes']
      if (e === true) {
        return b[1]
      } else {
        return b[0]
      }
    },
    returnstatusnew (e) {
      var b = [true, false]
      return b[e]
    },
    mYear (m, y) {
      if (m > 12) {
        m = 1
        y = y + 1
        return ('0' + m).slice(-2) + '-' + y
      } else {
        return ('0' + m).slice(-2) + '-' + y
      }
    },
    returnclassapp (e) {
      var b = ['', 'text-warning', 'text-success', 'text-danger']
      return b[e]
    },
    loadappointcheck (appointmentcode) {
      return new Promise(resolve => {
        axios.post('/api/appointment/check', {
          appointmentcode: appointmentcode
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    loadcountdata () {
      return new Promise(resolve => {
        axios.post('/api/appointment/load/count', {
          territory: localStorage.getItem('territory')
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    loaddata () {
      var obj = this
      return new Promise(resolve => {
        axios.post('/api/appointment/customer', {
          token: localStorage.getItem('token'),
          empcode: localStorage.getItem('empcode'),
          txtfilter: obj.txtfilter
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    checkappoint (c, x) {
      if (c[0]) {
        console.dir(c[0].scheduedate)
        return c[0].appointmentcode
      } else {
        return 'APP' + x
      }
    },
    checkappointredate (c) {
      var d = new Date()
      if (c[0]) {
        console.dir(c[0].scheduedate)
        return c[0].scheduedate
      } else {
        return ('0' + d.getDate()).slice(-2)
      }
    },
    addnewappoint (n) {
      var obj = this
      var c = new Date()
      console.dir(n)
      obj.txtdate = n.scheduedate
      obj.txtappointcode = 'NPP' + c.getHours() + c.getMinutes() + c.getSeconds() + Greeter.GenCodeAppointment(n.custnumber, localStorage.getItem('empcode'))
      obj.custnumber = n.custnumber
      obj.custname = n.custname
      obj.territory = n.territory
      obj.city = n.city
      obj.state = n.state
      obj.scheduedate = n.scheduedate
      obj.scheduemonth = n.scheduemonth
      obj.activities = n.activities
      obj.apprstatus = n.approve
      obj.billing = n.billing
      obj.billingamount = n.billingamount
      obj.schedule = n.schedule
      obj.filtername = n.filtername
      obj.remark = n.remark
      obj.$refs.modaldate.open()
    },
    setdate (n) {
      console.dir(n)
      var obj = this
      obj.txtdate = n.scheduedate
      obj.txtappointcode = n.appointmentcode
      obj.$refs.modaldate.open()
    },
    setactivities (n) {
      console.dir(n.activities)
      var obj = this
      obj.txtappointcode = n.appointmentcode
      obj.lstactivities = n.activities
      obj.$refs.modalactivities.open()
    },
    setact (n) {
      console.dir(n)
      var obj = this
      var index = obj.lstactivities.map(e => e.id).indexOf(n.id)
      var chck = obj.lstactivities[index].status
      if (chck === true) {
        obj.lstactivities[index].status = false
      } else {
        obj.lstactivities[index].status = true
      }
    },
    returnnulldate () {
      return 0
    },
    inserapp (data, approve) {
      var obj = this
      return new Promise(resolve => {
        axios.post('/api/appointment/new', {
          territory: localStorage.getItem('territory'),
          empcode: localStorage.getItem('empcode'),
          approve: approve,
          data: data
        })
          .then((value) => {
            obj.loadcountdata()
              .then(fg => {
                console.dir(fg)
                obj.totalcount = fg.count
                obj.listcount = fg.total
                resolve()
              })
          })
      })
    },
    setactivitiestodo () {
      var obj = this
      var index = obj.listcustomer.map(e => e.appointmentcode).indexOf(obj.txtappointcode)
      if (index >= 0) {
        obj.inserapp(obj.listcustomer[index], 0).then(r => {
          obj.listcustomer[index].status = 1
          obj.$refs.modalactivities.close()
        })
      }
    },
    saveshedue () {
      var obj = this
      var index = obj.listcustomer.map(e => e.appointmentcode).indexOf(obj.txtappointcode)
      var n = new Date()
      if (index >= 0) {
        if (obj.txtdate) {
          if (obj.txtdate > 0) {
            if (obj.txtdate < 32) {
              obj.listcustomer[index].scheduedate = ('0' + obj.txtdate).slice(-2)
              obj.listcustomer[index].schedule = ('0' + obj.txtdate).slice(-2) + '-' + obj.mYear((n.getMonth() + 2), n.getFullYear())
              obj.listcustomer[index].status = 1
              obj.inserapp(obj.listcustomer[index], 0).then(r => obj.$refs.modaldate.close())
            } else {
              obj.txtdate = obj.returnnulldate()
            }
          } else {
            obj.txtdate = obj.returnnulldate()
          }
        } else {
          obj.txtdate = obj.returnnulldate()
        }
      } else {
        console.log('new')
        var b = {
          id: obj.listcustomer.length,
          appointmentcode: obj.txtappointcode,
          custnumber: obj.custnumber,
          custname: obj.custname,
          accountnum: obj.custnumber,
          name: obj.custname,
          territory: localStorage.getItem('territory'),
          city: obj.city,
          state: obj.state,
          scheduedate: ('0' + obj.txtdate).slice(-2),
          scheduemonth: obj.scheduemonth,
          activities: obj.activities,
          approve: obj.apprstatus,
          billing: obj.billing,
          billingamount: obj.billingamount,
          schedule: ('0' + obj.txtdate).slice(-2) + '-' + obj.mYear((n.getMonth() + 2), n.getFullYear()),
          filtername: obj.filtername,
          remark: obj.remark,
          empteritory: localStorage.getItem('territory'),
          empcode: localStorage.getItem('empcode'),
          empposition: localStorage.getItem('position'),
          status: 1
        }
        obj.listcustomer.push(b)
        obj.inserapp(b, 0).then(r => obj.$refs.modaldate.close())
      }
    },
    reverseItemsFilter (a, b) {
      return _.orderBy(this.listcustomer, [a], [b])
    }
  },
  watch: {
    slfilter () {
      console.log(this.slfilter)
      var index = this.filterdata.map(e => e.value).indexOf(this.slfilter)
      this.listcustomer = this.reverseItemsFilter(this.filterdata[index].name, this.filterdata[index].filter)
    }
  }
}
</script>
<style lang="scss" scoped>
td {
  vertical-align: middle !important;
}
.modal-spv {
  margin-top: 60px !important;
}
</style>


