<template>
  <div class="container">
    <br />
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="field">
            <label>ชื่อร้าน/กลุ่ม/คลับ (Name)</label>
            <div class="control">
              <input :class="classname.name" type="text" placeholder="ระบุชื่อร้าน/กลุ่ม/คลับ" v-model="forms.name">
            </div>
          </div>
          <br />
          <div class="field">
            <label>ที่อยู่ / Address</label>
            <div class="control">
              <textarea :class="classname.address" type="text" placeholder="ระบุที่อยู่" v-model="forms.address"></textarea>
            </div>
          </div>
          <br />
          <div class="columns is-mobile">
            <div class="column">
              <div class="field">
                <label>จังหวัด / Province</label>
                <div class="control">
                  <input :class="classname.provice" type="text" placeholder="ระบุจังหวัด" v-model="forms.provice" @keyup="searchprovice()">
                </div>
                <div :hidden="data.divp === true">
                  <div  class="box">
                    <ul class="menu-list">
                      <li v-for="(n, i) in filterBy(data.province, forms.provice, 'name')" :key="i" @click="setprovince(n.masteramphoes, n.name)"><a>{{ n.name }}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label>อำเภอ / District </label>
                <div class="control">
                  <input :class="classname.amphoes" type="text" placeholder="ระบุอำเภอ" v-model="forms.amphoes" @keyup="searchamphoe()">
                </div>
              </div>
              <div :hidden="data.divamp === true">
                <div class="box">
                  <ul class="menu-list">
                    <li v-for="(n, i) in filterBy(data.amphoes, forms.amphoes, 'name')" :key="i" @click="setamphoes(n.name)"><a>{{ n.name }}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column">
              <div class="field">
                <label>รหัสไปรษณีย์ / Zipcode</label>
                <div class="control">
                  <input :class="classname.zipcode" type="text" placeholder="ระบุรหัสไปรษณีย์" v-model="forms.zipcode">
                </div>
              </div>
            </div>
             <div class="column">
              <div class="field">
                <label>เบอร์โทรศัพท์ / Telno.</label>
                <div class="control">
                  <input :class="classname.telno" type="text" placeholder="ระบุเบอร์โทรศัพท์" v-model="forms.telno">
                </div>
              </div>
             </div>
          </div>
          <br />
          <hr />
          <div :hidden="load.progress === true">
            <progress class="progress is-danger" :value="load.init" max="100">{{load.init}}%</progress>
            <br />
            <br />
          </div>
          <div class="field">
            <div class="file is-centered is-boxed is-success has-name">
              <label class="file-label">
                <input class="file-input" type="file" name="resume" id="resume" @change="getAnnote($event)" accept="image/*">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">
                    รูปหน้าร้าน / Pic.
                  </span>
                </span>
                <span class="file-name">
                  {{ pic.title }}
                </span>
              </label>
            </div>
          </div>
          <br />
          <div :hidden="list.pic.length < 1">
            <hr />
            <img id="imgdoc01" :src="pic.data" width="350" height="150" style="display:none;"/>
            <canvas id="myCanvas" width="900" height="1324" style="display:none;"/>
            <div class="columns is-mobile">
              <div class="column is-primary" v-for="(n,i) in list.pic" :key="i" @click="remove(i)">
                <figure class="image is-128x128">
                  <img :src="n.img" width="120" height="120">
                </figure>
              </div>
            </div>
          <br />
          </div>
          <br />
          <div class="field">
            <label>ข้อมูลเพิ่มเติม / Remark</label>
            <div class="control">
              <textarea class="textarea" type="text" placeholder="Primary textarea" v-model="forms.remark"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <a :class="classname.btnsave" @click="save()">
          Save
        </a>
      </p>
      <p class="control">
        <a class="button is-danger is-large" @click="clear()">
          Cancel
        </a>
      </p>
    </div>
    <br />
    <br />
    <sweet-modal icon="error" title="OOPS…" ref="modalerr">
      {{ info.msg }}
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import GetBlob from '@/assets/js/imgtoblob'
import mocker from '@/assets/js/mock'
import guuid from '@/assets/js/greeter'
// import Dropbox from 'dropbox'
Vue.use(Vue2Filters)
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - POSPECT'
    }
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  data () {
    return {
      data: {
        divp: true,
        province: [],
        divamp: true,
        amphoes: []
      },
      forms: {
        postpectnumber: null,
        postnum: null,
        name: null,
        address: null,
        provice: null,
        amphoes: null,
        zipcode: null,
        telno: null,
        remark: null,
        create: new Date(),
        createby: null,
        salesdistrictid: null,
        pathname: []
      },
      classname: {
        name: 'input is-medium',
        address: 'textarea',
        provice: 'input is-medium',
        amphoes: 'input is-medium',
        zipcode: 'input is-medium',
        telno: 'input is-medium',
        btnsave: 'button is-success is-large'
      },
      pic: {
        title: null,
        data: null
      },
      load: {
        progress: true,
        init: 0,
        classname: 'progress is-danger'
      },
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      info: {
        msg: null
      },
      mock: mocker,
      list: {
        pic: []
      }
    }
  },
  mounted () {
    this.loadprovince()
      .then(r => {
        console.dir(r)
        this.data.province = r.data
      })
  },
  methods: {
    loadprovince () {
      return new Promise(resolve => {
        axios.get('/api/master/province', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(res => {
            console.dir(res)
            resolve(res)
          })
      })
    },
    setprovince (e, name) {
      console.dir(e)
      this.forms.provice = name
      this.data.amphoes = e
      this.data.divp = true
      // this.data.divamp = false
    },
    searchprovice () {
      if (this.forms.provice !== null) {
        this.data.divp = false
      } else {
        this.data.divp = true
      }
    },
    searchamphoe () {
      if (this.forms.amphoes !== null) {
        this.data.divamp = false
      } else {
        this.data.divamp = true
      }
    },
    setamphoes (e) {
      this.forms.amphoes = e
      this.data.divamp = true
    },
    rsize (imdiv) {
      return new Promise(resolve => {
        var c = document.getElementById('myCanvas')
        var ctx = c.getContext('2d')
        var img = document.getElementById('imgdoc01')
        setTimeout(() => {
          ctx.drawImage(img, 0, 0, 900, 1324)
          resolve(c.toDataURL('image/jpeg', 0.5))
        }, 3000)
      })
    },
    getAnnote (e) {
      var obj = this
      var d = new Date()
      this.forms.postnum = 'PD' + d.getFullYear() + '' + d.getMonth() + '' + d.getDate() + '' + d.getMinutes() + '' + d.getSeconds()
      let ter = localStorage.getItem('territory') + '-CRM'
      let pathname = '/SALES-CRM/' + ter + '/NEW_POSTPECT/'
      // obj.$refs.modalloading.open()
      GetBlob.doUpload(e, guuid.GenCode(), pathname)
        .then(rd => {
          obj.forms.pathname.push(rd.pathname)
          GetBlob.GetCanvasAnnote(e.target.files[0]).then(res => {
            obj.pic.data = res
            obj.list.pic.push({id: this.list.pic.length + 1, img: res})
          })
        })
    },
    setmsg (txt) {
      this.info.msg = txt
      this.$refs.modalerr.open()
    },
    save () {
      this.forms.salesdistrictid = localStorage.getItem('territory')
      if (this.forms.name === null) {
        this.setmsg('กรุณาระบุชื่อร้าน/กลุ่ม/คลับด้วย')
        this.classname.name = 'input is-medium is-danger'
        setTimeout(() => {
          this.classname.name = 'input is-medium'
        }, 3000)
      } else if (this.forms.address === null) {
        this.setmsg('กรุณาระบุข้อมูลที่อยู่ด้วย')
        this.classname.address = 'input is-medium is-danger'
        setTimeout(() => {
          this.classname.address = 'input is-medium'
        }, 3000)
      } else if (this.forms.provice === null) {
        this.setmsg('กรุณาระบุข้อมูลจังหวัดด้วย')
        this.classname.provice = 'input is-medium is-danger'
        setTimeout(() => {
          this.classname.provice = 'input is-medium'
        }, 3000)
      } else if (this.forms.amphoes === null) {
        this.setmsg('กรุณาระบุข้อมูลอำเภอด้วย')
        this.classname.amphoes = 'input is-medium is-danger'
        setTimeout(() => {
          this.classname.amphoes = 'input is-medium'
        }, 3000)
      } else if (this.forms.zipcode === null) {
        this.setmsg('กรุณาระบุข้อมูลรหัสไปรษณีย์ด้วย')
        this.classname.zipcode = 'input is-medium is-danger'
        setTimeout(() => {
          this.classname.zipcode = 'input is-medium'
        }, 3000)
      } else if (this.forms.telno === null) {
        this.setmsg('กรุณาระบุข้อมูลเบอร์โทรศัพท์ด้วย')
        this.classname.telno = 'input is-medium is-danger'
        setTimeout(() => {
          this.classname.telno = 'input is-medium'
        }, 3000)
      } else if (this.list.pic.length === 0) {
        this.setmsg('กรุณาแนบรูปที่เกี่ยวข้องด้วยด้วย')
      } else {
        // console.log('save data')
        // console.dir(this.forms)
        this.classname.btnsave = 'button is-large is-warning is-loading'
        var obj = this
        axios.post('/api/resultappointment/postpect', {
          postpect: obj.forms
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            console.dir(r)
            obj.classname.btnsave = 'button is-large is-success'
            location.reload()
          })
      }
      // this.forms.address
      // this.forms.provice
      // this.forms.amphoes
      // this.forms.zipcode
      // this.forms.telno
      // this.forms.pic
      // this.forms.remoark
    },
    clear () {
      location.reload()
    },
    remove (i) {
      this.list.pic.splice(i, 1)
    }
  }
}
</script>
