<template>
  <div>
    <br />
    <div>
      <div class="field has-addons has-addons-centered">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="ระบุชื่อหรือรหัสผ่าน" v-model="forms.txtcustomer">
        </p>
        <div class="control">
          <div :hidden="forms.typesearch === true">
            <a :class="classname.btnsearch" @click="searchcustomer()">
              Search
            </a>
          </div>
          <div :hidden="forms.typesearch === false">
            <a :class="classname.btnadd" @click="insertcustomer()">
              Add
            </a>
          </div>
        </div>
      </div>
      <cust-list
      :txtcust="forms.txtcustomer"
      :divcust="forms.divcust"
      @sethidden="sethidden($event)"
      @setcommit="loaddata($event)"
      ></cust-list>
      <br />
      <div>
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Name</th>
              <th class="text-center">Activities</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(n, i) in reverseItems" :key="i">
              <td>{{ i + 1}}</td>
              <td>{{ returndate(n.created) }}</td>
              <td>{{ n.custtomer }}</td>
              <td class="text-center"><strong :class="returnclass(n.visit)">{{ n.visitactivitieslist }}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <sweet-modal blocking ref="modalquest" hide-close-button  overlay-theme="dark">
      <template>
        <br />
        <div class="file has-name is-fullwidth is-primary">
          <label class="file-label">
            <input class="file-input" type="file" name="resume" id="fileresult" @change='getAnote($event)'>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
            </span>
            <span class="file-name">
              {{ txtupload }}
            </span>
          </label>
        </div>
        <hr />
        <div :hidden="doc.length < 1">
          <br />
          <div class="columns is-multiline is-mobile">
            <div class="column" v-for="(n,i) in doc" :key="i">
              <figure class="image is-32x32">
                <img :src="n">
              </figure>
            </div>
          </div>
        </div>
        <br />
        <div class="text-left">
          <ul class="menu-list">
            <li v-for="(n,i) in data.activities" :key="i">
              <strong>{{ n.title }}</strong>
              <br />
            </li>
          </ul>
        </div>
        <div>
          <textarea class="textarea" placeholder="ระบุกิจกรรมที่ทำ" v-model="forms.txtcomment"></textarea>
        </div>
      </template>
      <template>
        <br />
        <br />
        <a class="button is-success is-large" @click="setvisit(1)">Save</a>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import CustList from '@/components/CustomerList/PostPectList'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
import mocker from '@/assets/js/mock'
import assets from '@/assets/js/imgtoblob'
import guuid from '@/assets/js/greeter'
// import firebase from 'firebase'
// import VueFire from 'vuefire'
// import { firebaseConfig } from '@/assets/js/config'
// if (!firebase.apps.length) {
//   firebase.initializeApp(firebaseConfig)
// }
// Vue.config.productionTip = false
// Vue.use(VueFire)
import firebase from 'firebase'
// import VueFire from 'vuefire'
import { InitFireBase } from '@/assets/js/initializeApp'
Vue.config.productionTip = false
Vue.use(InitFireBase)
const db = firebase.database()
Vue.use(Vue2Filters)
let _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - RESULT APPOINTMENT POSTPECT'
    }
  },
  components: {
    CustList,
    SweetModal,
    SweetModalTab
  },
  firebase: {
    salestoggle: {
      source: db.ref('resultappointments'),
      cancelCallback (err) {
        console.error(err)
      }
    }
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      info: {
        msg: null
      },
      latitude: null,
      longitude: null,
      localtionmsg: null,
      data: {
        list: [],
        activities: [
          {id: 1, title: 'กิจกรรม', name: 'visitactivities'}
        ]
      },
      forms: {
        txtcustomer: null,
        txtnumber: null,
        txtname: null,
        divcust: false,
        typesearch: false,
        txtcomment: null,
        pathname: []
      },
      doc: [],
      classname: {
        btnsearch: 'button is-success',
        btnadd: 'button is-danger'
      },
      mock: mocker,
      txtupload: 'เลือกหรือถ่ายรูปภาพประกอบ(Select or take a photo.)…'
    }
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.data.list, 'update', 'desc')
    }
  },
  mounted () {
    this.loadresult().then(r => {
      console.dir(r)
      this.data.list = r
    })
  },
  methods: {
    submitresultappointment (b) {
      return new Promise(resolve => {
        // var ter = localStorage.getItem('empcode') + '-' + localStorage.getItem('territory')
        firebase.auth()
          .signInWithEmailAndPassword(localStorage.getItem('email'), this.mock.auth)
          .then(user => {
            console.dir(user)
            resolve(this.$firebaseRefs.salestoggle.push(b))
          })
      })
    },
    getAnote (e) {
      this.$refs.modalloading.open()
      var obj = this
      var d = new Date()
      var a = d.getFullYear() + '-' + ('0' + (d.getMonth() + 1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2)
      let ter = localStorage.getItem('territory') + '-CRM/' + a
      let pathn = '/SALES-CRM/' + ter + '/ACTIVITIES/เข้าลูกค้าด้าดหวัง/' + this.forms.txtnumber + '/'
      assets.doUpload(e, guuid.GenCode(), pathn)
        .then(r => {
          console.log(r.pathname)
          this.forms.pathname.push(r.pathname)
          this.txtupload = r.msg
          assets.GetCanvasAnnote(e.target.files[0]).then(res => {
            // console.dir(res)
            obj.doc.push(res)
            obj.$refs.modalloading.close()
          })
        })
    },
    loadresult () {
      return new Promise(resolve => {
        axios.get('/api/postpect', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => resolve(r.data))
      })
    },
    loaddata (e) {
      console.dir(e)
      this.classname.btnsearch = 'button is-success'
      this.forms.txtcustomer = e.postnum + '-' + e.name
      this.forms.txtnumber = e.postnum
      this.forms.txtname = e.name
      this.forms.typesearch = true
      this.forms.divcust = false
    },
    searchcustomer () {
      this.classname.btnsearch = 'button is-warning is-loading'
      this.forms.typesearch = false
      this.forms.divcust = true
      var obj = this
      setTimeout(() => {
        obj.classname.btnsearch = 'button is-success'
      }, 2000)
    },
    insertcustomer () {
      this.classname.btnadd = 'button is-warning is-loading'
      this.$refs.modalquest.open()
      this.forms.pathname = []
      this.doc = []
      var obj = this
      setTimeout(() => {
        obj.classname.btnsearch = 'button is-danger'
      }, 1000)
    },
    returnname (name, postpect) {
      // console.log(name, postpect)
      if (postpect.length < 0) {
        return postpect[0].name
      } else {
        return name
      }
    },
    returndate (n) {
      var d = new Date(n)
      return ('0' + d.getDate()).slice(-2) + '/' + ('0' + (d.getMonth() + 1)).slice(-2) + '/' + d.getFullYear() + ' ' + ('0' + d.getHours()).slice(-2) + ':' + ('0' + d.getMinutes()).slice(-2)
    },
    returnact (e) {
      if (e) {
        return 'Yes'
      } else {
        return 'No'
      }
    },
    returnclass (e) {
      var b = ['has-text-center text-danger', 'text-success']
      if (e) {
        return b[e]
      } else {
        return b[0]
      }
    },
    showPosition (position) {
      let x = 'Latitude: ' + position.coords.latitude + 'Longitude: ' + position.coords.longitude
      this.latitude = position.coords.latitude
      this.longitude = position.coords.longitude
      this.localtionmsg = x
      console.dir(x)
    },
    showError (error) {
      this.latitude = null
      this.longitude = null
      switch (error.code) {
        case error.PERMISSION_DENIED:
          console.log('User denied the request for Geolocation.')
          this.localtionmsg = 'User denied the request for Geolocation.'
          break
        case error.POSITION_UNAVAILABLE:
          console.log('Location information is unavailable.')
          this.localtionmsg = 'Location information is unavailable.'
          break
        case error.TIMEOUT:
          console.log('The request to get user location timed out.')
          this.localtionmsg = 'The request to get user location timed out.'
          break
        case error.UNKNOWN_ERROR:
          console.log('An unknown error occurred.')
          this.localtionmsg = 'An unknown error occurred.'
          break
      }
    },
    setresultappointment (e) {
      return new Promise(resolve => {
        axios.post('/api/resultappointment/result', {
          data: e
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r)
          })
      })
    },
    setvisit (e) {
      var obj = this
      var n = new Date()
      var b = {
        resultcode: guuid.GenCode(),
        visittype: 8,
        custtomer: this.forms.txtnumber + '-' + this.forms.txtname,
        custnumber: this.forms.txtnumber,
        custname: this.forms.txtname,
        latitude: null,
        longitude: null,
        localtionmsg: null,
        remark: this.forms.txtcomment,
        pathname: this.forms.pathname,
        empcode: localStorage.getItem('empcode'),
        empname: localStorage.getItem('name'),
        territory: localStorage.getItem('territory'),
        moneyamount: 0,
        moneydate: n.getFullYear() + '-' + ('0' + (n.getMonth() + 1)).slice(-2) + '-' + ('0' + n.getDate()).slice(-2) + ' ' + ('0' + n.getHours()).slice(-2) + ':' + ('0' + n.getMinutes()).slice(-2) + ':00',
        moneystatus: 0,
        typecash: null,
        typecashtitle: null,
        visitdate: n.getFullYear() + '-' + ('0' + (n.getMonth() + 1)).slice(-2) + '-' + ('0' + n.getDate()).slice(-2),
        visitetime: ('0' + n.getHours()).slice(-2) + ':' + ('0' + n.getMinutes()).slice(-2),
        visittile: 'บันทึกข้อมูลเข้าพบลูกค้าค้าดหวัง',
        doc: null,
        collectiondetail: null,
        activities: null,
        billinglist: [],
        collectiontype: null,
        syncstatus: 0
      }
      obj.submitresultappointment(b)
        .then(res => {
          axios.post('/api/line', {
            message: localStorage.getItem('empcode') + ' บันทึกข้อมูลเข้าพบลูกค้าค้าดหวังร้าน ' + b.custtomer + ' แล้ว'
          }, {
            headers: {
              'x-access-token': localStorage.getItem('token')
            }
          })
            .then(r => {
              location.reload()
              var data = this.$firebaseRefs.salestoggle
              console.dir(data)
            })
        })
    },
    sethidden (e) {
      // this.forms.divcust = e
      // this.classname.btnsearch = 'button is-success'
    }
  }
}
</script>
<style>
.sweet-content-content {
    margin-top: 50px !important;
}
</style>


