<template>
  <div>
    <br />
    <div class="container">
      <div class="field has-addons has-addons-centered">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="ระบุชื่อหรือรหัสลูกค้า" v-model="forms.txtcustomer">
        </p>
        <div class="control">
          <div :hidden="forms.typesearch === true">
            <a :class="classname.btnsearch" @click="searchcustomer()">
              Search
            </a>
          </div>
          <div :hidden="forms.typesearch === false">
            <a :class="classname.btnadd" @click="insertcustomer()">
              Add
            </a>
          </div>
        </div>
      </div>
      <cust-list
      :txtcust="forms.txtcustomer"
      :divcust="forms.divcust"
      @setcommit="loaddata($event)"
      ></cust-list>
      <br />
      <div :hidden="data.list.length < 1">
        <result-list
        :listappoint="data.list"
        @setcommit="loadevent($event)"
        ></result-list>
      </div>
    </div>
    <sweet-modal blocking ref="modalquest">
      <template>
        <div class="text-left">
          <ul class="menu-list">
            <li v-for="(n,i) in data.activities" v-if="n.show === true" :key="i" @click="setvisit(n.id)">
              <a>{{ n.title }}</a>
              <br />
            </li>
          </ul>
        </div>
      </template>
    </sweet-modal>

    <sweet-modal blocking hide-close-button ref="modalactivities">
      <template slot="box-action">
        <a class="button is-success is-medium" @click="saveactivities()">Save</a>
      </template>
      <template>
        <div class="text-left">
          <ul class="unstyled">
            <li v-for="(n,i) in data.activities[4].detail" :key="i" @click="setactivities(i, $event)">
              <input class="styled-checkbox" :id="'styled-checkbox-' + n.id" type="checkbox" :value="n.id" :checked="n.status" @click="setactivities(i, $event)">
              <label :for="'styled-checkbox-' + n.id">{{ n.title }}</label>
              <br />
              <br />
            </li>
          </ul>
        </div>
      </template>
    </sweet-modal>


    <sweet-modal blocking hide-close-button ref="modalcollection">
      <template slot="box-action">
        <a class="button is-success is-medium" @click="savecollection()">Save</a>
      </template>
      <template class="text-right">
        <div>
          <div class="field has-addons">
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select v-model="collec.typecash">
                  <option  v-for="(n,i) in data.typecash" :value="n.id" :key="i">{{ n.title }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <p class="control is-expanded">
              <cleave placeholder="ระบุวันที่" :options="{ date: true, datePattern: ['d', 'm', 'Y'] }" class="input" v-model="collec.date"></cleave>
            </p>
          </div>
          <div class="field has-addons">
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select v-model="collec.bank">
                  <option value="null">Select Bank</option>
                  <option  v-for="(n,i) in data.bank" :value="n.id" :key="i">{{ n.title + '-' + n.description }}</option>
                </select>
              </div>
            </div>
          </div>
          <div :hidden="data.custtablebilling.length < 0">
            <span v-for="(n,i) in data.custtablebilling" :key="i" @click="removebill(i)">
              <a class="tag is-danger" v-if="n.status === 0">{{ n.billlingnumber }}&nbsp;<i class="fa fa-times" aria-hidden="true"></i></a>&nbsp;
            </span>
            <br />
            <br />
          </div>

          <div class="field">
            <p class="control is-expanded">
              <cleave placeholder="ระบุจำนวนเงิน" :options="{ numeral: true, numeralThousandsGroupStyle: 'thousand' }" class="input" v-model="collec.coin"></cleave>
            </p>
          </div>


          <div>
            <div class="file has-name is-fullwidth is-primary">
              <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                </span>
                <span class="file-name">
                  เลือกหรือถ่ายรูปภาพประกอบ Pic......
                </span>
              </label>
            </div>
            <div>
              <br />
              <figure class="image is-128x128">
                <img src="https://bulma.io/images/placeholders/128x128.png">
              </figure>
            </div>
          </div>

          <div class="field">
            <label>ข้อมูลเพิ่มเติม / Remark</label>
            <textarea class="textarea" placeholder="ระบุเหตุผล" v-model="collec.remark"></textarea>
          </div>
        </div>
      </template>
    </sweet-modal>

    <sweet-modal icon="error" ref="modalerror" title="Opps !">
      <template>
        <div class="text-center">
          <b>{{ info.msg }}</b>
        </div>
      </template>
    </sweet-modal>

    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import CustList from '@/components/CustomerList/CustomerList'
import ResultList from '@/components/CustomerList/ResultList'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
import Cleave from '@/node_modules/vue-cleave'
Vue.use(Vue2Filters)
let _ = require('lodash')
let $ = require('jquery')
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - RESULT APPOINTMENT'
    }
  },
  components: {
    Cleave,
    CustList,
    ResultList,
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      fpOptions: {
        utc: true,
        defaultDate: new Date(),
        enableTime: true
      },
      data: {
        list: [],
        activities: [
          {id: 0, title: 'เข้าพบ', name: 'visit', show: true},
          {id: 1, title: 'เก็บเงิน', name: 'visitcollection', show: true},
          {id: 2, title: 'วางบิล', name: 'visitbilling', show: true},
          {id: 3, title: 'เปิดออร์เดอร์', name: 'visitorders', show: false},
          {id: 4, title: 'กิจกรรม', name: 'visitactivities', show: true, detail: [{id: 1, title: 'ตกแต่งหน้าร้าน', status: false}, {id: 2, title: 'แจกของ Premium', status: false}, {id: 3, title: 'Update สินค้าใหม่', status: false}, {id: 4, title: 'แจกโปรชัวร์', status: false}]},
          {id: 5, title: 'บันทึกสภาพการตลาด', name: 'visitconditions', show: true},
          {id: 6, title: 'บันทึกคู่แข่ง', name: 'visitcompetitors', show: false},
          {id: 7, title: 'บันทึกลูกค้าค้าดหวัง', name: 'visitpostpect', show: false}
        ],
        data: [],
        bank: [],
        typecash: [
          {id: 0, title: 'เลือกรูปแบบการชำระเงิน'},
          {id: 1, title: 'เงินสด / Cash'},
          {id: 2, title: 'โอน / Tranfer'},
          {id: 3, title: 'เช็ค / Check'}
        ],
        custtablebilling: []
      },
      forms: {
        txtcustomer: null,
        txtnumber: null,
        txtname: null,
        divcust: false,
        typesearch: false
      },
      collec: {
        show: true,
        date: ('0' + (new Date()).getDate()).slice(-2) + '' + ('0' + ((new Date()).getMonth() + 1)).slice(-2) + '' + (new Date()).getFullYear(),
        typecash: 0,
        bank: 0,
        coin: '0',
        remark: null
      },
      classname: {
        btnsearch: 'button is-success',
        btnadd: 'button is-danger'
      },
      info: {
        msg: null
      }
    }
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.data.list, 'created', 'desc')
    }
  },
  mounted () {
    this.$refs.modalloading.open()
    var obj = this
    this.loadresult().then(r => {
      r.forEach(e => {
        console.log(new Date(e.create).toString())
        e.create = new Date(e.create)
        obj.data.list.push(e)
      })
      this.$refs.modalloading.close()
    })
  },
  methods: {
    reloadnew () {
      this.data.list.length = 0
      var obj = this
      this.loadresult()
        .then(r => {
          console.dir(r)
          r.forEach(e => {
            console.log(new Date(e.create).toString())
            e.create = new Date(e.create)
            obj.data.list.push(e)
          })
          // this.data.list = r
        })
    },
    loadresult () {
      return new Promise(resolve => {
        axios.get('/api/resultappointment', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => resolve(r.data))
      })
    },
    loadevent (e) {
      this.$refs.modalloading.open()
      this.classname.btnsearch = 'button is-success'
      this.forms.txtcustomer = e.custtomer
      this.forms.txtnumber = e.custnumber
      this.forms.txtname = e.custname
      this.forms.typesearch = true
      this.forms.divcust = false
      // this.list.data.length = 0
      var obj = this
      axios.post('/api/custtable/find', {
        custnum: e.custtomer
      }, {
        headers: {
          'x-access-token': localStorage.getItem('token')
        }
      })
        .then(r => {
          console.dir(r.data)
          obj.$refs.modalloading.close()
          obj.insertcustomer()
          obj.data.custtablebilling = r.data[0].custtablebilling
        })
        .catch(e => {
          console.dir(e)
        })
    },
    loaddata (e) {
      console.dir(e)
      this.$refs.modalloading.open()
      this.data.custtablebilling = e.custtablebilling
      this.classname.btnsearch = 'button is-success'
      this.forms.txtcustomer = e.filtername
      this.forms.txtnumber = e.accountnum
      this.forms.txtname = e.name
      this.forms.typesearch = true
      this.forms.divcust = false
      var obj = this
      setTimeout(() => {
        obj.$refs.modalloading.close()
        obj.insertcustomer()
      }, 2000)
    },
    searchcustomer () {
      this.data.custtablebilling.length = 0
      this.classname.btnsearch = 'button is-warning is-loading'
      this.forms.typesearch = false
      this.forms.divcust = true
      var obj = this
      setTimeout(() => {
        obj.classname.btnsearch = 'button is-success'
      }, 3000)
    },
    insertcustomer () {
      this.classname.btnadd = 'button is-warning is-loading'
      this.$refs.modalquest.open()
      var obj = this
      setTimeout(() => {
        obj.classname.btnadd = 'button is-danger'
      }, 3000)
    },
    returnname (name, postpect) {
      // console.log(name, postpect)
      if (postpect.length < 0) {
        return postpect[0].name
      } else {
        return name
      }
    },
    returndate (n) {
      var d = new Date(n)
      return ('0' + d.getDate()).slice(-2) + '/' + ('0' + (d.getMonth() + 1)).slice(-2) + '/' + d.getFullYear() + ' ' + ('0' + d.getHours()).slice(-2) + ':' + ('0' + d.getMinutes()).slice(-2)
    },
    returnact (e) {
      if (e) {
        return 'Yes'
      } else {
        return 'No'
      }
    },
    returnclass (e) {
      var b = ['has-text-center text-danger', 'text-success']
      if (e) {
        return b[e]
      } else {
        return b[0]
      }
    },
    setresultappointment (e) {
      console.dir(e)
      return new Promise(resolve => {
        axios.post('/api/resultappointment/result', {
          data: e
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r)
          })
      })
    },
    removebill (e) {
      this.data.custtablebilling.splice(e, 1)
    },
    saveactivities () {
      this.$refs.modalactivities.close()
      this.$refs.modalloading.open()
      this.setresultappointment(this.listapp).then(r => {
        console.dir(r)
        axios.post('/api/line', {
          message: localStorage.getItem('territory') + ' บันทึกข้อมูลทำกิจกรรมร้าน ' + r.data[0].custtomer + ' แล้ว'
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            this.loadresult()
              .then(r => {
                console.dir(r)
                this.data.list = r
                this.$refs.modalloading.close()
                this.$refs.modalquest.open()
              })
          })
      })
    },
    setactivities (i, e) {
      console.dir($('#styled-checkbox-' + i))
      if (this.data.activities[4].detail[i].status === true) {
        this.data.activities[4].detail[i].status = false
      } else {
        this.data.activities[4].detail[i].status = true
      }
    },
    loadbank () {
      return new Promise(resolve => {
        axios.get('/api/master/bank', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            console.dir(r.data)
            resolve(r.data)
          })
      })
    },
    inseractive (b) {
      this.setresultappointment(b)
        .then(r => {
          console.dir(r)
          axios.post('/api/line', {
            message: localStorage.getItem('territory') + ' บันทึกข้อมูลเข้าพบร้าน ' + r.data[0].custtomer + ' แล้ว'
          }, {
            headers: {
              'x-access-token': localStorage.getItem('token')
            }
          })
            .then(r => {
              console.dir(r)
              this.loadresult().then(r => {
                console.dir(r)
                this.data.list = r
                this.$refs.modalloading.close()
              })
              // location.reload()
            })
        })
    },
    savecollection () {
      if (this.collec.typecash < 1) {
        this.info.msg = 'กรุณาระบุรูปแบบการชำระเงินด้วย'
        this.$refs.modalerror.open()
      // } else if (this.collec.bank === null) {
      //  this.info.msg = 'กรุณาระบุธนาคารด้วย'
      //  this.$refs.modalerror.open()
      } else if (this.collec.coin < 1) {
        this.info.msg = 'กรุณาระบุจำนวนเงินด้วย'
        this.$refs.modalerror.open()
      } else {
        this.$refs.modalloading.open()
        this.$refs.modalcollection.close()
        console.log('completed')
        var c = []
        console.dir(this.data.custtablebilling)
        Object.entries(this.data.custtablebilling).forEach(([key, value]) => {
          if (value.status === 0) {
            c.push(value.billlingnumber)
          }
        })
        console.dir(this.collec.typecash)
        this.listapp[0].typecash = this.collec.typecash
        this.listapp[0].bankname = this.data.bank[this.collec.bank].title
        this.listapp[0].moneydate = new Date(this.collec.date)
        this.listapp[0].moneyamount = this.collec.coin
        this.listapp[0].billlingnumber = c.toString()
        console.dir(this.listapp)
        this.setresultappointment(this.listapp)
          .then(r => {
            axios.post('/api/line', {
              message: localStorage.getItem('territory') + ' บันทึกข้อมูลเก็บเงินแล้ว ' + r.data[0].custtomer + ' แล้ว'
            }, {
              headers: {
                'x-access-token': localStorage.getItem('token')
              }
            })
              .then(r => {
                console.dir(r)
                this.loadresult().then(r => {
                  console.dir(r)
                  this.data.list = r
                  this.$refs.modalquest.open()
                  this.$refs.modalloading.close()
                })
                // location.reload()
              })
          })
      }
    },
    setvisit (e) {
      this.$refs.modalloading.open()
      console.log(this.forms.txtnumber + '-' + this.forms.txtname)
      // this.data.activities.data.length = 0
      var b = [{
        visitype: e,
        custtomer: this.forms.txtnumber + '-' + this.forms.txtname,
        custnumber: this.forms.txtnumber,
        custname: this.forms.txtname,
        visittitle: null,
        visit: 0,
        visitdate: new Date(),
        collectiontitle: null,
        visitcollection: 0,
        collectiondeatil: [],
        moneydate: new Date(),
        moneyamount: 0,
        visitcollectiondate: new Date(),
        visitbillingtitle: null,
        visitbilling: 0,
        visitbillingdate: new Date(),
        visitorderstitle: null,
        visitorders: 0,
        visitordersdate: new Date(),
        visitactivitieslist: [],
        visitactivities: 0,
        visitactivitiesdate: new Date(),
        visitconditionstitle: null,
        visitconditions: 0,
        visitconditionsdate: new Date(),
        visitcompetitorstitle: null,
        visitcompetitors: 0,
        visitcompetitorsdate: new Date(),
        visitpostpecttitle: null,
        visitpostpect: 0,
        visitactivitiespostpect: null,
        visitpostpectdate: new Date()
      }]
      if (e === 0) {
        b[0].visittitle = 'เข้าพบ'
        b[0].visit = 1
        b[0].visitdate = new Date()
        this.inseractive(b)
      } else if (e === 1) {
        b[0].collectiontitle = 'เก็บเงิน'
        b[0].visitcollection = 1
        b[0].visitcollectiondate = new Date()
        b[0].moneydate = new Date()
        b[0].moneyamount = 0
        this.loadbank()
          .then(r => {
            this.listapp = b
            console.dir(this.listapp)
            this.data.bank = r
            this.$refs.modalquest.close()
            this.$refs.modalloading.close()
            this.$refs.modalcollection.open()
          })
      } else if (e === 2) {
        b[0].visitbillingtitle = 'วางบิล'
        b[0].visitbilling = 1
        b[0].visitbillingdate = new Date()
        this.inseractive(b)
      } else if (e === 3) {
        b[0].visitorderstitle = 'เปิดออร์เดอร์'
        b[0].visitorders = 1
        b[0].visitordersdate = new Date()
      } else if (e === 4) {
        b[0].visitactivitieslist = this.data.activities[e].detail
        b[0].visitactivitiestitle = 'กิจกรรม'
        b[0].visitactivities = 1
        b[0].visitactivitiesdate = new Date()
        this.listapp = b
        this.$refs.modalquest.close()
        this.$refs.modalloading.close()
        this.$refs.modalactivities.open()
      } else if (e === 5) {
        b[0].visitconditionstitle = 'บันทึกสภาพการตลาด'
        b[0].visitconditions = 1
        b[0].visitconditionsdate = new Date()
        this.inseractive(b)
      } else if (e === 6) {
        b[0].visitcompetitorstitle = 'บันทึกคู่แข่ง'
        b[0].visitcompetitors = 1
        b[0].visitcompetitorsdate = new Date()
        this.inseractive(b)
      } else if (e === 7) {
        b[0].visitpostpecttitle = 'บันทึกลูกค้าค้าดหวัง'
        b[0].visitpostpect = 1
        b[0].visitpostpectdate = new Date()
      }
    }
  },
  watch: {
    'forms.txtcustomer' () {
      if (this.forms.txtcustomer.length < 1) {
        console.log(this.forms.txtcustomer.length)
      }
    }
  }
}
</script>
<style lang="scss">
  .flatpickr-calendar.open {
  z-index: 89898986 !important;
}
.sweet-modal.sweet-alert .sweet-content {
  text-align: left !important;
}
.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    padding: 0;
    cursor: pointer;
  }

  // Box.
  & + label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: text-top;
    background: white;
  }

  // Box hover
  &:hover + label:before {
    background: #f35429;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .12);
  }

  // Box checked
  &:checked + label:before {
    background: #f35429;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    background: #ddd;
    box-shadow: none;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    top: 9px;
    left: 5px;
    width: 2px;
    height: 2px;
    background: white;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}

// Demo-only styles
// --------------
.unstyled {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
</style>
