<template>
  <div>
    <br />
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือหรัสพนักงาน" v-model="txtcust">
      </div>
      <div class="control">
        <a class="button is-success is-medium" @click="searchcustname()">
          Search
        </a>
      </div>
    </div>
    <br />
    <div class="box icuser" v-for="(n,i) in filterBy(listdata, txtcust, 'filtername', 'territory')" :key="i" @click="setcommit(n)">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="../../../assets/img/avatar.svg" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ n.filtername }}</strong>
              <br>
              <strong>Territory:&nbsp;<b class="text-danger">{{ n.salesdistrictid }}</b>&nbsp;&nbsp;Tel.:&nbsp;<b class="text-danger">{{ n.phone }}</b></strong>
              <br>
              <strong>Status:&nbsp;<b :class="restatusclass(n.closedaccount)">{{ restatus(n.closedaccount) }}</b></strong>
            </p>
          </div>
        </div>
      </article>
    </div>
    <sweet-modal blocking hide-close-button ref="modaleditor" title="แก้ไขข้อมูล">
      <template slot="box-action">
        <a class="button is-success is-medium" @click="save()">Save</a>
        &nbsp;
        <a class="button is-danger is-medium" @click="closemodal()">Cancel</a>
      </template>
      <template>
        <div class="columns">
          <div class="column">
            <div class="field">
              <div class="control">
                <div class="select is-medium is-fullwidth">
                  <select v-model="forms.select">
                    <option v-for="i in list.social" :value="i.id" :key="i.id">{{ i.title }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field has-addons has-icons-left">
              <p class="control is-expanded">
                <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือไอดี" v-model="forms.txtsocialid">
              </p>
              <p class="control">
                <a class="button is-info is-medium" @click="adddatalist()"><i :class="info.iclass"></i>&nbsp;เพิ่มข้อมูล / Add</a>
              </p>
            </div>

            <div class="field">
              <label class="label">ข้อมูลเพิ่มเติม / Remark</label>
              <div class="control">
                <textarea class="textarea" placeholder="ระบุข้อมูลเพิ่มเติม" v-model="forms.remark"></textarea>
              </div>
            </div>
            <div class="field" :hidden="list.csocial.length === 0">
              <label class="label">ข้อมูล / Data</label>
              <div class="control">
                <table class="table is-striped is-narrow is-fullwidth">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>title</th>
                      <th>id</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(n, i) in list.csocial" :key="i">
                      <td>{{ i + 1}}</td>
                      <td>{{ n.socialtitle }}</td>
                      <td>{{ n.txtsocialid }}</td>
                      <td class="text-right">
                        <a class="button is-danger" @click="removeline(n.socialtype)">Del.</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking icon="success" ref="modalsuccess">
      Successfully
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import mocker from '@/assets/js/mock'
import Vue from 'vue'
import Vue2Filters from 'vue2-filters'
Vue.use(Vue2Filters)
export default {
  layout: 'main',
  head () {
    return {
      title: 'รายการลุกค้า'
    }
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      txtcust: null,
      listdata: [],
      mock: mocker,
      list: {
        social: [],
        csocial: []
      },
      info: {
        iclass: 'fa fa-info'
      },
      forms: {
        custnumber: null,
        custname: null,
        select: 0,
        txtsocialid: null,
        remark: null
      }
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  mounted () {
    var obj = this
    obj.$refs.modalloading.open()
    obj.listdata = []
    obj.loaddata()
      .then(rd => {
        console.dir(rd)
        obj.listdata = rd
        obj.loadmaster()
          .then(rds => {
            obj.$refs.modalloading.close()
            obj.list.social = rds
            obj.info.iclass = obj.list.social[0].icon
          })
      })
  },
  methods: {
    searchcustname () {
      var obj = this
      obj.$refs.modalloading.open()
      obj.listdata = []
      obj.loaddata()
        .then(rd => {
          console.dir(rd)
          obj.$refs.modalloading.close()
          obj.listdata = rd
        })
    },
    restatusclass (e) {
      var b = ['text-success', 'text-danger']
      return b[e]
    },
    restatus (e) {
      var b = ['Actived', 'Stop']
      return b[e]
    },
    adddatalist () {
      var obj = this
      var ins = obj.list.csocial.map(e => e.socialtype).indexOf(obj.forms.select)
      if (ins < 0) {
        obj.list.csocial.push({
          id: obj.list.csocial.length + 1,
          socialtype: obj.forms.select,
          socialtitle: obj.list.social[obj.forms.select].title,
          txtsocialid: obj.forms.txtsocialid,
          socialremark: obj.forms.remark
        })
      } else {
        obj.list.csocial[ins].socialtype = obj.forms.select
        obj.list.csocial[ins].socialtitle = obj.list.social[obj.forms.select].title
        obj.list.csocial[ins].txtsocialid = obj.forms.txtsocialid
        obj.list.csocial[ins].socialremark = obj.forms.remark
      }
      setTimeout(() => {
        obj.forms.select = 0
        obj.forms.txtsocialid = null
        obj.forms.remark = null
      }, 1000)
    },
    removeline (n) {
      var obj = this
      var ins = obj.list.csocial.map(e => e.socialtype).indexOf(n)
      obj.list.csocial.splice(ins, 1)
    },
    save () {
      var obj = this
      this.$refs.modalloading.open()
      this.adddata()
        .then(rd => {
          obj.$refs.modalloading.close()
          obj.$refs.modalsuccess.open()
          obj.closemodal()
        })
    },
    closemodal () {
      this.forms.custnumber = null
      this.forms.custname = null
      this.forms.select = 0
      this.forms.txtsocialid = null
      this.forms.remark = null
      this.$refs.modaleditor.close()
    },
    setcommit (n) {
      this.forms.custnumber = n.accountnum
      this.forms.custname = n.name
      this.forms.select = 0
      this.forms.txtsocialid = null
      this.forms.remark = null
      this.list.csocial = []
      this.$refs.modaleditor.open()
      console.dir(n)
    },
    adddata () {
      return new Promise(resolve => {
        var obj = this
        // var x = [
        //   {id: NumberInt(0), type: NumberInt(0), title: 'เลือกประเภท', icon: 'fa fa-info', status: true, syncstatus: NumberInt(0)},
        //   {id: NumberInt(1), type: NumberInt(1), title: 'Line', icon: 'fa fa-info', status: true, syncstatus: NumberInt(0)},
        //   {id: NumberInt(2), type: NumberInt(2), title: 'Facebook', icon: 'fa fa-facebook', status: true, syncstatus: NumberInt(0)},
        //   {id: NumberInt(3), type: NumberInt(3), title: 'Google', icon: 'fa fa-google', status: true, syncstatus: NumberInt(0)},
        //   {id: NumberInt(4), type: NumberInt(4), title: 'Instragram', icon: 'fa fa-instragram', status: true, syncstatus: NumberInt(0)},
        //   {id: NumberInt(5), type: NumberInt(5), title: 'Twitter', icon: 'fa fa-twitter', status: true, syncstatus: NumberInt(0)},
        //   {id: NumberInt(6), type: NumberInt(6), title: 'linkedin', icon: 'fa fa-linkedin', status: true, syncstatus: NumberInt(0)}
        // ]
        var b = {
          territory: localStorage.getItem('territory'),
          empid: localStorage.getItem('empcode'),
          txtnumber: obj.forms.custnumber,
          txtname: obj.forms.custname,
          social: obj.list.csocial
        }
        axios.post('/api/adjustments/social', {
          data: b
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    loadmaster () {
      return new Promise(resolve => {
        axios.get('/api/master/social', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            console.dir(r.data)
            resolve(r.data)
          })
      })
    },
    loaddata () {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/find/adjust', {
          custnum: obj.txtcust,
          territory: localStorage.getItem('territory'),
          territoryid: localStorage.getItem('territoryid')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    }
  },
  watch: {
    'forms.select' () {
      this.info.iclass = this.list.social[this.forms.select].icon
    }
  }
}
</script>

