<template>
  <div class="container">
    <br />
    <table class="table is-striped is-fullwidth">
      <caption>
        <div>
          <p>
            Result Appointment:&nbsp;<b class="text-danger">{{ txtcustitem }}</b>
          </p>
          <p class="text-center">
            <br />
            Total:&nbsp;<b class="text-danger">{{ listline.length }}</b>&nbsp;&nbsp;
            Count&nbsp;
            <b class="text-danger">{{ listcount }}</b>&nbsp;day
          </p>
          <hr />
          <div class="field has-addons has-addons-centered">
            <p class="control">
              <span class="select is-medium">
                <select v-model="optionempcode">
                  <option v-for="(n, i) in listdata" :key="i" :value="n.empcode">{{ n.territory }}</option>
                </select>
              </span>
            </p>
            <p class="control is-expanded">
              <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสลูกค้า" v-model="txtfilter">
            </p>
            <p class="control">
              <a class="button is-primary is-medium" @click="setdatefilter()">
                {{ txtsearch }}
              </a>
            </p>
          </div>
          <br />
        </div>
      </caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Cust.</th>
          <th>Ter.</th>
          <th colspan="2" @click="showfilter()">DMY.&nbsp;<a class="fa fa-filter"></a></th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>#</th>
          <th>Cust.</th>
          <th>Ter.</th>
          <th colspan="2">DMY.</th>
          <th></th>
        </tr>
      </tfoot>
      <tbody>
        <tr v-for="(n, i) in filterBy(reverseItems, txtfilter)" :key="i">
          <td>{{ i + 1}}</td>
          <td>{{ n.custtomer }}</td>
          <td>{{ n.custtable[0].salesdistrictid }}</td>
          <td colspan="2">{{ redate(n.created) }}</td>
          <td>
            <a class="button is-success" @click="showdetail(n)">Detail</a>
          </td>
        </tr>
      </tbody>
    </table>
    <sweet-modal ref="modaldetail">
      <sweet-modal-tab title="กิจกรรมที่ทำ" id="tab1">
        <div class="text-left">
          <div class="container">
            <ul>
              <li v-for="(n, i) in activities.detail" :key="i" v-if="n.status === true">{{ (i + 1) + '.' + n.title }}</li>
            </ul>
          </div>
        </div>
      </sweet-modal-tab>
      <sweet-modal-tab title="Pic." id="tab2">
        <div class="text-left">
          <div class="columns is-multiline is-mobile">
            <div class="column" v-for="(n, i) in activities.doc" :key="i">
              <figure class="image is-128x128">
                <img :src="n">
              </figure>
            </div>
          </div>
        </div>
      </sweet-modal-tab>
      <!-- icons is an object containing SVG strings -->
    </sweet-modal>
    <sweet-modal blocking ref="modalfilter">
      <div>
        <br />
        <div class="field">
          <label class="label">ระบุวันที่ค้นหา / enter date</label>
          <div class="field has-addons">
            <div class="control is-expanded">
              <Cleave
              class="input is-medium"
              type="text"
              placeholder="วัน/เดือน/ปี(คศ.)"
              id="txtdatebirth"
              :options='cleaveOptions'
              ></Cleave>
            </div>
            <div class="control">
              <a class="button is-info is-medium" @click="closeExample()">
                Search
              </a>
            </div>
          </div>
        </div>
      </div>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading" icon="xxx">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import chkToken from '@/assets/js/check.token'
import Cleave from '@/node_modules/vue-cleave'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
var _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - รายงานบันทึกกิจกรรมการตลาด'
    }
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      txtfilter: null,
      txtcustitem: null,
      listdata: [],
      optionempcode: null,
      optionfilter: 0,
      listcount: 0,
      listline: [],
      activities: {
        detail: [],
        doc: []
      },
      txtsearch: 'Search',
      cleaveOptions: {
        date: true,
        datePattern: ['d', 'm', 'Y']
      }
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader,
    Cleave
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.listline, 'created', 'desc')
    }
  },
  mounted () {
    this.optionempcode = localStorage.getItem('empcode')
    this.txtcustitem = localStorage.getItem('empcode') + '-' + localStorage.getItem('name')
    this.listcount = 0
    this.loaddetail()
  },
  methods: {
    showfilter () {
      document.getElementById('txtdatebirth').value = ''
      this.$refs.modalfilter.open()
    },
    closeExample () {
      this.$refs.modalfilter.close()
      var x = document.getElementById('txtdatebirth').value
      this.txtfilter = x.substr(6, 4) + '-' + x.substr(3, 2) + '-' + x.substr(0, 2)
    },
    setdatefilter () {
      this.txtfilter = null
      this.txtsearch = 'Search'
    },
    loaddetail () {
      var obj = this
      this.$refs.modalloading.open()
      this.listdata = []
      this.loadterritory()
        .then(value => {
          console.dir(value.data)
          var data = value.data
          var x = 0
          obj.listdata.push({
            id: obj.listdata.length,
            empcode: null,
            empname: null,
            territory: 'Select Territory'
          })
          var LoopArr = (i, callback) => {
            obj.loadterritoryid(data[i].territory)
              .then(rg => {
                if (rg.length > 0) {
                  obj.listdata.push({
                    id: obj.listdata.length,
                    empcode: rg[0].employee[0].empcode,
                    empname: rg[0].employee[0].name,
                    territory: data[i].salesdistrict[0].signature
                  })
                }
                callback()
              })
          }
          var Arr = (rq) => {
            LoopArr(x, () => {
              x++
              if (x < rq.length) {
                Arr(rq)
              } else {
                console.log('load complete')
                obj.loaddata(obj.optionempcode)
                  .then(r => {
                    obj.$refs.modalloading.close()
                    obj.listline = r.result
                    obj.listcount = r.rescount.length
                  })
              }
            })
          }
          Arr(data)
        })
    },
    redate (e) {
      return e.substr(0, 10)
    },
    showdetail (e) {
      console.dir(e.doc)
      this.$refs.modalloading.open()
      var obj = this
      obj.activities.detail = e.activities
      obj.activities.doc = []
      var data = e.doc
      if (data) {
        var x = 0
        var LoopArr = (i, callback) => {
          obj.loaddataimg(data[i])
            .then(rimg => {
              console.dir(rimg[0])
              obj.activities.doc.push(rimg[0].data)
              callback()
            })
        }
        var Arr = (rq) => {
          LoopArr(x, () => {
            x++
            if (x < rq.length) {
              Arr(rq)
            } else {
              console.log('complete')
              obj.$refs.modalloading.close()
              obj.$refs.modaldetail.open()
            }
          })
        }
        Arr(e.doc)
      } else {
        obj.$refs.modalloading.close()
        obj.$refs.modaldetail.open()
      }
    },
    loadterritoryid (id) {
      return new Promise(resolve => {
        chkToken.getcheckTerritoryId(parseInt(id), localStorage.getItem('token'))
          .then(r => {
            resolve(r.data)
          })
      })
    },
    loadterritory () {
      return new Promise(resolve => {
        chkToken.checkTerritorylist(parseInt(localStorage.getItem('territoryid')), localStorage.getItem('token'))
          .then(r => {
            resolve(r.data)
          })
      })
    },
    loaddataimg (imgcode) {
      return new Promise(resolve => {
        chkToken.getImages(imgcode, localStorage.getItem('token'))
          .then(r => {
            resolve(r.data)
          })
      })
    },
    loaddata (e) {
      return new Promise(resolve => {
        axios.post('/api/reports/activities', {
          empcode: e
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => resolve(r.data))
      })
    }
  },
  watch: {
    optionempcode () {
      console.log(this.optionempcode)
      var ind = this.listdata.map(e => e.empcode).indexOf(this.optionempcode)
      if (this.listdata.length > 0) {
        this.optionempcode = this.optionempcode
        this.txtcustitem = this.optionempcode + '-' + this.listdata[ind].empname
        this.listcount = 0
        this.loaddetail()
      }
    },
    txtfilter () {
      if (this.txtfilter !== null) {
        this.txtsearch = 'Search'
      } else {
        this.txtsearch = 'Search'
      }
    }
  }
}
</script>
