<template>
  <div>
    <br />
    <div class="field has-addons has-addons-right">
      <p class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสลูกค้า" v-model="forms.txtfilter">
      </p>
      <p class="control">
        <a class="button is-primary is-medium" @click="searchnew()">
          Search
        </a>
      </p>
    </div>
    <div>
      <div class="box icuser" v-for="(n,i) in filterBy(reverseItems, forms.txtfilter)" @click="showdetail(n)" :key="i">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="../../assets/img/avatar.svg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ n.txtcustomer }}</strong>
                <small>&nbsp;@&nbsp;
                  <b class="text-success">
                    {{ n.territory }}
                  </b>
                </small>
                <br />
                <b>
                  <strong :class="reappclass(n.adjustmenttype)">{{ retypeadjust(n.adjustmenttype) }}</strong>
                </b>
                <b>
                  <br />
                  สถานะ:&nbsp;<strong :class="reappclass(n.approve)">{{ reapp(n.approve) }}</strong>
                  &nbsp;
                  <strong>{{ n.remark }}</strong>
                </b>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <br />
    <sweet-modal icon="success" ref="modelsuccess">
      บันทึกข้อมูลเรียบร้อยแล้ว
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
const _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'รายการร้องขออนุมัติแก้ไขข้อมูล'
    }
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.data.list, ['approve'], ['desc'])
    }
  },
  data () {
    return {
      forms: {
        txtfilter: null,
        comment: null
      },
      data: {
        list: [],
        appr: []
      },
      img: {
        doc1: [],
        doc2: [],
        doc3: []
      }
    }
  },
  mounted () {
    var token = localStorage.getItem('token')
    this.loaddata(token)
      .then(rd => {
        this.data.list = rd
        console.dir(this.data.list)
      })
  },
  methods: {
    retypeadjust (n) {
      var b = ['', 'ร้องขอแก้ไขข้อมูลเครดิต', 'ร้องขอแก้ไขข้อมูลที่อยู่', 'ร้องขอแก้ไขข้อมูลชื่อร้าน', 'ร้องขอแก้ไขข้อมูลขนส่ง', '']
      return b[n]
    },
    searchnew () {
      var token = localStorage.getItem('token')
      this.data.list = []
      this.loaddatalist(token)
        .then(rd => {
          this.data.list = rd
        })
    },
    retxtstatus (e) {
      if (e === 0) {
        return 'รายการร้องขออนุมัติเปิดการขายเนื่องจาก'
      } else {
        return 'รายการร้องขออนุมัติระงับการขายเนื่องจาก'
      }
    },
    reappclass (e) {
      var b = ['text-warning', 'text-success', 'text-warning', 'text-warning', 'text-success', 'text-warning']
      return b[e]
    },
    reapp (e) {
      var b = ['รออนุมัติ', 'อนุมัติแล้ว', 'ไม่อนุมัติ']
      return b[e]
    },
    renameaddress (e) {
      var b = ['เพิ่มข้อมูล', 'แก้ไขข้อมูล']
      if (e === 0) {
        return b[0]
      } else {
        return b[1]
      }
    },
    loaddatalist (token) {
      var obj = this
      return new Promise(resolve => {
        axios.post('/api/adjustments/all', {
          customer: obj.forms.txtfilter
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    loaddata (token) {
      return new Promise(resolve => {
        axios.post('/api/adjustments/load', {
          token: localStorage.getItem('token')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    recurrency (e) {
      if (e) {
        return e.toLocaleString()
      } else {
        return 0
      }
    },
    redated (e) {
      return e.substring(0, 10)
    },
    remonth (i) {
      var b = ['', 'มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม']
      return b[i]
    },
    showdetail (e) {
      this.img.doc1 = []
      this.img.doc2 = []
      this.img.doc3 = []
      this.data.appr = e
      this.$refs.modalapprove.open()
    },
    readdress (e) {
      if (e > 3) {
        e = 3
      }
      var b = ['', 'ที่อยู่ Invoice', 'ที่อยู่ส่งของ', 'ที่อยู่ส่งเอกสาร']
      return b[e]
    }
  }
}
</script>
