<template>
  <div>
    <br />
    <div class="field has-addons">
      <p class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสลูกค้า" v-model="txtfilter">
      </p>
      <p class="control">
        <a class="button is-primary is-medium">
          Search
        </a>
      </p>
    </div>
    <div>
      <CustCount
        :reverseItemsList="reverseItems.length"
        :setstatecount="0"
        :territory="territory"
      ></CustCount>
    </div>
    <br />
    <div class="box" v-for="(n,i) in filterBy(reverseItems , txtfilter)" :key="i">
        <article class="media">
          <figure class="media-left">
            <p class="image is-96x96">
              <img src="../../assets/img/calendar.svg">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ n.filtername }}</strong>&nbsp;<small>@</small>&nbsp;<strong class="text-danger">{{ n.schedule }}</strong>
                <br>
                <strong>To do:&nbsp;
                  <span v-if="n.activities.length > 0">
                    <b class="text-danger" v-for="(e, b) in n.activities" :key="b">{{ e.text }}&nbsp;&nbsp;</b>
                  </span>
                  <span v-else><b class="text-danger">Not Found</b></span>
                </strong>
                <br />
                <strong>Additional:&nbsp;<b :class="returnclass(n.billing)">{{ returnstatusbilling(n.billing) }}</b></strong>&nbsp;&nbsp;
                <strong v-if="n.billing === 1">Total:&nbsp;<b class="text-danger">{{ recurrency(n.billingamount) }}</b>&nbsp;Bath</strong>
                &nbsp;&nbsp;
                <strong v-if="n.remark !== null">Remark:&nbsp;<b class="text-danger">{{ n.remark }}</b></strong>&nbsp;&nbsp;
                <br />
                <strong>Status:&nbsp;<b :class="returnclassstatus(n.status)">{{ returnstatus(n.status) }}</b></strong>
              </p>
            </div>
          </div>
        </article>
      </div>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import CustCount from '@/components/Appointments/AppvCountAppointments'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
const _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'รายการแผนการดำเนิน'
    }
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.listdata, ['schedule'], ['asc'])
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    CustCount
  },
  data () {
    return {
      txtfilter: null,
      listdata: [],
      territory: null
    }
  },
  mounted () {
    var obj = this
    obj.territory = localStorage.getItem('territory')
    this.loaddata()
      .then(r => {
        console.dir(r)
        obj.listdata = r
      })
  },
  methods: {
    returnstatus (e) {
      var b = ['none', 'wait approve', 'approved', 'reject']
      return b[e]
    },
    returnclassstatus (e) {
      var b = ['text-info', 'text-warning', 'text-success', 'text-danger']
      return b[e]
    },
    returnclass (e) {
      var b = ['text-success', 'text-danger']
      return b[e]
    },
    returnstatusbilling (e) {
      var b = ['not found', 'Collection']
      return b[e]
    },
    recurrency (e) {
      return e.toLocaleString()
    },
    loaddata () {
      return new Promise(resolve => {
        axios.post('/api/appointment/load/data', {
          territory: localStorage.getItem('territory'),
          status: 2
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    }
  }
}
</script>

