<template>
<div>
  <br />
  <div class="box" v-for="(n,i) in reverseItems" :key="i" @click="viewdetail(n)">
      <article class="media">
        <figure class="media-left">
          <p class="image is-96x96">
             <img src="../../assets/img/avatar.svg" alt="Image">
           </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ n.txtname }}</strong>&nbsp;<small>@&nbsp;<b class="text-danger">{{ n.territory }}</b></small>
              <br>
              <strong>Name:&nbsp;<b class="text-danger">{{ n.txtcustname }}</b></strong>
              &nbsp;
              <strong>Birth Day:&nbsp;<b class="text-danger">{{ n.txtdatebirth }}</b></strong>
              <br />
              <strong>Tel.:&nbsp;<b class="text-danger">{{ n.txttelno }}</b></strong>
              &nbsp;
              <strong>Email:&nbsp;<b class="text-danger">{{ n.txtemail }}</b></strong>
              <br />
              <strong v-if="n.approvestatus >= 0">Status:&nbsp;<b :class="returnclass(n.approvestatus)">{{ returnstatus(n.approvestatus, (n.txtcomment + ' ' + n.remark)) }}</b>
                &nbsp;
                <b :class="resyncstatusclass(n.syncstatus)" v-if="n.approvestatus !== 2">{{ resyncstatus(n.syncstatus) }}</b>
              </strong>
              <strong v-else>Status:&nbsp;<b class="text-info">waiting Confirm</b>
                &nbsp;
                <b :class="resyncstatusclass(n.syncstatus)">{{ resyncstatus(n.syncstatus) }}</b>
              </strong>
            </p>
          </div>
        </div>
        <!-- <div class="media-right">
          <button class="delete"></button>
        </div> -->
      </article>
    </div>
</div>
</template>
<script>
import axios from 'axios'
// import Vue from 'vue'
import mocker from '@/assets/js/mock'
// import firebase from 'firebase'
// import { InitFireBase } from '@/assets/js/initializeApp'
// Vue.config.productionTip = false
// Vue.use(InitFireBase)
// const db = firebase.database()
const _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - RESULT APPOINTMENT'
    }
  },
  // firebase: {
  //   customer: db.ref('newcustomer')
  // },
  computed: {
    reverseItems () {
      return _.orderBy(this.listdata, ['approvestatus', 'syncstatus'], ['asc', 'asc'])
    }
  },
  data () {
    return {
      mock: mocker,
      listdata: []
    }
  },
  mounted () {
    this.loadterritory()
      .then(r => {
        console.dir(r)
      })
  },
  methods: {
    resyncstatus (e) {
      var b = ['wait sync', 'synced']
      return b[e]
    },
    resyncstatusclass (e) {
      var b = ['text-warning', 'text-success']
      return b[e]
    },
    returnclass (i) {
      var b = ['text-info', 'text-warning', 'text-success', 'text-danger']
      return b[i]
    },
    returnstatus (i, e) {
      var b = ['wait approve', 'approved', 'reject']
      if (i === 3) {
        return b[i] + ' เนื่องจาก: ' + e
      } else {
        return b[i]
      }
    },
    viewdetail (n) {
      if (n.approvestatus !== 2) {
        location.href = '/customer/new/' + n.txtid + '-' + n.territory
      }
    },
    loadterritory () {
      return new Promise(resolve => {
        axios.get('/api/custtable/data/territory', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            var d = r.data
            d.forEach(ele => {
              this.$firebaseRefs.customer.child(ele).on('value', snapshot => {
                var data = snapshot.val()
                if (data !== null) {
                  // console.dir(snapshot.key)
                  snapshot.forEach(a => {
                    console.log(data[a.key])
                    this.listdata.push({
                      txtid: data[a.key].txtid,
                      txtname: data[a.key].txtname,
                      territory: data[a.key].territory,
                      txtcustname: data[a.key].txtcustname,
                      txtdatebirth: data[a.key].txtdatebirth,
                      txttelno: data[a.key].txttelno,
                      txtemail: data[a.key].txtemail,
                      approvestatus: data[a.key].approvestatus,
                      txtcomment: null,
                      remark: null,
                      syncstatus: data[a.key].syncstatus
                    })
                  })
                }
              })
            })
            resolve(r.data)
          })
      })
    }
  }
}
</script>
