<template>
  <div>
    <section class="section">
      <div class="container">
        <table class="table is-striped is-narrow is-fullwidth">
            <caption>
              <div>
                <p>
                  ผลการดำเนินงานของ:&nbsp;<b class="text-danger">{{ txtcustitem }}</b>
                </p>
                <p class="text-center">
                  <br />
                  จำนวน:&nbsp;<b class="text-danger">{{ listdata.length }}</b>&nbsp;รายการ&nbsp;
                  จำนวนเข้าพบ&nbsp;
                  <b class="text-danger">{{ listcount }}</b>&nbsp;วัน
                </p>
                <hr />
              </div>
            </caption>
            <thead>
              <tr>
                <th>#</th>
                  <th>ลูกค้า</th>
                  <th>วดป.</th>
                  <th class="text-center">เข้าพบ</th>
                  <th class="text-center">ออร์เดอร์</th>
                  <th class="text-center">เก็บเงิน</th>
                  <th class="text-center">วางบิล</th>
                  <th class="text-center">ทำกิจกรรม</th>
                  <th class="text-center">คู่แข่ง</th>
                  <th class="text-center">การตลาด</th>
                  <th class="text-center">ค้าดหวัง</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(n,i) in reverseItems" :key="i" :class="returnclasssection(n.visitpostpect)">
                <td>{{ i + 1 }}</td>
                <td>{{ n.custtomer }}</td>
                <td>{{ returndate(n.transdate) }}</td>
                <td class="text-center"><b :class="returnclass(n.visit)">{{ retrunvisit(n.visit)}}</b></td>
                <td class="text-center"><b :class="returnclass(n.visitorders)">{{ retrunvisit(n.visitorders)}}</b></td>
                <td class="text-center"><b :class="returnclass(n.visitcollection)">{{ retrunvisit(n.visitcollection)}}</b></td>
                <td class="text-center"><b :class="returnclass(n.visitbilling)">{{ retrunvisit(n.visitbilling)}}</b></td>
                <td class="text-center"><b :class="returnclass(n.visitactivities)">{{ retrunvisit(n.visitactivities)}}</b></td>
                <td class="text-center"><b :class="returnclass(n.visitcompetitors)">{{ retrunvisit(n.visitcompetitors)}}</b></td>
                <td class="text-center"><b :class="returnclass(n.visitconditions)">{{ retrunvisit(n.visitconditions)}}</b></td>
                <td class="text-center"><b :class="returnclass(n.visitpostpect)">{{ retrunvisit(n.visitpostpect)}}</b></td>
              </tr>
            </tbody>
          </table>
      </div>
    </section>
  </div>
</template>
<script>
import axios from 'axios'
var _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - REPORT RESULTAPPOINTMENT'
    }
  },
  data () {
    return {
      txtcustitem: null,
      listdata: [],
      listcount: 0
    }
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.listdata, 'create', 'desc')
    }
  },
  mounted () {
    this.txtcustitem = localStorage.getItem('empcode') + '-' + localStorage.getItem('name')
    var obj = this
    this.loadresult()
      .then(value => {
        console.dir(value)
        var x = 0
        var loopA = (c, callback) => {
          var n = new Date(value[c].transdate)
          var m = n.getFullYear() + '-' + ('0' + (n.getMonth() + 1)).slice(-2) + '-' + n.getDate()
          value[c].create = n
          obj.instcount(value[c].resultcode, m)
            .then(edd => {
              obj.listdata.push(value[c])
              callback()
            })
        }
        var Arr = (arr) => {
          loopA(x, () => {
            x++
            if (x < arr.length) {
              Arr(arr)
            } else {
              obj.loadresultcount()
                .then(ed => {
                  console.dir(ed)
                  obj.listcount = ed.length
                })
            }
          })
        }
        Arr(value)
      })
  },
  methods: {
    returnclasssection (i) {
      var b = ['', 'text-warning']
      return b[i]
    },
    returndate (e) {
      var n = new Date(e)
      return ('0' + n.getDate()).slice(-2) + '-' + ('0' + (n.getMonth() + 1)).slice(-2) + '-' + n.getFullYear()
    },
    instcount (c, b) {
      return new Promise(resolve => {
        resolve()
        // axios.post('/api/resultappointment/count/add', {
        //   resultcode: c,
        //   newdate: b
        // }, {
        //   headers: {
        //     'x-access-token': localStorage.getItem('token')
        //   }
        // })
        //   .then(r => resolve(r.data))
      })
    },
    loadresultcount () {
      return new Promise(resolve => {
        axios.post('/api/resultappointment/count', {
          empcode: localStorage.getItem('empcode')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => resolve(r.data))
      })
    },
    loadresult () {
      return new Promise(resolve => {
        axios.post('/api/resultappointment', {
          empcode: localStorage.getItem('empcode')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => resolve(r.data))
      })
    },
    returnclass (i) {
      var b = ['text-danger', 'text-success']
      if (i) {
        return b[i]
      } else {
        return b[0]
      }
    },
    retrunvisit (e) {
      if (parseInt(e) === 1) {
        return 'Yes'
      } else {
        return 'No'
      }
    },
    returnname (name, postpect) {
      // console.log(name, postpect)
      if (postpect.length < 0) {
        return postpect[0].name
      } else {
        return name
      }
    }
  }
}
</script>
