<template>
  <section>
    <br />
    <div class="box" v-for="(n, i) in reverseItems" :key="i" v-if="n.visittype === 2" @click="setval(n)">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ n.visittitle + ' ลูกค้า' + n.custtomer }}</strong> <small>@</small> <strong>{{ n.territory }}</strong>
              <br>
              เวลาเก็บเงิน:&nbsp;<strong class="text-danger">{{ n.moneydate }}</strong>
              <br />
              สถานะ:&nbsp;<strong :class="reclss(n.approved)">{{ reapp(n.approved) }}</strong>
              &nbsp;
              การซิงค์:&nbsp;<strong :class="reclss(n.syncstatus)">{{ resync(n.syncstatus) }}</strong>
            </p>
          </div>
        </div>
      </article>
    </div>
    <sweet-modal title="ยืนยันการฝากเงิน,ฝากเช็ค,โอนเงิน" hide-close-button blocking ref="modalask">
      <template slot="box-action">
        <a class="button is-danger" @click="close()">ยกเลิก</a> &nbsp;
        <a class="button is-success" @click="comfirms()">ยืนยัน</a>
      </template>
      <template>
        <div class="text-left">
          <div>
            <div class="file has-name is-fullwidth is-primary">
              <label class="file-label">
                <input class="file-input" type="file" name="resume" id="fileresult" @change='getAnote($event)'>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                </span>
                <span class="file-name">
                  {{ txtupload }}
                </span>
              </label>
            </div>
            <div :hidden="listimg.length < 1">
              <br />
              <div class="columns is-multiline is-mobile">
                <div class="column" v-for="(n,i) in listimg" :key="i">
                  <figure class="image is-32x32">
                    <img :src="n">
                  </figure>
                </div>
              </div>
            </div>
            <br />
          </div>
          <div class='field'>
            <label class='label'>ข้อมูลเพิ่มเติม / Remark</label>
            <div class='control'>
              <textarea class="textarea" placeholder="ระบุข้อมูลเพิ่มเติม" v-model="forms.txtremark"></textarea>
            </div>
          </div>
        </div>
      </template>
    </sweet-modal>
  </section>
</template>
<script>
import _ from 'lodash'
import { SweetModal, SweetModalTab } from 'sweet-modal-vue'
import assets from '@/assets/js/imgtoblob'
import guuid from '@/assets/js/greeter'
import mocker from '@/assets/js/mock'
import Vue from 'vue'
import firebase from 'firebase'
import VueFire from 'vuefire'
import { firebaseConfig } from '@/assets/js/config'
if (!firebase.apps.length) {
  firebase.initializeApp(firebaseConfig)
} else {
  firebase.app()
}
Vue.use(VueFire)
Vue.config.productionTip = false
const db = firebase.database()
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - Approve Payments'
    }
  },
  firebase: {
    result: db.ref('resultappointments')
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.listresult, ['approved', 'moneydate'], ['asc', 'desc'])
    }
  },
  data () {
    return {
      mock: mocker,
      txtupload: 'เลือกหรือถ่ายรูปภาพประกอบ(Select or take a photo.)…',
      listresult: [],
      listimg: [],
      txtcustomer: null,
      color: '#D9B611',
      size: '45px',
      margin: '2px',
      radius: '2px',
      loading: false,
      forms: {
        gencode: null,
        txtremark: null,
        pathname: []
      }
    }
  },
  mounted () {
    console.dir(db)
    this.loadsnap()
  },
  methods: {
    resync (e) {
      var b = ['No', 'Yes']
      return b[e]
    },
    reapp (e) {
      var b = ['ยังไม่ยืนยัน', 'ยืนยันเสร็จแล้ว']
      return b[e]
    },
    reclss (e) {
      var b = ['text-danger', 'text-success']
      return b[e]
    },
    loadsnap () {
      var obj = this
      obj.$firebaseRefs.result.child(localStorage.getItem('territory')).on('value', snap => {
        console.dir(snap.val())
        obj.listresult = snap.val()
      })
    },
    setval (e) {
      console.dir(e)
      this.txtcustomer = e.custtomer
      this.forms.gencode = e.gencode
      this.forms.pathname = []
      this.$refs.modalask.open()
    },
    close () {
      this.txtcustomer = null
      this.forms.gencode = null
      this.forms.pathname = []
      this.$refs.modalask.close()
    },
    comfirms () {
      var d = new Date()
      this.$firebaseRefs.result.child(localStorage.getItem('territory')).child(this.forms.gencode)
        .update({
          moneydate: d.getFullYear() + '-' + ('0' + (d.getMonth() + 1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2) + ' ' + ('0' + d.getHours()).slice(-2) + ':' + ('0' + d.getMinutes()).slice(-2),
          pathname: this.forms.pathname,
          approved: 1
        })
        .then(res => {
          this.close()
        })
    },
    getAnote (e) {
      // var obj = this
      this.loading = true
      var d = new Date()
      var a = d.getFullYear() + '-' + ('0' + (d.getMonth() + 1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2)
      let ptname = '/SALES-CRM/' + localStorage.getItem('territory') + '-CRM/' + a + '/ACTIVITIES/' + this.txtcustomer + '/ยืนยันการชำระเงิน/'
      assets.doUpload(e, guuid.GenCode(), ptname)
        .then(r => {
          assets.GetCanvasAnnote(e.target.files[0]).then(res => {
            assets.imgDropboxImagesLink(r.pathname).then(odg => {
              console.log(odg)
              this.listimg.push(res)
              this.txtupload = r.msg
              this.forms.pathname.push({
                pathname: r.pathname,
                link: odg
              })
              this.loading = false
            })
          })
        })
    }
  }
}
</script>

