<template>
  <div class="container">
    <br />
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <a class="button is-primary" href="/customer/new">เปิดบัญชีลูกค้าใหม่</a>
      </p>
    </div>
    <br />
    <div class="box" v-for="(n,i) in reverseItems" :key="i" @click="viewdetail(n)">
      <article class="media">
        <figure class="media-left">
          <p class="image is-96x96">
             <img src="../../assets/img/avatar.svg" alt="Image">
           </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ n.txtname }}</strong>&nbsp;<small>@&nbsp;<b class="text-danger">{{ n.sales }}</b></small>
              <br>
              <strong>Name:&nbsp;<b class="text-danger">{{ n.txtcustname }}</b></strong>
              &nbsp;
              <strong>Birth Day:&nbsp;<b class="text-danger">{{ n.txtdatebirth }}</b></strong>
              <br />
              <strong>Tel.:&nbsp;<b class="text-danger">{{ n.txttelno }}</b></strong>
              &nbsp;
              <strong>Email:&nbsp;<b class="text-danger">{{ n.txtemail }}</b></strong>
              <br />
              <strong v-if="n.approvestatus >= 0">Status:&nbsp;<b :class="returnclass(n.approvestatus)">{{ returnstatus(n.approvestatus, (n.txtcomment + ' ' + n.remark)) }}</b>
                &nbsp;
                <b :class="resyncstatusclass(n.syncstatus)" v-if="n.approvestatus !== 2">{{ resyncstatus(n.syncstatus) }}</b>
              </strong>
              <strong v-else>Status:&nbsp;<b class="text-info">waiting Confirm</b>
                &nbsp;
                <b :class="resyncstatusclass(n.syncstatus)">{{ resyncstatus(n.syncstatus) }}</b>
              </strong>
            </p>
          </div>
        </div>
        <!-- <div class="media-right">
          <button class="delete"></button>
        </div> -->
      </article>
    </div>
     <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking icon="success" ref="modalsuccess">
      Successfully
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
// const fn = require('@/assets/js/greeter')
let _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'รายการเปิดบัญชีลูกค้าใหม่'
    }
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      list: []
    }
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.list, ['approvestatus', 'create', 'syncstatus'], ['asc', 'desc', 'asc'])
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  mounted () {
    this.$refs.modalloading.open()
    var obj = this
    this.loaddata().then(r => {
      obj.$refs.modalloading.close()
      console.dir(r.data)
      obj.list = r.data
    })
  },
  methods: {
    resyncstatus (e) {
      var b = ['wait sync', 'synced']
      return b[e]
    },
    resyncstatusclass (e) {
      var b = ['text-warning', 'text-success']
      return b[e]
    },
    returnclass (i) {
      var b = ['text-info', 'text-warning', 'text-success', 'text-danger']
      return b[i]
    },
    returnstatus (i, e) {
      var b = ['wait approve', 'approved', 'reject']
      if (i === 3) {
        return b[i] + ' เนื่องจาก: ' + e
      } else {
        return b[i]
      }
    },
    viewdetail (n) {
      if (n.approvestatus !== 2) {
        location.href = '/customer/new/' + n.txtid
      }
    },
    loaddata () {
      return new Promise(resolve => {
        // var obj = this
        axios.get('/api/custtable', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            setTimeout(() => {
              resolve(r)
            }, 3000)
          })
      })
    }
  }
}
</script>
