<template>
  <div>
    <h1 class="text-danger">ยังใช้งานไม่ได้ กำลังอยู่ในช่วงพัฒนา Claim </h1>
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสลูกค้า">
      </div>
      <div class="control">
        <a class="button is-info is-medium">
          ค้นหา
        </a>
      </div>
    </div>
    <p>
    	list customer
    </p>


    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสสินค้า">
      </div>
      <div class="control">
        <a class="button is-info is-medium">
          ค้นหา
        </a>
      </div>
    </div>
    <p>
    	list items
    </p>

    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุวันที่ซื้อหรือ serial number ของสินค้า">
      </div>
      <div class="control">
        <a class="button is-info is-medium">
          ค้นหา
        </a>
      </div>
    </div>
    <p>
    	list serail number or date
    </p>

    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุอาการที่พบ">
      </div>
      <div class="control">
        <a class="button is-info is-medium">
          ค้นหา
        </a>
      </div>
    </div>
    <p>
    	list อาการที่พบ
    </p>
  </div>
</template>
<script>
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - HOME'
    }
  }
}
</script>

