<template>
  <div class="column">
    <form action="post">
      <div class="columns is-col-4 is-centered">
        <figure class="img-avator login">
          <img src="../../assets/img/avatar.svg"/>
        </figure>
      </div>
      <br />
      <div class="columns is-col-4 is-centered">
        <div class="control has-icons-left has-icons-right">
          <input class="input is-large" type="text" placeholder="email@yss.co.th" v-model="forms.email" required>
          <span class="icon is-medium is-left">
            <i class="fa fa-user"></i>
          </span>
          <span class="icon is-medium is-right">
            <i class="fa fa-times"></i>
          </span>
        </div>
    </div>
    <br />
    <div class="columns is-col-4 is-centered">
      <div class="control has-icons-left has-icons-right">
          <input class="input is-large" type="password" placeholder="Password" v-model="forms.password" required>
          <span class="icon is-medium is-left">
            <i class="fa fa-lock"></i>
          </span>
          <span class="icon is-medium is-right">
            <i class="fa fa-times"></i>
          </span>
        </div>
    </div>
    <br />
    <div class="columns is-col-4 is-centered">
      <a class="button is-success is-large" type="button" @click="login()" @keydown="login()">Sign In</a>
    </div>
    </form>
    <br />
    <!-- <div class="columns is-col-4 is-centered">
      <a class="" @click="forget()">ลืมรหัสผ่าน</a>
    </div> -->
    <sweet-modal icon="success" ref="modal" hide-close-button blocking>
      <template>
        <span class="text-success">Successfully</span>
        <br />
        <span class="text-success">Going to the main page within.</span>&nbsp;<b class="text-danger">{{ refs.count }}&nbsp;s..</b>
      </template>
    </sweet-modal>
    <sweet-modal icon="error" title="OOPS…" ref="modalerr">
      <span class="text-danger">
        ไม่พบข้อมูลหรือระบุข้อมูลไม่ถูกต้อง !
        <br />
        No information was found or the information was inaccurate.
      </span>
    </sweet-modal>
    <sweet-modal icon="error" title="OOPS…" ref="modalerrpwd">
      <span class="text-danger">
        รหัสผ่านหมดอายุกรุณาตั้งรหัสผ่านใหม่!
        <br />
        Password expired, please set a new password.
      </span>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import fnCheckToken from '@/assets/js/check.token'
export default {
  layout: 'auth',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - LOGIN'
    }
  },
  data () {
    return {
      forms: {
        img: '../../assets/img/avatar.svg',
        email: null,
        password: null
      },
      info: {
        msg: null
      },
      refs: {
        modal: this.$refs.modal,
        count: 0,
        token: null
      }
    }
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  mounted () {
    var obj = this
    this.refs.token = localStorage.getItem('token')
    console.log(this.refs.token)
    if (this.refs.token !== null) {
      fnCheckToken.checkToken(this.refs.token)
        .then(rs => {
          console.dir(rs.message)
          obj.setRedirect()
        })
    }
  },
  methods: {
    login () {
      var obj = this
      localStorage.clear()
      if (obj.forms.email !== null && obj.forms.password !== null) {
        axios.post('/api/auth/login', {
          email: obj.forms.email,
          password: obj.forms.password
        })
          .then(res => {
            console.dir(res.data.data)
            if (res.data.data.success === false) {
              if (res.data.data.redirect !== null) {
                obj.info.msg = res.data.data.message
                localStorage.setItem('email', obj.forms.email)
                localStorage.setItem('peak', obj.forms.password)
                obj.$refs.modalerrpwd.open()
                setTimeout(() => {
                  location.href = res.data.data.redirect
                }, 3000)
              } else {
                obj.info.msg = res.data.data.message
                obj.$refs.modalerr.open()
              }
            } else {
              obj.$refs.modal.open()
              var x = 0
              var count = setInterval(() => {
                obj.refs.count = x++
              }, 500)
              setTimeout(() => {
                localStorage.setItem('token', res.data.data.token)
                localStorage.setItem('empcode', res.data.data.user.empcode)
                localStorage.setItem('position', res.data.data.user.empcode)
                localStorage.setItem('name', res.data.data.user.name)
                obj.refs.token = localStorage.getItem('token')
                clearInterval(count)
              }, 2000)
            }
          })
          .catch(err => {
            console.dir(err)
            obj.info.msg = err.message
            obj.$refs.modalerr.open()
          })
      }
    },
    forget () {
      console.info('ส่งเมลล์ขอรีรหัสใหม่')
    },
    setRedirect () {
      window.location.href = '/home'
    }
  },
  watch: {
    'refs.token' () {
      console.log('token:', this.refs.token)
      if (this.refs.token !== null) {
        this.setRedirect()
      }
    }
  }
}
</script>

