<template>
  <div>
    <br />
    <div class="field">
      <label class="label">ตั้งรหัสผ่านใหม่ / New password.</label>
      <div class="control">
        <input :class="control.txtpasswd" type="password" placeholder="password" v-model="form.txtpasswd">
      </div>
    </div>
    <div class="field">
      <label class="label">ยืนยันรหัสผ่านใหม่ / Confirm new password.</label>
      <div class="control">
        <input :class="control.txtconpwd" type="password" placeholder="password" v-model="form.txtconpwd">
      </div>
    </div>
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <a class="button is-success is-large" @click="checkpawd()">
          Save
        </a>
      </p>
      <p class="control">
        <a class="button is-danger is-large" href="/">
          Cancel
        </a>
      </p>
    </div>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking icon="success" ref="modalsuccess">
      บันทึกข้อมูลเสร็จแล้ว / Successfully.
    </sweet-modal>
    <sweet-modal icon="error" title="OOPS…" ref="modalerror">
      <span class="text-danger">{{ info.msg }}</span>
    </sweet-modal>
    <sweet-modal icon="success" ref="modal" hide-close-button blocking>
      <template>
        <span class="text-success">
          Successfully.
        </span>
        <br />
        <span class="text-success">
          Going to the main page within.
          </span>&nbsp;<b class="text-danger">{{ refs.count }}&nbsp;วิ..</b>
      </template>
    </sweet-modal>
    <sweet-modal icon="error" title="OOPS…" ref="modalerr">
      <span class="text-danger">
        ไม่พบข้อมูลหรือระบุข้อมูลไม่ถูกต้อง !
        <br />
        No information was found or the information was inaccurate.
      </span>
    </sweet-modal>
    <sweet-modal icon="error" title="OOPS…" ref="modalerrpwd">
      <span class="text-danger">
        รหัสผ่านหมดอายุกรุณาตั้งรหัสผ่านใหม่!
        <br />
        Password expired, please set a new password.
      </span>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
export default {
  layout: 'auth',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - CHANGE PASSWORD'
    }
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      control: {
        txtpasswd: 'input is-large',
        txtconpwd: 'input is-large'
      },
      form: {
        txtpasswd: null,
        txtconpwd: null,
        empid: 0
      },
      info: {
        msg: null
      },
      refs: {
        modal: this.$refs.modal,
        count: 0,
        token: null
      }
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  methods: {
    validatePassword (value) {
      var obj = this
      var p = value
      obj.info.msg = null
      if (p.length < 8) {
        obj.info.msg = 'รหัสผ่านของคุณต้องมีความยาวอย่างน้อย 8 ตัว / Your password must be at least 8 characters long.'
      } else if (p.search(/[a-z]/i) < 0) {
        obj.info.msg = 'รหัสผ่านของคุณต้องมีตัวอักษรอย่างน้อยหนึ่งตัวอักษร / Your password must contain at least one letter.'
      } else if (p.search(/[0-9]/) < 0) {
        obj.info.msg = 'รหัสผ่านของคุณต้องมีตัวเลขอย่างน้อยหนึ่งหลัก / Your password must contain numbers.'
      } else if (p.search(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/)) {
        obj.info.msg = 'รหัสผ่านของคุณต้องมีตัวอักษรเล็กใหญ่อย่างน้อยหนึ่งหลัก / Your password must contain at least one letter.'
      }
      if (obj.info.msg !== null) {
        obj.$refs.modalerror.open()
        return false
      }
      return true
    },
    checkpawd () {
      var obj = this
      if (obj.form.txtpasswd === null) {
        obj.validatePassword(obj.form.txtpasswd)
      } else if (obj.form.txtconpwd === null) {
        obj.validatePassword(obj.form.txtconpwd)
      } else if (obj.form.txtconpwd !== obj.form.txtpasswd) {
        obj.info.msg = 'กรุณาระบุรหัสผ่านของคุณให้ตรงกันด้วย / Passwords do not match.'
        obj.$refs.modalerror.open()
      } else {
        var txt = obj.validatePassword(obj.form.txtconpwd)
        if (txt === true) {
          axios.post('/api/auth/change/pwd', {
            email: localStorage.getItem('email'),
            password: obj.form.txtpasswd
          })
            .then(res => {
              console.dir(res.data.data)
              if (res.data.data.success === false) {
                obj.info.msg = res.data.data.message
                obj.$refs.modalerrpwd.open()
              } else {
                obj.$refs.modal.open()
                var x = 0
                var count = setInterval(() => {
                  obj.refs.count = x++
                }, 500)
                setTimeout(() => {
                  localStorage.setItem('token', res.data.data.token)
                  obj.refs.token = localStorage.getItem('token')
                  location.href = '/'
                  clearInterval(count)
                }, 2000)
              }
            })
            .catch(err => {
              console.dir(err)
              obj.info.msg = err.message
              obj.$refs.modalerr.open()
            })
        } else {
          obj.form.txtconpwd = null
          obj.form.txtpasswd = null
        }
      }
    }
  },
  watch: {
    'form.txtpasswd' () {
      var obj = this
      if (obj.form.txtpasswd !== null) {
        if (obj.form.txtpasswd.length > 0) {
          obj.control.txtpasswd = 'input is-success is-large'
        }
      } else {
        obj.control.txtpasswd = 'input is-danger is-large'
      }
    },
    'form.txtconpwd' () {
      var obj = this
      if (obj.form.txtpasswd !== null) {
        if (obj.form.txtpasswd.length > 0) {
          if (obj.form.txtconpwd !== obj.form.txtpasswd) {
            obj.control.txtconpwd = 'input is-danger is-large'
          } else {
            obj.control.txtpasswd = 'input is-success is-large'
            obj.control.txtconpwd = 'input is-success is-large'
          }
        }
      } else {
        obj.control.txtpasswd = 'input is-danger is-large'
      }
    }
  }
}
</script>
