<template>
  <div>
    <br />
    <div class="box">
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="ค้นหาเขตการขาย" v-model="forms.txtfilter" @click="clearitems()">
        </p>
        <p class="control">
          <a :class="btn.add" @click="nAdd()">
            <span class="icon">
              <i class="fa fa-plus"></i>
            </span>
            <span>เพิ่มข้อมูล</span>
          </a>
        </p>
      </div>
      <div>
        <hr class="divider"/>
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>#</th>
              <th></th>
              <th>ชื่อ</th>
              <th>ตำแหน่ง</th>
              <th>เขตการขาย</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(n,i) in filterBy(users.employees, forms.txtfilter)" :key="i">
              <td>{{ i + 1}}</td>
              <td>
                <figure class="image is-24x24">
                  <img src="../../assets/img/avatar.svg">
                </figure>
              </td>
              <td>{{ n.users[0].empcode + '-' + n.users[0].name }}</td>
              <td>{{ n.position[0].name }}</td>
              <td>{{ n.territory[0].signature }}</td>
              <td>
                <a class="button is-info" @click="editconfig(n.id, n.empid, n.position, n.territory)">แก้ไข</a>
              </td>
              <td>
                <a class="button is-danger" @click="actresetpwd(n.empid)">รีเซ็ตรหัสผ่าน</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <sweet-modal title="แบบฟอร์ม" ref="modaledit" hide-close-button blocking>
      <template>
        <div>
          <strong>ชื่อพนักงาน</strong>
          <br />
          <div class="field has-addons">
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select v-model="forms.empid" :disabled="forms.edit">
                  <option v-for="(n,i) in users.list" :key="i" :value="n.id">{{ n.empcode + '-' + n.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="columns">
          <div class="column is-6">
            <strong>ตำแหน่ง</strong>
            <br />
            <div class="field has-addons">
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select v-model="forms.position">
                    <option v-for="(n,i) in users.position" :value="n.id" :key="i">{{ n.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="column is-6">
            <strong>เขตการขาย</strong>
            <br />
            <div class="field has-addons">
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select v-model="forms.territory">
                    <option v-for="(n,i) in users.territory" :key="i" :value="n.id">{{ n.signature }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template slot="box-action">
        <a @click="savedata()" :class="btn.save">บันทึก</a> &nbsp;
        <a @click="closemodal()" :class="btn.cancel">ยกเลิก</a>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking icon="success" ref="modalsuccess">
      บันทึกข้อมูลเสร็จแล้ว
    </sweet-modal>
    <sweet-modal icon="error" title="OOPS…" ref="modalerror">
      <span class="text-danger">{{ info.msg }}</span>
    </sweet-modal>
    <sweet-modal icon="success" ref="modal" hide-close-button blocking>
      <template>
        <span class="text-success">ตั้งรหัสผ่านเรียบร้อยแล้ว</span>
        <br />
      </template>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - EMPLOYEES'
    }
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      btn: {
        add: 'button is-primary',
        save: 'button is-success is-medium',
        cancel: 'button is-danger is-medium'
      },
      users: {
        employees: [],
        list: [],
        position: [],
        territory: []
      },
      forms: {
        edit: false,
        empid: 0,
        position: 0,
        territory: 0,
        txtfilter: null
      },
      info: {
        msg: null
      }
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  mounted () {
    var obj = this
    this.loaddata()
      .then(res => {
        // console.dir(res.data)
        obj.users.employees = res.data
        // if (res.data.data.redirecto === null) {
        //   obj.users.employees = res.data
        // } else {
        //   location.href = res.data.data.redirecto
        // }
      })
  },
  methods: {
    resetpwd (empid) {
      console.log(empid)
      const token = localStorage.getItem('token')
      return new Promise(resolve => {
        axios.post('/api/employees/reset', {
          empid: empid,
          pwd: 'Passw0rd@1'
        }, {
          head: {
            'x-access-token': token
          }
        })
          .then(rs => {
            resolve(rs)
          })
      })
    },
    actresetpwd (pwd) {
      var obj = this
      obj.$refs.modalloading.open()
      obj.resetpwd(pwd)
        .then(rd => {
          obj.$refs.modalloading.close()
          obj.$refs.modalsuccess.open()
          setTimeout(() => {
            obj.$refs.modalsuccess.close()
          }, 2000)
        })
    },
    loaddata () {
      const token = localStorage.getItem('token')
      return new Promise(resolve => {
        axios.get('/api/employees', {
          head: {
            'x-access-token': token
          }
        })
          .then(rs => {
            resolve(rs)
          })
      })
    },
    loadmaster () {
      const token = localStorage.getItem('token')
      return new Promise(resolve => {
        axios.get('/api/master/employees', {
          head: {
            'x-access-token': token
          }
        })
          .then(rs => {
            resolve(rs.data)
          })
      })
    },
    loadposition () {
      const token = localStorage.getItem('token')
      return new Promise(resolve => {
        axios.get('/api/master/position', {
          head: {
            'x-access-token': token
          }
        })
          .then(rs => {
            resolve(rs.data)
          })
      })
    },
    loadterritory () {
      const token = localStorage.getItem('token')
      return new Promise(resolve => {
        axios.get('/api/master/territory', {
          head: {
            'x-access-token': token
          }
        })
          .then(rs => {
            resolve(rs.data)
          })
      })
    },
    newEmp () {
      var obj = this
      obj.users.list.length = 0
      obj.users.position.length = 0
      obj.users.territory.length = 0
      obj.forms.edit = false
      obj.nAdd()
    },
    nAdd () {
      var obj = this
      obj.btn.add = 'button is-warning is-loading'
      obj.loadmaster()
        .then(rd => {
          obj.users.list = rd.data
          obj.loadposition()
            .then(ps => {
              obj.users.position = ps.data
              obj.loadterritory()
                .then(ts => {
                  obj.users.territory = ts.data
                  obj.$refs.modaledit.open()
                  setTimeout(() => {
                    obj.btn.add = 'button is-primary'
                  }, 3000)
                })
            })
        })
    },
    insert () {
      const token = localStorage.getItem('token')
      var b = [{
        empid: this.forms.empid,
        position: this.forms.position,
        territory: this.forms.territory
      }]
      return new Promise(resolve => {
        axios.post('/api/master/employees', {
          data: b
        }, {
          head: {
            'x-access-token': token
          }
        })
          .then(rs => {
            resolve(rs)
          })
      })
    },
    update () {
      const token = localStorage.getItem('token')
      var b = [{
        empid: this.forms.empid,
        position: this.forms.position,
        territory: this.forms.territory
      }]
      return new Promise(resolve => {
        axios.post('/api/master/employees', {
          data: b
        }, {
          head: {
            'x-access-token': token
          }
        })
          .then(rs => {
            resolve(rs)
          })
      })
    },
    savedata () {
      var obj = this
      obj.users.employees.length = 0
      this.insert()
        .then(rs => {
          console.dir(rs)
          this.$refs.modaledit.close()
          this.loaddata()
            .then(res => {
              console.dir(res)
              obj.users.employees = res.data
              obj.forms.empid = 0
              obj.forms.position = 0
              obj.forms.territory = 0
            })
        })
    },
    editconfig (id, empid, position, territory) {
      console.log(id, empid, position, territory)
      this.forms.empid = parseInt(empid)
      this.forms.position = parseInt(position[0].id)
      this.forms.territory = parseInt(territory[0].id)
      this.forms.edit = true
      this.nAdd()
    },
    edit (id, empid, position, territory) {
      console.log(id, empid, position, territory)
      this.forms.empid = parseInt(empid)
      this.forms.position = parseInt(position[0].id)
      this.forms.territory = parseInt(territory[0].id)
      this.forms.edit = true
      this.nAdd()
    },
    closemodal () {
      this.$refs.modaledit.close()
      var obj = this
      this.loaddata()
        .then(res => {
          console.dir(res.data)
          obj.users.employees = res.data
        })
    },
    clearitems () {
      this.forms.txtfilter = null
    }
  }
}
</script>

