<template>
  <div>
    <br />
    <div class="box">
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="ค้นหาเขตการขาย" v-model="forms.txtfilter" @click="clearitems()">
        </p>
        <p class="control">
          <a :class="btn.add" @click="nAdd()">
            <span class="icon">
              <i class="fa fa-plus"></i>
            </span>
            <span>เพิ่มข้อมูล</span>
          </a>
        </p>
      </div>
      <div :hidden="data.territorylead.length < 1">
        <hr class="divider"/>
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>#</th>
              <th>ลีด</th>
              <th>เขตการขาย</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(n,i) in filterBy(reverseItems, forms.txtfilter)" :key="i" v-if="n.lead.length > 0">
              <td>{{ i + 1 }}</td>
              <td v-for="(a, q) in n.lead" :key="returnkey(q)">{{ a.signature }}</td>
              <td v-for="(a, q) in n.territory" :key="returnkey(q)">{{ a.signature }}</td>
              <td><b :class="reclass(n.status)">{{ reactive(n.status) }}</b></td>
              <td><a @click="updatedata(n.lead[0].id, n.territory[0].id)" :class="btn.edit">บันทึก</a> &nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
     <sweet-modal title="แบบฟอร์ม" ref="modal" hide-close-button blocking>
      <template>
        <div>
          <strong>ลีด</strong>
          <br />
          <div class="field has-addons">
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select v-model="forms.leadid" :disabled="forms.edit">
                  <option v-for="(n,i) in data.territory" :key="i" :value="n.id">{{ n.title + '-' + n.description }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div>
          <strong>เขตการขาย</strong>
          <br />
          <div class="field has-addons">
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select v-model="forms.terrid">
                  <option v-for="(n,i) in data.territory" :key="i" :value="n.id">{{ n.title + '-' + n.description }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template slot="box-action">
        <a @click="savedata(1)" :class="btn.save">บันทึก</a> &nbsp;
        <a @click="closemodal(2)" :class="btn.cancel">ยกเลิก</a>
      </template>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
const _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - TERRITERRY'
    }
  },
  data () {
    return {
      btn: {
        add: 'button is-primary',
        save: 'button is-success is-medium',
        cancel: 'button is-danger is-medium',
        edit: 'button is-danger'
      },
      data: {
        territory: [],
        territorylead: []
      },
      forms: {
        edit: false,
        leadid: 0,
        terrid: 0,
        txtfilter: null
      }
    }
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.data.territorylead, ['updated', 'leadid'], ['desc', 'asc'])
    }
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  mounted () {
    var obj = this
    this.loadterritorylead().then(rs => {
      console.dir(rs)
      console.log('signature')
      obj.data.territorylead = rs
    })
  },
  methods: {
    returnkey (t) {
      return t
    },
    loadterritorylead () {
      return new Promise(resolve => {
        axios.get('/api/master/territory/lead')
          .then(rs => {
            console.dir(rs.data)
            resolve(rs.data)
          })
      })
    },
    loadterritory () {
      return new Promise(resolve => {
        axios.get('/api/master/territory')
          .then(rs => {
            console.dir(rs.data)
            resolve(rs.data)
          })
      })
    },
    updatedata (leadid, terrid) {
      this.forms.edit = true
      var obj = this
      obj.btn.add = 'button is-warning is-loading'
      obj.loadterritory().then(rs => {
        console.dir(rs)
        obj.data.territory = rs.data
        obj.$refs.modal.open()
        obj.btn.add = 'button is-primary'
        obj.forms.leadid = leadid
        obj.forms.terrid = terrid
      })
    },
    nAdd () {
      var obj = this
      obj.forms.edit = false
      obj.forms.leadid = 0
      obj.forms.terrid = 0
      obj.btn.add = 'button is-warning is-loading'
      obj.loadterritory().then(rs => {
        console.dir(rs)
        obj.data.territory = rs.data
        obj.$refs.modal.open()
        obj.btn.add = 'button is-primary'
      })
    },
    savedata (status) {
      var obj = this
      obj.btn.save = 'button is-warning is-medium is-loading'
      // leadid
      // territory
      var b = {
        leadid: parseInt(this.forms.leadid),
        territory: parseInt(this.forms.terrid),
        status: parseInt(status),
        created: new Date(),
        updated: new Date()
      }
      axios.post('/api/master/territory', {
        data: b
      })
        .then(r => {
          console.dir(r)
          obj.forms.leadid = 0
          obj.forms.terrid = 0
          obj.btn.save = 'button is-success is-medium'
          obj.loadterritorylead().then(rs => {
            console.dir(rs)
            obj.data.territorylead = rs
            obj.$refs.modal.close()
          })
        })
    },
    closemodal () {
      var obj = this
      obj.$refs.modal.close()
      obj.btn.add = 'button is-primary'
      obj.savedata(0)
    },
    reactive (i) {
      var b = ['Disable', 'Enabled']
      return b[i]
    },
    reclass (i) {
      var b = ['text-danger', 'text-success']
      return b[i]
    },
    clearitems () {
      this.forms.txtfilter = null
    }
  }
}
</script>
