<template>
  <div>
    <br />
    <div class="field has-addons">
      <p class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ชื่อหรือรหัสลูกค้า" v-model="forms.txtcustomer">
      </p>
      <p class="control">
        <a class="button is-primary is-medium" @click="loadcust()">
          Search
        </a>
      </p>
    </div>
    <div :hidden="socketsection.btnsearch === false">
      <hr />
      <cust-adjustment
      :txtfilter="forms.txtcustomer"
      :divlistaccount="socketsection.btnsearch"
      @commitdata="commitdata($event)"
      @searchcomplete="searchcomplete()"
      ></cust-adjustment>
    </div>
    <div :hidden="forms.txtname === null">
      <div>
        <br />
        <label class="label">รหัสเลขที่ผู้เสียภาษีหรือหรัสประจำตัวประชาชน / Tax ID or identification number</label>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input is-medium" type="text" placeholder="ระบุรหัสเลขที่ผู้เสียภาษีหรือหรัสประจำตัวประชาชน" v-model="forms.txtidnew">
          </div>
          <div class="control">
            <a class="button is-danger is-medium" @click="clearTxtId()">
              Clear
            </a>
          </div>
        </div>
        <label class="label">ชื่อที่ต้องการเปลี่ยน / Name</label>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input is-medium" type="text" placeholder="ระบุชื่อที่ต้องการเปลี่ยน" v-model="forms.txtnewname">
          </div>
          <div class="control">
            <a class="button is-danger is-medium" @click="clearTxtName()">
              Clear
            </a>
          </div>
        </div>
        <div class="field">
          <label class="label">ข้อมูลเพิ่มเติม / Remark</label>
          <div class="control">
            <textarea class="textarea" placeholder="ระบุข้อมูลเพิ่มเติม" v-model="forms.txtremark"></textarea>
          </div>
        </div>
      </div>
      <br />
      <div class="field">
        <div class="file is-danger">
          <label class="file-label">
            <input class="file-input doc1" type="file" name="resume" @change="getanote($event, 1)">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                แนบเอกสาร ภพ.09
              </span>
            </span>
          </label>
        </div>
      </div>
      <div :hidden="data.img.doc1.length < 1">
        <div class="columns">
          <div class="column" v-for="(n,i) in data.img.doc1" :key="i" @click="removeimg(1, i)">
            <figure class="image is-128x128" >
              <img :src="n" alt="Image">
            </figure>
          </div>
        </div>
        <br />
      </div>


      <div class="field">
        <div class="file is-danger">
          <label class="file-label">
            <input class="file-input doc2" type="file" name="resume" @change="getanote($event, 2)">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                แนบเอกสารทะเบียนพานิช / ภพ.20 / สำเนาบัตรประชาน / สำเนาทะเบียนบ้าน
              </span>
            </span>
          </label>
        </div>
      </div>
      <div :hidden="data.img.doc2.length < 1">
        <div class="columns">
          <div class="column" v-for="(n,i) in data.img.doc2" :key="i" @click="removeimg(2, i)">
            <figure class="image is-128x128">
              <img :src="n" alt="Image">
            </figure>
          </div>
        </div>
        <br />
      </div>

      <div class="field">
        <div class="file s-danger">
          <label class="file-label">
            <input class="file-input doc3" type="file" name="resume" @change="getanote($event, 3)">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                แนบเอกสารอื่นๆ
              </span>
            </span>
          </label>
        </div>
      </div>
      <div :hidden="data.img.doc3.length < 1">
        <div class="columns">
          <div class="column" v-for="(n,i) in data.img.doc3" :key="i" @click="removeimg(3, i)">
            <figure class="image is-128x128">
              <img :src="n" alt="Image">
            </figure>
          </div>
        </div>
        <br />
      </div>
      <br />
      <hr />
      <br />
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a :class="btnsave" @click="savedata()">
            Save
          </a>
        </p>
        <p class="control">
          <a :class="btncancel" @click="canceldata()">
            Cancel
          </a>
        </p>
      </div>
      <br />
      <br />
    </div>

    <sweet-modal icon="success" ref="modalsuccess">
      Successfully
    </sweet-modal>

    <sweet-modal icon="error" ref="modalerror" title="Opps... !">
      {{ info.msg }}
    </sweet-modal>


  </div>
</template>
<script>
import axios from 'axios'
import CustAdjustment from '@/components/CustomerList/CustAdjustment'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import assets from '@/assets/js/imgtoblob'
import mocker from '@/assets/js/mock'
// import Dropbox from 'dropbox'
import guuid from '@/assets/js/greeter'
export default {
  layout: 'main',
  head () {
    return {
      title: 'แก้ไขข้อมูลชื่อลูกค้า'
    }
  },
  components: {
    CustAdjustment,
    SweetModal,
    SweetModalTab
  },
  data () {
    return {
      socketsection: {
        btnsearch: false
      },
      btnsearch: 'button is-primary is-medium',
      btnsave: 'button is-primary is-large',
      btncancel: 'button is-danger is-large',
      forms: {
        txtcustomer: null,
        txtname: null,
        txtnumber: null,
        txtnewname: null,
        txtidnew: null,
        territory: null,
        txtremark: null,
        pathname: []
      },
      data: {
        img: {
          doc1: [],
          doc2: [],
          doc3: []
        }
      },
      info: {
        msg: null
      },
      mail: {
        title: null,
        body: null,
        name: null
      },
      mock: mocker
    }
  },
  mounted () {
    this.socketsection.btnsearch = false
  },
  methods: {
    loadcust () {
      this.socketsection.btnsearch = true
      this.forms.txtname = null
      this.forms.txtnumber = null
      this.forms.txtnewname = null
      this.forms.territory = localStorage.getItem('territory')
      this.data.img.doc1.length = 0
      this.data.img.doc2.length = 0
      this.data.img.doc3.length = 0
      this.btnsearch = 'button is-warning is-medium is-loading'
    },
    searchcomplete () {
      this.btnsearch = 'button is-warning is-medium'
    },
    clearTxtId () {
      this.forms.txtidnew = null
    },
    clearTxtName () {
      this.forms.txtnewname = null
    },
    commitdata (e) {
      var obj = this
      console.log('comp')
      console.dir(e)
      this.forms.txtidnew = e.identificationnumber
      this.forms.txtcustomer = e.filtername
      this.forms.txtname = e.name
      this.forms.txtnewname = e.name
      this.forms.txtnumber = e.accountnum
      this.forms.territory = e.salesdistrictid
      obj.data.img.doc1.length = 0
      obj.data.img.doc2.length = 0
      obj.data.img.doc3.length = 0
      this.socketsection.btnsearch = false
      setTimeout(() => {
        obj.btnsearch = 'button is-primary is-medium'
      }, 1000)
    },
    insdata () {
      return new Promise(resolve => {
        axios.post('/api/adjustments/rename', {
          data: this.forms,
          img: this.data
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r)
          })
      })
    },
    savedata () {
      var obj = this
      this.btnsave = 'button is-warning is-large is-loading'
      if (obj.forms.txtnewname === null) {
        obj.info.msg = 'กรุณาระบุชื่อลูกค้าที่ต้องการเปลี่ยนด้วย'
        obj.$refs.modalerror.open()
        obj.btnsave = 'button is-primary is-large'
      // } else if (obj.data.img.doc1.length < 1) {
      //   obj.info.msg = 'กรุณาแนบเอกสาร ภพ.09 ด้วย'
      //   obj.$refs.modalerror.open()
      //   obj.btnsave = 'button is-primary is-large'
      // } else if (obj.data.img.doc2.length < 1) {
      //   obj.info.msg = 'กรุณาแนบเอกสารทะเบียนพานิช / ภพ.20 / สำเนาบัตรประชาน / สำเนาทะเบียนบ้านด้วย'
      //   obj.$refs.modalerror.open()
      //   obj.btnsave = 'button is-primary is-large'
      // } else if (obj.data.img.doc3.length < 1) {
      //   obj.info.msg = 'กรุณาแนบเอกสารอื่นๆด้วย'
      //   obj.$refs.modalerror.open()
      //   obj.btnsave = 'button is-primary is-large'
      } else {
        obj.insdata().then(r => {
          console.dir(r)
          console.dir(r.data.adjust)
          // send line and email
          obj.mail.title = 'รบกวน Sup./Sales อนุมัติร้องขอเปลี่ยนแปลงข้อมูลชื่อร้าน ' + obj.forms.txtcustomer
          obj.mail.body = 'รบกวน Sup./Sales อนุมัติร้องขอเปลี่ยนแปลงข้อมูลชื่อร้าน ' + obj.forms.txtcustomer + 'ของเขตการขาย ' + obj.forms.territory + ' ด้วยครับ'
          obj.mail.name = 'บันทึกร้องขอเปลี่ยนแปลงข้อมูลชื่อร้าน ' + obj.forms.txtcustomer + 'ของเขตการขาย ' + obj.forms.territory + ' เรียบร้อยแล้ว'
          console.dir(obj.mail)
          axios.post('/api/line', {
            message: obj.mail.name
          })
            .then(res => {
              // obj.$refs.modalsuccess.open()
              obj.forms.txtcustomer = null
              obj.forms.txtname = null
              obj.forms.txtnumber = null
              obj.socketsection.btnsearch = false
              obj.forms.territory = null
              obj.data.img.doc1.length = 0
              obj.data.img.doc2.length = 0
              obj.data.img.doc3.length = 0
              obj.btnsave = 'button is-primary is-large'
            })
          setTimeout(() => {
            // obj.$refs.modalsuccess.open()
            obj.forms.txtcustomer = null
            obj.forms.txtname = null
            obj.forms.txtnumber = null
            obj.socketsection.btnsearch = false
            obj.forms.territory = null
            obj.data.img.doc1.length = 0
            obj.data.img.doc2.length = 0
            obj.data.img.doc3.length = 0
            obj.btnsave = 'button is-primary is-large'
          }, 2000)
          // axios.post('/api/mailer', {
          //   data: this.mail
          // }, {
          //   headers: {
          //     'x-access-token': localStorage.getItem('token')
          //   }
          // })
          //   .then(r => {
          //     axios.post('/api/line', {
          //       message: obj.mail.name
          //     })
          //       .then(res => {
          //         obj.$refs.modalsuccess.open()
          //         obj.forms.txtcustomer = null
          //         obj.forms.txtname = null
          //         obj.forms.txtnumber = null
          //         obj.socketsection.btnsearch = false
          //         obj.forms.territory = null
          //         obj.data.img.doc1.length = 0
          //         obj.data.img.doc2.length = 0
          //         obj.data.img.doc3.length = 0
          //         obj.btnsave = 'button is-primary is-large'
          //       })
          //   })
        })
      }
    },
    canceldata () {
      location.reload()
    },
    doUpload (event, txt) {
      return new Promise(resolve => {
        let ptname = '/SALES-CRM/' + localStorage.getItem('territory') + '-CRM/ADJUSTMENT/RENAME/' + this.forms.txtnumber + '/' + txt + '/'
        assets.doUpload(event, guuid.GenCode(), ptname)
          .then(r => {
            resolve(r)
          })
      })
    },
    getanote (e, type) {
      var file = e.target.files[0]
      var obj = this
      assets.GetCanvasAnnote(file).then(r => {
        var txt = null
        if (type === 1) {
          txt = 'เอกสาร_ภพ.09'
        } else if (type === 2) {
          txt = 'เอกสารทะเบียนพานิช_ภพ.20_สำเนาบัตรประชาน_สำเนาทะเบียนบ้าน'
        } else if (type === 3) {
          txt = 'เอกสารประกอบอื่นๆ'
        }
        obj.doUpload(e, txt)
          .then(res => {
            obj.forms.pathname.push({
              title: txt,
              pathname: res.pathname
            })
            if (type === 1) {
              obj.data.img.doc1.push(r)
            } else if (type === 2) {
              obj.data.img.doc2.push(r)
            } else if (type === 3) {
              obj.data.img.doc3.push(r)
            }
          })
      })
    },
    removeimg (i, n) {
      var obj = this
      if (i === 1) {
        obj.data.img.doc1.splice(n, 1)
      } else if (i === 2) {
        obj.data.img.doc2.splice(n, 1)
      } else if (i === 3) {
        obj.data.img.doc3.splice(n, 1)
      }
    }
  }
}
</script>

