<template>
  <div>
    <section class="hero is-auth is-primary is-large header-image">
    <div class="hero-head">
      <header class="nav">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item" href="/home">
              CRM CLOUD SERVICE
            </a>
          </div>
          <!-- <div class="nav-right nav-menu">
            <span class="nav-item">
              <a class="button is-primary is-outlined is-inverted" @click="logout()">
                <span>{{ auth.txt }}</span>
              </a>
            </span>
          </div> -->
        </div>
      </header>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-2">
          CRM CLOUD SERVICE
        </h1>
        <h2 class="subtitle is-5">
          Sales Promotion Management System.
        </h2>
        <nuxt/>
      </div>
    </div>
  </section>
  </div>
</template>

<script>
import MyFooter from '~/components/Footer.vue'
import chkToken from '@/assets/js/check.token'
export default {
  components: {
    MyFooter
  },
  data () {
    return {
      auth: {
        status: true,
        txt: 'Log In',
        link: '/auth/login'
      }
    }
  },
  mounted () {
    var obj = this
    var token = localStorage.getItem('token')
    console.log('get Token:', token)
    if (token !== null) {
      chkToken.checkToken(localStorage.getItem('token'))
        .then(r => {
          console.log(r.redirec)
          if (r.redirec === null) {
            let b = []
            b.push(r)
            if (b.length > 0) {
              obj.auth.status = false
              obj.auth.txt = 'Log Out'
            } else {
              obj.auth.status = true
              obj.auth.txt = 'Log In'
            }
          } else {
            obj.logout()
          }
        })
        .catch(err => {
          console.dir(err.message)
        })
    } else {
      // this.logout()
    }
  },
  methods: {
    logout () {
      localStorage.clear()
      location.href = '/auth/login'
    }
  }
}
</script>
