<template>
  <div class="">
    <nav class="navbar is-transparent">
      <div class="container is-fluid">
        <div class="navbar-brand">
          <a class="navbar-item" href="/home">
            Employee:&nbsp;<b class="text-danger">{{ txtempcode }}</b>
          </a>
          <div class="navbar-burger burger" data-target="navMenuTransparentExample" @click="setHead(navbar.aHead)">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="navMenuTransparentExample" :class="navbar.head">
          <div class="navbar-end">
            <a class="navbar-item" href="/home">
                Home
            </a>
            <div :class="navbar.service" @click="setservice(navbar.aService)">
              <a class="navbar-link">
                Service
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="/orders/1">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Order 1</strong>
                          <br>
                          <small>เปิดใบสั่งขาย 1</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <!-- <a class="navbar-item " href="/orders/2">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Order 2</strong>
                          <br>
                          <small>เปิดใบสั่งขาย 2</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a> -->
                <a class="navbar-item " href="/orders/spc/3">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Order 3</strong>
                          <br>
                          <small>PUK+TOPLINE</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/orders/spc/4">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Order 4</strong>
                          <br>
                          <small>X-MAX</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/orders/spc/5">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Order 5</strong>
                          <br>
                          <small>Matrix Duo & The Gang YSS Auto</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/orders/etc/6">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Order 6</strong>
                          <br>
                          <small>Matrix Duo(Front, Rear) & The Gang YSS Auto</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/orders/etc/7">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Order 7</strong>
                          <br>
                          <small>Matrix Duo(Spring) & The Gang YSS Auto</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/orders/etc/8">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Order 8</strong>
                          <br>
                          <small>Matrix Duo YSS Moto</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/orders/oth/9">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Order 9</strong>
                          <br>
                          <small>Matrix Duo& The Gang YSS Moto</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item " href="https://admin.yssasia.com" >
                  <p>
                    <strong>Claim</strong>
                    <br>
                    <small>รับเคลมสินค้า</small>
                  </p>
                </a>
              </div>
            </div>
            <div :class="navbar.report" @click="setreport(navbar.aReport)">
              <div class="navbar-link">
                Reports
              </div>
              <div id="moreDropdown" class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="/reports/items">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Items</strong>
                          <br>
                          <small>List Items and Product.</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/customer">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Customer</strong>
                          <br>
                          <small>List Customer.</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/reports/adjustments">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Report Adjustment</strong>
                          <br>
                          <small>List Adjustment.</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/reports/new">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>New Customer</strong>
                          <br>
                          <small>List New Customer.</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/reports/appointments">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Appointments</strong>
                          <br>
                          <small>List Appointments.</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/reports/result">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Result Appointments</strong>
                          <br>
                          <small>List Result Appointments.</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/reports/market">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Market Conditions</strong>
                          <br>
                          <small>List Market Conditions.</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/reports/activities">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Marketing Activities</strong>
                          <br>
                          <small>List Marketing Activities.</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <hr class="divider"/>
                <a class="navbar-item " href="/reports/crm/order">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Order</strong>
                          <br>
                          <small>รายการยืนยันออร์เดอร์.</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/reports/claim">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Claim</strong>
                          <br>
                          <small>รายงานสถานะงานเคลม.</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <hr class="divider"/>
                <a class="navbar-item " href="http://report.yssasia.com/backorder">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Back Order</strong>
                          <br>
                          <small>Report Back Order.</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="http://report.yssasia.com/ordertopline">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Production order.</strong>
                          <br>
                          <small>Report production order.</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div :class="navbar.task" @click="settask(navbar.aTask)">
              <a class="navbar-link ">
                To Do
              </a>
              <div id="blogDropdown" class="navbar-dropdown is-boxed" data-style="width: 18rem;">
                  <a class="navbar-item" href="/appointments/pospect">
                    <div class="navbar-content">
                      <p>
                        <strong>New Customer Support.</strong>
                      </p>
                      <small>บันทึกรายละเอียดของลูกค้าค้าดหวัง</small>
                    </div>
                  </a>
                  <a class="navbar-item" href="/appointments/resultpostpect">
                    <div class="navbar-content">
                      <p>
                        <strong>Meet the prospects.</strong>
                      </p>
                      <small>บันทึกข้อมูลเข้าพบลูกค้าค้าดหวัง</small>
                    </div>
                  </a>

                  <!-- <a class="navbar-item" href="/appointments/result">
                    <div class="navbar-content">
                      <p>
                        <strong>ผลการดำเนินงาน</strong>
                      </p>
                      <small>บันทึกผลการดำเนินงาน</small>
                    </div>
                  </a> -->
                   <a class="navbar-item" href="/appointments/absolute">
                    <div class="navbar-content">
                      <p>
                        <strong>Result Appointment.</strong>
                      </p>
                      <small>บันทึกผลการดำเนินงาน</small>
                    </div>
                  </a>
                  <hr class="divider"/>
                  <a class="navbar-item" href="/adjustments/telphone">
                    <div class="navbar-content">
                      <p>
                        <strong>Adjustment Phone number</strong>
                      </p>
                      <small>บันทึกแก้ไขข้อมูลเบอร์โทร</small>
                    </div>
                  </a>
                  <!-- <a class="navbar-item" href="/adjustments/payment">
                    <div class="navbar-content">
                      <p>
                        <strong>แก้ไขข้อมูล Credit และ Payment</strong>
                      </p>
                      <small>บันทึกแก้ไขข้อมูล Credit และ Payment ของลูกค้า</small>
                    </div>
                  </a> -->
                  <a class="navbar-item" href="/adjustments/payment">
                    <div class="navbar-content">
                      <p>
                        <strong>Adjustment Credit</strong>
                      </p>
                      <small>บันทึกแก้ไขข้อมูลเครดิต</small>
                    </div>
                  </a>
                  <a class="navbar-item" href="/adjustments/rename">
                    <div class="navbar-content">
                      <p>
                        <strong>Adjustment Name</strong>
                      </p>
                      <small>บันทึกแก้ไขข้อมูลชื่อลูกค้า</small>
                    </div>
                  </a>
                  <a class="navbar-item" href="/adjustments/transport">
                    <div class="navbar-content">
                      <p>
                        <strong>Adjustment Transport</strong>
                      </p>
                      <small>บันทึกแก้ไขข้อมูลที่อยู่ขนส่งของลูกค้า</small>
                    </div>
                  </a>
                  <a class="navbar-item" href="/adjustments/address">
                    <div class="navbar-content">
                      <p>
                        <strong>Adjustment Address</strong>
                      </p>
                      <small>บันทึกแก้ไขข้อมูลที่อยู่ลูกค้า</small>
                    </div>
                  </a>
                  <a class="navbar-item" href="/adjustments/social">
                    <div class="navbar-content">
                      <p>
                        <strong>Adjust Social Media</strong>
                      </p>
                      <small>บันทึกแก้ไขข้อมูล Social Media ของลูกค้า</small>
                    </div>
                  </a>
                  <hr class="divider"/>
                  <a class="navbar-item" href="/customer/report">
                    <div class="navbar-content">
                      <p>
                        <strong>New Customer</strong>
                      </p>
                      <small>บันทึกข้อมูลบัญชีลูกค้าใหม่</small>
                    </div>
                  </a>
                  <a class="navbar-item " href="/appointments">
                    <div class="level is-mobile">
                      <div class="level-left">
                        <div class="level-item">
                          <p>
                            <strong>Appointment</strong>
                            <br>
                            <small>รายการวางแผนการเข้าพบ</small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a class="navbar-item " href="/reports/retransfer">
                    <div class="level is-mobile">
                      <div class="level-left">
                        <div class="level-item">
                          <p>
                            <strong>Payment Notification</strong>
                            <br>
                            <small>รายการยืนยันการโอนชำระ</small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
              </div>
            </div>
            <div :class="navbar.doc" @click="setdoc(navbar.aDoc)" :style="navbar.position">
              <div class="navbar-link">
                Approve
              </div>
              <div id="moreDropdown" class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="/approves/adjustment">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Adjustment</strong>
                          <br>
                          <small>รายการร้องขอแก้ไขอนุมัติข้อมูลลูกค้า</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/customer/report">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>New Customer</strong>
                          <br>
                          <small>รายการร้องขอเปิดบัญชีลูกค้าใหม่</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/approves/appointments">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Appointment</strong>
                          <br>
                          <small>รายการร้องขออนุมัติแผนดำเนินงาน</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div :class="navbar.system" @click="setsystem(navbar.aSystem)" :style="navbar.position">
              <div class="navbar-link">
                Setting
              </div>
              <div id="moreDropdown" class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="/setting/employees">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Employees</strong>
                          <br>
                          <small>จัดการตำแหน่งพนักงานขายและรีเซ็ตข้อมูลรหัสผ่าน</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a class="navbar-item " href="/setting/territory">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Territory</strong>
                          <br>
                          <small>จัดการเขตการขายและลีดเขตการขาย</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <hr class="divider"/>
                <!-- <a class="navbar-item " href="/auth/reset">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>รีเซ็ตรหัสผ่าน</strong>
                          <br>
                          <small>รีเซ็ตข้อมูลรหัสผ่าน</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a> -->
                <a class="navbar-item " href="/auth/pwd">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          <strong>Set Password</strong>
                          <br>
                          <small>เปลี่ยนแปลงข้อมูลรหัสผ่าน</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- <a class="navbar-item" href="/">
                Contact
            </a> -->
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a class="button is-primary" @click="logout()">
                    <span class="icon">
                      <i class="fa fa-sign-in"></i>
                    </span>
                    <span>{{ auth.txt }}</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="container">
      <nuxt/>
    </section>
  </div>
</template>
<script>
  import chkToken from '@/assets/js/check.token'
  export default {
    data () {
      return {
        navbar: {
          default: 'navbar-item has-dropdown is-hoverable',
          active: 'navbar-item has-dropdown is-hoverable is-active',
          aHead: false,
          head: 'navbar-menu',
          aService: false,
          service: 'navbar-item has-dropdown is-hoverable',
          aReport: false,
          report: 'navbar-item has-dropdown is-hoverable',
          aDoc: false,
          doc: 'navbar-item has-dropdown is-hoverable',
          aTask: false,
          task: 'navbar-item has-dropdown is-hoverable',
          aSystem: false,
          system: 'navbar-item has-dropdown is-hoverable',
          position: 'display: none'
        },
        txtempcode: null,
        auth: {
          status: true,
          txt: 'Log In',
          link: '/auth/login'
        }
      }
    },
    mounted () {
      var obj = this
      this.txtempcode = 'Guest'
      var token = localStorage.getItem('token')
      // console.log('get Token:', token)
      if (token !== null) {
        chkToken.checkToken(localStorage.getItem('token'))
          .then(r => {
            console.dir(r.data.emp.key)
            localStorage.setItem('email', r.data.emp.key.email)
            localStorage.setItem('empcode', r.data.emp.key.empcode)
            localStorage.setItem('name', r.data.emp.key.name)
            localStorage.setItem('territory', r.data.terr.key[0].territory[0].signature)
            localStorage.setItem('territoryid', r.data.terr.key[0].territory[0].id)
            localStorage.setItem('position', r.data.terr.key[0].position[0].id)
            // chkToken.checkTerritorylist(r.data.terr.key[0].territory[0].id, localStorage.getItem('token'))
            //   .then(r => {
            //     console.dir(r)
            //   })
            obj.navbar.position = r.data.emp.position
            if (r.redirec === null) {
              let b = []
              b.push(r)
              if (b.length > 0) {
                obj.txtempcode = localStorage.getItem('empcode') + '-' + localStorage.getItem('name')
                obj.auth.status = false
                obj.auth.txt = 'Log Out'
              } else {
                obj.auth.status = true
                obj.auth.txt = 'Log In'
                location.href = '/auth/login'
              }
            } else {
              obj.logout()
            }
          })
          .catch(err => {
            console.dir(err.message)
          })
      } else {
        this.logout()
      }
    },
    methods: {
      setHead (e) {
        if (this.navbar.aHead === true) {
          this.navbar.aHead = false
          this.navbar.head = 'navbar-menu'
        } else {
          this.navbar.aHead = true
          this.navbar.head = 'navbar-menu is-active'
        }
      },
      setservice (e) {
        if (this.navbar.aService === true) {
          this.navbar.aService = false
          this.navbar.service = this.navbar.default
        } else {
          this.navbar.aService = true
          this.navbar.service = this.navbar.active
        }
      },
      setreport (e) {
        if (this.navbar.aReport === true) {
          this.navbar.aReport = false
          this.navbar.report = this.navbar.default
        } else {
          this.navbar.aReport = true
          this.navbar.report = this.navbar.active
        }
      },
      setdoc (e) {
        if (this.navbar.aDoc === true) {
          this.navbar.aDoc = false
          this.navbar.doc = this.navbar.default
        } else {
          this.navbar.aDoc = true
          this.navbar.doc = this.navbar.active
        }
      },
      settask (e) {
        if (this.navbar.aTask === true) {
          this.navbar.aTask = false
          this.navbar.task = this.navbar.default
        } else {
          this.navbar.aTask = true
          this.navbar.task = this.navbar.active
        }
      },
      setsystem (e) {
        if (this.navbar.aSystem === true) {
          this.navbar.aSystem = false
          this.navbar.system = this.navbar.default
        } else {
          this.navbar.aSystem = true
          this.navbar.system = this.navbar.active
        }
      },
      logout () {
        localStorage.clear()
        location.href = '/auth/login'
      }
    }
  }
</script>
