<template>
  <div class="section">
    <div class="container">
      <cust-infomation
      :txtid='forms.txtid'
      @setemit='setemit($event)'
      @setbussiness='setbussiness($event)'
      :checkednull="checkednull"
      @checknulldata="checknulldata($event)"
      @checknull="checknull($event)"
      ></cust-infomation>
      <br />
    </div>
    <div class="container" :hidden='div.txtid === true'>
      <annote-infomation
      :txtid='forms.txtid'
      :images="forms.images"></annote-infomation>
      <br />
    </div>
    <!-- <div class="container">
      <annote-infomation :txtid='forms.txtid'></annote-infomation>
      <br />
    </div> -->
    <div class="container" :hidden='div.txtid === true'>
      <new-address
      :txtid='forms.txtid'
      :txtcust="forms.txtcust"
      :listaddress='forms.address'
      :adinvoice='forms.addressinvoice'
      :addelivery='forms.addressdelivery'
      :addocument='forms.addressdocument'
      :adinvoicehive = 'forms.adinvoicehive'
      :addeliveryhive = 'forms.addeliveryhive'
      :addocumenthive = 'forms.addocumenthive'
      ></new-address>
      <br />
    </div>
    <!-- <div class="container" :hidden='div.txtid === true'>
      <new-transport
      :txtid='forms.txtid'
      ></new-transport>
      <br />
    </div> -->
    <div class="container" :hidden='div.txtid === true'>
      <meeting-data
      :txtid='forms.txtid'
      ></meeting-data>
      <br />
    </div>
    <div class="container" :hidden='div.txtid === true'>
      <new-market
      :txtid='forms.txtid'
      ></new-market>
      <br />
    </div>
    <div class="container" :hidden='div.txtid === true'>
      <new-credit
       :txtid='forms.txtid'
       :typebussiness="forms.typebussiness"
       ></new-credit>
      <br />
    </div>
    <div class="container" :hidden='div.txtid === true'>
      <social-media
      :txtid='forms.txtid'
      :listcust="forms.social"
      @setsocial="setsocial($event)"></social-media>
      <br />
    </div>
    <div class="container" :hidden='div.txtid === true'>
      <new-contact
      :txtid='forms.txtid'
      ></new-contact>
      <br />
    </div>
    <div class="container" :hidden='div.txtid === true'>
      <market-shared
      :txtid='forms.txtid'></market-shared>
      <br />
    </div>
    <br />
    <div class="text-center">
      <strong class="text-danger">
        กรุณาตรวจความถูกต้องก่อนทำการยืนยันด้วย
        <br />
        Please check the accuracy before confirming.
      </strong>
      <br />
    </div>
    <div :hidden="approvediv !== true">
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a :class="forms.btnsave"  @click="setapprovestatus(1)">
            Approve
          </a>
        </p>
        <p class="control">
          <a class="button is-danger is-large" @click="setapprovestatus(2)">
            Reject
          </a>
        </p>
      </div>
    </div>
    <div :hidden="approvediv !== false">
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a :class="forms.btnsave"  @click="setsave(0)">
            Save
          </a>
        </p>
        <p class="control">
          <a class="button is-danger is-large">
            Cancel
          </a>
        </p>
      </div>
    </div>
    <br />
    <br />
    <sweet-modal blocking icon="info" ref="modaldialogapprove">
      ยืนยันการอนุมัติ / Confirm approval.
      <br />
      <strong class="text-danger">
        กรุณาตรวจสอบรูปเอกสารแนบด้วยว่าถูกต้องหรือไม่
        <br />
        Please check the attached image for correct or not.
      </strong>
      <hr class="divider"/>
      <br />
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a :class="forms.btnsave"  @click="comfirmapprove(1)">
            Ok
          </a>
        </p>
      </div>
    </sweet-modal>
    <sweet-modal blocking title="ระบุเหตุผลที่ไม่อนุมัติ" ref="modaldialogreject" hide-close-button>
      <template slot="box-action">
        <a class="button is-success is-medium" @click="comfirmapprove(2)">Save</a>
        &nbsp;
        <a class="button is-danger is-medium" @click="closemodalreject()">Cancel</a>
      </template>
      <template>
        <section>
          <div class="field">
            <div class="control">
              <textarea class="textarea" placeholder="ระบุเหตุผลที่ไม่อนุมัติ" v-model="forms.txtcomment"></textarea>
            </div>
          </div>
        </section>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking icon="success" ref="modalsuccess">
      Successfully
    </sweet-modal>
    <sweet-modal blocking icon="error" ref="modalerror">
      {{ info.msg }}
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import CustInfomation from '@/components/New/InfoMation'
import AnnoteInfomation from '@/components/New/AnnoteFile'
import NewAddress from '@/components/New/NewAddress'
import MeetingData from '@/components/New/MeetingData'
// import NewTransport from '@/components/New/NewTransport'
import NewMarket from '@/components/New/NewMarket'
import NewCredit from '@/components/New/NewCredit'
import NewContact from '@/components/New/NewContact'
import MarketShared from '@/components/New/MarketShared'
import SocialMedia from '@/components/New/SocialMedia'
export default {
  layout: 'main',
  head () {
    return {
      title: 'เปิดบัญชีลูกค้าใหม่ / New Customer'
    }
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      checkednull: 0,
      div: {
        txtid: true
      },
      info: {
        msg: null
      },
      level: 0,
      approvelevel: 0,
      approvediv: false,
      forms: {
        txtid: null,
        txtcust: null,
        typebussiness: 0,
        txtcomment: null,
        addressinvoice: {},
        addressdelivery: {},
        addressdocument: {},
        adinvoicehive: false,
        addeliveryhive: false,
        addocumenthive: false,
        btnsave: 'button is-primary is-large',
        social: []
      }
    }
  },
  components: {
    AnnoteInfomation,
    CustInfomation,
    NewAddress,
    MarketShared,
    SocialMedia,
    MeetingData,
    // NewTransport,
    NewMarket,
    NewCredit,
    NewContact,
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  mounted () {
    // this.approvelevel = localStorage.getItem('position')
    this.$refs.modalloading.open()
    console.log(this.$route.params.id)
    if (this.$route.params.id) {
      this.forms.txtid = this.$route.params.id
    }
    var obj = this
    this.checkemployees().then(r => {
      obj.$refs.modalloading.close()
      // console.log('check level')
      // console.dir(r.data)
      obj.level = r.data.emp.level
      obj.approvelevel = r.data.emp.approvelevel
      if (obj.forms.txtid) {
        if (parseInt(r.data.emp.level) > parseInt(r.data.emp.approvelevel)) {
          obj.approvediv = false
        } else {
          obj.clickcheckdatainfoevant(obj.forms.txtid)
            .then(rg => {
              console.log('check status ' + rg.data[0].approvestatus)
              if (rg.data[0].approvestatus) {
                if (rg.data[0].approvestatus === 0) {
                  obj.approvediv = true
                } else {
                  obj.approvediv = false
                }
              } else {
                console.log('div save' + rg.data[0].approvestatus)
                if (rg.data[0].approvestatus === 0) {
                  obj.approvediv = true
                } else {
                  obj.approvediv = false
                }
              }
            })
        }
      } else {
        obj.approvediv = false
      }
    })
    //  else {
    //   this.forms.txtid = null
    // }
    // this.orders.type = this.$route.params.id
  },
  methods: {
    setsocial (e) {
      this.forms.social = e
    },
    setemit (e) {
      console.log(e[2])
      this.forms.txtid = e[0]
      this.forms.txtcust = e[1]
      this.forms.social = e[2]
      this.forms.images = e[3]
      this.forms.addressinvoice = {}
      this.forms.addressdelivery = {}
      this.forms.addressdocument = {}
      this.forms.adinvoicehive = false
      this.forms.addeliveryhive = false
      this.forms.addocumenthive = false
    },
    checkcouhntnull (txt) {
      console.dir(txt)
      if (txt) {
        if (txt.length > 0) {
          return false
        } else {
          return true
        }
      } else {
        return true
      }
    },
    setsave (code) {
      var obj = this
      var txtcustname = false
      var txtname = false
      var txttelno = false
      obj.clickcheckdatainfoevant(obj.forms.txtid)
        .then(r => {
          console.dir(r)
          txtcustname = obj.checkcouhntnull(r.data[0].txtcustname)
          txtname = obj.checkcouhntnull(r.data[0].txtname)
          txttelno = obj.checkcouhntnull(r.data[0].txttelno)
          if (txtcustname === true && txtname === true && txttelno === true) {
            obj.info.msg = 'กรุณาระบุข้อมูลเบื้องต้นด้วย'
            obj.$refs.modalerror.open()
          } else {
            if (obj.forms.txtid !== null) {
              if (obj.forms.txtid.length > 16) {
                var ind = (-1)
                if (obj.forms.social) {
                  ind = obj.forms.social.map(ee => ee.type).indexOf(1)
                }
                if (ind < 0) {
                  obj.info.msg = 'กรุณาระบุข้อมูลไอดีไลน์ด้วย'
                  obj.$refs.modalerror.open()
                } else {
                  obj.checkaddress()
                    .then(rd => {
                      // console.dir(rd.data.length)
                      if (rd.data.length > 0) {
                        obj.forms.btnsave = 'button is-warning is-loading is-large'
                        obj.$refs.modalloading.open()
                        if (r.data[0].approvestatus === 0) {
                          obj.$refs.modalloading.close()
                          obj.forms.btnsave = 'button is-success is-large'
                          obj.info.msg = 'รายการนี้ยังรออนุมัติอยู่'
                          obj.$refs.modalerror.open()
                        } else {
                          obj.setstatus(code).then(rda => {
                            obj.$refs.modalloading.close()
                            obj.$refs.modalsuccess.open()
                            obj.forms.btnsave = 'button is-success is-large'
                          })
                          setTimeout(() => {
                            location.href = '/reports/new'
                          }, 1000)
                        }
                        // if (r.data[0].images) {
                        //   // obj.forms.btnsave = 'button is-warning is-loading is-large'
                        //   // obj.$refs.modalloading.open()
                        //   // if (r.data[0].approvestatus === 0) {
                        //   //   obj.$refs.modalloading.close()
                        //   //   obj.forms.btnsave = 'button is-success is-large'
                        //   //   obj.info.msg = 'รายการนี้ยังรออนุมัติอยู่'
                        //   //   obj.$refs.modalerror.open()
                        //   //   // setTimeout(() => {
                        //   //   //   obj.$refs.modalerror.close()
                        //   //   // }, 3000)
                        //   // } else {
                        //   //   obj.setstatus(code).then(rda => {
                        //   //     obj.$refs.modalloading.close()
                        //   //     obj.$refs.modalsuccess.open()
                        //   //     obj.forms.btnsave = 'button is-success is-large'
                        //   //   })
                        //   //   setTimeout(() => {
                        //   //     location.href = '/reports/new'
                        //   //   }, 1000)
                        //   // }
                        // } else {
                        //   obj.info.msg = 'กรุณาแนบเอกสารประกอบด้วย'
                        //   obj.$refs.modalerror.open()
                        // }
                      } else {
                        obj.info.msg = 'กรุณาระบุข้อมูลที่อยู่ด้วย'
                        obj.$refs.modalerror.open()
                      }
                    })
                }
              } else {
                obj.info.msg = 'กรุณาระบุเลขที่ผู้เสียภาษีด้วย'
                obj.$refs.modalerror.open()
              }
            } else {
              obj.info.msg = 'กรุณาระบุเลขที่ผู้เสียภาษีด้วย'
              obj.$refs.modalerror.open()
            }
          }
        })
      // this.checkednull = 1
    },
    setapprovestatus (e) {
      if (e === 1) {
        this.$refs.modaldialogapprove.open()
      } else {
        this.$refs.modaldialogreject.open()
      }
    },
    checkaddress () {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/check/address', {
          txtid: obj.forms.txtid
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r)
          })
      })
    },
    checkannote () {
      return new Promise(resolve => {
        resolve(this.forms.images)
      })
    },
    setbussiness (e) {
      console.log(e)
      this.forms.typebussiness = e
    },
    setstatus (code) {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/status', {
          txtid: obj.forms.txtid,
          comment: obj.forms.txtcomment,
          code: code,
          empcode: localStorage.getItem('empcode')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r)
          })
      })
    },
    checkemployees () {
      return new Promise(resolve => {
        // var obj = this
        axios.get('/api/auth/verify', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    clickcheckdatainfoevant (id) {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/txtid/check', {
          txtid: obj.forms.txtid,
          territory: localStorage.getItem('terrirtory')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r)
          })
      })
    },
    comfirmapprove (e) {
      var obj = this
      if (e === 1) {
        this.$refs.modaldialogapprove.close()
        this.$refs.modalloading.open()
        this.clickcheckdatainfoevant(e).then(r => {
          console.dir(r.data)
          var data = r.data[0]
          var subject = 'ร้องขออนุมัติเปิดบัญชีลูกค้าใหม่ร้าน' + data.txtname
          var msg = 'รบกวนอนุมัติเปิดบัญชีลูกค้าใหม่ร้าน ' + data.txtname + ' ให้ด้วยครับ'
          var title = 'เรียนหน่วยงานบัญชีการเงิน'
          // var subject = 'Request new customers ' + data.txtname
          // var msg = 'Please approve new customer ' + data.txtname + ''
          // var title = 'Financial Accounting'
          var mailto = 'acc@yss.co.th'
          var txtcredit = data.creditlist[0].txtcredit
          if (txtcredit >= 100000) {
            mailto = 'pinyo@yss.co.th'
            title = 'เรียนคุณภิญโญ พานิชเกษม'
          }
          axios.post('https://api.yssasia.com/api/mail', {
            empcode: localStorage.getItem('empcode'),
            empname: localStorage.getItem('name'),
            email: localStorage.getItem('email'),
            mailto: mailto,
            title: title,
            subject: subject,
            msg: msg
          }).then(r => {
            // console.dir(r)
            obj.setstatus(e)
              .then(rr => {
                console.log(subject, '\n' + title, '\n' + msg, '\n' + mailto)
                obj.$refs.modalloading.close()
                setTimeout(() => {
                  obj.$refs.modalsuccess.open()
                  setTimeout(() => {
                    location.href = '/reports/new'
                  }, 1000)
                }, 2000)
              })
          })
        })
      } else {
        if (obj.forms.txtcomment === null) {
          this.info.msg = 'กรุณาระบุเหตุผลด้วย'
          this.$refs.modalerror.open()
          setTimeout(() => {
            obj.$refs.modalerror.close()
          }, 3000)
        } else {
          this.$refs.modaldialogreject.close()
          this.$refs.modalloading.open()
          this.setstatus(e).then(r => {
            obj.$refs.modalloading.close()
            setTimeout(() => {
              obj.$refs.modalsuccess.open()
              setTimeout(() => {
                location.href = '/reports/new'
              }, 2000)
            }, 1000)
          })
        }
      }
    },
    closemodalreject () {
      this.$refs.modaldialogreject.close()
    },
    checknulldata (cons) {
      // console.dir(cons)
    },
    clickcheckdatainfo (id) {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/txtid', {
          txtid: obj.forms.txtid,
          territory: localStorage.getItem('terrirtory')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r)
          })
      })
    },
    checknull (e) {
      this.checkednull = e
    }
  },
  watch: {
    'forms.txtid' () {
      if (this.forms.txtid != null) {
        if (this.forms.txtid.length >= 17) {
          this.div.txtid = false
        } else {
          this.div.txtid = true
        }
      } else {
        this.div.txtid = true
      }
    }
  }
}
</script>
