<template>
  <div>
    <br />
    <CustInfoMations
    :keyvalue="key"
    :dataforms="forms"
    :territorylist="territorylist"
    @settxtid="settxtid($event)"
    @setvalue="setvalue($event)"
    @setconfirm="setconfirm($event)"
    @setapprove="setapprove($event)"
    />
    <CustInfoAddress
    :dataforms="forms"
    @updateaddress="updatechild($event)"/>
    <br />
    <CustAnnote
    :dataforms="forms"
    @updateannote="updatechild($event)"/>
    <br />
    <CustAppointment
    :dataforms="forms"
    @updateappointment="updatechild($event)"/>
    <br />
    <CustBussiness
    :dataforms="forms"
    @updatebussiness="updatechild($event)"/>
    <br />
    <CustCredit
    :dataforms="forms"
    @updatecredit="updatechild($event)"/>
    <br />
    <CustSocial
    :dataforms="forms"
    @updatesocial="updatechild($event)"/>
    <br />
    <CustContect
    :dataforms="forms"
    @updatecontact="updatechild($event)"/>
    <br />
    <CustMartket
    :dataforms="forms"
    @updatemartket="updatechild($event)"/>
    <br />
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <a class="button is-large is-primary" @click="setconfirm(key)">
          {{ txt.txtconfirm }}
        </a>
      </p>
      <p class="control">
        <a class="button is-large is-danger" @click="removetxtid(key)">>
          {{ txt.txtcancel }}
        </a>
      </p>
    </div>
    <br />
  </div>
</template>
<script>
import axios from 'axios'
// import assets from '@/assets/js/imgtoblob'
// import guuid from '@/assets/js/greeter'
import Vue from 'vue'
import mocker from '@/assets/js/mock'
import firebase from 'firebase'
import VueFire from 'vuefire'
import { firebaseConfig } from '@/assets/js/config'
const CustInfoMations = () => import('@/components/New/NewInfoMations')
const CustInfoAddress = () => import('@/components/New/NewAddressCustomer')
const CustAppointment = () => import('@/components/New/NewAppointment')
const CustBussiness = () => import('@/components/New/NewBusinessType')
const CustCredit = () => import('@/components/New/NewCreditSection')
const CustSocial = () => import('@/components/New/NewSocialMedia')
const CustContect = () => import('@/components/New/NewCustContact')
const CustMartket = () => import('@/components/New/NewMartketingData')
const CustAnnote = () => import('@/components/New/NewAnnoteFile')
if (!firebase.apps.length) {
  firebase.initializeApp(firebaseConfig)
} else {
  firebase.app()
}
Vue.use(VueFire)
Vue.config.productionTip = false
const db = firebase.database()
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - RESULT APPOINTMENT'
    }
  },
  firebase: {
    customer: db.ref(`newcustomer`)
  },
  components: {
    CustInfoMations,
    CustInfoAddress,
    CustAppointment,
    CustBussiness,
    CustCredit,
    CustSocial,
    CustContect,
    CustMartket,
    CustAnnote
  },
  data () {
    return {
      mock: mocker,
      valkey: null,
      forms: {},
      territory: null,
      territorylist: [],
      key: null,
      txt: {
        txtconfirm: 'เปิดบัญชีลูกค้าใหม่',
        txtcancel: 'ยกเลิก'
      }
    }
  },
  mounted () {
    if (this.$route.params.id) {
      this.valkey = this.$route.params.id
      var ind = this.valkey.indexOf('-')
      console.dir(ind)
      if (ind > 0) {
        this.key = this.valkey.substr(0, ind)
        this.territory = this.valkey.substr((ind + 1), this.valkey.length)
      } else {
        this.key = this.valkey
      }
      this.$firebaseRefs.customer.child(this.territory).orderByChild(this.key).on('value', snapshot => {
        this.forms = snapshot.val()[this.key]
        this.getstatatus()
      })
    } else {
      this.territory = localStorage.getItem('territory')
    }
    this.loadterritory().then(e => {
      this.territorylist = e
    })
  },
  methods: {
    loadterritory () {
      return new Promise(resolve => {
        axios.get('/api/custtable/data/territory', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    getstatatus () {
      if (this.forms.approvestatus === undefined) {
        this.txt.txtconfirm = 'เปิดบัญชีลูกค้าใหม่'
        this.txt.txtcancel = 'ยกเลิก'
      } else if (this.forms.approvestatus === 0) {
        this.txt.txtconfirm = 'รออนุมัติ'
        this.txt.txtcancel = 'ลบรายการนี้'
      } else if (this.forms.approvestatus === 2) {
        this.txt.txtconfirm = 'เปิดบัญชีลูกค้าใหม่อีกครั้ง'
        this.txt.txtcancel = 'ลบรายการนี้'
      }
    },
    setapprove (e) {
      console.dir(e)
      this.$firebaseRefs.customer.child(this.territory).child(e[0]).update({
        approveby: localStorage.getItem('empcode'),
        approvestatus: e[1],
        syncstatus: 0,
        txtcomment: this.chechnull(e[2])
      })
        .then(r => {
          console.log('set status completed')
          this.forms.approvestatus = e[1]
          this.showalert('บันทึกข้อมูลเสร็จแล้ว', 'success', 'warning')
        })
    },
    removetxtid (x) {
      this.$firebaseRefs.customer.child(this.territory).child(x).remove()
    },
    setconfirm (x) {
      var obj = this
      if (x) {
        console.dir(x)
        this.$firebaseRefs.customer.child(this.territory).child(x).on('value', snap => {
          var data = snap.val()
          console.dir(data)
          if (data.txtname.length < 1) {
            this.showalert('คุณระบุตรวจสอบข้อมูลชื่อร้านก่อนทำการยืนยันด้วย', 'danger', 'warning')
          } else if (data.txtcustname.length < 1) {
            this.showalert('คุณระบุตรวจสอบข้อมูลชื่อของลูกค้าก่อนทำการยืนยันด้วย', 'danger', 'warning')
          } else if (data.txtdatebirth.length < 1) {
            this.showalert('คุณระบุตรวจสอบข้อมูลวันเกิดของลูกค้าก่อนทำการยืนยันด้วย', 'danger', 'warning')
          } else if (data.txttelno.length < 1) {
            this.showalert('คุณระบุตรวจสอบข้อมูลเบอร์โทร.ติดต่อด้วยก่อนทำการยืนนด้วย', 'danger', 'warning')
          } else if (data.strbussinesstype === 0) {
            this.showalert('คุณระบุตรวจสอบข้อมูลประเภทกิจการของลูกค้าก่อนทำการยืนยันด้วย', 'danger', 'warning')
          } else if (data.custaddress === undefined) {
            this.showalert('คุณระบุตรวจสอบข้อมูลที่อยู่ก่อนทำการยืนยันด้วย', 'danger', 'warning')
          } else if (data.pathname === undefined) {
            this.showalert('คุณระบุตรวจสอบข้อมูลเอกสารประกอบก่อนทำการยืนยันด้วย', 'danger', 'warning')
          } else if (data.socialmedia === undefined) {
            this.showalert('คุณระบุตรวจสอบข้อมูล Social Media ก่อนทำการยืนยันด้วย', 'danger', 'warning')
          } else {
            console.dir(data)
            obj.$firebaseRefs.customer.child(this.territory).child(x).update({
              approvestatus: 0
            })
              .then(r => {
                obj.showalert('บันทึกข้อมูลเสร็จแล้ว', 'success', 'warning')
              })
          }
        })
      } else {
        this.showalert('คุณระบุตรวจสอบข้อมูลก่อนทำการยืนยันด้วย', 'danger', 'warning')
      }
    },
    showalert (txt, type, icons) {
      this.$vs.notify({title: 'Opps...........', text: txt, color: type, icon: icons, position: 'top-right'})
    },
    getcheckValueUpdate (e) {
      console.log('update txtid')
      var obj = this
      return new Promise(resolve => {
        obj.$firebaseRefs.customer.child(this.territory).child(e.txtid).update({
          txtname: this.chechnull(e.txtname),
          txtcustname: this.chechnull(e.txtcustname),
          txtdatebirth: this.chechnull(e.txtdatebirth),
          txttelno: this.chechnull(e.txttelno),
          txtfax: this.chechnull(e.txtfax),
          txtemail: this.chechnull(e.txtemail),
          strbussinesstype: e.strbussinesstype,
          strcustomertype: e.strcustomertype,
          txtbussiness: this.chechnull(e.txtbussiness)
        })
        obj.$firebaseRefs.customer.child(this.territory).orderByChild(e.txtid).on('value', snapshot => {
          var data = snapshot.val()
          resolve(data[e.txtid])
        })
      })
    },
    getcheckValue (e) {
      console.log('check txtid')
      var obj = this
      console.dir(this.territory)
      console.dir(e.txtid)
      return new Promise(resolve => {
        obj.$firebaseRefs.customer.child(obj.territory).child(e.txtid).on('value', snapshot => {
          var data = snapshot.val()
          console.dir('check data customer')
          console.dir(data)
          setTimeout(() => {
            if (data === null) {
              obj.$firebaseRefs.customer.child(obj.territory).child(e.txtid).set({
                txtcode: this.chechnull(e.txtcode),
                txtcusttype: e.txtcusttype,
                txtid: this.chechnull(e.txtid),
                txtdatebirth: this.chechnull(e.txtdatebirth),
                strbussinesstype: e.strbussinesstype,
                strcustomertype: e.strcustomertype,
                txtbussiness: this.chechnull(e.txtbussiness),
                // pathname: [],
                // custaddress: [],
                // socialmedia: [],
                appointment: {
                  appoint: {
                    checkBoxSun: true,
                    checkBoxMon: true,
                    checkBoxTue: true,
                    checkBoxWeb: true,
                    checkBoxThu: true,
                    checkBoxFri: true,
                    checkBoxSat: true,
                    time: '08.00-18.00'
                  },
                  billing: {
                    checkBoxSun: true,
                    checkBoxMon: true,
                    checkBoxTue: true,
                    checkBoxWeb: true,
                    checkBoxThu: true,
                    checkBoxFri: true,
                    checkBoxSat: true,
                    time: '08.00-18.00'
                  }
                },
                bussiness: {
                  bussiness: {
                    checkBoxInstall: true,
                    checkBoxOrg: true,
                    checkBoxModify: true
                  },
                  sales: {
                    checkBoxMoto: true,
                    checkBoxAuto: true,
                    checkBoxBigBike: true
                  },
                  locationrent: 0,
                  cambioplace: 0,
                  cambioemployee: 0
                },
                territory: localStorage.getItem('territory'),
                empname: localStorage.getItem('name'),
                empcode: localStorage.getItem('empcode')
              })
              resolve(e)
            } else {
              obj.$firebaseRefs.customer.child(obj.territory).child(e.txtid).update({
                txtcode: this.chechnull(e.txtcode),
                txtcusttype: e.txtcusttype,
                txtid: this.chechnull(e.txtid)
              })
              resolve(data)
            }
          }, 10)
        })
      })
    },
    updatechild (u) {
      console.dir(u)
      this.$firebaseRefs.customer.child(this.territory).child(u[0]).child(u[1]).set(u[2])
    },
    setaddress (e) {
      var obj = this
      console.dir(e)
      if (e) {
        if (e.length > 0) {
          console.dir(e[0].txtid)
          var data = e
          obj.$firebaseRefs.customer.child(this.territory).child(e[0].txtid).child('custaddress').set(data)
        } else {
          this.showalert('กรุณาระบุข้อมูลเบื้องต้นก่อน', 'danger', 'warning')
        }
      } else {
        this.showalert('กรุณาระบุข้อมูลเบื้องต้นก่อน', 'danger', 'warning')
      }
    },
    setvalue (e) {
      var obj = this
      this.valkey = e.txtid
      if (e.txtcusttype === true) {
        // this.$vs.loading({color: 'primary'})
        obj.$firebaseRefs.customer.child(this.territory).child(e.txtid).update({
          txtname: this.chechnull(e.txtname),
          txtcustname: this.chechnull(e.txtcustname),
          txtdatebirth: this.chechnull(e.txtdatebirth),
          txttelno: this.chechnull(e.txttelno),
          txtfax: this.chechnull(e.txtfax),
          txtemail: this.chechnull(e.txtemail),
          strbussinesstype: e.strbussinesstype,
          strcustomertype: e.strcustomertype,
          txtbussinesstype: this.chechnull(e.txtbussinesstype),
          txtcustomertype: this.chechnull(e.txtcustomertype),
          txtbussiness: this.chechnull(e.txtbussiness)
        })
      } else {
        console.log('not match')
      }
    },
    chechnull (e) {
      if (e) {
        return e
      } else {
        return ''
      }
    },
    settxtid (e) {
      var obj = this
      // console.dir(e)
      if (e.txtcusttype === true) {
        this.$vs.loading({color: 'primary'})
        this.getcheckValue(e).then(r => {
          obj.$vs.loading.close()
          this.forms = r
        })
      } else {
        console.log('not match')
      }
    }
  }
}
</script>
