<template>
  <div>
    <br />
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสลูกค้า" id="txtcustomer" v-model="forms.txtcustomer">
      </div>
      <div class="control">
        <a  class="button is-primary is-medium" @click="searchcust()">Search</a>
      </div>
    </div>
    <div :hidden="listaccount === false">
        <hr />
        <cust-adjustment
        :divlistaccount = "listaccount"
        :txtfilter="forms.txtcustomer"
        @commitdata="eventcustomer($event)"
        @searchcomplete="searchcomplete($event)"
        ></cust-adjustment>
      <hr />
    </div>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modaldetail">
      <sweet-modal-tab title="Credit Information" id="tab1">
        <div class="text-left divsection">
          <div class="field">
            <label class="label">Credit</label>
            <div class="control is-expanded">
              <input class="input is-medium" type="number" v-model="forms.creditmax">
            </div>
            <p class="help is-success">{{ returncurrency(parseInt(forms.creditmax)) }}</p>
          </div>
          <div class="field">
            <label class="label">New Credit</label>
            <div class="control is-expanded">
              <input class="input is-medium" type="number" v-model="forms.newcredit">
            </div>
            <p class="help is-success">{{ returncurrency(parseInt(forms.newcredit)) }}</p>
          </div>
        </div>
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <a class="button is-success is-medium" @click="savedata(1)">Save</a>
          </p>
          <p class="control">
            <a class="button is-danger is-medium" @click="closemodal()">Close</a>
          </p>
        </div>
      </sweet-modal-tab>
      <sweet-modal-tab title="Payment Information" id="tab2">
        <div class="field text-left">
          <label class="label">Type</label>
          <div class="control">
            <div class="select is-fullwidth is-medium">
              <select v-model="forms.paymtermid">
                <option v-for="(n,i) in mock.mastercredit" :key="i" :value="n.title">{{ n.title }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field text-left">
          <label class="label">Credit</label>
          <div class="control">
            <input class="input is-medium" type="text" placeholder="ระบุจำนวนเครดิต" v-model="forms.paymtermcredit">
          </div>
        </div>
        <div class="field text-left">
          <label class="label">Condition of payment</label>
          <div class="control">
            <div class="select is-fullwidth is-medium">
              <select v-model="forms.paymtypecash">
                <option v-for="(n,i) in mock.mastertypecash" :key="i" :value="n.title">{{ n.title }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <a class="button is-success is-medium" @click="savedata(2)">Save</a>
          </p>
          <p class="control">
            <a class="button is-danger is-medium" @click="closemodal()">Close</a>
          </p>
        </div>
      </sweet-modal-tab>
      <sweet-modal-tab title="Suspension of sales" id="tab3">
        <div class="field text-left">
          <label class="label">Request</label>
          <div class="control">
            <div class="select is-fullwidth is-medium">
              <select v-model="forms.closereq">
                <option v-for="(n,i) in mock.customerclosetype" :value="n.id" :key="i" v-if="n.status === true">{{ n.title }}</option>
              </select>
            </div>
          </div>
        </div>
       <div class="field text-left" :hidden="forms.closereq < 1">
          <label class="label">Suspension Cause</label>
          <div class="control">
            <div class="select is-fullwidth is-medium">
              <select v-model="forms.closeression">
                <option v-for="(n,i) in mock.customerclose" :value="n.id" :key="i" v-if="n.status === true">{{ n.title }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field text-left">
          <label class="label">Remark</label>
          <div class="control">
            <textarea class="textarea" placeholder="ระบข้อมูลเพิ่มเติมหรือเหตุผลที่ร้องขอระงับการขาย/เปิดขาย" v-model="forms.remark"></textarea>
          </div>
        </div>
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <a class="button is-success is-medium" @click="savedata(3)">Save</a>
          </p>
          <p class="control">
            <a class="button is-danger is-medium" @click="closemodal()">Close</a>
          </p>
        </div>
      </sweet-modal-tab>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalconfirm" icon="info" title="Oops! คุณต้องการที่จัดการข้อมูลเพิ่มเติมอีกไหม">
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a class="button is-success is-medium" @click="contconfirm()">Edit</a>
        </p>
        <p class="control">
          <a class="button is-danger is-medium" @click="closemodalcomfirm()">Close</a>
        </p>
      </div>
    </sweet-modal>
  </div>
</template>
<script>
  import axios from 'axios'
  import Cleave from '@/node_modules/vue-cleave'
  import CustAdjustment from '@/components/CustomerList/CustAdjustment'
  import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
  import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
  import mocker from '@/assets/js/mock'
  export default {
    layout: 'main',
    head () {
      return {
        title: 'CRM CLOUD SERVICE - ADJUSTMENTS CREDIT'
      }
    },
    components: {
      Cleave,
      CustAdjustment,
      SweetModal,
      SweetModalTab,
      PulseLoader
    },
    data () {
      return {
        loading: true,
        color: '#5dc596',
        size: '20px',
        margin: '2px',
        radius: '100%',
        listaccount: false,
        mock: mocker,
        tempcredit: 0,
        forms: {
          adjustmenttype: 1,
          adjustmentcredit: 1,
          adjustmentcredittype: 0,
          adjustmentrename: 0,
          adjustmenttransport: 0,
          adjustmentaddress: 0,
          txtcustomer: null,
          txtname: null,
          txtnumber: null,
          msg: 'ลด',
          credittype: 0,
          credit: 0,
          creditmax: 0,
          newcredit: 0,
          overdue: 0,
          monthoverdue: 0,
          balanceoverdue: 0,
          remark: null,
          territory: null,
          empid: null,
          oldpaymtermid: 'ไม่ระบุ / unknow',
          oldpaymtermcredit: 0,
          oldpaymtypecash: 'เงินสด / Cash',
          paymtermid: 'ไม่ระบุ / unknow',
          paymtermcredit: 0,
          paymtypecash: 'เงินสด / Cash',
          closereq: 0,
          closeression: 0
        }
      }
    },
    mounted () {
      let position = localStorage.getItem('position')
      var obj = this
      if (position > 8) {
        obj.$refs.modalloading.open()
        obj.listaccount = true
      } else {
        obj.listaccount = false
      }
    },
    methods: {
      returncurrency (e) {
        if (e) {
          return e.toLocaleString()
        } else {
          return 0
        }
      },
      closemodal () {
        this.$refs.modaldetail.close()
        this.forms.txtcustomer = null
        this.listaccount = false
        let position = localStorage.getItem('position')
        var obj = this
        obj.$refs.modalloading.open()
        setTimeout(() => {
          if (position > 8) {
            // obj.$refs.modalloading.open()
            obj.listaccount = true
          } else {
            obj.listaccount = false
          }
        }, 3000)
      },
      searchcust () {
        this.forms.txtname = null
        this.forms.txtnumber = null
        this.forms.credittype = 0
        this.forms.credit = 0
        this.forms.creditmax = 0
        this.forms.newcredit = '0'
        this.forms.overdue = 0
        this.forms.monthoverdue = 0
        this.forms.balanceoverdue = 0
        this.forms.remark = null
        // this.listaccount = false
        // console.log(this.forms.txtcustomer)
        this.listaccount = true
        // console.log('click')
        this.$refs.modalloading.open()
      },
      eventcustomer (e) {
        console.dir(e)
        var obj = this
        obj.forms.adjustmentcredittypetxt = 'ไม่ได้ระบุ / unknow'
        obj.forms.adjustmentcredittype = 0
        obj.forms.oldpaymtermid = e.paymtermid
        obj.forms.oldpaymtermcredit = e.creditmax
        obj.forms.paymtermid = e.paymtermid
        if (e.paymtermid === 'SD-CASH') {
          obj.forms.paymtypecash = 'เงินสด / Cash'
          obj.forms.oldpaymtypecash = 'เงินสด / Cash'
        } else {
          obj.forms.paymtypecash = 'เงินโอน / Transfer'
          obj.forms.oldpaymtypecash = 'เงินโอน / Transfer'
        }
        if (e.closedaccount === 0) {
          obj.forms.closereq = 1
          obj.forms.closeression = 2
        } else {
          obj.forms.closereq = 0
          obj.forms.closeression = 0
        }
        obj.forms.txtcustomer = e.filtername
        obj.forms.txtname = e.name
        obj.forms.txtnumber = e.accountnum
        obj.forms.credit = e.creditbalance
        obj.forms.paymtermcredit = e.creditmax
        obj.forms.creditmax = e.creditmax
        obj.tempcredit = e.creditmax
        obj.forms.newcredit = 0
        obj.forms.overdue = e.overdue
        obj.forms.monthoverdue = e.monthoverdue
        obj.forms.balanceoverdue = e.balanceoverdue
        // obj.forms.remark = null
        obj.forms.remark = e.remark
        obj.forms.territory = localStorage.getItem('territory')
        obj.forms.empid = localStorage.getItem('empcode')
        obj.listaccount = false
        obj.$refs.modaldetail.open()
      },
      clearform () {
        var obj = this
        obj.forms.txtcustomer = null
        obj.forms.txtname = null
        obj.forms.txtnumber = null
        obj.forms.msg = 'ลด'
        obj.forms.credittype = 0
        obj.forms.credit = 0
        obj.forms.creditmax = 0
        obj.forms.newcredit = 0
        obj.forms.overdue = 0
        obj.forms.monthoverdue = 0
        obj.forms.balanceoverdue = 0
        obj.forms.remark = null
        obj.forms.territory = localStorage.getItem('territory')
        obj.forms.empid = localStorage.getItem('empcode')
      },
      searchcomplete (e) {
        this.$refs.modalloading.close()
        console.log(e)
      },
      returntxtadj (i) {
        var b = ['none', 'credit', 'payment', 'stop']
        return b[i]
      },
      savedata (n) {
        var obj = this
        obj.forms.adjustmentcredittypetxt = this.returntxtadj(n)
        obj.forms.adjustmentcredittype = n
        obj.$refs.modalloading.open()
        obj.$refs.modaldetail.close()
        if (obj.forms.creditmax > obj.forms.newcredit) {
          obj.credittype = 0
          obj.forms.msg = 'ลด / '
        } else {
          obj.credittype = 1
          obj.forms.msg = 'เพิ่ม'
        }
        obj.insertdazta()
          .then(r => {
            obj.$refs.modalloading.close()
            obj.$refs.modalconfirm.open()
          })
      },
      contconfirm () {
        this.$refs.modalconfirm.close()
        this.$refs.modaldetail.open()
      },
      closemodalcomfirm () {
        var obj = this
        obj.$refs.modalconfirm.close()
        obj.forms.txtcustomer = null
        let position = localStorage.getItem('position')
        if (position > 8) {
          obj.$refs.modalloading.open()
          obj.listaccount = true
        } else {
          obj.listaccount = false
        }
      },
      insertdazta () {
        return new Promise(resolve => {
          axios.post('/api/adjustments/add/credit', {
            data: this.forms
          }, {
            headers: {
              'x-access-token': localStorage.getItem('token')
            }
          })
            .then(r => {
              console.dir(r.data)
              resolve(r.data)
            })
        })
      }
    },
    watch: {
      'forms.paymtermid' () {
        if (this.forms.paymtermid !== 'SD-CASH') {
          this.forms.paymtypecash = 'เงินโอน'
          this.forms.paymtermcredit = this.tempcredit
        } else {
          this.forms.paymtypecash = 'เงินสด'
          this.forms.paymtermcredit = 0
          // obj.tempcredit = e.creditmax
        }
      },
      'forms.closereq' () {
        if (this.forms.closereq === 0) {
          this.forms.closeression = 2
        } else {
          this.forms.closeression = 0
        }
      },
      'forms.txtcustomer' () {
        if (this.forms.txtcustomer === null) {
          this.listaccount = true
        } else {
          if (this.forms.txtcustomer.length < 1) {
            this.$refs.modalloading.open()
            this.listaccount = true
          } else {
            this.listaccount = false
          }
        }
      }
    }
}
</script>

