<template>
  <div>
    <br />
    <section class="section">
      <div class="container">
        <table class="table is-striped is-narrow is-fullwidth">
          <thead>
            <tr>
              <th colspan="4">
                <div class="columns">
                  <div class="column">
                    <p>
                      Sales summary at&nbsp;<b class="text-danger">{{ redate(txtdate) }}</b>
                    </p>
                  </div>
                  <div class="column">
                    <div class="field is-grouped is-grouped-right">
                      <div class="control">
                        <div class="select">
                          <select v-model="territory">
                            <option value="-1">SELECT TERRITORY</option>
                            <option v-for="(n,i) in reverseItems" :key="i" :value="i">{{ n }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </th>
            </tr>
            <tr>
                <th></th>
                <th class="text-center">Target/Bath</th>
                <th class="text-center">Sales summary DO</th>
                <th class="text-center">%Target</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>Sales summary DO</td>
                <td class="text-center text-danger"><b>{{ recurrency(datado.sumtypeA) }}</b></td>
                <td class="text-center text-danger"><b>{{ recurrency(datado.sumtypeB30) }}</b></td>
                <td class="text-center text-danger"><b>{{ returnfixed((datado.sumtypeB30 / datado.sumtypeA) * 100) }}&nbsp;%</b></td>
              </tr>
              <tr>
                <td>Sales summary 10 d.  (26 Last month. -  5 To month.)</td>
                <td class="text-center text-danger"><b>{{ recurrency(datado.sumtypeA) }}</b></td>
                <td class="text-center text-danger"><b>{{ recurrency(datado.sumtypeB10) }}</b></td>
                <td class="text-center text-danger"><b>{{ returnfixed((datado.sumtypeB10 / datado.sumtypeA) * 100) }}&nbsp;%</b></td>
              </tr>
              <tr>
                <td>Sales summary 26 d. (26 Last month. -  15 To month.)</td>
                <td class="text-center text-danger"><b>{{ recurrency(datado.sumtypeA) }}</b></td>
                <td class="text-center text-danger"><b>{{ recurrency(datado.sumtypeB20) }}</b></td>
                <td class="text-center text-danger"><b>{{ returnfixed((datado.sumtypeB20 / datado.sumtypeA) * 100) }}&nbsp;%</b></td>
              </tr>
              <tr>
                <td colspan="4">&nbsp;</td>
              </tr>
              <tr>
                <th></th>
                <th class="text-center">Target/Bath</th>
                <th class="text-center">Sales summary IV</th>
                <th class="text-center">%Target</th>
              </tr>
              <tr>
                <td>Sales summary IV,CN</td>
                <td class="text-center text-danger"><b>{{ recurrency(datado.sumtypeA) }}</b></td>
                <td class="text-center text-danger"><b>{{ recurrency(datado.sumtypeC30) }}</b></td>
                <td class="text-center text-danger"><b>{{ returnfixed((datado.sumtypeC30 / datado.sumtypeA) * 100) }}&nbsp;%</b></td>
              </tr>
              <tr>
                <td>Sales summary 10 d.  (26 Last month. -  5 To month.)</td>
                <td class="text-center text-danger"><b>{{ recurrency(datado.sumtypeA) }}</b></td>
                <td class="text-center text-danger"><b>{{ recurrency(datado.sumtypeC10) }}</b></td>
                <td class="text-center text-danger"><b>{{ returnfixed((datado.sumtypeC10 / datado.sumtypeA) * 100) }}&nbsp;%</b></td>
              </tr>
              <tr>
                <td>Sales summary 26 d. (26 Last month. -  15 To month.)</td>
                <td class="text-center text-danger"><b>{{ recurrency(datado.sumtypeA) }}</b></td>
                <td class="text-center text-danger"><b>{{ recurrency(datado.sumtypeC20) }}</b></td>
                <td class="text-center text-danger"><b>{{ returnfixed((datado.sumtypeC20 / datado.sumtypeA) * 100) }}&nbsp;%</b></td>
              </tr>
              <tr>
                <td colspan="4">&nbsp;</td>
              </tr>
          </tbody>
          <tfoot>
             <tr>
                <th colspan="3">Number of customers.</th>
                <th class="text-center text-danger">{{ recurrency(datado.sumAccount) }}</th>
              </tr>
          </tfoot>
        </table>
        <hr class="divider"/>
        <div>
          <b class="text-danger">หมายเหตุ</b>
          <p>
          1. ยอดขายจาก DO  เป็นยอดประมาณการใช้ในกรณีดูยอดระหว่างวันที่บัญชียังไม่ได้ Post Invoice ไม่ถือว่าเป็นยอดที่นำมาคำนวณ ค่า Com
          </p>
          <p>
          2. ยอดจาก Invoice , CN คือยอดจริงที่นำมาคำนวณ ค่า Com
          </p>
          <p>
          3. จำนวนลูกค้านับจากยอดไม่รวม VAT ( ยอดตั้งแต่ <b class="text-danger">5,000</b> บาท ขึ้นไป โดยนับรวมยอดขายทุกบิลในรอบนั้น ๆ)
          </p>
          <p>
          4. ยอดขายที่นำมาคิดไม่รวม VAT
          </p>
        </div>
      </div>
    </section>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import chkToken from '@/assets/js/check.token'
const _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - HOME'
    }
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      txtmsg: '',
      txtdate: new Date(),
      position: 0,
      territory: 0,
      listterritory: [],
      listdata: [],
      datado: {
        sumAccount: 0,
        sumtypeA: 0,
        sumtypeB10: 0,
        sumtypeB20: 0,
        sumtypeB30: 0,
        sumtypeC10: 0,
        sumtypeC20: 0,
        sumtypeC30: 0
      }
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  computed: {
    now: () => {
      return Date.now().toString()
    },
    reverseItems () {
      return _.orderBy(this.listterritory)
    }
  },
  mounted () {
    chkToken.checkToken(localStorage.getItem('token'))
      .then(r => {
        console.dir(r.data.emp.err)
      })
    this.position = localStorage.getItem('position')
    this.$refs.modalloading.open()
    this.txtdate = new Date()
    var obj = this
    setInterval(() => {
      obj.txtdate = new Date()
    }, 1000)
    obj.$refs.modalloading.close()
    obj.datado.sumAccount = 0
    obj.datado.sumtypeA = 0
    obj.datado.sumtypeB30 = 0
    obj.datado.sumtypeB10 = 0
    obj.datado.sumtypeB20 = 0
    obj.datado.sumtypeC30 = 0
    obj.datado.sumtypeC10 = 0
    obj.datado.sumtypeC20 = 0
    this.loadterritory().then(rter => {
      console.dir(rter)
      rter.forEach((item) => {
        obj.listterritory.push(item)
      })
      obj.loaddataADo()
        .then(r => {
          // obj.$refs.modalloading.close()
          console.dir(r)
          obj.listdata = r
          if (this.position > 8) {
            for (let i in r) {
              if (r[i].salesdistrictid === obj.reverseItems[obj.territory]) {
                console.log(r[i].salesdistrictid)
                obj.datado.sumAccount = r[i].sumAccount
                obj.datado.sumtypeA = r[i].sumtypeA
                obj.datado.sumtypeB30 = r[i].sumtypeB30
                obj.datado.sumtypeB10 = r[i].sumtypeB10
                obj.datado.sumtypeB20 = r[i].sumtypeB20
                obj.datado.sumtypeC30 = r[i].sumtypeC30
                obj.datado.sumtypeC10 = r[i].sumtypeC10
                obj.datado.sumtypeC20 = r[i].sumtypeC20
              }
            }
          } else {
            obj.datado.sumAccount = 0
            obj.datado.sumtypeA = 0
            obj.datado.sumtypeB30 = 0
            obj.datado.sumtypeB10 = 0
            obj.datado.sumtypeB20 = 0
            obj.datado.sumtypeC30 = 0
            obj.datado.sumtypeC10 = 0
            obj.datado.sumtypeC20 = 0
          }
        })
        .catch(e => {
          obj.$refs.modalloading.close()
        })
    })
  },
  methods: {
    recurrency (e) {
      return e.toLocaleString()
    },
    redate (txt) {
      let n = new Date(txt)
      let y = n.getFullYear()
      var mm = n.getMonth() + 1
      if (mm <= 1) {
        mm = 12
        y = n.getFullYear() - 1
      } else {
        mm = n.getMonth()
      }
      var dd = n.getDate()
      if (dd >= 25) {
        dd = 25
      }
      return '26-' + ('0' + mm).slice(-2) + '-' + y + ' To ' + ('0' + dd).slice(-2) + '-' + ('0' + (n.getMonth() + 1)).slice(-2) + '-' + n.getFullYear()
    },
    retime (txt) {
      let n = new Date(txt)
      return ('0' + n.getHours()).slice(-2) + ':' + ('0' + n.getMinutes()).slice(-2) + ':' + ('0' + n.getSeconds()).slice(-2)
    },
    returnfixed (x) {
      if (x) {
        return x.toFixed(2)
      } else {
        return '0.00'
      }
    },
    loadterritory () {
      return new Promise(resolve => {
        axios.get('/api/custtable/data/territory', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    loaddataADo () {
      return new Promise(resolve => {
        axios.get('/api/custtable/reports', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    reshowreports () {
      var obj = this
      if (this.territory > 0) {
        var e = obj.listdata
        var index = obj.listdata.map((o) => o.salesdistrictid).indexOf(obj.listterritory[this.territory])
        console.log('index of larry: ' + index)
        if (index >= 0) {
          obj.datado.sumAccount = e[index].sumAccount
          obj.datado.sumtypeA = e[index].sumtypeA
          obj.datado.sumtypeB30 = e[index].sumtypeB30
          obj.datado.sumtypeB10 = e[index].sumtypeB10
          obj.datado.sumtypeB20 = e[index].sumtypeB20
          obj.datado.sumtypeC30 = e[index].sumtypeC30
          obj.datado.sumtypeC10 = e[index].sumtypeC10
          obj.datado.sumtypeC20 = e[index].sumtypeC20
        } else {
          obj.datado.sumAccount = 0
          obj.datado.sumtypeA = 0
          obj.datado.sumtypeB30 = 0
          obj.datado.sumtypeB10 = 0
          obj.datado.sumtypeB20 = 0
          obj.datado.sumtypeC30 = 0
          obj.datado.sumtypeC10 = 0
          obj.datado.sumtypeC20 = 0
        }
      } else {
        obj.datado.sumAccount = 0
        obj.datado.sumtypeA = 0
        obj.datado.sumtypeB30 = 0
        obj.datado.sumtypeB10 = 0
        obj.datado.sumtypeB20 = 0
        obj.datado.sumtypeC30 = 0
        obj.datado.sumtypeC10 = 0
        obj.datado.sumtypeC20 = 0
      }
    }
  },
  watch: {
    territory () {
      console.log(this.territory)
      var obj = this
      console.dir(obj.reverseItems[this.territory])
      this.reshowreports()
    }
  }
}
</script>
