<template>
  <div>
    <br />
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือหรัสพนักงาน" v-model="txtcust">
      </div>
      <div class="control">
        <a class="button is-success is-medium" @click="searchcustname()">
         Search
        </a>
      </div>
    </div>
    <br />
    <div class="box icuser" v-for="(n,i) in filterBy(listdata, txtcust, 'filtername', 'territory')" :key="i" @click="setcommit(n)">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="../../../assets/img/avatar.svg" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ n.filtername }}</strong>
              <br>
              <strong>Territory:&nbsp;<b class="text-danger">{{ n.salesdistrictid }}</b>&nbsp;&nbsp;Tel.:&nbsp;<b class="text-danger">{{ n.phone }}</b></strong>
              <br>
              <strong>Status:&nbsp;<b :class="restatusclass(n.closedaccount)">{{ restatus(n.closedaccount) }}</b></strong>
            </p>
          </div>
        </div>
      </article>
    </div>
    <sweet-modal blocking hide-close-button ref="modaleditor" title="แก้ไขข้อมูล / Edit">
      <template slot="box-action">
        <a class="button is-success is-medium" @click="save()">Save</a>
        &nbsp;
        <a class="button is-danger is-medium" @click="closemodal()">Cancel</a>
      </template>
      <template>
        <div class="text-left">
          <div>
            <div class="field">
              <label class="label">Tel.</label>
              <div class="control has-icons-right">
                <input class="input is-medium" type="text" placeholder="ระบุหมายเลขโทรศัพท์เดิม" v-model="forms.telnumberold">
                <span class="icon is-right">
                  <i class="fa fa-check"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">New Tel.</label>
              <div class="control has-icons-right">
                <input class="input is-medium" type="text" placeholder="ระบุหมายเลขโทรศัพท์ใหม่" v-model="forms.telnumbernew">
                <span class="icon is-right">
                  <i class="fa fa-check"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Remark</label>
              <div class="control">
                <textarea class="textarea" placeholder="ระบุข้อมูลเพิ่มเติม" v-model="forms.remark"></textarea>
              </div>
            </div>
          </div>
        </div>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking icon="success" ref="modalsuccess">
      Successfully
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import mocker from '@/assets/js/mock'
import Vue from 'vue'
import Vue2Filters from 'vue2-filters'
Vue.use(Vue2Filters)
export default {
  layout: 'main',
  head () {
    return {
      title: 'รายการลุกค้า'
    }
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      txtcust: null,
      listdata: [],
      mock: mocker,
      forms: {
        custnumber: null,
        custname: null,
        telnumberold: null,
        telnumbernew: null,
        remark: null
      }
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  mounted () {
    var obj = this
    obj.$refs.modalloading.open()
    obj.listdata = []
    obj.loaddata()
      .then(rd => {
        console.dir(rd)
        obj.$refs.modalloading.close()
        obj.listdata = rd
      })
  },
  methods: {
    searchcustname () {
      var obj = this
      obj.$refs.modalloading.open()
      obj.listdata = []
      obj.loaddata()
        .then(rd => {
          console.dir(rd)
          obj.$refs.modalloading.close()
          obj.listdata = rd
        })
    },
    restatusclass (e) {
      var b = ['text-success', 'text-danger']
      return b[e]
    },
    restatus (e) {
      var b = ['Actived', 'Stop']
      return b[e]
    },
    save () {
      var obj = this
      this.$refs.modalloading.open()
      this.adddata()
        .then(rd => {
          obj.$refs.modalloading.close()
          obj.$refs.modalsuccess.open()
          obj.closemodal()
        })
    },
    closemodal () {
      this.forms.custnumber = null
      this.forms.custname = null
      this.forms.telnumberold = null
      this.forms.telnumbernew = null
      this.forms.remark = null
      this.$refs.modaleditor.close()
    },
    setcommit (n) {
      this.forms.custnumber = n.accountnum
      this.forms.custname = n.name
      this.forms.telnumberold = n.phone
      this.forms.telnumbernew = null
      // this.forms.remark = null
      this.forms.remark = n.remark
      this.$refs.modaleditor.open()
      console.dir(n)
    },
    adddata () {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/phone/add', {
          custnum: obj.forms.custnumber,
          custname: obj.forms.custname,
          telnumberold: obj.forms.telnumberold,
          telnumbernew: obj.forms.telnumbernew,
          remark: obj.forms.remark
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    loaddata () {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/find/adjust', {
          custnum: obj.txtcust,
          territory: localStorage.getItem('territory'),
          territoryid: localStorage.getItem('territoryid')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    }
  }
}
</script>

