<template>
<div :hidden="listaccount.length === 0">
  <div class="box" v-for="(n,i) in filterBy(listaccount, txtfilter)" :key="i" @click="setcust(n)">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="../../assets/img/avatar.svg" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ n.filtername }}</strong> <small>&nbsp;@&nbsp;<b class="text-success">{{ n.salesdistrictid }}</b></small>
          <br>
          <b>Credit:&nbsp;&nbsp;<span class="text-danger">{{ recurrency(n.creditmax)}}</span>&nbsp;Bath</b>
          &nbsp;
          <b>Credit Balance:&nbsp;&nbsp;
          <span class="text-danger" v-if="n.balance.length > 0">
            {{ recurrency(n.balance[0].sumcredittranstable)}}
          </span>
          <span class="text-danger" v-else>
          {{ recurrency(0)}}
          </span>
          &nbsp;Bath
          </b>
          <strong v-if="n.overdue > 0" class="text-danger">
            <br />
            Over Due at {{ remonth(n.monthoverdue) }}&nbsp;</strong>
          <b v-if="n.overdue > 0" class="text-danger">Over Due:&nbsp;<strong class="text-danger">{{ recurrency(n.balanceoverdue) }}</strong>&nbsp;Bath</b>
          <br />
          <strong>Status:&nbsp;<b :class="reclass(n.closedaccount)">{{ restatus(n.closedaccount)}}</b></strong>
        </p>
      </div>
    </div>
  </article>
</div>
<sweet-modal blocking hide-close-button ref="modalloading">
  <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
</sweet-modal>
<sweet-modal blocking hide-close-button ref="modaldetail">
  <h1>Test h1</h1>
</sweet-modal>
</div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
export default {
  props: {
    txtfilter: String,
    divlistaccount: Boolean
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      listaccount: []
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  methods: {
    recurrency (e) {
      if (e) {
        return e.toLocaleString()
      } else {
        return 0
      }
    },
    reclass (e) {
      var b = ['text-success', 'text-danger']
      return b[e]
    },
    restatus (e) {
      var b = ['Active', 'Stop']
      return b[e]
    },
    remonth (i) {
      var b = ['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      return b[i]
    },
    loadcusttable () {
      return new Promise(resolve => {
        axios.post('/api/custtable/find', {
          custnum: this.txtfilter
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            console.dir(r.data)
            resolve(r.data)
          })
      })
    },
    setcust (e) {
      // console.dir(e)
      this.$emit('commitdata', e)
    }
  },
  watch: {
    divlistaccount () {
      console.log('components:' + this.divlistaccount)
      var obj = this
      if (this.divlistaccount === true) {
        obj.loadcusttable().then(r => {
          obj.$emit('searchcomplete', true)
          obj.listaccount = r
        })
      } else {
        this.listaccount.length = 0
        obj.$emit('searchcomplete', true)
      }
    },
    txtfilter () {
      console.log(this.txtfilter)
      console.log('components:' + this.divlistaccount)
    }
  }
}
</script>

