<template>
  <div :hidden="divcust === false">
    <br />
    <div class="box icuser" v-for="(n,i) in filterBy(list.data, txtcust, 'filtername', 'territory')" :key="i" @click="setcommit(n)">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="../../assets/img/avatar.svg" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ n.filtername }}</strong> <small>&nbsp;@&nbsp;<b class="text-success">{{ n.salesdistrictid }}</b></small>
              <br>
                <b>Credit:&nbsp;&nbsp;<span class="text-danger">{{ recurrency(n.creditmax)}}</span>&nbsp;Bath</b>
                &nbsp;
                <b>Credit Balance:&nbsp;&nbsp;
                  <span class="text-danger" v-if="n.balance.length > 0">
                    {{ recurrency(n.balance[0].sumcredittranstable)}}
                  </span>
                  <span class="text-danger" v-else>
                    {{ recurrency(0)}}
                  </span>
                  &nbsp;Bath
                </b>
                <br />
                <b>
                  Discount:&nbsp;&nbsp;
                  <span class="text-danger" v-if="n.creditdisc.length > 0">
                    {{ recurrency(n.creditdisc[0].amount)}}
                  </span>
                  <span class="text-danger" v-else>
                    {{ recurrency(0)}}
                  </span>
                  &nbsp;Bath
                  &nbsp;&nbsp;
                  Status:&nbsp;<span :class="reclass(n.closedaccount)">{{ restatus(n.closedaccount) }}</span>
                </b>
            </p>
          </div>
        </div>
      </article>
    </div>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Vue from 'vue'
import Vue2Filters from 'vue2-filters'
Vue.use(Vue2Filters)
export default {
  props: {
    txtcust: String,
    divcust: Boolean
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      list: {
        data: []
      }
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  methods: {
    recurrency (e) {
      if (e) {
        return e.toLocaleString()
      } else {
        return 0
      }
    },
    reclass (e) {
      var b = ['text-success', 'text-danger']
      return b[e]
    },
    restatus (e) {
      var b = ['Active', 'Stoped']
      return b[e]
    },
    loadcus () {
      this.list.data.length = 0
      var obj = this
      console.log('obj.txtcust:', obj.txtcust)
      this.$refs.modalloading.open()
      axios.post('/api/custtable/find', {
        custnum: obj.txtcust
      }, {
        headers: {
          'x-access-token': localStorage.getItem('token')
        }
      })
        .then(r => {
          console.dir(r.data)
          obj.$refs.modalloading.close()
          if (r.data.err === true) {
            location.href = r.data.redirecto
          }
          if (r.data.length > 0) {
            obj.list.data = r.data
            obj.$emit('sethidden', false)
          } else {
            obj.$emit('sethidden', true)
          }
        })
        .catch(e => {
          console.dir(e)
        })
    },
    setcommit (e) {
      this.$emit('setcommit', e)
    }
  },
  watch: {
    divcust () {
      console.log('this.divcust:', this.divcust)
      if (this.divcust === true) {
        this.loadcus()
      }
    }
  }
}
</script>

