<template>
  <div>
    <br />
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <a class="button is-danger is-medium" @click="setnew()">
          เพิ่มข้อมูล / Add
        </a>
      </p>
    </div>
    <br />
    <div class="box icuser" v-for="(n,i) in listaddress" :key="i" @click="setcommit(n)">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="../../assets/img/avatar.svg" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ n.name }}</strong>
              <br>
              <strong>{{ n.address }}</strong>
              <br />
              Addrees Type:&nbsp;<strong class="text-danger">{{ readdress(n.addresstype) }}</strong>
              <strong v-if="n.addresstype === 2">&nbsp;Transport:&nbsp;<span class="text-danger">{{ returnnull(n.transport) + ' ' + returnnull(n.telnotransport) + ' ' + returnnull(n.remarktransport) }}</span></strong>
            </p>
          </div>
        </div>
      </article>
    </div>

    <sweet-modal hide-close-button blocking title="form" ref="modalq">
      <template>
        <article class="message is-info">
          <div class="message-header">
            <p>ข้อมูลที่อยู่</p>
          </div>
          <div class="message-body">
            <div class="field has-addons">
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select v-model="forms.addresstype">
                    <option v-for="(n,i) in options.address" :key="i" :value="n.value" >{{ n.title }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="control is-expanded">
              <input class="input" type="text" placeholder="ระบุชื่อ / Enter name" v-model="forms.txtaddressname">
            </div>
            <br />
            <div class="control is-expanded">
              <textarea class="textarea" placeholder="ระบที่อยู่ / Enter address" v-model="forms.txtaddress"></textarea>
            </div>
            <br />
            <div class="columns">
              <div class="column">
                <div class="control is-expanded">
                  <input class="input" type="text" placeholder="ระบุอำเภอ / Enter district" v-model="forms.txtamphore">
                </div>
              </div>
              <div class="column">
                <div class="control is-expanded">
                  <input class="input" type="text" placeholder="ระบุจังหวัด / Enter province" v-model="forms.txtprovince">
                </div>
              </div>
            </div>
            <br />
            <div class="control is-expanded">
              <input class="input" type="text" placeholder="ระบุรหัสไปรษณี / Enter zipcode" v-model="forms.txtzipcode">
            </div>
          </div>
        </article>
        <div :hidden="forms.addresstype !== 2">
           <article class="message is-info">
            <div class="message-header">
              <p>ข้อมูลขนส่ง</p>
            </div>
            <div class="message-body">
              <div class="control is-expanded">
                <input class="input" type="text" placeholder="ระบุชื่อขนส่ง" v-model="forms.transport">
              </div>
              <br />
              <div class="control is-expanded">
                <input class="input" type="text" placeholder="ระบุเบอร์โทร." v-model="forms.telnotransport">
              </div>
              <br />
              <div class="control is-expanded">
                <textarea class="textarea" placeholder="ข้อมูลเพิ่มเติม" v-model="forms.remarktransport"></textarea>
              </div>
            </div>
          </article>
        </div>
        <div :hidden="forms.doc1 === false">
              <br />
              <div class="field">
                <div class="file is-danger has-name">
                  <label class="file-label">
                    <input class="file-input doc1" type="file" name="resume"  @change="getanote($event, 1)">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fa fa-upload"></i>
                      </span>
                      <span class="file-label">
                        แนบเอกสาร ภพ.09
                      </span>
                    </span>
                  </label>
                </div>
              </div>
              <div :hidden="data.img.doc1.length < 1">
                <br />
                <div class="columns">
                  <div class="column">
                    <figure class="image is-128x128" v-for="(n,i) in data.img.doc1" :key="i">
                      <img :src="n">
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div :hidden="forms.doc2 === false">
              <br />
              <div class="field">
                <div class="file is-danger has-name">
                  <label class="file-label">
                    <input class="file-input doc2" type="file" name="resume"  @change="getanote($event, 2)">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fa fa-upload"></i>
                      </span>
                      <span class="file-label">
                        แนบเอกสารทะเบียนพานิช / ภพ.20 / สำเนาบัตรประชาน / สำเนาทะเบียนบ้าน
                      </span>
                    </span>
                  </label>
                </div>
              </div>
              <div :hidden="data.img.doc2.length < 1">
                <br />
                <div class="columns">
                  <div class="column">
                    <figure class="image is-128x128" v-for="(n,i) in data.img.doc2" :key="i">
                      <img :src="n">
                    </figure>
                  </div>
                </div>
              </div>
          </div>
      </template>
      <template slot="box-action">
        <a @click="setsave()" class="button is-success is-medium">Save</a>
        &nbsp;
        <a @click="closemodel()" class="button is-danger is-medium">Cancel</a>
      </template>
    </sweet-modal>

    <sweet-modal icon="error" title="Opps.. !" ref="modalerr">
      {{ info.msg }}
    </sweet-modal>

  </div>
</template>
<script>
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import mock from '@/assets/js/mock'
import Vue from 'vue'
import Vue2Filters from 'vue2-filters'
Vue.use(Vue2Filters)
export default {
  props: {
    listaddress: Array,
    txtname: String,
    txtnumber: String,
    territory: String
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  data () {
    return {
      options: {
        address: mock.addresslist // [{id: 0, title: 'Select Address Type'}, {id: 1, title: 'Invoice'}, {id: 2, title: 'Devilery'}, {id: 3, title: 'Documents'}]
      },
      forms: {
        addresstype: 0,
        txtcustomer: null,
        txtname: null,
        txtnumber: null,
        territory: null,
        txtaddressname: null,
        txtaddress: null,
        txtamphore: null,
        txtprovince: null,
        txtzipcode: null,
        txtrecid: 0,
        txttableid: 0,
        transport: null,
        telnotransport: null,
        remarktransport: null,
        doc1: false,
        doc2: false
      },
      data: {
        img: {
          doc1: [],
          doc2: []
        }
      },
      info: {
        msg: null
      }
    }
  },
  methods: {
    returnnull (e) {
      if (e) {
        return e
      } else {
        return ''
      }
    },
    readdress (e) {
      // var b = ['Unknow', 'Invoice', 'Delivery', 'Documents']
      // return b[e]
      var i = mock.addresslist.map(r => r.value).indexOf(e)
      console.log(i)
      // return mock.addresslist[i].title
    },
    getanote (e, i) {
      console.dir(e)
      var file = e.target.files[0]
      var reader = new FileReader()
      var obj = this
      reader.onload = (event) => {
        if (i === 1) {
          obj.data.img.doc1.push(event.target.result)
        } else if (i === 2) {
          obj.data.img.doc2.push(event.target.result)
        }
      }
      reader.readAsDataURL(file)
    },
    setnew () {
      this.forms.addresstype = 0
      this.forms.txtcustomer = this.txtnumber + '-' + this.txtname
      this.forms.txtname = this.txtname
      this.forms.txtnumber = this.txtnumber
      this.forms.territory = this.territory
      this.forms.txtaddressname = null
      this.forms.txtaddress = null
      this.forms.txtamphore = null
      this.forms.txtprovince = null
      this.forms.txtzipcode = null
      this.forms.txtrecid = 0
      this.forms.txttableid = 0
      this.data.img.doc1.length = 0
      this.data.img.doc2.length = 0
      this.forms.doc1 = false
      this.forms.doc2 = false
      this.$refs.modalq.open()
    },
    setcommit (e) {
      var obj = this
      console.dir(e)
      this.forms.addresstype = e.addresstype
      this.forms.txtcustomer = this.txtnumber + '-' + this.txtname
      this.forms.txtname = this.txtname
      this.forms.txtnumber = this.txtnumber
      this.forms.territory = this.territory
      this.forms.txtaddressname = e.name
      this.forms.txtaddress = e.street
      this.forms.txtamphore = e.city
      this.forms.txtprovince = e.state
      this.forms.txtzipcode = e.zipcode
      this.forms.txtrecid = e.recid.toString()
      this.forms.txttableid = e.tableid.toString()
      this.forms.transport = e.transport
      this.forms.telnotransport = e.telnotransport
      this.forms.remarktransport = e.remarktransport
      this.data.img.doc1.length = 0
      this.data.img.doc2.length = 0
      obj.forms.doc1 = true
      obj.forms.doc2 = true
      obj.$refs.modalq.open()
    },
    setsave () {
      // this.closemodel()
      if (this.forms.doc1 === false) {
        this.closemodel()
        this.$emit('completededit', [this.forms, this.data])
      } else {
        if (this.forms.addresstype === 0) {
          this.info.msg = 'กรุณาเลือกรูปแบบที่อยู่ด้วย'
          this.$refs.modalerr.open()
        } else if (this.forms.txtname === null) {
          this.info.msg = 'กรุณาระบุชื่อลูกค้าด้วย'
          this.$refs.modalerr.open()
        } else if (this.forms.txtaddress === null) {
          this.info.msg = 'กรุณาระบุข้อมูลที่อยู่ของลูกค้าด้วย'
          this.$refs.modalerr.open()
        } else if (this.forms.txtamphore === null) {
          this.info.msg = 'กรุณาระบุข้อมูลที่อยู่ของลูกค้าด้วย'
          this.$refs.modalerr.open()
        } else if (this.forms.txtprovince === null) {
          this.info.msg = 'กรุณาระบุข้อมูลที่อยู่ของลูกค้าด้วย'
          this.$refs.modalerr.open()
        } else if (this.forms.txtzipcode === null) {
          this.info.msg = 'กรุณาระบุข้อมูลที่อยู่ของลูกค้าด้วย'
          this.$refs.modalerr.open()
        } else if (this.data.img.doc1.length < 1) {
          this.info.msg = 'กรุณาแนบเอกสารของลูกค้าให้ครบด้วย'
          this.$refs.modalerr.open()
        } else if (this.data.img.doc2.length < 1) {
          this.info.msg = 'กรุณาแนบเอกสารของลูกค้าให้ครบด้วย'
          this.$refs.modalerr.open()
        } else {
          var adj = this.forms
          if (this.forms.addresstype === 2) {
            if (this.forms.transport === null) {
              this.info.msg = 'กรุณาระบุข้อมูลขนส่งด้วย'
              this.$refs.modalerr.open()
            } else if (this.forms.telnotransport === null) {
              this.info.msg = 'กรุณาระบุข้อมูลเบอร์โทร. ขนส่งด้วยด้วย'
              this.$refs.modalerr.open()
            } else {
              this.closemodel()
              if (adj.addresstype === 3) {
                adj.addresstype = 101
              }
              this.$emit('completededit', [adj, this.data])
            }
          } else {
            this.closemodel()
            if (adj.addresstype === 3) {
              adj.addresstype = 101
            }
            this.$emit('completededit', [adj, this.data])
          }
        }
      }
    },
    closemodel () {
      this.$refs.modalq.close()
    }
  }
}
</script>

