<template>
  <div>
    <sweet-modal blocking hide-close-button ref="modaldetail">
      <template slot="box-action">
        <a class="button is-danger is-medium" @click="closemodal()">Close</a>
      </template>
      <sweet-modal-tab title="Information" id="tab1">
        <section class="text-left">
          <div class="columns is-mobile">
            <div class="column">
              <strong>Name:&nbsp;<b class="text-danger">{{ retrunnull(listcustomer.name) }}</b></strong>
              <br />
              <strong>Number:&nbsp;<b class="text-danger">{{ retrunnull(listcustomer.accountnum) }}</b></strong>
              <br />
              <strong>Territory:&nbsp;<b class="text-danger">{{ retrunnull(listcustomer.salesdistrictid) }}</b></strong>
              <br />
              <strong>BirthDay:&nbsp;<b class="text-danger">{{ retrunnull(rebirthday(listcustomer.birthday)) }}</b></strong>
              <br />
              <strong>TAX ID:&nbsp;<b class="text-danger">{{  listcustomer.idinfomation }}</b></strong>
            </div>
            <div class="column">
              <strong>Working:&nbsp;<b class="text-danger">{{ retrunnull(listcustomer.work_date_time) }}</b></strong>
              <br />
              <strong>FAX.:&nbsp;<b class="text-danger">{{ retrunnull(listcustomer.fax) }}</b></strong>
              <br />
              <strong>Tel.:&nbsp;<b class="text-danger">{{ listcustomer.phone }}</b></strong>
              &nbsp;
              <br />
              <strong>Mob:&nbsp;<b class="text-danger">{{ retrunnull(listcustomer.cellularphone) }}</b></strong>
              &nbsp;
              <strong>E-Mail:&nbsp;<b class="text-danger">{{ retrunnull(listcustomer.email) }}</b></strong>
            </div>
          </div>
        </section>
      </sweet-modal-tab>

      <sweet-modal-tab title="Address" id="tab2">
        <section class="text-left">
            <div class="box" v-for="(n, i) in listcustomer.address" :key="i">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Name:&nbsp;<span class="text-danger">{{ n.name }}</span></strong>
                      <br>
                      <strong>Address:&nbsp;<span class="text-danger">{{ n.address }}</span></strong>
                      <br />
                      <strong>Address Type:&nbsp;<span class="text-danger">{{ readdress(n.addresstype)}}</span></strong>
                    </p>
                  </div>
                </div>
              </article>
            </div>
        </section>
      </sweet-modal-tab>

      <sweet-modal-tab title="Transport" id="tab3">
        <section class="text-left">
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Name:&nbsp;<span class="text-danger">{{ listcustomer.freightzone }}</span></strong>
                      <br>
                      <strong>Tel.:&nbsp;<span class="text-danger">{{ listcustomer.phonetransport }}</span></strong>
                      <br />
                      <strong>Information:&nbsp;<span class="text-danger">{{ listcustomer.remarktransport }}</span></strong>
                    </p>
                  </div>
                </div>
              </article>
            </div>
        </section>
      </sweet-modal-tab>
      <sweet-modal-tab title="Map" id="tab4" disabled>Tab 4 is disabled</sweet-modal-tab>
      <!-- icons is an object containing SVG strings -->
    </sweet-modal>
     <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking icon="success" ref="modalsuccess">
      Successfully
    </sweet-modal>
  </div>
</template>
<script>
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
export default {
  props: {
    listcustomer: Object,
    showdiv: Boolean
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      icons: {
        hexagon: 'fa fa-user',
        flower: null,
        compare: null
      }
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  methods: {
    retrunnull (e) {
      if (e !== null) {
        return e
      } else {
        return 'ไม่ได้ระบุ / unknow'
      }
    },
    readdress (e) {
      var b = ['unknow', 'Invoice', 'Delivery', 'Documents']
      return b[e]
    },
    closemodal () {
      this.$refs.modaldetail.close()
      this.$emit('closemodal', false)
    },
    rebirthday (e) {
      if (e) {
        return e.substr(0, 11)
      } else {
        return 'ไม่ได้ระบุ / unknow'
      }
    }
  },
  watch: {
    showdiv () {
      if (this.showdiv === true) {
        this.$refs.modaldetail.open()
      } else {
        this.$refs.modaldetail.close()
      }
    }
  }
}
</script>
