<template>
  <div :hidden="divcust === false">
    <br />
    <div class="box icuser" v-for="(n,i) in filterBy(list.data, txtcust, 'name', 'salesdistrictid')" :key="i" @click="setcommit(n)">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="../../assets/img/avatar.svg" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <div>
              <strong>{{ n.name }}</strong> <small>&nbsp;@&nbsp;<b class="text-success">{{ n.salesdistrictid }}</b></small>
              <p>
                <b>Address:&nbsp;<span class="text-primary">{{ n.address + ' ' + n.amphoes + ' ' + n.provice + ' ' + n.zipcode}}</span></b>
                <br />
                <b>Tel.:&nbsp;<span class="text-primary">{{ n.telno }}</span></b>
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import Vue from 'vue'
import Vue2Filters from 'vue2-filters'
Vue.use(Vue2Filters)
export default {
  props: {
    txtcust: String,
    divcust: Boolean
  },
  data () {
    return {
      list: {
        data: []
      }
    }
  },
  methods: {
    recurrency (e) {
      if (e) {
        return e.toLocaleString()
      } else {
        return 0
      }
    },
    reclass (e) {
      var b = ['text-success', 'text-danger']
      return b[e]
    },
    restatus (e) {
      var b = ['Active', 'Stoped']
      return b[e]
    },
    loadcus () {
      this.list.data.length = 0
      var obj = this
      console.log('obj.txtcust:', obj.txtcust)
      axios.post('/api/postpect/find', {
        filter: obj.txtcust
      }, {
        headers: {
          'x-access-token': localStorage.getItem('token')
        }
      })
        .then(r => {
          console.dir(r.data)
          if (r.data.err === true) {
            location.href = r.data.redirecto
          }
          if (r.data.length > 0) {
            obj.list.data = r.data
            obj.$emit('sethidden', false)
          } else {
            obj.$emit('sethidden', true)
          }
        })
    },
    setcommit (e) {
      this.$emit('setcommit', e)
    }
  },
  watch: {
    divcust () {
      console.log('this.divcust:', this.divcust)
      if (this.divcust === true) {
        this.loadcus()
      }
    }
  }
}
</script>

