<template>
<section>
  <!-- <div>
    <p>
      <span class="tag is-success">&nbsp;&nbsp;</span>&nbsp;:ทำ / Activity
      &nbsp;
      <span class="tag is-danger">&nbsp;&nbsp;</span>&nbsp;:ไม่ทำ / No Activity
    </p>
  </div> -->
  <br />
  <div class="box" v-for="(n,i) in reverseItems" :key="i">
    <article class="media">
      <div class="media-left" @click="setshow(n)">
        <figure class="image is-64x64">
          <!-- <img v-if="n.pathname" v-lazy="n.pathname[0].link" />
          <img v-else src="../../assets/img/avatar.svg"/> -->
          <progressive-img v-if="n.pathname"
                :src="n.pathname[0].link"
                placeholder="https://www.dropbox.com/s/7xhk36vdflbc312/man.png?dl=0"
            />
          <img v-else src="../../assets/img/avatar.svg"/>
        </figure>
      </div>
      <div class="media-content" @click="setval(n)">
        <div class="content">
          <p>
            <strong class="text-success">{{ renulltitle(n.visittle, n.visittitle, n.visittile)}}</strong>
            <strong>&nbsp;@&nbsp;<span class="text-danger">{{ n.visitdate + ' ' + retrunname(n.visitetime, n.visittime) }}</span></strong>
            <br />
            <strong>ลูกค้า:&nbsp;<span class="text-danger">{{ n.custtomer }}</span></strong>
            &nbsp;
            <strong>เขตการขาย:&nbsp;<span class="text-danger">{{ n.territory }}</span></strong>
            <br />
            <strong>สถานะการซิงค์:&nbsp;<b :class="restatusclass(n.syncstatus)">{{ restatusclasssync(n.syncstatus) }}</b></strong>
          </p>
        </div>
      </div>
    </article>
  </div>
  <br />
  <sweet-modal ref="modalimg" hide-close-button >
    <br />
    <div v-for="(n, i) in images" :key="i">
      <figure class="image is-124x124">
        <progressive-img
          :src="n.link"
          :placeholder="n.link"
        />
      </figure>
    </div>
  </sweet-modal>
</section>
</template>
<script>
  import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
  let _ = require('lodash')
  export default {
    props: ['listappoint'],
    computed: {
      reterritory () {
        return this.listappoint
      },
      reverseItems () {
        return _.orderBy(this.reterritory, ['visitdate', 'visittime'], ['desc', 'desc'])
      }
    },
    components: {
      SweetModal,
      SweetModalTab
    },
    data () {
      return {
        data: {
          territory: null,
          list: []
        },
        images: []
      }
    },
    mounted () {
      this.data.territory = localStorage.getItem('territory')
      console.dir(this.listappoint)
    },
    methods: {
      setshow (e) {
        if (e.pathname) {
          this.images = e.pathname
          this.$refs.modalimg.open()
        }
      },
      retrunname (visitetime, visittime) {
        if (visitetime) {
          return visitetime
        } else {
          return visittime
        }
      },
      renulltitle (a, b, c) {
        if (a) {
          return a
        } else if (b) {
          return b
        } else {
          return c
        }
      },
      restatusclasssync (i) {
        var b = ['No', 'Yes']
        return b[i]
      },
      restatusclass (i) {
        var b = ['text-warning', 'text-success']
        return b[i]
      },
      returntag (e) {
        if (e === 1) {
          return 'tag is-success'
        } else {
          return 'tag is-danger'
        }
      },
      returndate (n) {
        var d = new Date(n)
        return ('0' + d.getDate()).slice(-2) + '/' + ('0' + (d.getMonth() + 1)).slice(-2) + '/' + d.getFullYear() + ' ' + ('0' + d.getHours()).slice(-2) + ':' + ('0' + d.getMinutes()).slice(-2)
      },
      returnname (name, postpect) {
        // console.log(name, postpect)
        if (postpect.length < 0) {
          return postpect[0].name
        } else {
          return name
        }
      },
      setval (n) {
        this.$emit('setcommit', n)
      }
    }
  }
</script>
