<template>
  <div>
    <br />
    <div class="field has-addons has-addons-right">
      <p class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสลูกค้า" v-model="forms.txtfilter">
      </p>
      <p class="control">
        <a class="button is-primary is-medium" @click="searchnew()">
          Search
        </a>
      </p>
    </div>
    <div>
      <div class="box icuser" v-for="(n,i) in filterBy(reverseItems, forms.txtfilter)" @click="showdetail(n)" :key="i">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="../../assets/img/avatar.svg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content" v-if="n.adjustmentcredit === 1">
              <p>
                <strong>{{ n.txtcustomer }}</strong>
                <small>&nbsp;@&nbsp;
                  <b class="text-success">
                    {{ n.territory }}
                  </b>
                </small>
                <br />
                <!-- เขตการขาย {{ n.territory }}
                <br /> -->
                <span v-if="n.adjustmentcredittype === 1">
                  รายการร้องขออนุมัติแก้ไขข้อมูลวงเงินเครดิตจากวงเงิน <b class="text-danger">{{ recurrency(parseInt(n.creditmax)) }}</b> ขอ <b class="text-danger">{{ n.msg }}</b> เป็น
                  <b class="text-danger">{{ recurrency(parseInt(n.newcredit)) }}</b>
                  <b v-if="n.overdue === 1" class="text-danger">
                    <br />
                    พบข้อมูล Orver Due เดือน &nbsp;{{ remonth(n.monthoverdue) }}&nbsp;จำนวนเงิน {{ recurrency(n.balanceoverdue) }}
                  </b>
                </span>
                <span v-if="n.adjustmentcredittype === 2">
                  รายการร้องขออนุมัติแก้ไขข้อมูล Payment จาก <b class="text-danger">{{ n. b }}</b> เป็น
                  <b class="text-danger">{{ n.paymtermid }}</b>
                </span>
                <span v-if="n.adjustmentcredittype === 3">
                  {{ retxtstatus(n.closereq)}}&nbsp;<b class="text-danger">{{ n.remark }}</b>
                </span>
                <b>
                  <br />
                  สถานะ:&nbsp;<strong :class="reappclass(n.approve)">{{ reapp(n.approve) }}</strong>
                </b>
              </p>
            </div>

            <div class="content" v-if="n.adjustmentrename === 1">
              <p>
                <strong>{{ n.txtcustomer }}</strong>
                <small>&nbsp;@&nbsp;
                  <b class="text-success">
                    {{ n.territory }}
                  </b>
                </small>
                <br />
                <!-- เขตการขาย {{ n.territory }}
                <br /> -->
                รายการร้องขออนุมัติแก้ไขข้อมูลชื่อร้านจาก
                <strong class="text-danger">{{ n.txtname }}</strong>&nbsp;เป็น&nbsp;<strong class="text-danger">{{ n.txtnewname }}</strong>
                <span>ข้อมูลเพิ่มเติม:&nbsp;<b v-if="n.txtremark !== null">{{ n.txtremark }}</b></span>
                <b>
                  <br />
                  สถานะ:&nbsp;<strong :class="reappclass(n.approve)">{{ reapp(n.approve) }}</strong>
                </b>
              </p>
            </div>

            <div class="content" v-if="n.adjustmentsocial === 1">
              <p>
                <strong>{{ n.txtcustomer }}</strong>
                <small>&nbsp;@&nbsp;
                  <b class="text-success">
                    {{ n.territory }}
                  </b>
                </small>
                <br />
                <!-- เขตการขาย {{ n.territory }}
                <br /> -->
                รายการร้องขออนุมัติแก้ไขข้อมูล Social Media ของร้าน
                <strong class="text-danger">{{ n.txtname }}</strong>
                <br />
                <span>ข้อมูลเพิ่มเติม:&nbsp;<strong>{{ n.socialremark }}</strong></span>
                <b>
                  <br />
                  สถานะ:&nbsp;<strong :class="reappclass(n.approve)">{{ reapp(n.approve) }}</strong>
                </b>
              </p>
            </div>

            <div class="content" v-if="n.adjustmenttransport === 1">
              <p>
                <strong>{{ n.txtcustomer }}</strong>
                <small>&nbsp;@&nbsp;
                  <b class="text-success">
                    {{ n.territory }}
                  </b>
                </small>
                <br />
                รายการร้องขออนุมัติแก้ไขข้อมูลที่อยู่ขนส่งเป็น&nbsp;<b class="text-danger">{{ n.txtnewname }}&nbsp;{{ n.txttelno}}</b>
                <br />
                <span>ข้อมูลเพิ่มเติม:&nbsp;<b v-if="n.txtremark !== null">{{ n.txtremark }}</b></span>
                <br />
                <b>
                  สถานะ:&nbsp;<strong :class="reappclass(n.approve)">{{ reapp(n.approve) }}</strong>
                </b>
              </p>
            </div>

            <div class="content" v-if="n.adjustmentaddress === 1">
              <p>
                <strong>{{ n.txtcustomer }}</strong>
                <small>&nbsp;@&nbsp;
                  <b class="text-success">
                    {{ n.territory }}
                  </b>
                </small>
                <br />
                รายการร้องขออนุมัติ{{ renameaddress(n.txtrecid) }}&nbsp;<strong class="text-error">{{ readdress(n.addresstype)}}</strong>
                <br />
                รายละเอียด:&nbsp;<b>{{ n.txtaddressname + ' ' + n.txtaddress + ' ' + n.txtamphore + ' ' + n.txtprovince + ' ' + n.txtzipcode }}</b>
                <br />
                <b>
                  สถานะ:&nbsp;<strong :class="reappclass(n.approve)">{{ reapp(n.approve) }}</strong>
                </b>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <br />
    <sweet-modal icon="success" ref="modelsuccess">
      บันทึกข้อมูลเรียบร้อยแล้ว
    </sweet-modal>

    <sweet-modal blocking title="ดำเนินการ" ref="modalapprove">
      <template slot="box-action">
        <a class="button is-success is-medium" @click="setapprove(1)">อนุมัติ</a> &nbsp;
        <a class="button is-danger is-medium" @click="setapprove(2)">ไม่อนุมัติ</a>
      </template>
      <template>
        <strong>ระบุเหตุ</strong>
        <br />
        <div class="control">
          <textarea class="textarea" type="text" v-model="forms.comment"></textarea>
        </div>
        <div :hidden="img.doc1.length < 1">
          <br />
          <div class="columns">
            <div class="column" v-for="(n, i) in img.doc1" :key="i">
              <figure class="image is-128x128">
                <img :src="n">
              </figure>
            </div>
          </div>
        </div>
        <div :hidden="img.doc2.length < 1">
          <br />
          <div class="columns">
            <div class="column" v-for="(n, i) in img.doc2" :key="i">
              <figure class="image is-128x128">
                <img :src="n">
              </figure>
            </div>
          </div>
        </div>
        <div :hidden="img.doc3.length < 1">
          <br />
          <div class="columns">
            <div class="column" v-for="(n, i) in img.doc3" :key="i">
              <figure class="image is-128x128">
                <img :src="n">
              </figure>
            </div>
          </div>
        </div>
      </template>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
const _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'รายการร้องขออนุมัติแก้ไขข้อมูล'
    }
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.data.list, ['approve', 'created'], ['asc', 'desc'])
    }
  },
  data () {
    return {
      forms: {
        txtfilter: null,
        comment: null
      },
      data: {
        list: [],
        appr: []
      },
      img: {
        doc1: [],
        doc2: [],
        doc3: []
      }
    }
  },
  mounted () {
    var token = localStorage.getItem('token')
    this.loaddata(token)
      .then(rd => {
        this.data.list = rd
      })
  },
  methods: {
    searchnew () {
      var token = localStorage.getItem('token')
      this.data.list = []
      this.loaddatalist(token)
        .then(rd => {
          this.data.list = rd
        })
    },
    retxtstatus (e) {
      if (e === 0) {
        return 'รายการร้องขออนุมัติเปิดการขายเนื่องจาก'
      } else {
        return 'รายการร้องขออนุมัติระงับการขายเนื่องจาก'
      }
    },
    reappclass (e) {
      var b = ['text-warning', 'text-success']
      return b[e]
    },
    reapp (e) {
      var b = ['รออนุมัติ', 'อยนุมัติแล้ว']
      return b[e]
    },
    renameaddress (e) {
      var b = ['เพิ่มข้อมูล', 'แก้ไขข้อมูล']
      if (e === 0) {
        return b[0]
      } else {
        return b[1]
      }
    },
    loaddatalist (token) {
      var obj = this
      return new Promise(resolve => {
        axios.post('/api/adjustments/all', {
          customer: obj.forms.txtfilter
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    loaddata (token) {
      return new Promise(resolve => {
        axios.get('/api/adjustments/credit', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    recurrency (e) {
      if (e) {
        return e.toLocaleString()
      } else {
        return 0
      }
    },
    redated (e) {
      return e.substring(0, 10)
    },
    remonth (i) {
      var b = ['', 'มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม']
      return b[i]
    },
    showdetail (e) {
      // console.dir(e.annote.length)
      // if (e.annote.length > 0) {
      //   this.img.doc1 = e.annote[0].img.doc1
      //   this.img.doc2 = e.annote[0].img.doc2
      //   this.img.doc3 = e.annote[0].img.doc3
      // } else {
      //   this.img.doc1.length = 0
      //   this.img.doc2.length = 0
      //   this.img.doc3.length = 0
      // }
      this.img.doc1 = []
      this.img.doc2 = []
      this.img.doc3 = []
      this.data.appr = e
      this.$refs.modalapprove.open()
    },
    setapprove (i) {
      var obj = this
      this.$refs.modalapprove.close()
      axios.post('/api/adjustments/credit/approve', {
        empcode: localStorage.getItem('empcode'),
        code: obj.data.appr.adjustmentcode,
        appr: i,
        remark: obj.forms.remark
      }, {
        headers: {
          'x-access-token': localStorage.getItem('token')
        }
      })
        .then(rd => {
          console.dir(rd.data[0])
          var data = rd.data[0]
          var subject = null
          var msg = null
          var title = 'เรียนหน่วยงานบัญชีการเงิน'
          var mailto = 'acc@yss.co.th'
          if (data.adjustmenttype === 1) {
            if (data.adjustmentcredittype < 2) {
              subject = 'ร้องขออนุมัติแก้ไขข้อมูลวงเงินเครดิตร้าน ' + data.txtcustomer
              if (data.newcredit >= 100000) {
                mailto = 'pinyo@yss.co.th'
                title = 'เรียนคุณภิญโญ พานิชเกษม'
              }
              msg = 'รบกวนอนุมัติแก้ไขข้อมูลวงเงินเครดิตร้าน ' + data.txtcustomer + 'จากวงเงินเดิม ' + obj.recurrency(data.creditmax) + ' ขอปรับ' + data.msg + 'วงเงินเป็น ' + obj.recurrency(data.newcredit) + ' บาท ให้ด้วยครับ'
            } else {
              subject = 'ร้องขออนุมัติแก้ไขข้อมูล Payment ร้าน ' + data.txtcustomer
              msg = 'รบกวนอนุมัติร้องขออนุมัติแก้ไขข้อมูล Payment ร้าน ' + data.txtcustomer + ' ให้ด้วยครับ'
            }
          } else if (data.adjustmenttype === 2) {
            subject = 'ร้องขอเปลี่ยนแปลงข้อมูลที่อยู่ร้าน ' + data.txtcustomer
            msg = 'รบกวนอนุมัติเปลี่ยนแปลงข้อมูลที่อยู่ร้าน ' + data.txtcustomer + ' ให้ด้วยครับ'
          } else if (data.adjustmenttype === 3) {
            subject = 'ร้องขออนุมัติแก้ไขข้อมูลชื่อร้าน ' + data.txtcustomer
            msg = 'รบกวนอนุมัติแก้ไขข้อมูลชื่อร้าน ' + data.txtcustomer + ' ให้ด้วยครับ'
          } else if (data.adjustmenttype === 4) {
            subject = 'ร้องขออนุมัติแก้ไขข้อมูลที่อยู่ขนส่งร้าน ' + data.txtcustomer
            msg = 'รบกวนอนุมัติแก้ไขข้อมูลที่อยู่ขนส่งร้าน ' + data.txtcustomer + ' ให้ด้วยครับ'
          }
          console.log(subject, '\n' + title, '\n' + msg, '\n' + mailto)
          obj.$refs.modelsuccess.open()
          setTimeout(() => {
            obj.$refs.modelsuccess.close()
            setTimeout(() => {
              location.reload()
            }, 1000)
          }, 2000)
          if (data.adjustmenttype !== 5) {
            axios.post('https://api.yssasia.com/api/mail/adjustment', {
              empcode: localStorage.getItem('empcode'),
              empname: localStorage.getItem('name'),
              email: localStorage.getItem('email'),
              mailto: mailto,
              title: title,
              subject: subject,
              msg: msg
            }).then(r => {
              console.dir(r)
            })
          } else {
            obj.$refs.modelsuccess.open()
            setTimeout(() => {
              obj.$refs.modelsuccess.close()
              setTimeout(() => {
                location.reload()
              }, 1000)
            }, 2000)
          }
        })
    },
    readdress (e) {
      if (e > 3) {
        e = 3
      }
      var b = ['', 'ที่อยู่ Invoice', 'ที่อยู่ส่งของ', 'ที่อยู่ส่งเอกสาร']
      return b[e]
    }
  }
}
</script>
