<template>
  <div>
    <br />
    <option-forms></option-forms>
  </div>
</template>
<script>
// import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import OptionForms from '@/components/Appointments/AppvAppointment'
// import ResultList from '@/components/Appointments/ResultList'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
import Cleave from '@/node_modules/vue-cleave'
Vue.use(Vue2Filters)
// let _ = require('lodash')
// let $ = require('jquery')
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - APPROVE APPOINTMENT'
    }
  },
  components: {
    OptionForms,
    Cleave,
    SweetModal,
    SweetModalTab,
    PulseLoader
  }
}
</script>
