<template>
  <section>

  </section>
</template>
<script>
import Vue from 'vue'
import firebase from 'firebase'
import VueFire from 'vuefire'
import { firebaseConfig } from '@/assets/js/config'
if (!firebase.apps.length) {
  firebase.initializeApp(firebaseConfig)
} else {
  firebase.app()
}
Vue.use(VueFire)
Vue.config.productionTip = false
const db = firebase.database()
// let x = 'D05'
// if (localStorage) {
//   // localStorage can be used
//   console.log('used localStorage')
// } else {
//   // can't be used
//   console.log('can not be used localStorage')
// }
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - Approve Payments'
    }
  },
  mounted () {
    console.dir(db)
  }
}
</script>

