<template>
  <div>
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสพนักงาน" v-model="forms.txtfilter">
      </div>
      <div class="control">
        <a class="button is-success is-medium" @click="clSearch()">
          Search
        </a>
      </div>
    </div>
    <cust-list
    :txtcust="forms.txtfilter"
    :divcust="divcust"
    @setcommit="setcommit($event)"
    ></cust-list>
  </div>
</template>
<script>
// import axios from 'axios'
import CustList from '@/components/CustomerList/CustomerList'
export default {
  props: {
    txtfilter: String,
    addresult: Boolean
  },
  components: {
    CustList
  },
  data () {
    return {
      divcust: false,
      forms: {
        txtfilter: null
      }
    }
  },
  methods: {
    clSearch () {
      this.divcust = true
    },
    setcommit (e) {
      console.dir(e)
      this.divcust = false
      this.$emit('setfiltername', [e.filtername, e.custtablebilling])
    }
  },
  watch: {
    txtfilter () {
      this.forms.txtfilter = this.txtfilter
    }
  }
}
</script>

