<template>
  <div>
    <sweet-modal blocking hide-close-button ref="modaladd" title="แบบฟอร์ม">
      <template slot="box-action">
        <a class="button is-danger is-medium" @click="closemodaladd()">ปิด</a>
      </template>
      <template>
        <div class="text-left">
          <ul class="menu-list">
            <li v-for="(n,i) in listmactivities" :key="i" @click="setvisit(n)">
              <a>{{ n.title }}</a>
              <br />
            </li>
          </ul>
        </div>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalconfirmleave" title="แบบฟอร์ม">
      <template slot="box-action">
        <a class="button is-success is-medium" @click="saveclose()">ร้านปิด</a>
        &nbsp;
        <a class="button is-danger is-medium" @click="save()">ออกจากร้าน</a>
      </template>
      <template>
        <div class="text-left">
          <div>
            <div class="file has-name is-fullwidth is-primary">
              <label class="file-label">
                <input class="file-input" type="file" name="resume" id="fileresult" @change='getAnote(forms.visittype, $event)'>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                </span>
                <span class="file-name">
                  {{ txtupload }}
                </span>
              </label>
            </div>

            <div :hidden="listimg.length < 1">
              <br />
              <div class="columns is-multiline is-mobile">
                <div class="column" v-for="(n,i) in listimg" :key="i">
                  <figure class="image is-32x32">
                    <img :src="n">
                  </figure>
                </div>
              </div>
            </div>
            <br />
          </div>
          <div class='field'>
            <label class='label'>ข้อมูลเพิ่มเติม / Remark</label>
            <div class='control'>
              <textarea class="textarea" placeholder="ระบุข้อมูลเพิ่มเติม" v-model="forms.txtremark"></textarea>
            </div>
          </div>
        </div>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalconfirm" title="แบบฟอร์ม">
      <template slot="box-action">
        <a class="button is-success is-medium" @click="save()">Save</a>
        &nbsp;
        <a class="button is-danger is-medium" @click="closemodal()">Cancel</a>
      </template>
      <template>
        <div class="text-left">
          <div :hidden="forms.visittype !== 2">
            <div class="field has-addons">
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select v-model="forms.typecash">
                    <option  v-for="(n,i) in mock.mastertypecash" :value="n.id" :key="i">{{ n.title }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div :hidden="list.billing.length < 0">
              <span v-for="(n,i) in list.billing" :key="i" @click="removebill(n.billlingnumber)">
                <a class="tag is-danger" v-if="n.status === 0">{{ n.billlingnumber }}&nbsp;<i class="fa fa-times" aria-hidden="true"></i></a>&nbsp;
              </span>
            </div>
            <div class="field">
              <label>จำนวนเงินที่รับ / Amount received</label>
              <p class="control is-expanded">
                <cleave
                placeholder="ระบุจำนวนเงิน"
                :options="{ numeral: true, numeralThousandsGroupStyle: 'thousand' }"
                class="input"
                id="colleccoin"
                v-model="forms.coin"
                ></cleave>
              </p>
            </div>
            <br />
          </div>

          <div :hidden="forms.listdetail.length < 1">
            <div class="field" v-for="(n,i) in forms.listdetail" :key="i">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox" @click="setcheckbox($event, n.id)" checked >
                  {{ n.title }}
                </label>
              </div>
            </div>
            <br />
          </div>

          <div>
            <div class="file has-name is-fullwidth is-primary">
              <label class="file-label">
                <input class="file-input" type="file" name="resume" id="fileresult" @change='getAnote(forms.visittype, $event)'>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                </span>
                <span class="file-name">
                  {{ txtupload }}
                </span>
              </label>
            </div>

            <div :hidden="listimg.length < 1">
              <br />
              <div class="columns is-multiline is-mobile">
                <div class="column" v-for="(n,i) in listimg" :key="i">
                  <figure class="image is-32x32">
                    <img :src="n">
                  </figure>
                </div>
              </div>
            </div>
            <br />
          </div>
          <div class='field'>
            <label class='label'>ข้อมูลเพิ่มเติม / Remark</label>
            <div class='control'>
              <textarea class="textarea" placeholder="ระบุข้อมูลเพิ่มเติม" v-model="forms.txtremark"></textarea>
            </div>
          </div>
        </div>
      </template>
    </sweet-modal>

    <sweet-modal icon="error" ref="modalerror" title="Opps !">
      <template>
        <div class="text-center">
          <b>{{ info.msg }}</b>
        </div>
      </template>
    </sweet-modal>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import Cleave from '@/node_modules/vue-cleave'
import mocker from '@/assets/js/mock'
import assets from '@/assets/js/imgtoblob'
import guuid from '@/assets/js/greeter'
// import Dropbox from 'dropbox'
import $ from 'jquery'
export default {
  props: {
    txtfilter: String,
    resultadd: Boolean,
    billinglist: Array,
    txtcustomer: String,
    txtactivities: String
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      info: {
        msg: null
      },
      doc: [],
      forms: {
        typecash: 0,
        txtremark: null,
        visittype: 0,
        visittile: null,
        bank: '',
        coin: '0',
        coindate: '',
        docid: [],
        listdetail: [],
        pathname: []
      },
      mock: mocker,
      listmactivities: [],
      txtupload: 'เลือกหรือถ่ายรูปภาพประกอบ(Select or take a photo.)…',
      txtbilling: null,
      listimg: [],
      list: {
        billing: []
      }
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader,
    Cleave
  },
  mounted () {
    this.list.billing = this.billinglist
  },
  methods: {
    annotedata (type, annote, title, seqid) {
      return new Promise(resolve => {
        const guid = guuid.GenCode()
        // console.log('gencode:' + guid)
        var b = {
          recid: guid,
          data: annote,
          title: title,
          seqid: seqid
        }
        axios.post('/api/annote/add', {
          data: b
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(guid)
          })
      })
    },
    annotedel (guid) {
      return new Promise(resolve => {
        axios.post('/api/annote/del', {
          recid: guid
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(guid)
          })
      })
    },
    getAnote (type, e) {
      this.$refs.modalloading.open()
      var obj = this
      var d = new Date()
      var a = d.getFullYear() + '-' + ('0' + (d.getMonth() + 1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2)
      let ptname = '/SALES-CRM/' + localStorage.getItem('territory') + '-CRM/' + a + '/ACTIVITIES/' + this.txtcustomer + '/' + this.txtactivities + '/'
      assets.doUpload(e, guuid.GenCode(), ptname)
        .then(r => {
          assets.GetCanvasAnnote(e.target.files[0]).then(res => {
            assets.imgDropboxImagesLink(r.pathname).then(odg => {
              console.log(odg)
              this.listimg.push(res)
              this.txtupload = r.msg
              this.forms.pathname.push({
                pathname: r.pathname,
                link: odg
              })
              obj.$refs.modalloading.close()
            })
          })
        })
    },
    removebill (i) {
      var ind = this.list.billing.map(e => e.billlingnumber).indexOf(i)
      console.dir(ind)
      this.list.billing.splice(ind, 1)
      // this.removebill
    },
    setvaluechk (e) {
      console.dir(e)
    },
    setcheckbox (i, n) {
      var obj = this
      var inx = obj.forms.listdetail.map(e => e.id).indexOf(n)
      obj.forms.listdetail[inx].status = i.target.checked
      if (i.target.checked === true) {
        obj.forms.listdetail[inx].status = true
      } else {
        obj.forms.listdetail[inx].status = false
      }
    },
    loadactivities () {
      return new Promise(resolve => {
        axios.post('/api/master/activities', {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r.data)
          })
      })
    },
    setvisit (e) {
      // var obj = this
      console.dir(e)
      if (e.id !== 2) {
        this.list.billing = []
      } else {
        this.list.billing = this.billinglist
      }
      this.listimg = []
      this.txtupload = 'เลือกหรือถ่ายรูปภาพประกอบ(Select or take a photo.)…'
      this.doc.length = 0
      this.$refs.modaladd.close()
      if (e.id === 9) {
        this.$refs.modalconfirmleave.open()
      } else {
        this.$refs.modalconfirm.open()
      }
      this.forms.txtremark = null
      this.forms.visittype = e.id
      this.forms.visittile = e.title
      this.forms.listdetail = e.detail
      this.forms.pathname = []
      // this.list.billing = []
      $('#colleccoin').val('0')
      this.$emit('setresultadd', [
        false,
        this.txtfilter,
        this.forms.txtremark,
        e,
        false,
        this.forms,
        this.list.billing,
        this.forms.typecash,
        this.forms.pathname,
        this.forms.listdetail
      ])
    },
    saveclose () {
      console.dir(this.listimg)
      if (this.listimg.length <= 0) {
        this.$vs.notify({title: 'Opps......', text: 'กรุณาแนบรูปกิจกรรมด้วย', color: 'danger', position: 'top-right'})
      } else {
        this.save()
      }
    },
    save () {
      this.$refs.modalconfirmleave.close()
      this.$refs.modalconfirm.close()
      this.$refs.modaladd.open()
      this.$emit('setresultadd', [
        false,
        this.txtfilter,
        this.forms.txtremark,
        this.forms.visittype,
        true,
        this.forms,
        this.list.billing,
        this.forms.typecash,
        this.forms.pathname,
        this.forms.listdetail
      ])
    },
    closemodal () {
      this.$refs.modalconfirm.close()
      this.$refs.modaladd.open()
      this.forms.txtremark = null
      // this.forms.visittype = 0
      this.$emit('setresultadd', [
        true,
        this.txtfilter,
        this.forms.txtremark,
        null,
        false,
        this.forms,
        this.list.billing,
        this.forms.typecash,
        this.forms.pathname,
        this.forms.listdetail
      ])
    },
    closemodaladd () {
      this.$refs.modalconfirmleave.close()
      this.$refs.modaladd.close()
      this.forms.txtremark = null
      this.$emit('setresultadd', [
        false,
        this.txtfilter,
        this.forms.txtremark,
        null,
        false,
        this.forms,
        this.list.billing,
        this.forms.typecash,
        this.forms.pathname,
        this.forms.listdetail
      ])
    }
  },
  watch: {
    resultadd () {
      if (this.resultadd === true) {
        var obj = this
        this.loadactivities()
          .then(rs => {
            console.dir(rs)
            obj.listmactivities = rs
            obj.$refs.modaladd.open()
            obj.forms.visittype = 0
            obj.forms.txtremark = null
            // obj.forms.coin = 0
            obj.list.billing = obj.billinglist
            // let colleccoin = $('#colleccoin')
            // console.dir(colleccoin)
            console.dir(obj.list.billing)
          })
      } else {
        this.$refs.modaladd.close()
      }
    }
  }
}
</script>
