<template>
  <div>
    <br />
    <div class="field has-addons">
      <p class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ชื่อหรือรหัสลูกค้า" v-model="forms.txtcustomer">
      </p>
      <p class="control">
        <a :class="btnsearch" @click="loadcust()">
          Search
        </a>
      </p>
    </div>
    <div :hidden="socketsection.btnsearch === false">
      <hr />
      <cust-adjustment
      :txtfilter="forms.txtcustomer"
      :divlistaccount="socketsection.btnsearch"
      @commitdata="commitdata($event)"
      ></cust-adjustment>
    </div>
    <div :hidden="forms.txtname === null">
      <div>
        <br />
        <article class="message is-success">
          <div class="message-header">
            <p>ข้อมูลที่อยู่</p>
          </div>
          <div class="message-body">
            <div class="field">
              <div class="control">
                <div class="select is-fullwidth is-medium">
                  <select v-model="list.addressid">
                    <option v-for="(n, i) in list.address" :key="i" :value="i">{{ n.name }}</option>
                  </select>
                </div>
              </div>
            </div>
            <p>
              <strong>Address:&nbsp;<span>{{ list.addressname }}</span></strong>
            </p>
            <p>
              <strong>Transport:&nbsp;<span>{{ returnnull(list.transport) + ' ' + returnnull(list.telnotransport) + ' ' + returnnull(list.remarktransport) }}</span></strong>
            </p>
          </div>
        </article>


        <br />
        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <input class="input is-medium is-expanded" type="text" placeholder="ระบุชื่อที่อยู่ส่งของ" v-model="forms.txtnewname">
            <span class="icon is-left">
              <i class="fa fa-user"></i>
            </span>
            <span class="icon is-right">
              <i class="fa fa-check is-success"></i>
            </span>
          </div>
        </div>
        <br />
        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <input class="input is-medium is-expanded" type="text" placeholder="ระบุหมายเลขโทรศัพท์" v-model="forms.txttelno">
            <span class="icon is-left">
              <i class="fa fa-user"></i>
            </span>
            <span class="icon is-right">
              <i class="fa fa-check is-success"></i>
            </span>
          </div>
        </div>
        <br />
        <div class="field">
          <textarea class="textarea" placeholder="ระบุข้อมูลเพิ่มเติม" v-model="forms.txtremark"></textarea>
        </div>
      </div>
      <br />
      <hr />
      <br />
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a :class="btnsave" @click="savedata()">
            Save
          </a>
        </p>
        <p class="control">
          <a :class="btncancel" @click="canceldata()">
            Cancel
          </a>
        </p>
      </div>
      <br />
      <br />
    </div>

    <sweet-modal icon="success" ref="modalsuccess">
      Successfully
    </sweet-modal>
    <sweet-modal icon="error" ref="modalerror" title="Opps... !">
      {{ info.msg }}
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import CustAdjustment from '@/components/CustomerList/CustAdjustment'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
export default {
  layout: 'main',
  head () {
    return {
      title: 'แก้ไขข้อมูลที่อยู่ส่งของ'
    }
  },
  components: {
    CustAdjustment,
    SweetModal,
    SweetModalTab
  },
  data () {
    return {
      socketsection: {
        btnsearch: false
      },
      btnsearch: 'button is-primary is-medium',
      btnsave: 'button is-primary is-large',
      btncancel: 'button is-danger is-large',
      forms: {
        txtcustomer: null,
        txtname: null,
        txtnumber: null,
        txtnewname: null,
        txttelno: null,
        txtremark: null,
        territory: null,
        addressid: 0
      },
      list: {
        address: [],
        addressname: null,
        addressid: 0
      },
      data: {
        img: {
          doc1: [],
          doc2: [],
          doc3: []
        }
      },
      info: {
        msg: null
      },
      mail: {
        title: null,
        body: null,
        name: null
      }
    }
  },
  methods: {
    returnnull (e) {
      if (e) {
        return e
      } else {
        return ''
      }
    },
    loadcust () {
      this.socketsection.btnsearch = true
      this.forms.txtname = null
      this.forms.txtnumber = null
      this.forms.txtnewname = null
      this.forms.territory = null
      this.forms.txttelno = null
      this.forms.txtremark = null
      this.data.img.doc1.length = 0
      this.data.img.doc2.length = 0
      this.data.img.doc3.length = 0
      this.btnsearch = 'button is-warning is-medium is-loading'
    },
    commitdata (e) {
      var obj = this
      console.dir(e.address)
      // obj.list.address = e.address
      this.forms.txtcustomer = e.filtername
      this.forms.txtname = e.name
      this.forms.txtnumber = e.accountnum
      this.forms.territory = e.salesdistrictid
      this.forms.txttelno = null
      this.forms.txtnewname = null
      // this.forms.txtremark = null
      this.forms.txtremark = e.txtremark
      obj.data.img.doc1.length = 0
      obj.data.img.doc2.length = 0
      obj.data.img.doc3.length = 0
      this.socketsection.btnsearch = false
      var addss = e.address
      for (let i in addss) {
        if (addss[i].addresstype === 2) {
          obj.list.address.push(addss[i])
        }
      }
      setTimeout(() => {
        obj.btnsearch = 'button is-primary is-medium'
        obj.list.addressid = 0
        obj.forms.addressid = obj.list.address[0].recid
        obj.list.addressname = obj.list.address[0].name + ' ' + obj.list.address[0].address
      }, 1000)
    },
    insdata () {
      return new Promise(resolve => {
        axios.post('/api/adjustments/transport', {
          data: this.forms
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r)
          })
      })
    },
    savedata () {
      var obj = this
      this.btnsave = 'button is-warning is-large is-loading'
      if (obj.forms.txtnewname === null) {
        obj.info.msg = 'กรุณาระบุชื่อขนส่งของร้าน ' + obj.forms.txtcustomer + ' ที่ต้องการเปลี่ยนด้วย'
        obj.$refs.modalerror.open()
        obj.btnsave = 'button is-primary is-large'
      } else {
        obj.insdata().then(r => {
          console.dir(r)
          // console.dir(r.data.adjust.key.name)
          // send line and email
          obj.mail.title = 'รบกวน Sup./Sales อนุมัติร้องขอเปลี่ยนแปลงข้อมูลชื่อขนส่งของร้าน ' + obj.forms.txtcustomer
          obj.mail.body = 'รบกวน Sup./Sales อนุมัติร้องขอเปลี่ยนแปลงข้อมูลชื่อขนส่งของร้าน ' + obj.forms.txtcustomer + 'ของเขตการขาย ' + obj.forms.territory + ' ด้วยครับ'
          obj.mail.name = 'บันทึกร้องขอเปลี่ยนแปลงข้อมูลชื่อขนส่งของร้าน ' + obj.forms.txtcustomer + 'ของเขตการขาย ' + obj.forms.territory + ' เรียบร้อยแล้ว'
          console.dir(obj.mail)
          axios.post('/api/line', {
            message: obj.mail.name
          })
            .then(res => {
              obj.$refs.modalsuccess.open()
              obj.forms.txtcustomer = null
              obj.forms.txtname = null
              obj.forms.txtnumber = null
              obj.forms.txttelno = null
              obj.forms.txtremark = null
              obj.socketsection.btnsearch = false
              obj.forms.territory = null
              obj.data.img.doc1.length = 0
              obj.data.img.doc2.length = 0
              obj.data.img.doc3.length = 0
              obj.btnsave = 'button is-primary is-large'
            })
          // axios.post('/api/mailer', {
          //   data: this.mail
          // }, {
          //   headers: {
          //     'x-access-token': localStorage.getItem('token')
          //   }
          // })
          //   .then(r => {
          //     axios.post('/api/line', {
          //       message: obj.mail.name
          //     })
          //       .then(res => {
          //         obj.$refs.modalsuccess.open()
          //         obj.forms.txtcustomer = null
          //         obj.forms.txtname = null
          //         obj.forms.txtnumber = null
          //         obj.forms.txttelno = null
          //         obj.forms.txtremark = null
          //         obj.socketsection.btnsearch = false
          //         obj.forms.territory = null
          //         obj.data.img.doc1.length = 0
          //         obj.data.img.doc2.length = 0
          //         obj.data.img.doc3.length = 0
          //         obj.btnsave = 'button is-primary is-large'
          //       })
          //   })
        })
      }
    },
    canceldata () {
      location.reload()
    },
    getanote (e, i) {
      console.dir(e)
      // var preview = document.querySelector('img')
      var file = e.target.files[0]
      var reader = new FileReader()
      var obj = this
      reader.onload = (event) => {
        if (i === 1) {
          obj.data.img.doc1.push(event.target.result)
        } else if (i === 2) {
          obj.data.img.doc2.push(event.target.result)
        } else if (i === 3) {
          obj.data.img.doc3.push(event.target.result)
        }
      }
      reader.readAsDataURL(file)
    },
    removeimg (i, n) {
      var obj = this
      if (i === 1) {
        obj.data.img.doc1.splice(n, 1)
      } else if (i === 2) {
        obj.data.img.doc2.splice(n, 1)
      } else if (i === 3) {
        obj.data.img.doc3.splice(n, 1)
      }
    }
  },
  watch: {
    'list.addressid' () {
      this.list.addressname = this.list.address[this.list.addressid].name + ' ' + this.list.address[this.list.addressid].address
      this.forms.addressid = this.list.address[this.list.addressid].recid
    }
  }
}
</script>

