<template>
  <div>
    <br />
    <div class="field has-addons">
      <p class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ชื่อหรือรหัสลูกค้า / Name or Customer ID" v-model="forms.txtcustomer">
      </p>
      <p class="control">
        <a :class="btnsearch" @click="loadcust()">
          Search
        </a>
      </p>
    </div>
    <div :hidden="socketsection.btnsearch === false">
      <hr />
      <cust-adjustment
      :txtfilter="forms.txtcustomer"
      :divlistaccount="socketsection.btnsearch"
      @commitdata="commitdata($event)"
      ></cust-adjustment>
    </div>
    <div :hidden="forms.address.length < 1">
      <cust-adjustment-address
      :listaddress="forms.address"
      :txtname="forms.txtname"
      :txtnumber="forms.txtnumber"
      :territory="forms.territory"
      @completededit="completededit($event)"
      ></cust-adjustment-address>
    </div>
    <sweet-modal icon="success" ref="modalsuccess">
      บันทึกข้อมูลเสร็จแล้ว / Successfully.
    </sweet-modal>

    <sweet-modal icon="error" ref="modalerror" title="Opps... !">
      {{ info.msg }}
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import CustAdjustment from '@/components/CustomerList/CustAdjustment'
import CustAdjustmentAddress from '@/components/CustomerList/CustAdjAddress'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
export default {
  layout: 'main',
  head () {
    return {
      title: 'แก้ไขข้อมูลที่อยู่ / Adjustment Address'
    }
  },
  components: {
    CustAdjustment,
    CustAdjustmentAddress,
    SweetModal,
    SweetModalTab
  },
  data () {
    return {
      socketsection: {
        btnsearch: false
      },
      btnsearch: 'button is-primary is-medium',
      btnsave: 'button is-primary is-large',
      btncancel: 'button is-danger is-large',
      forms: {
        txtcustomer: null,
        txtname: null,
        txtnumber: null,
        txtnewname: null,
        territory: null,
        address: []
      },
      data: {
        img: {
          doc1: [],
          doc2: [],
          doc3: []
        }
      },
      info: {
        msg: null
      },
      mail: {
        title: null,
        body: null,
        name: null
      }
    }
  },
  methods: {
    loadcust () {
      this.socketsection.btnsearch = true
      this.forms.txtname = null
      this.forms.txtnumber = null
      this.forms.txtnewname = null
      this.forms.territory = null
      this.data.img.doc1.length = 0
      this.data.img.doc2.length = 0
      this.data.img.doc3.length = 0
      this.forms.address.length = 0
      this.btnsearch = 'button is-warning is-medium is-loading'
    },
    commitdata (e) {
      var obj = this
      console.dir(e)
      this.forms.txtcustomer = e.filtername
      this.forms.txtname = e.name
      this.forms.txtnumber = e.accountnum
      this.forms.territory = e.salesdistrictid
      this.forms.txtnewname = null
      obj.data.img.doc1.length = 0
      obj.data.img.doc2.length = 0
      obj.data.img.doc3.length = 0
      this.forms.address = e.address
      this.socketsection.btnsearch = false
      setTimeout(() => {
        obj.btnsearch = 'button is-primary is-medium'
      }, 1000)
    },
    insdata (forms, data) {
      return new Promise(resolve => {
        axios.post('/api/adjustments/address', {
          data: forms,
          img: data
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            resolve(r)
          })
      })
    },
    completededit (e) {
      console.dir(e[0])
      console.dir(e[1])
      var obj = this
      obj.insdata(e[0], e[1]).then(r => {
        console.dir(r)
        // console.dir(r.data.adjust.key.name)
        // send line and email
        obj.mail.title = 'Sup./Sales Approval for change of address ' + obj.forms.txtcustomer
        obj.mail.body = 'Sup./Sales Approval for change of address  ' + obj.forms.txtcustomer + ' from territory ' + obj.forms.territory
        obj.mail.name = 'บันทึกร้องขอเปลี่ยนแปลงข้อมูลที่อยู่ร้าน ' + obj.forms.txtcustomer + 'ของเขตการขาย ' + obj.forms.territory + ' เรียบร้อยแล้ว'
        console.dir(obj.mail)
        axios.post('/api/line', {
          message: obj.mail.name
        })
          .then(res => {
            obj.$refs.modalsuccess.open()
            setTimeout(() => {
              location.reload()
            }, 1000)
          })
      })
    },
    canceldata () {
      location.reload()
    },
    getanote (e, i) {
      console.dir(e)
      // var preview = document.querySelector('img')
      var file = e.target.files[0]
      var reader = new FileReader()
      var obj = this
      reader.onload = (event) => {
        if (i === 1) {
          obj.data.img.doc1.push(event.target.result)
        } else if (i === 2) {
          obj.data.img.doc2.push(event.target.result)
        } else if (i === 3) {
          obj.data.img.doc3.push(event.target.result)
        }
      }
      reader.readAsDataURL(file)
    },
    removeimg (i, n) {
      var obj = this
      if (i === 1) {
        obj.data.img.doc1.splice(n, 1)
      } else if (i === 2) {
        obj.data.img.doc2.splice(n, 1)
      } else if (i === 3) {
        obj.data.img.doc3.splice(n, 1)
      }
    }
  }
}
</script>

