<template>
  <div>
    <br />
    <div>
      <div class="field has-addons has-addons-centered">
        <p class="control is-expanded">
          <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือรหัสลูกค้า" v-model="forms.txtcustomer">
        </p>
        <div class="control">
          <div :hidden="forms.typesearch === true">
            <a :class="classname.btnsearch" @click="searchcustomer()">
              Search
            </a>
          </div>
        </div>
      </div>
      <cust-list
      :txtfilter="forms.txtcustomer"
      :reverseItems = "reverseItems"
      :orderline="data.orderline"
      :delivery="data.delivery"
      @setdetail="setdetail($event)"></cust-list>
    </div>
    <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking icon="error" ref="modalerr">
      กรุณาระบุข้อมูลเบื้องต้นก่อน / Please enter basic information.
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import CustList from '@/components/Orders/CustList'
let _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'แจ้งผลการขายและขนส่ง'
    }
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      classname: {
        btnsearch: 'button is-success is-medium',
        btnadd: 'button is-danger is-medium'
      },
      forms: {
        txtcustomer: null,
        txtnumber: null,
        txtname: null,
        divcust: false,
        typesearch: false
      },
      data: {
        list: [],
        orderline: [],
        delivery: []
      }
    }
  },
  components: {
    CustList,
    SweetModal,
    SweetModalTab,
    PulseLoader
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.data.list, ['created'], ['desc'])
    }
  },
  mounted () {
    this.$refs.modalloading.open()
    this.data.list = []
    this.loaddata().then(r => {
      r.forEach((e, i) => {
        e.created = new Date()
        this.data.list.push(e)
      }, null)
      this.$refs.modalloading.close()
      // this.data.list = r
    })
  },
  methods: {
    searchcustomer () {
      this.$refs.modalloading.open()
      this.data.list = []
      this.loaddata().then(r => {
        r.forEach((e, i) => {
          // e.created = new Date()
          this.data.list.push(e)
        }, null)
        this.$refs.modalloading.close()
        // this.data.list = r
      })
    },
    loaddata () {
      return new Promise(resolve => {
        axios.post('/api/orders/ax', {
          territory: localStorage.getItem('territory'),
          empid: localStorage.getItem('empcode'),
          position: localStorage.getItem('position'),
          customer: this.forms.txtcustomer
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            console.dir(r.data)
            resolve(r.data)
          })
      })
    },
    setdetail (e) {
      this.data.orderline = e[0]
      this.data.delivery = e[1]
    }
  }
}
</script>

