<template>
  <div class="container">
    <br />
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="ระบุชื่อหรือหรัสพนักงาน"  v-model="forms.txtcustomer">
      </div>
      <div class="control">
        <a class="button is-success is-medium" @click="searchcustname()">
          Search
        </a>
      </div>
    </div>
    <br />
    <div class="box" v-for="(n,i) in filterBy(reverseItems, forms.txtcustomer, 'filtername', 'territory')" :key="i" @click="viewdetail(n)">
      <article class="media">
        <figure class="media-left">
          <p class="image is-96x96">
             <img src="../../assets/img/avatar.svg" alt="Image">
           </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><b>{{ n.filtername }}</b></strong>&nbsp;<small>@&nbsp;<b class="text-danger">{{ n.salesdistrictid }}</b></small>
              <br />
              <strong>TXT ID:&nbsp;<b class="text-danger">{{ n.identificationnumber }}</b></strong>
              &nbsp;
              <strong v-if="n.paymdayid.length > 0">Credit Type:&nbsp;<b class="text-danger">{{ n.paymdayid }}</b></strong>
              &nbsp;
              <strong>Balanc Credit:&nbsp;<b class="text-danger">{{returncurrency(n.creditbalance)}}</b>&nbsp;บาท</strong>
              &nbsp;
              <strong>Credit:&nbsp;<b class="text-danger">{{returncurrency(n.creditmax)}}</b>&nbsp;บาท</strong>
              <br />
              <strong>Back Order:&nbsp;<b class="text-danger">{{returncurrency(n.backorder.length)}}</b>&nbsp;รายการ</strong>
              &nbsp;
              <strong>Billing:&nbsp;<b class="text-danger">{{returncurrency(n.custtablebilling.length)}}</b>&nbsp;รายการ</strong>
              <br />
              <strong>Status:&nbsp;<b :class="returnclass(n.closedaccount)">{{returnstatus(n.closedaccount)}}</b></strong>
            </p>
          </div>
        </div>
        <div class="media-right">
          <button class="delete"></button>
        </div>
      </article>
    </div>
    <!-- <sweet-modal blocking ref="modaldetail">
      {{ customer.detail }}
    </sweet-modal> -->
    <CustDetail
    :listcustomer="customer.detail"
    :showdiv="customer.arediv"
    @closemodal="closemodal($event)"
    ></CustDetail>
     <sweet-modal blocking hide-close-button ref="modalloading">
      <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
    </sweet-modal>
    <sweet-modal blocking icon="success" ref="modalsuccess">
      Successfully
    </sweet-modal>
  </div>
</template>
<script>
import axios from 'axios'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import PulseLoader from '@/node_modules/vue-spinner/src/PulseLoader'
import CustDetail from '@/components/CustomerList/CusttomerDetail'
import Vue from 'vue'
import Vue2Filters from '@/node_modules/vue2-filters'
Vue.use(Vue2Filters)
// const fn = require('@/assets/js/greeter')
let _ = require('lodash')
export default {
  layout: 'main',
  head () {
    return {
      title: 'รายการลูกค้า'
    }
  },
  data () {
    return {
      loading: true,
      color: '#5dc596',
      size: '20px',
      margin: '2px',
      radius: '100%',
      list: [],
      forms: {
        txtcustomer: null
      },
      customer: {
        detail: {},
        arediv: false
      }
    }
  },
  computed: {
    reverseItems () {
      return _.orderBy(this.list, ['salesdistrictid', 'updated_at'], ['asc', 'desc'])
    }
  },
  components: {
    SweetModal,
    SweetModalTab,
    PulseLoader,
    CustDetail
  },
  mounted () {
    this.$refs.modalloading.open()
    var obj = this
    this.loaddata().then(r => {
      obj.$refs.modalloading.close()
      console.dir(r.data)
      obj.list = r.data
    })
  },
  methods: {
    showbackorder (n) {
      console.dir(n)
    },
    retrunnull (e) {
      if (e !== null) {
        return e
      } else {
        return 'ไม่ได้ระบุ / None'
      }
    },
    returncurrency (e) {
      return e.toLocaleString()
    },
    returnclass (i) {
      var b = ['text-success', 'text-danger']
      return b[i]
    },
    returnstatus (i) {
      var b = ['Actived', 'Closed']
      return b[i]
    },
    viewdetail (n) {
      console.dir(n)
      this.customer.arediv = true
      this.customer.detail = n
    },
    closemodal (n) {
      this.customer.arediv = n[0]
      this.customer.detail = {}
    },
    searchcustname () {
      this.$refs.modalloading.open()
      var obj = this
      this.loaddata().then(r => {
        obj.$refs.modalloading.close()
        console.dir(r.data)
        obj.list = r.data
      })
    },
    loaddata () {
      return new Promise(resolve => {
        var obj = this
        axios.post('/api/custtable/find/adjust', {
          custnum: obj.forms.txtcustomer,
          territory: localStorage.getItem('territory'),
          territoryid: localStorage.getItem('territoryid')
        }, {
          headers: {
            'x-access-token': localStorage.getItem('token')
          }
        })
          .then(r => {
            console.dir(r)
            resolve(r)
          })
      })
    }
  }
}
</script>
