<template>
  <div>
    <br />
    <div class="field has-addons has-addons-right">
      <p class="control">
        <a class="button is-primary" href="/customer/new/">
          เปิดบัญชีลูกค้าใหม่
        </a>
      </p>
    </div>
    <br />
    <div class="card" v-for="(n, i) in listdata" :key="i">
      <div class="card-content">
        <article class="media" @click="showdetail(n.txtid)">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content" @click="showdetail(n.txtid)">
            <div class="content">
              <p>
                <strong>{{ n.txtname }}</strong> <small>@</small><strong>{{ n.territory }}</strong>
                <br>
                <span>เจ้าของร้าน:&nbsp;<strong class="text-warning">{{ n.txtcustname }}</strong></span>
                <br>
                <span>สถานะ:&nbsp;<strong class="text-warning">{{ renullstatus(n.approvestatus) }}</strong></span>
              </p>
            </div>
          </div>
          <!-- <div class="media-right">
            <button class="delete" @click="remove(n.txtid)"></button>
          </div> -->
        </article>
      </div>
    </div>
    <sweet-modal ref="custdetail">
      <br />
      <br />
      <div>
        <strong>What do you want ?</strong>
        <hr />
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <a class="button is-primary" @click="remove(0)">
              Detail
            </a>
          </p>
          <p class="control">
            <a class="button is-danger" @click="remove(1)">
              Delete
            </a>
          </p>
        </div>
      </div>
    </sweet-modal>
  </div>
</template>
<script>
// import axios from 'axios'
// import assets from '@/assets/js/imgtoblob'
// import guuid from '@/assets/js/greeter'
import { SweetModal, SweetModalTab } from '@/node_modules/sweet-modal-vue'
import Vue from 'vue'
import mocker from '@/assets/js/mock'
import firebase from 'firebase'
import { InitFireBase } from '@/assets/js/initializeApp'
Vue.config.productionTip = false
Vue.use(InitFireBase)
const db = firebase.database()
export default {
  layout: 'main',
  head () {
    return {
      title: 'CRM CLOUD SERVICE - RESULT APPOINTMENT'
    }
  },
  firebase: {
    customer: db.ref('newcustomer')
  },
  components: {
    SweetModal,
    SweetModalTab
  },
  data () {
    return {
      mock: mocker,
      listdata: [],
      txtid: null
    }
  },
  mounted () {
    this.loaddata()
  },
  methods: {
    loaddata () {
      this.$firebaseRefs.customer.child(localStorage.getItem('territory')).on('value', snapshot => {
        var data = snapshot.val()
        console.dir(data)
        this.listdata = data
      })
    },
    renullstatus (txt) {
      var b = ['รออนุมัติ', 'อนุมัติ', 'ไม่อนุมัติ']
      if (txt) {
        return b[txt]
      } else {
        return 'ข้อมูลยังไม่สมบูรณ์'
      }
    },
    showdetail (txt) {
      // location.href = '/customer/new/' + txt
      this.txtid = txt
      this.$refs.custdetail.open()
    },
    remove (txt) {
      if (txt > 0) {
        // console.dir('removed')
        this.$firebaseRefs.customer.child(localStorage.getItem('territory')).child(this.txtid).remove()
          .then(r => {
            this.$refs.custdetail.close()
          })
      } else {
        location.href = '/customer/new/' + this.txtid
      }
    }
  }
}
</script>
