<template>
  <div>
    <button class="button is-danger" @click="selected()">Click</button>
  </div>
</template>
<script>
export default {
  layout: 'main',
  methods: {
    selected () {
    }
  }
}
</script>
